.text-editor {
	nav {
		background-color: rgba(0, 0, 0, 0);
		@extend .z-depth-0;

		ul a {
			color: $link-color;
			padding: 0 5px;
			margin-right: 3px;
			margin-top: 0;
			width: 30px;

			&.dropdown-button {
				width: auto;
				i.mdi {
					display: inline;
				}
			}

			&.active {
				background-color: #eceff1;
				border-radius: 3px;
			}
			&:hover {
				color: #99aeb8;

				i.mdi {
					color: #99aeb8;
				}
			}
		}

		.mdi-format-italic::before {
		    line-height: 31px;
		}
	}
	nav, 
	nav .nav-wrapper i, 
	nav a.button-collapse, 
	nav a.button-collapse i {
		line-height: 31px;
		height: 30px;
		vertical-align: top;

	}

	.editor {
		padding: 15px;
		background-color: rgba(255, 255, 255, 1);
		@extend .z-theme-depth-4;

		.input-field {
			margin-top: 5px;
		}
	}

	.editor-active {
		margin: 15px 0;

		& > * {
			display: inline-block;
			vertical-align: top;
		}
		.input-field {
			margin-top: 0;

			label {
					color: $text-black-light-theme;
			}
		}
	}
	.dropdown-content {
		padding: 0;
		li {
			min-height: auto;

			a {
				padding: 7px 37px;
				display: block;
				width: auto;
				&.active {
					background-color: rgba(0, 0, 0, 0);
					&:before {
						content:"\F12C";
						background-color: rgba(0, 0, 0, 0);
						position: absolute;
						left: 15px;
						top: 8px;
					}
				}
			}

			&:hover {
				border: 0 none;
			}
		}
	}
}