.rb-gray-btn {
  width: 100%;
  background: #eceff1;
  color: #607d8b;
  text-transform: none;
  font: 14px/40px "Roboto-Medium";
  -webkit-box-shadow: none;
          box-shadow: none;
}
.rb-gray-btn:hover {
  -webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.19);
          box-shadow: 0 5px 7px rgba(0, 0, 0, 0.19);
}
