.cookies {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 59px;
  padding: 12px;

  p {
    margin: 0;
    padding: 9px 0 0;
    float: left;

    a {
      text-decoration: underline;
    }
  }

  .btn {
    float: right;
  }

  @media #{$medium-and-down} {
    p {
      float: none;
      margin-bottom: 21px;
    }
    
    .btn {
      float: none;
      display: block;
    }
  }
}
