.functional-tooltips {
  @extend .z-theme-depth-1;
  background-color: white;
  border-radius: 3px;
  position: absolute;
  padding: 25px 25px 25px;
  min-width: 200px;
  left: -51px;
  bottom: 55px;
  z-index: 998;

  p {
    margin-top: 0;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 15px;
    margin: 0 auto;
  }

  &:before {
    border: 10px solid transparent;
    border-top: 10px solid white;
    bottom: -20px;
    z-index: 999;
  }

  &:after {
    box-shadow: 4px -4px 18px rgba(0, 0, 0, 0.08);
    height: 15px;
    bottom: -5px;
    transform: rotate(135deg);
    z-index: 998;
  }

  // Close tooltip button
  .close {
    position: relative;
    top: -15px;
    right: -15px;
  }
}
