input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {

  // Invalid Input Style

  &[class*=invalid],
  &[class*=invalid]:focus {
    border-bottom: $input-invalid-border;
    box-shadow: 0 1px 0 0 $input-error-color;
    margin-bottom: $input-error-margin-bottom;

    .input-field-group & {
      margin: $input-margin;
    }
  }

  &[class*=invalid],
  &[class*=invalid]:focus {
    ~ label.active:after {
      color: $input-error-color;
      opacity: 1;
    }
  }


  // Custom Error message

  &.invalid-min,
  &:focus.invalid-min {
    ~ label.active:after {
      content: attr(data-error-min);
    }
  }

  &.invalid-required,
  &:focus.invalid-required {
    ~ label.active:after {
      content: attr(data-error-required);
    }
  }

  &.invalid-password,
  &:focus.invalid-password {
    ~ label.active:after {
      content: attr(data-error-password);
    }
  }
}
