.site-header {
  // min-height: 135px;
  margin-bottom: 35px;
  @extend .z-theme-depth-2;

  .users-menu .btn {
    background-color: $secondary-color;
    color: white;

    &:hover {
      background-color: $primary-color;
    }
  }

  // Nav Menu
  .nav-menu {
    a {
      display: inline-block;
      height: 37px;
      line-height: 39px;
      text-transform: uppercase;
      font-family: Roboto, sans-serif;
      font-weight: 400;
      line-height: 1;
      padding: 0;
      margin: 0 auto;

      &,
      &:hover, 
      &.active {
        color: white;
      }
    }

    li:not(.indicator) {
      display: inline-block;
      text-align: center;
      padding: 0 25px 0 0;
      line-height: 1;
      height: 24px;
    }

    ul {
      height: 30px;
    }
  }
}
