.text-editor {
	nav {
		background-color: rgba(0, 0, 0, 0);
		@extend .z-depth-0;

		ul a {
			color: $link-color;
			padding: 0 5px;
			margin-right: 3px;
			margin-top: 0;
			width: 30px;

			&.dropdown-button {
				width: auto;
				i.mdi {
					display: inline;
				}
			}

			&.active {
				background-color: #eceff1;
				border-radius: 3px;
			}
			&:hover {
				color: #99aeb8;

				i.mdi {
					color: #99aeb8;
				}
			}
		}

		.mdi-format-italic::before {
				line-height: 31px;
		}
	}
	nav, 
	nav .nav-wrapper i, 
	nav a.button-collapse, 
	nav a.button-collapse i {
		line-height: 31px !important;
		height: 30px !important;
		vertical-align: top;

	}

	.editor-header {
		display: inline-block;
		margin-bottom: 15px;
		& > * {
			display: inline-block;
			vertical-align: middle;
		}
		.text {
			color: $text-black-light-theme;
			margin-right: 15px;
		}
		.help {
			color: $secondary-color;
			cursor: pointer;
		}
	}

	.editor {
		padding: 15px;
		background-color: rgba(255, 255, 255, 1);
		@extend .z-theme-depth-4;

		.input-field {
			margin-top: 5px;
		}
	}

	.editor-active {
		display: inline-block;
		margin: 15px 0;
		width: 100%;

		& > * {
			display: inline-block;
			vertical-align: top;
		}
		.input-field {
			margin-top: 0;

			label {
					color: $text-black-light-theme;
			}
		}
		.btn {
			margin-left: 15px;
		}
	}
	.dropdown-content {
		padding: 0;
		li {
			min-height: auto;

			a {
				padding: 7px 37px;
				display: block;
				width: auto;
				&.active {
					background-color: rgba(0, 0, 0, 0);
					&:before {
						content:"\F12C";
						background-color: rgba(0, 0, 0, 0);
						position: absolute;
						left: 15px;
						top: 8px;
					}
				}
			}

			&:hover {
				border: 0 none;
			}
		}
	}
}

// Text editor notification 
body .mce-notification {
	background-color: white;
	border-color: transparent;
	border-radius: 2px;
	box-shadow: 0 4px 18px rgba(0,0,0,0.08);

	&,
	&.mce-has-close {
		padding: 30px 35px;
	}

	.mce-notification-inner {
		font-size: 16px;
		line-height: 1.2;
		color: $text-black-theme;
		display: block;
		margin: 0;
	}

	.mce-close {
		@extend .waves-light;
		@extend .btn;

		display: block;
		position: relative;
		left: auto;
		right: auto;
		font-size: 14px;
		text-indent: -200%;
		margin: 10px 0 7px;
		width: 100%;
		min-width: 190px;

		&:before {
			content: 'ok';
			text-indent: 0;
			display: block;
		}
	}
}
