// Uploaded
// - uplpad files
// - uploaded
// ----------------------

// Upload files
.upload-files {
  padding: 15px 0 0;
  width: 100%;

  & > div {
    vertical-align: middle;
  }

  &-input {
    border: 1px dashed #607d8b;

    .input-wrapper {
      border-radius: 3px;
      height: 65px;
      max-width: 100%;

      & > div {
        color: rgba(96, 125, 139, .87);
        vertical-align: middle;
        padding: 12px 0px;

        &:first-child {
          width: 59px;
          padding: 12px 20px;
        }

        p {
          color: $text-black-theme;
          font-size: 14px;
          font-weight: 500;

          &:last-child {
            color: $text-black-light-theme;
            font-size: 12px;
          }
        }
      }

      .icon i.material-icons {
          display: block;
      }
    }
  }
}

// Uploaded
.uploaded {
  &-item {
    @extend .z-theme-depth-2;
    display: inline-block;
    border-radius: 4px;
    width: 72px;
    height: 72px;
    margin: 15px 5px 0;
    overflow: hidden;
    position: relative;

    .file {
      &-preview {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: calc(100% - 16px);
        background-size: cover;
        background-position: 50% 50%;
      }

      &-name {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 5px 5px 3px;
        background: white;
        font-size: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1;
        height: 16px;
      }
    }

    img {
      height: auto;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    i.highlight_off {
      color: #fff;
      cursor: pointer;
      font-size: 18px;
      right: 4px;
      position: absolute;
      top: 4px;
      z-index: 2;
    }

    .progress-wrapper {
      background-color: rgba(255, 255, 255, 0.8);
      position: absolute;
      top: 0;
      left: 0;
      height: 72px;
      width: 72px;
      z-index: 3;
      
      span.progress-number {
        display: block;
        color: $text-black-theme;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        line-height: 75px;
      }

      .progress {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        z-index: 4;
      }
    }
  }
}
