// Uploaded
// - uplpad files
// - uploaded
// ----------------------

// Upload files
.upload-files {
  padding: 15px 0 0;
  width: 100%;
  clear: both;

  & > div {
    vertical-align: middle;
  }

  &-input {
    border: 1px dashed #607d8b;
    cursor: pointer;

    .input-wrapper {
      border-radius: 3px;
      height: 65px;
      max-width: 100%;

      & > div {
        color: rgba(96, 125, 139, .87);
        vertical-align: middle;
        padding: 12px 0px;

        &:first-child {
          width: 59px;
          padding: 12px 20px;
        }

        p {
          color: $text-black-theme;
          font-size: 14px;
          font-weight: 500;

          &:last-child {
            color: $text-black-light-theme;
            font-size: 12px;
          }
        }
      }

      .icon i.material-icons {
        display: block;
      }
    }
  }
}

// Uploaded
.uploaded {
  margin-left: -15px;

  &-item {
    float: left;
    width: 150px;
    height: 150px;
    margin: 15px 0 0 15px;
    position: relative;

    .file {
      &-preview {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: calc(100% - 30px);
        background-size: cover;
        background-color: #cfd8dc;
        background-position: 50% 50%;
        border-radius: 4px 4px 0 0;
      }

      &-name {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 5px 10px;
        color: #000;
        background: white;
        font-size: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 22px;
        height: 30px;
        border-radius: 0 0 4px 4px;
        box-shadow: 2px 3.464px 18px 0px rgba(0, 0, 0, 0.08);

        i {
          margin-right: 7px;
          font-size: 12px;
          color: #607d8b;
          vertical-align: middle;

          &.rbi-image {
            font-size: 14px;
            position: relative;
            top: -1px;
          }
        }
      }
    }

    img {
      height: auto;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    a i.material-icons {
      color: #fff;
      cursor: pointer;
      font-size: 18px;
      position: absolute;
      top: 8px;
      right: 8px;
      z-index: 2;
      text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    }

    .progress-wrapper {
      background-color: rgba(255, 255, 255, 0.8);
      position: absolute;
      top: 0;
      left: 0;
      height: 72px;
      width: 72px;
      z-index: 3;
      
      span.progress-number {
        display: block;
        color: $text-black-theme;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        line-height: 75px;
      }

      .progress {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        z-index: 4;
      }
    }
  }
}
