<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Template - Home</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/reclabox-icons/1.1.0/reclabox-icon.css" rel="stylesheet"/>
  <link rel="stylesheet" href="css/materialdesignicons.min.css"/>
  <link href="css/reclabox-materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>
<div class="wrapper grey lighten-5">

  <header class="site-header blue-grey">
    <div class="navbar">
      <nav class="" role="navigation">
        <div class="nav-wrapper">
          <ul>
            <li>
              <a href="#" data-activates="slide-out" class="button-collapse waves-effect">
                <div class="arrow-hamburger">
                  <div class="line arrow_top"></div>
                  <div class="line arrow_line"></div>
                  <div class="line arrow_bottom"></div>
                </div>
              </a>
            </li>
          </ul>
          <a id="logo-container" href="javascript:void(0)" class="brand-logo hide"><img src="img/img-site/logo-reclabox.jpg" alt="ReclaBox"></a>
          <div class="nav-header nav-theme hide">
            <ul id="navHeader" class="nav-menu hide-on-med-and-down flex-wrapper">
              <li><a class="active" href="javascript:void(0)">BESCHWERDE LESEN</a></li>
              <li><a href="javascript:void(0)">BESCHWERDE SCHREIBEN</a></li>
            </ul>
          </div>
          <ul class="right hide-on-med-and-down nav-right currently-logged users-menu">
            <li>
              <form id="search-form">
                <div class="search-widget">
                  <button class="search-button"><i class="material-icons small">search</i></button>
                  <button class="search-close-button"><i class="material-icons small">close</i></button>
                  <input name="q" type="text" id="search-input" autocomplete="off"/>
                  <label for="search-input">Name, Firma oder Schlagwort</label>
                </div>
              </form>
            </li>
            <li>
              <a class="btn waves-effect waves-light" href="#emailSubscribe">subscribe</a>
            </li>
            <li>
              <a class="btn waves-effect waves-light" href="#emailUnsubscribe">unsubscribe</a>
            </li>
            <li>
              <a class="btn waves-effect waves-light" href="#usersLogin">login/regisrieren</a>
            </li>
            <!-- <li><a class="btn waves-effect waves-light" href="#usersRegister">registrieren </a></li> -->
          </ul>
        </div>
      </nav>
    </div><!-- end navbar-fixed -->

    <div class="container"><!-- logo and nav-menu -->
      <div class="row">
        <div class="brand-logo-wrapper">
          <a id="logo-container" href="javascript:void(0)" class="brand-logo"><img src="img/icon-svg/logo.svg" alt="ReclaBox"></a>
        </div>
        <div class="navbar navbar-bootom">
          <nav class="" role="navigation">
            <div class="nav-wrapper">
              <div class="nav-header nav-theme">
                <ul id="navHeader" class="nav-menu hide-on-med-and-down flex-wrapper">
                  <li><a class="active" href="javascript:void(0)">BESCHWERDE LESEN</a></li>
                  <li><a href="javascript:void(0)">BESCHWERDE SCHREIBEN</a></li>
                  <!-- <li><a href="javascript:void(0)">BESCHWERDE SCHREIBEN</a></li> -->
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div><!-- logo and nav-menu -->

    <!-- components dropdown -->
    <div class="slide-nav-wrapper"><!-- heade left nav -->
      <ul id="slide-out" class="side-nav slide-nav">
        <li><a href="beschwerde.html">Beschwerde</a></li>
        <li><a href="beschwerde-lesen.html">Beschwerde Lesen</a></li>
        <li><a href="categories.html">Categories</a></li>
        <li><a href="company-account.html">Company Account</a></li>
        <li><a href="company-account-profil.html">Company Account Profil</a></li>
        <li><a href="company-account-reclaRank-seal.html">Company Account ReclaRank Seal</a></li>
        <li><a href="company-account-links.html">Company Account Links</a></li>
        <li><a href="company-account-automatic.html">Company Account Automatic</a></li>
        <li><a href="company-public.html">Company Public</a></li>
        <li><a href="company-rechnungen.html">Company Rechnungen</a></li>
        <li><a href="edit-email-sending.html">Edit Email Sending</a></li>
        <li><a href="firmen.html">Firmen</a></li>
        <li><a href="help.html">Help</a></li>
        <li><a href="list-articles.html">List Articles</a></li>
        <li><a href="list-emails.html">List Emails</a></li>
        <li><a href="nutzungsbedingungen.html">Nutzungsbedingungen</a></li>
        <li><a href="request-firm-management.html">Request Firm Management</a></li>
        <li><a href="schreiben.html">Schreiben</a></li>
        <li><a href="search.html">Search</a></li>
        <li><a href="vorschau.html">Vorschau</a></li>
        <li><a href="404.html">404</a></li>

        <li><a href="email-confirm.html">email confirm</a></li>
      </ul>
    </div><!-- end heade left nav -->

    <div class="modal-container"><!-- header modal user forms -->
      <div id="usersLogin" class="modal user-form"><!-- users login -->
        <div class="modal-content">
          <div class="card-panel no-bg">
            <div class="card-header white tabs-wrapper">
              <ul class="tabs tabs-fixed-width">
                <li class="tab"><a class="active" href="#userLoginTabContent">Login</a></li>
                <li class="tab"><a class="" href="#userRegisterTabContent">Register</a></li>
              </ul>
            </div>
            <div id="userLoginTabContent" class="card no-bg"><!-- forms login and passwrd recovery -->
              <div class="card-image grey lighten-5">
                <a class="icon-floating btn u-f-btn-prev hide" href="javascript:void(0)">
                  <i class="mdi mdi-arrow-left"></i>Back
                </a>
                <img src="img/icon-svg/auth-graphics.svg" title="">
              </div>
              <div id="formLogin" class="card-content form-login">
                <form class="" action="#">
                  <div class="input-field">
                    <input id="emailLogin" type="email" class="validate">
                    <label for="emailLogin">Email Adresse</label>
                  </div>
                  <div class="input-field">
                    <input id="passwordLogin" type="password" class="validate">
                    <label for="passwordLogin">password</label>
                  </div>
                  <div class="input-field">
                    <input type="checkbox" class="filled-in" id="filled-in-box" />
                    <label for="filled-in-box">Angemeldet bleiben</label>
                  </div>
                  <button id="btn-waves" class="full-width btn waves-effect waves-light" type="submit" name="action">einloggen</button>
                </form>
                <div class="questions">
                  <a class="center" href="#newPassword">password vergessen?</a>
                  <a class="center" href="#">Noch night Mitglied?</a>
                </div>
              </div>
              <div id="newPassword" class="card-content hide form-newpassword">
                <div class="card-title">
                  <h6>Haben Sie Ihr password vergessen?</h6>
                </div>
                <p>
                  Bitte geben Sie Ihre E-Mail-Adresse ein, mit der Sie sich bereits registriert haben. Vergeben Sie sich außerdem ein neues password. Sie erhalten dann eine E-Mail mit einem Freischaltlink. Nach- dem Sie diesen bestätigt haben, können Sie sich
                </p>
                <form class="" action="#">
                  <div class="input-field">
                    <input id="email0" type="email" class="rb-blue-input validate">
                    <label for="email0">E-Mail-Adresse *</label>
                  </div>
                  <div class="input-field">
                    <input id="password0" type="password" class="rb-blue-input validate">
                    <label for="password0">Neu password *</label>
                  </div>
                  <div class="input-field">
                    <input id="passwordRep0" type="password" class="rb-blue-input validate">
                    <label for="passwordRep0">Neu password (wiederholen)*</label>
                  </div>
                  <button class="full-width btn waves-effect waves-light" type="submit" name="action">ABSCHICKEN</button>
                </form>
              </div>
            </div><!-- end forms login and recovery -->
            <div id="userRegisterTabContent" class="card no-bg"><!-- forms register and nav -->
              <div class="register-nav invisible">
                <div class="card-content center">
                  <p>Chooose the type of account</p>
                </div>
                <ul class="table-wrapper">
                  <li class="item">
                    <a class="center btn-register-nav" href="#userMitgliedschaft"><i class="mdi mdi-emoticon-sad"></i></a>
                    <p class="center">I am <br> a consumer</p>
                  </li>
                  <li class="item">
                    <a class="center btn-register-nav" href="#firmaMitgliedschaft"><i class="mdi mdi-domain"></i></a>
                    <p class="center">I am organisation <br> or company</p>
                  </li>
                </ul>
              </div>
              <div id="registerForms" class="register-forms">
                <div class="card-image hide">
                  <a class="icon-floating btn u-f-btn-prev hide" href="javascript:void(0)">
                    <i class="mdi mdi-arrow-left"></i>Back
                  </a>
                  <img src="img/icon-svg/auth-graphics.svg" title="">
                </div>
                <div id="userMitgliedschaft" class="card-content hide">
                  <p>Bereits mit Ihrer E-Mail-Adresse und password können Sie sich als Privatperson kostenlos anmelden und selbst Beschwerden, Kommentare oder Nachrichten an andere User schreiben. Falls Sie Ihren Namen angeben möchten, werden Ihre erstellten Inhalte unter diesem Namen veröffentlicht. </p>
                  <form class="col s12" action="#">
                    <div class="row">
                      <div class="input-field">
                        <input id="email" type="email" class="validate">
                        <label for="email">E-Mail-Adresse *</label>
                      </div>
                      <div class="input-field">
                        <input id="password" type="password" class="validate">
                        <label for="password">password *</label>
                      </div>
                      <div class="input-field">
                        <input id="passwordRep" type="password" class="validate">
                        <label for="passwordRep">password wiederholen *</label>
                      </div>
                      <div class="input-field">
                        <input id="lastName" type="text" class="validate">
                        <label for="lastName">Vorname</label>
                      </div>
                      <div class="input-field">
                        <input id="firstName" type="text" class="validate">
                        <label for="firstName">Name</label>
                      </div>
                    </div>
                    <p class="warning">Hinweis: wir geben Ihre E-Mail -Adresse nicht an Dritte weiter, bei uns  erhalten Sie keinen unerwünschen Spam. <a href="#">Datenschutz.</a></p>
                    <div class="input-field">
                      <input type="checkbox" class="filled-in" id="filled-in-box-user" />
                      <label for="filled-in-box-user">Ja, ich habe die <a href="#">Nutzungsbedinungen</a> gelesen und akzeptiert</label>
                    </div>
                    <button class="btn center waves-effect waves-light" type="submit" name="action">registrieren</button>
                  </form>
                </div>
                <div id="firmaMitgliedschaft" class="card-content hide">
                  <p>Nach dem Senden der Formulardaten erhalten Sie von uns eine E-Mail mit einem Verifizierungslink, der Sie zur Eingabe Ihrer Firmendaten führen wird. Sie können den Firmen-Account dann nach Freischaltung 14 Tage lang unverbindlich kostenlos testen, wir unterbreiten Ihnen rechtzeitig vor Ablauf ein Angebot zur weiteren Nutzung.</p>
                  <p>Haben Sie vorab Fragen zum Firmen-Account? Fordern Sie weitere Informationen hier an: ReclaBox Support</p>
                  <form class="col s12 firmRegistrarion" action="#">
                    <div class="row">
                      <div class="input-field">
                        <input id="companyName" type="text" class="validate">
                        <label for="companyName">Company / Institution</label>
                      </div>
                      <div class="input-field">
                        <input id="companyEmail" type="email" class="validate">
                        <label for="companyEmail">E-Mail-Adresse</label>
                      </div>
                    </div>
                    <p class="warning">Hinweis: wir geben Ihre E-Mail -Adresse nicht an Dritte weiter, bei uns  erhalten Sie keinen unerwünschen Spam. <a href="#">Datenschutz.</a></p>
                    <div class="input-field">
                      <input type="checkbox" class="filled-in" id="filled-in-box-firm" />
                      <label for="filled-in-box-firm">Ja, ich habe die <a href="#">Nutzungsbedinungen</a> gelesen und akzeptiert</label>
                    </div>
                    <button class="btn waves-effect waves-light center" type="submit" name="action">registrieren als firma</button>
                  </form>
                </div>
              </div>
            </div><!-- end forms register and nav -->
          </div>
        </div>
      </div><!-- end users login -->

      <div id="emailSubscribe" class="modal user-form"><!-- email subscribe -->
        <div class="modal-content">
          <div class="card-panel no-bg">
            <div class="card no-bg">
              <div class="card-image grey lighten-5">
                <img src="img/icon-svg/email-subscribe.svg" alt="">
              </div>
              <div class="card-content">
                <div class="card-title">
                  <h6>Newsletter abonnieren</h6>
                </div>
                <form class="" action="#">
                  <div class="row">
                    <div class="input-field">
                      <input id="email2" type="email" class="rb-blue-input validate">
                      <label for="email2">E-Mail-Adresse *</label>
                    </div>
                  </div>
                  <button class="waves-effect full-width waves-light btn btn-theme-pink white-text" type="submit" name="action">ABSCHICKEN</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div><!-- end email subscribe -->

      <div id="emailUnsubscribe" class="modal user-form"><!-- email subscribe -->
        <div class="modal-content">
          <div class="card-panel no-bg">
            <div class="card no-bg">
              <div class="card-image grey lighten-5">
                <img src="img/icon-svg/email-unsubscribe.svg" alt="">
              </div>
              <div class="card-content">
                <div class="card-title">
                  <h6>Newsletter abonnieren</h6>
                </div>
                <form class="" action="#">
                  <div class="row">
                    <div class="input-field">
                      <input id="email1" type="email" class="rb-blue-input validate">
                      <label for="email1">E-Mail-Adresse *</label>
                    </div>
                  </div>
                  <button class="waves-effect full-width waves-light btn btn-theme-pink white-text" type="submit" name="action">ABSCHICKEN</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div><!-- end email subscribe -->
    </div><!-- end header modal user forms -->
  </header>

  <div class="container post post-help">
    <div class="section"><!-- nav-top -->
      <div class="row">
        <div class="col s3">
          <div class="widget-sidebar">
            <div class="btn-go-back m-t-small">
              <a href="#">
                <i class="mdi mdi-arrow-left"></i>
                go back
              </a>
            </div>
            <div id="helpMenu" class="widget-sidebar-menu m-t-large">
              <h5>How to use...</h5>
              <ul class="menu-list">
                <li class="active"><a href="#complaints">Complaints</a></li>
                <li><a href="#companyResponse">Company responses</a></li>
                <li><a href="#links">Links</a></li>
                <li><a href="#nachrichten">Nachrichten</a></li>
                <li><a href="#merkezettel">Merkezettel</a></li>
                <li><a href="#firmenMitgliedschaft">Company membership</a></li>
              </ul>
              <div class="card-panel no-bg">
                <div class="card">
                  <div class="card-content center-align">
                    <p class="m-t-small">Haben Sie weitere Fragen zu Ihrem Firmen Account?</p>
                    <p>Dann fragen Sie uns</p>
                    <button class="btn center waves-effect waves-light m-b-small" type="submit" name="action">Firmen Support</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col s9">
          <div class="section header-page">
            <h1>How to use Company Account</h1>
            <p>In this guide we’ll help you navigate your account</p>
          </div>
          <div id="helpContainerItems">
            <div id="complaints" class="section border-bot-2">
              <div class="card-panel no-bg">
                <div class="card-header no-padding"><div class="title"><h2>Complaints</h2></div></div>
                <div class="card no-bg">
                  <div class="row">
                    <div class="col s4">
                      <div class="card-panel widget-sidebar widget-navigation">
                        <div class="card no-bg">
                          <div class="card-content">
                            <div class="card-title blue-grey lighten-5 blue-grey-text"><i class="rbi rbi-beschwerde small"></i><span>Beshwerden</span></div>
                            <ul>
                              <li><a href="javascript:void(0)">Online <i class="material-icons right">chevron_right</i></a></li>
                              <li><a href="javascript:void(0)">On hold 48 h <span>(1)</span> <i class="material-icons right">chevron_right</i></a></li>
                              <li><a href="javascript:void(0)">Gelöschte <span>(7)</span> <i class="material-icons right">chevron_right</i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col s8">
                      <div class="m-t-medium">
                        <div class="row">
                          <div class="col s2">
                            <span class="tagId">Online</span>
                          </div>
                          <div class="col s10"><p>Anzahl der im Front-End sichtbaren Beschwerden</p></div>
                        </div>
                        <div class="row">
                          <div class="col s2">
                            <span class="tagId">On hold</span>
                          </div>
                          <div class="col s10">
                            <p>neue Beschwerden bleiben 48 unveröffentlicht oder solange, bis Sie eine
                              Firmenantwort dazu schreiben. Falls Sie die automatische Firmenantwort aktiviert
                              haben, wird diese nach 48h mit der Beschwerde zusammen veröffentlicht.</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col s12 center-align f-s-tiny f-w-bold clearfix"><p>The following options will appear when you click “On hold” button</p></div>
                          <div class="table-wrapper">
                            <div class="col-icon"><i class="mdi mdi-arrow-right small"></i></div>
                            <div class="col-text">
                              <span><strong>With company response:</strong> Number of complaints answered</span>
                            </div>
                          </div>
                          <div class="table-wrapper">
                            <div class="col-icon"><i class="mdi mdi-arrow-right small"></i></div>
                            <div class="col-text">
                              <span><strong>Without company response:</strong> number of unanswered complaints</span>
                            </div>
                          </div>
                          <div class="table-wrapper">
                            <div class="col-icon"><i class="mdi mdi-arrow-right small"></i></div>
                            <div class="col-text">
                              <span><strong>Solved:</strong> number of complaints marked by the complainants</span>
                            </div>
                          </div>
                          <div class="table-wrapper">
                            <div class="col-icon"><i class="mdi mdi-arrow-right small"></i></div>
                            <div class="col-text">
                              <span><strong>Not yet resolved:</strong> the number of complaints highlighted by the complainants as yet unsolved</span>
                            </div>
                          </div>
                          <div class="table-wrapper">
                            <div class="col-icon"><i class="mdi mdi-arrow-right small"></i></div>
                            <div class="col-text">
                              <span><strong>Customer reaction outstanding:</strong> Number of complaints where the complainants have not yet responded to status requests</span>
                            </div>
                          </div>
                        </div>
                        <div class="row m-t-small">
                          <div class="col s4">
                            <span class="tagId">Deleted complaints</span>
                          </div>
                          <div class="col s8"><span>Deleted Complaints: deleted by the editors, no longer published</span></div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="card-panel no-bg">
                <div class="card-header no-padding">
                  <div class="title m-b-medium">
                    <h3>Advantages</h3>
                  </div>
                </div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="row">
                      <div class="col s6">
                        <div class="table-wrapper">
                          <div class="col-icon"><i class="mdi mdi-check-circle small blue-grey-text"></i></div>
                          <div class="col-text">
                            <span>Beschwerden 48h vor der Veröffentlichung auf ReclaBox lesen und reagieren</span>
                          </div>
                        </div>
                        <div class="table-wrapper">
                          <div class="col-icon"><i class="mdi mdi-check-circle small blue-grey-text"></i></div>
                          <div class="col-text">
                            <span>nach Datum sortierte Übersicht aller Beschwerden mit jeweiligem Status</span>
                          </div>
                        </div>
                        <div class="table-wrapper">
                          <div class="col-icon"><i class="mdi mdi-check-circle small blue-grey-text"></i></div>
                          <div class="col-text">
                            <span>relevante Beschwerden noch mal lesen</span>
                          </div>
                        </div>
                        <div class="table-wrapper">
                          <div class="col-icon"><i class="mdi mdi-check-circle small blue-grey-text"></i></div>
                          <div class="col-text">
                            <span>einfache Beantwortung neuer und alter Beschwerden</span>
                          </div>
                        </div>
                      </div>
                      <div class="col s6">
                        <div class="table-wrapper">
                          <div class="col-icon"><i class="mdi mdi-check-circle small blue-grey-text"></i></div>
                          <div class="col-text">
                          <span>über Aktionsleiste in der Beschwerde antworten, weiterleiten, drucken, in PDF umwandeln,
                            als Regelverstoß melden, merken, Verlauf verfolgen, dem Autor eine Nachricht schreiben</span>
                          </div>
                        </div>
                        <div class="table-wrapper">
                          <div class="col-icon"><i class="mdi mdi-check-circle small blue-grey-text"></i></div>
                          <div class="col-text">
                            <span>soviele Antworten zur einzelnen Beschwerde schreiben wie benötigt</span>
                          </div>
                        </div>
                        <div class="table-wrapper">
                          <div class="col-icon"><i class="mdi mdi-check-circle small blue-grey-text"></i></div>
                          <div class="col-text">
                            <span>Regelverstoßmeldungen führen zur direkten Ausblendung bzw. nicht Veröffentlichung der Beschwerde/des Kommentars</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-panel no-bg">
                <div class="card-header no-padding">
                  <div class="title m-b-medium">
                    <h3>Was kann man unter Beschwerden nicht?</h3>
                  </div>
                </div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="row">
                      <div class="col s6">
                        <div class="table-wrapper">
                          <div class="col-icon"><i class="mdi mdi-minus-circle-outline small blue-grey-text text-lighten-3"></i></div>
                          <div class="col-text">
                            <span>veröffentlichte Beschwerden editieren oder selber löschen</span>
                          </div>
                        </div>
                      </div>
                      <div class="col s6"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="companyResponse" class="section border-bot-2">
              <div class="card-panel no-bg">
                <div class="card-header no-padding"><div class="title"><h2>Company response</h2></div></div>
                <div class="card no-bg">
                  <div class="row">
                    <div class="col s4">
                      <div class="card-panel widget-sidebar widget-navigation">
                        <div class="card no-bg">
                          <div class="card-content">
                            <div class="card-title blue-grey lighten-5 blue-grey-text"><i class="mdi mdi-domain small"></i><span>Firmenatworten</span></div>
                            <ul>
                              <li><a href="javascript:void(0)">Veröffentlich <i class="material-icons right">chevron_right</i></a></li>
                              <li><a href="javascript:void(0)">Entwürfe <i class="material-icons right">chevron_right</i></a></li>
                              <li><a href="javascript:void(0)">Automatische <i class="material-icons right">chevron_right</i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col s8">
                      <div class="m-t-medium">
                        <div class="row m-b-small">
                          <div class="col s3">
                            <span class="tagId">Veröffentlich</span>
                          </div>
                          <div class="col s9"><p>Anzahl der auf ReclaBox veröffentlichten Firmenantworten</p></div>
                        </div>
                        <div class="row m-b-small">
                          <div class="col s3">
                            <span class="tagId">Entwürfe</span>
                          </div>
                          <div class="col s9">
                            <p>Anzahl der als Entwurf gespeicherten Firmenantworten</p>
                          </div>
                        </div>
                        <div class="row m-b-small">
                          <div class="col s3">
                            <span class="tagId">Automatische</span>
                          </div>
                          <div class="col s9">
                            <p>Bearbeiten und löschen</p>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="card-panel no-bg">
                <div class="card-header no-padding">
                  <div class="title m-b-medium">
                    <h3>Advantages</h3>
                  </div>
                </div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="row">
                      <div class="col s6">
                        <div class="table-wrapper">
                          <div class="col-icon"><i class="mdi mdi-check-circle small blue-grey-text"></i></div>
                          <div class="col-text">
                            <span>Beschwerden 48h vor der Veröffentlichung auf ReclaBox lesen und reagieren</span>
                          </div>
                        </div>
                        <div class="table-wrapper">
                          <div class="col-icon"><i class="mdi mdi-check-circle small blue-grey-text"></i></div>
                          <div class="col-text">
                            <span>nach Datum sortierte Übersicht aller Beschwerden mit jeweiligem Status</span>
                          </div>
                        </div>
                        <div class="table-wrapper">
                          <div class="col-icon"><i class="mdi mdi-check-circle small blue-grey-text"></i></div>
                          <div class="col-text">
                          <span>standardisierte Firmenantwort, die beim Eingang einer Beschwerde automatisch
                            veröffentlicht wird, schreiben, bearbeiten, aktivieren bzw. deaktivieren</span>
                          </div>
                        </div>
                      </div>
                      <div class="col s6"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-panel no-bg">
                <div class="card-header no-padding">
                  <div class="title m-b-medium">
                    <h3>Was kann man unter Beschwerden nicht?</h3>
                  </div>
                </div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="row">
                      <div class="col s6">
                        <div class="table-wrapper">
                          <div class="col-icon"><i class="mdi mdi-minus-circle-outline small blue-grey-text text-lighten-3"></i></div>
                          <div class="col-text">
                            <span>veröffentlichte Firmenantworten löschen</span>
                          </div>
                        </div>
                      </div>
                      <div class="col s6"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="links" class="section border-bot-2">
              <div class="card-panel no-bg">
                <div class="card-header no-padding"><div class="title"><h2>Links</h2></div></div>
                <div class="card no-bg">
                  <div class="row">
                    <div class="col s4">
                      <div class="card-panel widget-sidebar widget-navigation">
                        <div class="card no-bg">
                          <div class="card-content">
                            <div class="card-title blue-grey lighten-5 blue-grey-text"><i class="mdi mdi-link small"></i><span>Links</span></div>
                            <ul>
                              <li><a href="javascript:void(0)">online (1) <i class="material-icons right">chevron_right</i></a></li>
                              <li><a href="javascript:void(0)">geloschte Links (0) <i class="material-icons right">chevron_right</i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col s8">
                      <div class="m-t-medium">
                        <div class="row">
                          <div class="col s12">
                            <p>Unter Links finden Sie die auf ReclaBox rechts neben den Beschwerden gegen Ihr Unternehmen jeweils veröffentlichten,
                              sogenannten "Nützliche Links".</p>
                            <p>Sie haben als Firmen-Account-Nutzer die Möglichkeit diese Links zu erstellen, zu bearbeiten und zu löschen.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="nachrichten" class="section border-bot-2">
              <div class="card-panel no-bg">
                <div class="card-header no-padding"><div class="title"><h2>Nachrichten</h2></div></div>
                <div class="card no-bg">
                  <div class="row">
                    <div class="col s4">
                      <div class="card-panel widget-sidebar widget-navigation">
                        <div class="card no-bg">
                          <div class="card-content">
                            <div class="card-title blue-grey lighten-5 blue-grey-text"><i class="mdi mdi-email-outline small"></i><span>Nachrichten</span></div>
                            <ul>
                              <li><a href="javascript:void(0)"><strong>Nachrichten (2)</strong> <i class="material-icons right">chevron_right</i></a></li>
                              <li><a href="javascript:void(0)">gelesen (2) <i class="material-icons right">chevron_right</i></a></li>
                              <li><a href="javascript:void(0)">ungelesen <i class="material-icons right">chevron_right</i></a></li>
                              <li><a href="javascript:void(0)"><strong>Gesendete Nachrichten</strong> (2) <i class="material-icons right">chevron_right</i></a></li>
                              <li><a href="javascript:void(0)">von Empfanger gelesen (2) <i class="material-icons right">chevron_right</i></a></li>
                              <li><a href="javascript:void(0)">von Empfanger ungelesen <i class="material-icons right">chevron_right</i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col s8">
                      <div class="m-t-medium">
                        <div class="row">
                          <div class="col s3">
                            <span class="tagId">Posteingang</span>
                          </div>
                          <div class="col s9"></div>
                        </div>
                        <div class="row">
                          <div class="table-wrapper">
                            <div class="col-icon"><i class="mdi mdi-arrow-right small"></i></div>
                            <div class="col-text">
                              <span><strong>Gelesen:</strong> Übersicht, welche Nachrichten bereits gelesen wurden</span>
                            </div>
                          </div>
                          <div class="table-wrapper">
                            <div class="col-icon"><i class="mdi mdi-arrow-right small"></i></div>
                            <div class="col-text">
                              <span><strong>Ungelesen:</strong> noch ungelesene Nachrichten</span>
                            </div>
                          </div>
                          <div class="table-wrapper">
                            <div class="col-icon"><i class="mdi mdi-arrow-right small"></i></div>
                            <div class="col-text">
                              <span>Nachrichten beantworten, melden, löschen, als ungelesen markieren</span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col s4">
                            <span class="tagId">Gesendete Nachrichten</span>
                          </div>
                          <div class="col s8">
                            <p>Anzahl und Übersicht der...</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="table-wrapper">
                            <div class="col-icon"><i class="mdi mdi-arrow-right small"></i></div>
                            <div class="col-text">
                              <span>… an Beschwerdeführern gesendeten Nachrichten</span>
                            </div>
                          </div>
                          <div class="table-wrapper">
                            <div class="col-icon"><i class="mdi mdi-arrow-right small"></i></div>
                            <div class="col-text">
                              <span>… vom Empfänger bereits gelesenen Nachrichten</span>
                            </div>
                          </div>
                          <div class="table-wrapper">
                            <div class="col-icon"><i class="mdi mdi-arrow-right small"></i></div>
                            <div class="col-text">
                              <span>... vom Empfänger noch ungelesenen Nachrichten</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-panel no-bg">
                <div class="card-header no-padding">
                  <div class="title m-b-medium">
                    <h3>Was kann man unter Beschwerden nicht?</h3>
                  </div>
                </div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="row">
                      <div class="col s6">
                        <div class="table-wrapper">
                          <div class="col-icon"><i class="mdi mdi-minus-circle-outline small blue-grey-text text-lighten-3"></i></div>
                          <div class="col-text">
                            <span>Gesendete Nachrichten löschen</span>
                          </div>
                        </div>
                        <div class="table-wrapper">
                          <div class="col-icon"><i class="mdi mdi-minus-circle-outline small blue-grey-text text-lighten-3"></i></div>
                          <div class="col-text">
                            <span>Nachrichten an Kommentatoren schreiben, nur Nachrichten an Autoren von Beschwerden</span>
                          </div>
                        </div>
                        <div class="table-wrapper">
                          <div class="col-icon"><i class="mdi mdi-minus-circle-outline small blue-grey-text text-lighten-3"></i></div>
                          <div class="col-text">
                            <span>Neue Nachrichten schreiben ist nur über die Aktionsleiste in der einzelnen Beschwerde möglich</span>
                          </div>
                        </div>
                      </div>
                      <div class="col s6"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="merkezettel" class="section border-bot-2">
              <div class="card-panel no-bg">
                <div class="card-header no-padding"><div class="title"><h2>Merkzettel</h2></div></div>
                <div class="card no-bg">
                  <div class="row">
                    <div class="col s4">
                      <div class="card-panel widget-sidebar widget-navigation">
                        <div class="card no-bg">
                          <div class="card-content">
                            <div class="card-title blue-grey lighten-5 blue-grey-text"><i class="mdi mdi-bookmark-outline small"></i><span>Merkzettel</span></div>
                            <ul>
                              <li><a href="javascript:void(0)">Gemerkte Beschwerden (1) <i class="material-icons right">chevron_right</i></a></li>
                              <li><a href="javascript:void(0)">Verfolgte Beschwerden (2) <i class="material-icons right">chevron_right</i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col s8">
                      <div class="m-t-medium">
                        <div class="row m-b-small">
                          <div class="col s4">
                            <span class="tagId">Gemerkte Beschwerden</span>
                          </div>
                          <div class="col s8">Anzahl der auf ReclaBox veröffentlichten Firmenantworten</div>
                        </div>
                        <div class="row">
                          <div class="table-wrapper">
                            <div class="col-icon"><i class="mdi mdi-arrow-right small"></i></div>
                            <div class="col-text">
                              <span><strong>Gelesen:</strong> Übersicht, welche Nachrichten bereits gelesen wurden</span>
                            </div>
                          </div>
                          <div class="table-wrapper">
                            <div class="col-icon"><i class="mdi mdi-arrow-right small"></i></div>
                            <div class="col-text">
                              <span><strong>Ungelesen:</strong> noch ungelesene Nachrichten</span>
                            </div>
                          </div>
                          <div class="table-wrapper">
                            <div class="col-icon"><i class="mdi mdi-arrow-right small"></i></div>
                            <div class="col-text">
                              <span>Nachrichten beantworten, melden, löschen, als ungelesen markieren</span>
                            </div>
                          </div>
                        </div>
                        <div class="row m-b-small">
                          <div class="col s4">
                            <span class="tagId">Verfolgte Beschwerden</span>
                          </div>
                          <div class="col s8"></div>
                        </div>
                        <div class="row">
                          <div class="table-wrapper">
                            <div class="col-icon"><i class="mdi mdi-arrow-right small"></i></div>
                            <div class="col-text">
                              <span>… an Beschwerdeführern gesendeten Nachrichten</span>
                            </div>
                          </div>
                          <div class="table-wrapper">
                            <div class="col-icon"><i class="mdi mdi-arrow-right small"></i></div>
                            <div class="col-text">
                              <span>… vom Empfänger bereits gelesenen Nachrichten</span>
                            </div>
                          </div>
                          <div class="table-wrapper">
                            <div class="col-icon"><i class="mdi mdi-arrow-right small"></i></div>
                            <div class="col-text">
                              <span>... vom Empfänger noch ungelesenen Nachrichten</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="firmenMitgliedschaft" class="section border-bot-2">
              <div class="card-panel no-bg">
                <div class="card-header no-padding"><div class="title"><h2>Firmen-mitgliedschaft</h2></div></div>
                <div class="card no-bg">
                  <div class="row">
                    <div class="col s4">
                      <div class="dropdown-wrapper m-t-medium">
                        <a class="waves-effect waves-light btn full-width btn-theme-pink dropdown-button" data-activates="btn-company" data-beloworigin="true" data-stoppropagation="true">
                          <i class="material-icons left">settings</i>
                          <span>firmen-mitgliedschaft </span>
                          <i class="material-icons arrow_down right">keyboard_arrow_down</i>
                          <i class="material-icons arrow_up right">keyboard_arrow_up</i>
                        </a>
                        <ul id="btn-company" class="dropdown-content">
                          <li>
                            <form action="#">
                              <p>
                                <input class="with-gap right" name="group1" type="radio" id="company1">
                                <label for="company1">Deutsche Post AG <span class="pink-text text-accent-2">(1)</span></label>
                              </p>
                            </form>
                          </li>
                          <li>
                            <form action="#">
                              <p>
                                <input class="with-gap right" name="group2" type="radio" id="company2">
                                <label for="company2">ReclaBox Suppore <span class="pink-text text-accent-2">(15)</span></label>
                              </p>
                            </form>
                          </li>
                          <li>
                            <form action="#">
                              <p>
                                <input class="with-gap right" name="group3" type="radio" id="company3">
                                <label for="company3">Alle Beschwerde</label>
                              </p>
                            </form>
                          </li>
                          <li><a href="#">Settings</a></li>
                        </ul>
                        <!-- Dropdown Structure -->
                      </div>
                    </div>
                    <div class="col s12">
                      <div class="m-t-medium">
                        <div class="row">
                          <div class="col s6">
                            <div class="row m-b-small">
                              <div class="col s3">
                                <span class="tagId">Profil</span>
                              </div>
                              <div class="col s9"></div>
                            </div>
                            <div class="row">
                              <div class="table-wrapper">
                                <div class="col-icon"><i class="mdi mdi-arrow-right small"></i></div>
                                <div class="col-text">
                                  <span><strong>Gelesen:</strong> Übersicht, welche Nachrichten bereits gelesen wurden</span>
                                </div>
                              </div>
                              <div class="table-wrapper">
                                <div class="col-icon"><i class="mdi mdi-arrow-right small"></i></div>
                                <div class="col-text">
                                  <span><strong>Ungelesen:</strong> noch ungelesene Nachrichten</span>
                                </div>
                              </div>
                            </div>
                            <div class="row m-b-small">
                              <div class="col s5">
                                <span class="tagId">Firmen hinzufügen</span>
                              </div>
                              <div class="col s7"></div>
                            </div>
                            <div class="row">
                              <div class="col s12">
                                <p>Die Boxen <em>Beschwerden, Firmenntworten, Links und Nachrochten</em> jeweils nach Firma getrenn</p>
                              </div>
                            </div>
                          </div>
                          <div class="col s6">
                            <div class="row m-b-small">
                              <div class="col s4">
                                <span class="tagId">Kontaktdaten</span>
                              </div>
                              <div class="col s8"></div>
                            </div>
                            <div class="row">
                              <div class="table-wrapper">
                                <div class="col-icon"><i class="mdi mdi-arrow-right small"></i></div>
                                <div class="col-text">
                                  <span><strong>Gelesen:</strong> Übersicht, welche Nachrichten bereits gelesen wurden</span>
                                </div>
                              </div>
                              <div class="table-wrapper">
                                <div class="col-icon"><i class="mdi mdi-arrow-right small"></i></div>
                                <div class="col-text">
                                  <span><strong>Ungelesen:</strong> noch ungelesene Nachrichten</span>
                                </div>
                              </div>
                            </div>
                            <div class="row m-b-small">
                              <div class="col s4">
                                <span class="tagId">Rechnungen</span>
                              </div>
                              <div class="col s8"></div>
                            </div>
                            <div class="row">
                              <div class="col s12">
                                <p>Hier werden die Rechnungen zur Bezahlung Ihres Firmen-Accounts hinterlegt.
                                  Die Rechnung wird Ihnen selbstverständlich rechtzeitig vor einer neuen Zahlperiode per Email zugestellt.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end nav-top -->
  </div>

 </div>

  <!--  Scripts-->
  <script src="js/init.js"></script>

  </body>
</html>