<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Template - Home</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/reclabox-icons/1.1.0/reclabox-icon.css" rel="stylesheet"/>
  <link rel="stylesheet" href="css/materialdesignicons.min.css"/>
  <link href="css/reclabox-materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>
<!-- HelloPreload http://hello-site.ru/preloader/ -->
<style type="text/css">
  #hellopreloader_preload {
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    background: #607d8b url(http://hello-site.ru//main/images/preloads/bars.svg) center center no-repeat;
    background-size:92px;
  }
</style>
<div id="hellopreloader"><div id="hellopreloader_preload"></div></div>
<script type="text/javascript">
    var hellopreloader = document.getElementById("hellopreloader_preload");
    function fadeOutnojquery(el) {
        el.style.opacity = 1;
        var interhellopreloader = setInterval(function() {
            el.style.opacity = el.style.opacity - 0.05;
            if (el.style.opacity <=0.05) {
                clearInterval(interhellopreloader);
                hellopreloader.style.display = "none";
            }
        },16);
    }
    window.onload = function(){setTimeout(function(){fadeOutnojquery(hellopreloader);},1000);};
</script>
<!-- HelloPreload http://hello-site.ru/preloader/ -->
<div class="wrapper grey lighten-5">

  <header class="site-header blue-grey">
    <div class="navbar">
      <nav class="" role="navigation">
        <div class="nav-wrapper">
          <ul>
            <li>
              <!--<a href="#" data-activates="slide-out" class="button-collapse waves-effect">-->
                <!--<div class="arrow-hamburger">-->
                  <!--<div class="line arrow_top"></div>-->
                  <!--<div class="line arrow_line"></div>-->
                  <!--<div class="line arrow_bottom"></div>-->
                <!--</div>-->
              <!--</a>-->
            </li>
          </ul>
          <a id="logo-container" href="javascript:void(0)" class="brand-logo hide"><img src="img/img-site/logo-reclabox.jpg" alt="ReclaBox"></a>
          <div class="nav-header nav-theme hide">
            <ul id="navHeaderFixed" class="nav-menu hide-on-med-and-down flex-wrapper">
              <li><a class="active" href="javascript:void(0)">BESCHWERDE LESEN</a></li>
              <li><a href="javascript:void(0)">BESCHWERDE SCHREIBEN</a></li>
            </ul>
          </div>
          <ul class="right hide-on-med-and-down nav-right currently-logged users-menu">
            <li>
              <form id="search-form">
                <div class="search-widget">
                  <button class="search-button"><i class="material-icons small">search</i></button>
                  <button class="search-close-button"><i class="material-icons small">close</i></button>
                  <input name="q" type="text" id="search-input" autocomplete="off"/>
                  <label for="search-input">Name, Firma oder Schlagwort</label>
                </div>
              </form>
            </li>
            <li>
              <a class="btn waves-effect waves-light" href="#emailSubscribe">subscribe</a>
            </li>
            <li>
              <a class="btn waves-effect waves-light" href="#emailUnsubscribe">unsubscribe</a>
            </li>
            <li>
              <a class="btn waves-effect waves-light" href="#usersLogin">login/regisrieren</a>
            </li>
            <!-- <li><a class="btn waves-effect waves-light" href="#usersRegister">registrieren </a></li> -->
          </ul>
        </div>
      </nav>
    </div><!-- end navbar-fixed -->

    <div class="container"><!-- logo and nav-menu -->
      <div class="row">
        <div class="brand-logo-wrapper">
          <a id="logo-container" href="javascript:void(0)" class="brand-logo"><img src="img/icon-svg/logo.svg" alt="ReclaBox"></a>
        </div>
        <div class="navbar navbar-bootom">
          <nav class="" role="navigation">
            <div class="nav-wrapper">
              <div class="nav-header nav-theme">
                <ul id="navHeader" class="nav-menu hide-on-med-and-down flex-wrapper">
                  <li><a class="active" href="beschwerde-lesen.html">BESCHWERDE LESEN</a></li>
                  <li><a href="schreiben.html">BESCHWERDE SCHREIBEN</a></li>
                  <!-- <li><a href="javascript:void(0)">BESCHWERDE SCHREIBEN</a></li> -->
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div><!-- logo and nav-menu -->

    <!-- components dropdown -->
    <div class="slide-nav-button">
      <a href="#" data-activates="slide-out" class="button-collapse waves-effect">
        <div class="arrow-hamburger">
          <div class="line arrow_top"></div>
          <div class="line arrow_line"></div>
          <div class="line arrow_bottom"></div>
        </div>
      </a>
      <a href="#" class="right waves-effect"><i class="mdi mdi-logout-variant small"></i></a>
      <a href="#" class="right waves-effect"><i class="mdi mdi-settings small"></i></a>
    </div>
    <div class="slide-nav-wrapper"><!-- heade left nav -->
      <ul id="slide-out" class="side-nav slide-nav">
        <li class="side-nav-top"></li>
        <li><div class="divider"></div></li>
        <li>
          <div class="userView">
            <div class="table-wrapper">
              <div class="item-table">
                <a href="#!user" class="left">
                  <img class="circle" src="http://materializecss.com/images/yuna.jpg">
                </a>
              </div>
              <div class="item-table">
                <a href="#!name" class="left">
                  <span class="name">John Doe </span>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="search">
          <div class="search-wrapper m-b-medium">
            <div class="input-field">
              <i class="material-icons prefix">search</i>
              <input id="slide-nav-search" type="text" class="validate" placeholder="Start typing to search">
              <label for="slide-nav-search"></label>
            </div>
          </div>
        </li>
        <li><a href="beschwerde.html">Beschwerde</a></li>
        <li><a href="beschwerde-lesen.html">Beschwerde Lesen</a></li>
        <li><a href="categories.html">Categories</a></li>
        <li><a href="company-account.html">Company Account</a></li>
        <li><a href="company-account-profil.html">Company Account Profil</a></li>
        <li><a href="company-account-reclaRank-seal.html">Company Account ReclaRank Seal</a></li>
        <li><a href="company-account-links.html">Company Account Links</a></li>
        <li><a href="company-account-automatic.html">Company Account Automatic</a></li>
        <li><a href="company-public.html">Company Public</a></li>
        <li><a href="company-rechnungen.html">Company Rechnungen</a></li>
        <li><a href="edit-email-sending.html">Edit Email Sending</a></li>
        <li><a href="firmen.html">Firmen</a></li>
        <li><a href="help.html">Help</a></li>
        <li><a href="list-articles.html">List Articles</a></li>
        <li><a href="list-emails.html">List Emails</a></li>
        <li><a href="nutzungsbedingungen.html">Nutzungsbedingungen</a></li>
        <li><a href="request-firm-management.html">Request Firm Management</a></li>
        <li><a href="schreiben.html">Schreiben</a></li>
        <li><a href="search.html">Search</a></li>
        <li><a href="user-help.html">User Help</a></li>
        <li><a href="user-private-us-east.html">Support</a></li>
        <li><a href="user-profile.html">User Profile</a></li>
        <li><a href="vorschau.html">Vorschau</a></li>
        <li><a href="wollen-sie-antowrt.html">Wollen Sie Antowrt</a></li>
        <li><a href="404.html">404</a></li>
        <li><a href="email-confirm.html">email confirm</a></li>
      </ul>
    </div><!-- end heade left nav -->

    <div class="modal-container"><!-- header modal user forms -->
      <div id="usersLogin" class="modal user-form"><!-- users login -->
        <div class="modal-content">
          <div class="card-panel no-bg">
            <div class="card-header white tabs-wrapper">
              <ul class="tabs tabs-fixed-width">
                <li class="tab"><a class="active" href="#userLoginTabContent">Login</a></li>
                <li class="tab"><a class="" href="#userRegisterTabContent">Register</a></li>
              </ul>
            </div>
            <div id="userLoginTabContent" class="card no-bg"><!-- forms login and passwrd recovery -->
              <div class="card-image grey lighten-5">
                <a class="icon-floating btn u-f-btn-prev hide" href="javascript:void(0)">
                  <i class="mdi mdi-arrow-left"></i>Back
                </a>
                <img src="img/icon-svg/auth-graphics.svg" title="">
              </div>
              <div id="formLogin" class="card-content form-login">
                <form class="" action="#">
                  <div class="input-field">
                    <input id="emailLogin" type="email" class="validate">
                    <label for="emailLogin">Email Adresse</label>
                  </div>
                  <div class="input-field">
                    <input id="passwordLogin" type="password" class="validate">
                    <label for="passwordLogin">password</label>
                  </div>
                  <div class="input-field">
                    <input type="checkbox" class="filled-in" id="filled-in-box" />
                    <label for="filled-in-box">Angemeldet bleiben</label>
                  </div>
                  <button id="btn-waves" class="full-width btn waves-effect waves-light" type="submit" name="action">einloggen</button>
                </form>
                <div class="questions">
                  <a class="center" href="#newPassword">password vergessen?</a>
                  <a class="center" href="#">Noch night Mitglied?</a>
                </div>
              </div>
              <div id="newPassword" class="card-content hide form-newpassword">
                <div class="card-title">
                  <h6>Haben Sie Ihr password vergessen?</h6>
                </div>
                <p>
                  Bitte geben Sie Ihre E-Mail-Adresse ein, mit der Sie sich bereits registriert haben. Vergeben Sie sich außerdem ein neues password. Sie erhalten dann eine E-Mail mit einem Freischaltlink. Nach- dem Sie diesen bestätigt haben, können Sie sich
                </p>
                <form class="" action="#">
                  <div class="input-field">
                    <input id="email0" type="email" class="rb-blue-input validate">
                    <label for="email0">E-Mail-Adresse *</label>
                  </div>
                  <div class="input-field">
                    <input id="password0" type="password" class="rb-blue-input validate">
                    <label for="password0">Neu password *</label>
                  </div>
                  <div class="input-field">
                    <input id="passwordRep0" type="password" class="rb-blue-input validate">
                    <label for="passwordRep0">Neu password (wiederholen)*</label>
                  </div>
                  <button class="full-width btn waves-effect waves-light" type="submit" name="action">ABSCHICKEN</button>
                </form>
              </div>
            </div><!-- end forms login and recovery -->
            <div id="userRegisterTabContent" class="card no-bg"><!-- forms register and nav -->
              <div class="register-nav invisible">
                <div class="card-content center">
                  <p>Chooose the type of account</p>
                </div>
                <ul class="table-wrapper">
                  <li class="item">
                    <a class="center btn-register-nav" href="#userMitgliedschaft"><i class="mdi mdi-emoticon-sad"></i></a>
                    <p class="center">I am <br> a consumer</p>
                  </li>
                  <li class="item">
                    <a class="center btn-register-nav" href="#firmaMitgliedschaft"><i class="mdi mdi-domain"></i></a>
                    <p class="center">I am organisation <br> or company</p>
                  </li>
                </ul>
              </div>
              <div id="registerForms" class="register-forms">
                <div class="card-image hide">
                  <a class="icon-floating btn u-f-btn-prev hide" href="javascript:void(0)">
                    <i class="mdi mdi-arrow-left"></i>Back
                  </a>
                  <img src="img/icon-svg/auth-graphics.svg" title="">
                </div>
                <div id="userMitgliedschaft" class="card-content hide">
                  <p>Bereits mit Ihrer E-Mail-Adresse und password können Sie sich als Privatperson kostenlos anmelden und selbst Beschwerden, Kommentare oder Nachrichten an andere User schreiben. Falls Sie Ihren Namen angeben möchten, werden Ihre erstellten Inhalte unter diesem Namen veröffentlicht. </p>
                  <form class="col s12" action="#">
                    <div class="row">
                      <div class="input-field">
                        <input id="email" type="email" class="validate">
                        <label for="email">E-Mail-Adresse *</label>
                      </div>
                      <div class="input-field">
                        <input id="password" type="password" class="validate">
                        <label for="password">password *</label>
                      </div>
                      <div class="input-field">
                        <input id="passwordRep" type="password" class="validate">
                        <label for="passwordRep">password wiederholen *</label>
                      </div>
                      <div class="input-field">
                        <input id="lastName" type="text" class="validate">
                        <label for="lastName">Vorname</label>
                      </div>
                      <div class="input-field">
                        <input id="firstName" type="text" class="validate">
                        <label for="firstName">Name</label>
                      </div>
                    </div>
                    <p class="warning">Hinweis: wir geben Ihre E-Mail -Adresse nicht an Dritte weiter, bei uns  erhalten Sie keinen unerwünschen Spam. <a href="#">Datenschutz.</a></p>
                    <div class="input-field">
                      <input type="checkbox" class="filled-in" id="filled-in-box-user" />
                      <label for="filled-in-box-user">Ja, ich habe die <a href="#">Nutzungsbedinungen</a> gelesen und akzeptiert</label>
                    </div>
                    <button class="btn center waves-effect waves-light" type="submit" name="action">registrieren</button>
                  </form>
                </div>
                <div id="firmaMitgliedschaft" class="card-content hide">
                  <p>Nach dem Senden der Formulardaten erhalten Sie von uns eine E-Mail mit einem Verifizierungslink, der Sie zur Eingabe Ihrer Firmendaten führen wird. Sie können den Firmen-Account dann nach Freischaltung 14 Tage lang unverbindlich kostenlos testen, wir unterbreiten Ihnen rechtzeitig vor Ablauf ein Angebot zur weiteren Nutzung.</p>
                  <p>Haben Sie vorab Fragen zum Firmen-Account? Fordern Sie weitere Informationen hier an: ReclaBox Support</p>
                  <form class="col s12 firmRegistrarion" action="#">
                    <div class="row">
                      <div class="input-field">
                        <input id="companyName" type="text" class="validate">
                        <label for="companyName">Company / Institution</label>
                      </div>
                      <div class="input-field">
                        <input id="companyEmail" type="email" class="validate">
                        <label for="companyEmail">E-Mail-Adresse</label>
                      </div>
                    </div>
                    <p class="warning">Hinweis: wir geben Ihre E-Mail -Adresse nicht an Dritte weiter, bei uns  erhalten Sie keinen unerwünschen Spam. <a href="#">Datenschutz.</a></p>
                    <div class="input-field">
                      <input type="checkbox" class="filled-in" id="filled-in-box-firm" />
                      <label for="filled-in-box-firm">Ja, ich habe die <a href="#">Nutzungsbedinungen</a> gelesen und akzeptiert</label>
                    </div>
                    <button class="btn waves-effect waves-light center" type="submit" name="action">registrieren als firma</button>
                  </form>
                </div>
              </div>
            </div><!-- end forms register and nav -->
          </div>
        </div>
      </div><!-- end users login -->

      <div id="emailSubscribe" class="modal user-form"><!-- email subscribe -->
        <div class="modal-content">
          <div class="card-panel no-bg">
            <div class="card no-bg">
              <div class="card-image grey lighten-5">
                <img src="img/icon-svg/email-subscribe.svg" alt="">
              </div>
              <div class="card-content">
                <div class="card-title">
                  <h6>Newsletter abonnieren</h6>
                </div>
                <form class="" action="#">
                  <div class="row">
                    <div class="input-field">
                      <input id="email2" type="email" class="rb-blue-input validate">
                      <label for="email2">E-Mail-Adresse *</label>
                    </div>
                  </div>
                  <button class="waves-effect full-width waves-light btn btn-theme-pink white-text" type="submit" name="action">ABSCHICKEN</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div><!-- end email subscribe -->

      <div id="emailUnsubscribe" class="modal user-form"><!-- email subscribe -->
        <div class="modal-content">
          <div class="card-panel no-bg">
            <div class="card no-bg">
              <div class="card-image grey lighten-5">
                <img src="img/icon-svg/email-unsubscribe.svg" alt="">
              </div>
              <div class="card-content">
                <div class="card-title">
                  <h6>Newsletter abonnieren</h6>
                </div>
                <form class="" action="#">
                  <div class="row">
                    <div class="input-field">
                      <input id="email1" type="email" class="rb-blue-input validate">
                      <label for="email1">E-Mail-Adresse *</label>
                    </div>
                  </div>
                  <button class="waves-effect full-width waves-light btn btn-theme-pink white-text" type="submit" name="action">ABSCHICKEN</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div><!-- end email subscribe -->
    </div><!-- end header modal user forms -->
  </header>

<div class="container page-company post">
  <div class="section"><!-- content, sidebar, other components -->
    <div class="row">
      <div class="col s12 m3 l3"><!-- sidebar left -->
        <div class="dropdown-wrapper widget-sidebar widget-navigation-btn">
          <a  class="waves-effect waves-light btn full-width btn-theme-pink dropdown-button"
              data-activates="btn-company"
              data-beloworigin="true"
              data-stoppropagation="true">
      
            <i class="material-icons left">settings</i>
            <span>firmen-mitgliedschaft </span>
            <i class="material-icons arrow_down right">keyboard_arrow_down</i>
            <i class="material-icons arrow_up right">keyboard_arrow_up</i>
          </a>
          <!-- Dropdown Structure -->
          <ul id="btn-company" class="dropdown-content">
            <li>
              <form action="#">
                <p>
                  <input class="with-gap right" name="group1" type="radio" id="company1" />
                  <label for="company1">Deutsche Post AG <span class="pink-text text-accent-2">(1)</span></label>
                </p>
              </form>
            </li>
            <li>
              <form action="#">
                <p>
                  <input class="with-gap right" name="group2" type="radio" id="company2" />
                  <label for="company2">ReclaBox Suppore <span class="pink-text text-accent-2">(15)</span></label>
                </p>
              </form>
            </li>
            <li>
              <form action="#">
                <p>
                  <input class="with-gap right" name="group3" type="radio" id="company3" />
                  <label for="company3">Alle Beschwerde</label>
                </p>
              </form>
            </li>
            <li><a href="#!">Settings</a></li>
          </ul>
        </div>
      
        <div class="card-panel no-bg widget-sidebar widget-company">
          <div class="card">
            <div class="card-action table-wrapper">
              <div class="logo-company left">
                <i class="mdi mdi-domain"></i>
              </div>
              <div class="rank-company right">
                <span class="rank-5 right"></span>
              </div>
            </div>
            <div class="card-content">
              <div class="card-title">
                <h6>Deutsche Post AG</h6>
              </div>
              <a href="javascript:void(0)">Post und Telekommunikationen » </a>
              <a href="javascript:void(0)">Bried-und Paketzusteller</a>
            </div>
          </div>
        </div>
      
        <div class="card-panel widget-sidebar widget-navigation">
          <div class="card-header blue-grey lighten-5">
            <i class="rbi rbi-beschwerde small"></i>
            <span>Beshwerden</span>
          </div>
          <div class="card no-bg">
            <div class="card-content">
              <ul>
                <li><a href="javascript:void(0)">Online </a></li>
                <li><a href="javascript:void(0)">On hold 48 h <span>(1)</span> </a></li>
                <li><a href="javascript:void(0)">Gelöschte <span>(7)</span> </a></li>
              </ul>
            </div>
          </div>
        </div>
      
        <div class="card-panel widget-sidebar widget-navigation">
          <div class="card-header blue-grey lighten-5">
            <i class="mdi mdi-domain small"></i>
            <span>Firmenatworten</span>
          </div>
          <div class="card no-bg">
            <div class="card-content">
              <ul>
                <li><a href="javascript:void(0)">Veröffentlich <span>(21)</span></a></li>
                <li><a href="javascript:void(0)">Entwürfe </a></li>
                <li><a class="active" href="javascript:void(0)">Automatische </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div><!-- end sidebar left -->

      <div class="col s12 m6 l6"><!-- content -->
        <section class="section">
          <div class="card-panel no-bg">
            <div class="card no-bg">
              <div class="card-content">
                <div class="card-title">
                  <h3>Wollen Sie auf Diese Beschwerde antworten?</h3>
                  <p>Antwort zu folgender Beschwerde</p>
                </div>
                <p>Ich habe ReclaBox am 04.11.2016 per Kontaktformular auf eine fremdenfeindliche Beschwerde auf der Seite aufmerksam gemacht (Beschwerde-Nr.: 126630), in der von jüdischem Zinswuchertum die Rede ist. Über eine Woche später ist diese immer noch nicht gelöscht oder abgeändert, sodass diese weiterhin öffentlich einsehbar ist und der Beschwerdeführer seine rassistische Einstellung wie nebenbei weiter propagieren kann. Ein Zustand, der nicht hinnehmbar ist und den Grundregeln der Seite wiederspricht (§6 der Nutzungsbedingungen). Von einer gründlichen Prüfung der veröffentlichen Beschwerden kann also keine Rede sein - selbst nicht, wenn ein User darauf aufmerksam macht.</p>
              </div>
              <form action="" class="form">
                <div class="card-text-editor">
                  <div class="text-editor">
                    <div class="editor-header">
                      <div class="text left-align">Ihre Antwort / Gegendarstellung</div>
                    </div>
                    <div class="editor">
                      <nav class="editor-nav">
                        <div class="nav-wrapper">
                          <ul class="left">
                            <li><a class="active" href=""><i class="mdi mdi-format-italic tiny"></i></a></li>
                            <li><a href=""><i class="mdi mdi-format-list-bulleted tiny"></i></a></li>
                            <li><a href=""><i class="mdi mdi-format-list-numbers tiny"></i></a></li>
                            <li><a class="active" href=""><i class="mdi mdi-spellcheck tiny"></i></a></li>
                            <li>
                              <ul id="dropdown2" class="dropdown-content">
                                <li><a class="active" href="#!">Deutsch</a></li>
                                <li><a href="#!">English</a></li>
                              </ul>
                              <a class="dropdown-button" href="#!" data-activates="dropdown2"><i class="mdi-alphabetical mdi tiny"></i></a>
                            </li>
                          </ul>
                        </div>
                      </nav>
                      <div class="input-field">
                        <textarea id="textarea1" class="materialize-textarea">Sehr geehrter User, vielen Dank für Ihre Beschwerde. Wir danken Ihnen insbesondere, weil der Fehler, der leider unserseits passiert ist, sonst nicht mehr aufgefallen wäre.</textarea>
                        <label for="textarea1" class=""></label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-editor-input">
                  <div class="editor-input">
                    <div class="row">
                      <div class="col s7">
                        <div class="editor">
                          <div class="input-field">
                            <input value="ReclaBox" id="company-name" type="text" >
                            <label class="active" for="company-name">Firma/institution</label>
                          </div>
                          <div class="input-field">
                            <input value="Grünberger Str.  12" id="adresszusatz" type="text" >
                            <label class="active" for="adresszusatz">Adresszusatz</label>
                          </div>
                          <div class="input-field">
                            <input value="Grünberger Str.  12" id="street-house-number" type="text" >
                            <label class="active" for="street-house-number">Straße und Hausnummer</label>
                          </div>
                          <div class="input-field">
                            <input value="Berlin" id="ort" type="text" >
                            <label class="active" for="ort">Ort</label>
                          </div>
                          <div class="input-field">
                            <input value="10243" id="plz" type="text" >
                            <label class="active" for="plz">PLZ</label>
                          </div>
                          <div class="input-field">
                            <select name="firm_profile[country]">
                              <option selected value="Deutschland">Deutschland</option>
                              <option value="Schweiz">Schweiz</option>
                              <option value="Österreich">Österreich</option>
                              <option disabled="disabled" value="">-------------</option>
                              <option value="afghanistan">Afghanistan</option>
                              <option value="aland_islands">Aland Islands</option>
                              <option value="albania">Albania</option>
                              <option value="algeria">Algeria</option>
                              <option value="american_samoa">American Samoa</option>
                              <option value="andorra">Andorra</option>
                              <option value="angola">Angola</option>
                              <option value="anguilla">Anguilla</option>
                              <option value="antarctica">Antarctica</option>
                              <option value="antigua_and_barbuda">Antigua And Barbuda</option>
                              <option value="argentina">Argentina</option>
                              <option value="armenia">Armenia</option>
                              <option value="aruba">Aruba</option>
                              <option value="australia">Australia</option>
                              <option value="austria">Austria</option>
                              <option value="azerbaijan">Azerbaijan</option>
                              <option value="bahamas">Bahamas</option>
                              <option value="bahrain">Bahrain</option>
                              <option value="bangladesh">Bangladesh</option>
                              <option value="barbados">Barbados</option>
                              <option value="belarus">Belarus</option>
                              <option value="belgium">Belgium</option>
                              <option value="belize">Belize</option>
                              <option value="benin">Benin</option>
                              <option value="bermuda">Bermuda</option>
                              <option value="bhutan">Bhutan</option>
                              <option value="bolivia">Bolivia</option>
                              <option value="bosnia_and_herzegowina">Bosnia And Herzegowina</option>
                              <option value="botswana">Botswana</option>
                              <option value="bouvet_island">Bouvet Island</option>
                              <option value="brazil">Brazil</option>
                              <option value="british_indian_ocean_territory">British Indian Ocean Territory</option>
                              <option value="brunei_darussalam">Brunei Darussalam</option>
                              <option value="bulgaria">Bulgaria</option>
                              <option value="burkina_faso">Burkina Faso</option>
                              <option value="burundi">Burundi</option>
                              <option value="cambodia">Cambodia</option>
                              <option value="cameroon">Cameroon</option>
                              <option value="canada">Canada</option>
                              <option value="cape_verde">Cape Verde</option>
                              <option value="cayman_islands">Cayman Islands</option>
                              <option value="central_african_republic">Central African Republic</option>
                              <option value="chad">Chad</option>
                              <option value="chile">Chile</option>
                              <option value="china">China</option>
                              <option value="christmas_island">Christmas Island</option>
                              <option value="cocos_keeling_islands">Cocos Keeling Islands</option>
                              <option value="colombia">Colombia</option>
                              <option value="comoros">Comoros</option>
                              <option value="congo">Congo</option>
                              <option value="congo_the_democratic_republic_of_the">Congo The Democratic Republic Of The</option>
                              <option value="cook_islands">Cook Islands</option>
                              <option value="costa_rica">Costa Rica</option>
                              <option value="cote_divoire">Cote Divoire</option>
                              <option value="croatia">Croatia</option>
                              <option value="cuba">Cuba</option>
                              <option value="cyprus">Cyprus</option>
                              <option value="czech_republic">Czech Republic</option>
                              <option value="denmark">Denmark</option>
                              <option value="djibouti">Djibouti</option>
                              <option value="dominica">Dominica</option>
                              <option value="dominican_republic">Dominican Republic</option>
                              <option value="ecuador">Ecuador</option>
                              <option value="egypt">Egypt</option>
                              <option value="el_salvador">El Salvador</option>
                              <option value="equatorial_guinea">Equatorial Guinea</option>
                              <option value="eritrea">Eritrea</option>
                              <option value="estonia">Estonia</option>
                              <option value="ethiopia">Ethiopia</option>
                              <option value="falkland_islands_malvinas">Falkland Islands Malvinas</option>
                              <option value="faroe_islands">Faroe Islands</option>
                              <option value="fiji">Fiji</option>
                              <option value="finland">Finland</option>
                              <option value="france">France</option>
                              <option value="french_guiana">French Guiana</option>
                              <option value="french_polynesia">French Polynesia</option>
                              <option value="french_southern_territories">French Southern Territories</option>
                              <option value="gabon">Gabon</option>
                              <option value="gambia">Gambia</option>
                              <option value="georgia">Georgia</option>
                              <option value="germany">Germany</option>
                              <option value="ghana">Ghana</option>
                              <option value="gibraltar">Gibraltar</option>
                              <option value="greece">Greece</option>
                              <option value="greenland">Greenland</option>
                              <option value="grenada">Grenada</option>
                              <option value="guadeloupe">Guadeloupe</option>
                              <option value="guam">Guam</option>
                              <option value="guatemala">Guatemala</option>
                              <option value="guernsey">Guernsey</option>
                              <option value="guinea">Guinea</option>
                              <option value="guinea_bissau">Guinea Bissau</option>
                              <option value="guyana">Guyana</option>
                              <option value="haiti">Haiti</option>
                              <option value="heard_and_mcdonald_islands">Heard And Mcdonald Islands</option>
                              <option value="holy_see_vatican_city_state">Holy See Vatican City State</option>
                              <option value="honduras">Honduras</option>
                              <option value="hong_kong">Hong Kong</option>
                              <option value="hungary">Hungary</option>
                              <option value="iceland">Iceland</option>
                              <option value="india">India</option>
                              <option value="indonesia">Indonesia</option>
                              <option value="iran_islamic_republic_of">Iran Islamic Republic Of</option>
                              <option value="iraq">Iraq</option>
                              <option value="ireland">Ireland</option>
                              <option value="isle_of_man">Isle Of Man</option>
                              <option value="israel">Israel</option>
                              <option value="italy">Italy</option>
                              <option value="jamaica">Jamaica</option>
                              <option value="japan">Japan</option>
                              <option value="jersey">Jersey</option>
                              <option value="jordan">Jordan</option>
                              <option value="kazakhstan">Kazakhstan</option>
                              <option value="kenya">Kenya</option>
                              <option value="kiribati">Kiribati</option>
                              <option value="korea_democratic_peoples_republic_of">Korea Democratic Peoples Republic Of</option>
                              <option value="korea_republic_of">Korea Republic Of</option>
                              <option value="kuwait">Kuwait</option>
                              <option value="kyrgyzstan">Kyrgyzstan</option>
                              <option value="lao_peoples_democratic_republic">Lao Peoples Democratic Republic</option>
                              <option value="latvia">Latvia</option>
                              <option value="lebanon">Lebanon</option>
                              <option value="lesotho">Lesotho</option>
                              <option value="liberia">Liberia</option>
                              <option value="libyan_arab_jamahiriya">Libyan Arab Jamahiriya</option>
                              <option value="liechtenstein">Liechtenstein</option>
                              <option value="lithuania">Lithuania</option>
                              <option value="luxembourg">Luxembourg</option>
                              <option value="macao">Macao</option>
                              <option value="macedonia_the_former_yugoslav_republic_of">Macedonia The Former Yugoslav Republic Of</option>
                              <option value="madagascar">Madagascar</option>
                              <option value="malawi">Malawi</option>
                              <option value="malaysia">Malaysia</option>
                              <option value="maldives">Maldives</option>
                              <option value="mali">Mali</option>
                              <option value="malta">Malta</option>
                              <option value="marshall_islands">Marshall Islands</option>
                              <option value="martinique">Martinique</option>
                              <option value="mauritania">Mauritania</option>
                              <option value="mauritius">Mauritius</option>
                              <option value="mayotte">Mayotte</option>
                              <option value="mexico">Mexico</option>
                              <option value="micronesia_federated_states_of">Micronesia Federated States Of</option>
                              <option value="moldova_republic_of">Moldova Republic Of</option>
                              <option value="monaco">Monaco</option>
                              <option value="mongolia">Mongolia</option>
                              <option value="montenegro">Montenegro</option>
                              <option value="montserrat">Montserrat</option>
                              <option value="morocco">Morocco</option>
                              <option value="mozambique">Mozambique</option>
                              <option value="myanmar">Myanmar</option>
                              <option value="namibia">Namibia</option>
                              <option value="nauru">Nauru</option>
                              <option value="nepal">Nepal</option>
                              <option value="netherlands">Netherlands</option>
                              <option value="netherlands_antilles">Netherlands Antilles</option>
                              <option value="new_caledonia">New Caledonia</option>
                              <option value="new_zealand">New Zealand</option>
                              <option value="nicaragua">Nicaragua</option>
                              <option value="niger">Niger</option>
                              <option value="nigeria">Nigeria</option>
                              <option value="niue">Niue</option>
                              <option value="norfolk_island">Norfolk Island</option>
                              <option value="northern_mariana_islands">Northern Mariana Islands</option>
                              <option value="norway">Norway</option>
                              <option value="oman">Oman</option>
                              <option value="pakistan">Pakistan</option>
                              <option value="palau">Palau</option>
                              <option value="palestinian_territory_occupied">Palestinian Territory Occupied</option>
                              <option value="panama">Panama</option>
                              <option value="papua_new_guinea">Papua New Guinea</option>
                              <option value="paraguay">Paraguay</option>
                              <option value="peru">Peru</option>
                              <option value="philippines">Philippines</option>
                              <option value="pitcairn">Pitcairn</option>
                              <option value="poland">Poland</option>
                              <option value="portugal">Portugal</option>
                              <option value="puerto_rico">Puerto Rico</option>
                              <option value="qatar">Qatar</option>
                              <option value="reunion">Reunion</option>
                              <option value="romania">Romania</option>
                              <option value="russian_federation">Russian Federation</option>
                              <option value="rwanda">Rwanda</option>
                              <option value="saint_barthelemy">Saint Barthelemy</option>
                              <option value="saint_helena">Saint Helena</option>
                              <option value="saint_kitts_and_nevis">Saint Kitts And Nevis</option>
                              <option value="saint_lucia">Saint Lucia</option>
                              <option value="saint_pierre_and_miquelon">Saint Pierre And Miquelon</option>
                              <option value="saint_vincent_and_the_grenadines">Saint Vincent And The Grenadines</option>
                              <option value="samoa">Samoa</option>
                              <option value="san_marino">San Marino</option>
                              <option value="sao_tome_and_principe">Sao Tome And Principe</option>
                              <option value="saudi_arabia">Saudi Arabia</option>
                              <option value="senegal">Senegal</option>
                              <option value="serbia">Serbia</option>
                              <option value="seychelles">Seychelles</option>
                              <option value="sierra_leone">Sierra Leone</option>
                              <option value="singapore">Singapore</option>
                              <option value="slovakia">Slovakia</option>
                              <option value="slovenia">Slovenia</option>
                              <option value="solomon_islands">Solomon Islands</option>
                              <option value="somalia">Somalia</option>
                              <option value="south_africa">South Africa</option>
                              <option value="south_georgia_and_the_south_sandwich_islands">South Georgia And The South Sandwich Islands</option>
                              <option value="spain">Spain</option>
                              <option value="sri_lanka">Sri Lanka</option>
                              <option value="sudan">Sudan</option>
                              <option value="suriname">Suriname</option>
                              <option value="svalbard_and_jan_mayen">Svalbard And Jan Mayen</option>
                              <option value="swaziland">Swaziland</option>
                              <option value="sweden">Sweden</option>
                              <option value="switzerland">Switzerland</option>
                              <option value="syrian_arab_republic">Syrian Arab Republic</option>
                              <option value="taiwan_province_of_china">Taiwan Province Of China</option>
                              <option value="tajikistan">Tajikistan</option>
                              <option value="tanzania_united_republic_of">Tanzania United Republic Of</option>
                              <option value="thailand">Thailand</option>
                              <option value="timor_leste">Timor Leste</option>
                              <option value="togo">Togo</option>
                              <option value="tokelau">Tokelau</option>
                              <option value="tonga">Tonga</option>
                              <option value="trinidad_and_tobago">Trinidad And Tobago</option>
                              <option value="tunisia">Tunisia</option>
                              <option value="turkey">Turkey</option>
                              <option value="turkmenistan">Turkmenistan</option>
                              <option value="turks_and_caicos_islands">Turks And Caicos Islands</option>
                              <option value="tuvalu">Tuvalu</option>
                              <option value="uganda">Uganda</option>
                              <option value="ukraine">Ukraine</option>
                              <option value="united_arab_emirates">United Arab Emirates</option>
                              <option value="united_kingdom">United Kingdom</option>
                              <option value="united_states">United States</option>
                              <option value="united_states_minor_outlying_islands">United States Minor Outlying Islands</option>
                              <option value="uruguay">Uruguay</option>
                              <option value="uzbekistan">Uzbekistan</option>
                              <option value="vanuatu">Vanuatu</option>
                              <option value="venezuela">Venezuela</option>
                              <option value="viet_nam">Viet Nam</option>
                              <option value="virgin_islands_british">Virgin Islands British</option>
                              <option value="virgin_islands_us">Virgin Islands Us</option>
                              <option value="wallis_and_futuna">Wallis And Futuna</option>
                              <option value="western_sahara">Western Sahara</option>
                              <option value="yemen">Yemen</option>
                              <option value="zambia">Zambia</option>
                              <option value="zimbabwe">Zimbabwe</option>
                            </select>
                            <label class="active" for="land">Land</label>
                          </div>
                          <div class="input-field">
                            <input value="User-Support" id="bereich-abteilung" type="text" >
                            <label class="active" for="bereich-abteilung">Bereich/Abteilung</label>
                          </div>
                          <div class="input-field input-field-table">
                            <select name="" id="">
                              <option value="herr" selected >Herr</option>
                              <option value="frau">Frau</option>
                            </select>
                            <input value="Herr Peter Webb" id="ansprechpartner" type="text" >
                            <label class="active" for="ansprechpartner">Ansprechpartner</label>
                          </div>
                          <div class="input-field">
                            <input value="PR" id="land" type="text" >
                            <label class="active" for="land">Position</label>
                          </div>
                          <div class="input-field">
                            <input value="030" id="telefonnummer" type="text" >
                            <label class="active" for="telefonnummer">Telefonnummer</label>
                          </div>
                          <div class="input-field m-b-large">
                            <input value="support@reclabox.com" id="email-adresse" type="text" >
                            <label class="active" for="email-adresse">Ihre E-Mail-Adresse</label>
                          </div>
                          <div class="input-field m-t">
                            <input type="checkbox" class="filled-in" id="editor-checkbox2"  />
                            <label for="editor-checkbox2">Ja, ich habe die Nutzungsbedingungen gelesen und akzeptiert</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="editor-active m-t-large">
                    <button class="btn waves-effect waves-light" type="submit" name="action">ZURÜCK</button>
                    <button class="btn waves-effect waves-light" type="submit" name="action">ABSCHICKEN</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </section>
      </div><!-- end content -->

      <div class="col s12 m3 l3"><!-- sidebar -->
        <div class="card-panel widget-sidebar widget-links">
          <div class="card-header blue-grey lighten-5">
            <i class="mdi mdi-email-outline small"></i>
            <span>NACHRICHTEN</span>
          </div>
          <div class="card no-bg">
            <div class="card-content">
              <a href="javascript:void(0)">Posteingang (0)</a>
              <a href="javascript:void(0)">gelesen (0)</a>
              <a href="javascript:void(0)">ungelesen (0)</a>
              <a href="javascript:void(0)">gesendete Nachrichten (0)</a>
              <a href="javascript:void(0)">vom Empfänger gelesen (0)</a>
              <a href="javascript:void(0)">vom Empfänger ungelesen (0)</a>
            </div>
          </div>
        </div>

        <div class="card-panel widget-sidebar widget-navigation">
          <div class="card-header blue-grey lighten-5">
            <i class="mdi mdi-bookmark-outline small"></i>
            <span>MERKZETTEL</span>
          </div>
          <div class="card no-bg">
            <div class="card-content">
              <ul>
                <li><a href="javascript:void(0)">gemerkte Beschwerden (1) </a></li>
                <li><a href="javascript:void(0)">verfolgte Beschwerden (0) </a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card-panel widget-sidebar widget-navigation">
          <div class="card-header blue-grey lighten-5">
            <i class="mdi mdi-link small"></i>
            <span>LINKS</span>
          </div>
          <div class="card no-bg">
            <div class="card-content">
              <ul>
                <li><a href="javascript:void(0)">gemerkte Beschwerden (1) </a></li>
                <li><a href="javascript:void(0)">verfolgte Beschwerden (0) </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div><!-- end sidebar left -->
    </div>
  </div><!-- End ontent, sidebar, other components -->

</div>

 </div>

  <!--  Scripts-->
  <script src="js/init.js"></script>

  </body>
</html>