.border-radius-top {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.border-radius-bottom {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.border-gray-lighter {
  border: 1px solid #eeeeee;
}