// Shapes
.btn {
  position: relative;
  display: inline-block;
  text-align: center;
  font-weight: $medium;
  font-size: $font-size-base;
  text-transform: none;
}

.btn-block { display: block; }

.btn-rectangle {
  height: 35px;
  line-height: 35px;
  padding: 0 15px;
  border-radius: 4px;

  &.medium {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }

  &.small {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  &.icon {
    padding: 0 15px 0 30px;
  }
}

.btn-circle {
  text-align: center;

  &.medium {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  &.small {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }

  &:hover:before {  }

  &:hover,
  &:focus {

  }
}

// Colors
.btn-pink {
  background-color: $pink;
  color: $white;

  &:hover,
  &:focus {
    color: $white;
    background-color: $pink;
  }
}

.btn-gray {
  background-color: $gray-light;
  color: $navy;

  &:hover,
  &:focus {
    background-color: $gray-light;
    color: $navy;
  }
}

.btn-white {
  background-color: $white;
  color: $navy;

  &:hover,
  &:focus {
    background-color: $white;
    color: $navy;
  } 
}
