input,
select,
textarea {
  background-color: $input-background;
  border: $input-border-size solid $input-border-color;
  border-radius: $input-border-radius;
  color: $white;
  font-family: $input-font-family;
  font-weight: $medium;
  @include transition(border .3s);
  @include placeholder($gray-light, $light, $font-size-base);
  
  &:focus { border-top: $input-border-size solid $white; }
}
