.heading {

  .title {
    margin-bottom: 10px;
    font-size: $font-size-heading;
    font-weight: $medium;
  }

  & > .company-info {
    margin-bottom: 10px;
    font-weight: $medium;

    i {
      font-size: $font-size-base;
      color: $navy;
      margin-right: 5px;
    }

    .company-name {
      display: inline-block;
      margin-right: 13px;

      a {
        display: inline-block;
        height: 12px;
        vertical-align: text-top;
        font-size: $font-size-small;
        color: $pink;
        @include transition(.3s);

        &:hover {
          background-color: #f9dbe5;
        }
      }
    }

    .company-place {
      display: inline-block;

      i { font-size: $font-size-base; }

      span {
        display: inline-block;
        height: 13px;
        vertical-align: middle;
        font-size: $font-size-small;
      }
    }
  }

  .subtitle {
    margin: 0 0 10px;
    font-size: $font-size-base;
    font-weight: $medium;
  }
}
