.tooltip {
  position: relative;
  display: inline-block;
  padding: 5px 7px;
  border-radius: 2px;
  background-color: $navy-dark;
  color: $white;
  font-size: $font-size-ex-small;

  &:after {
    content: '';
    border-radius: 0;
    @include absolute(auto, calc(50% - 7px), auto, auto);
    border: 10px solid transparent;
    border-top: 10px solid $navy-dark;
  }

  .users {
    margin-top: 7px;

    .user-count,
    .user {
      display: inline-block;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      margin-right: 5px;
      
      &:last-child {
        vertical-align: top;
        margin-right: 0;
        background-color: $white;
        color: $navy-dark;
        text-align: center;

        span {
          font-size: $font-size-base;
          line-height: 40px;
        }
      }
    }
  }
}
