@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
   @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
        @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
  @include animation(fadeIn ease-in 1);
  @include animation-duration(.8s);
  @include animation-fill-mode(forwards);
  opacity:0;
}

.fade-in:nth-child(1)  { @include animation-delay(.5s); }
.fade-in:nth-child(2)  { @include animation-delay(.7s); }
.fade-in:nth-child(3)  { @include animation-delay(.9s); }
.fade-in:nth-child(4)  { @include animation-delay(1.1s); }
.fade-in:nth-child(5)  { @include animation-delay(1.3s); }
.fade-in:nth-child(6)  { @include animation-delay(1.5s); }
.fade-in:nth-child(7)  { @include animation-delay(1.7s); }
.fade-in:nth-child(8)  { @include animation-delay(1.9s); }
.fade-in:nth-child(9)  { @include animation-delay(2.1s); }
.fade-in:nth-child(10) { @include animation-delay(2.3s); }
.fade-in:nth-child(11) { @include animation-delay(2.5s); }
.fade-in:nth-child(12) { @include animation-delay(2.7s); }
.fade-in:nth-child(13) { @include animation-delay(2.9s); }
.fade-in:nth-child(14) { @include animation-delay(3.1s); }
.fade-in:nth-child(15) { @include animation-delay(3.2s); }
.fade-in:nth-child(16) { @include animation-delay(3.5s); }
.fade-in:nth-child(17) { @include animation-delay(3.7s); }
.fade-in:nth-child(18) { @include animation-delay(3.9s); }
.fade-in:nth-child(19) { @include animation-delay(4.1s); }
.fade-in:nth-child(20) { @include animation-delay(4.3s); }
