// Remove Focus Boxes
select:focus {
  outline: 1px solid #eaeef1; }

button:focus {
  outline: none; }

label {
  font-size: 0.8rem;
  color: #9e9e9e; }


@import 'input-fields';
@import 'radio-buttons';
@import 'checkboxes';
@import 'switches';
@import 'select';
@import 'file-input';
@import 'range';
@import "search";
