.search-widget {
  box-sizing: border-box;
  color: white;
  font-size: 14px;
  height: 55px;
  margin: 0;
  padding: 0;
  position: relative;
  right: 10px;
  top: 2px;
  transition: .2s cubic-bezier(.4, 0, .2, 1) !important;
  width: 0px;
  z-index: 2;
  vertical-align: middle;
  display: inline-block;

  input {
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 5px 0;
    width: 100%;
    text-align: left;
    background: 0;
    box-shadow: none;
    color: white;
    top: 8px;
    position: relative;
    height: 35px;
    z-index: 1;
    right: 20px;

    &:focus,
    &:hover {
      box-shadow: none;
      border-bottom: 1px solid white;
    }
  }

  label {
    box-sizing: border-box;
    bottom: 0;
    font-size: 14px;
    font-weight: 300;
    color: white;
    left: -20px;
    right: -12px;
    pointer-events: none;
    position: absolute;
    padding-left: 0;
    line-height: 46px;
    height: 42px;
    display: block;
    top: 2px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;

    &:after {
      box-sizing: border-box;
      background-color: white;
      bottom: 0px;
      content: '';
      height: 2px;
      width: 10px;
      left: 45%;
      position: absolute;
      top: 40px !important;
      transition: .2s cubic-bezier(.4, 0, .2, 1) !important;
      visibility: hidden;
      opacity: 1 !important;
      z-index: 2;
    }
  }

  button {
    background-color: inherit;
    border: 0 none;
    box-sizing: border-box;
    color: ingerit;
    position: absolute;
    top: 0;
    z-index: 2;
  }

  .search-button {
    left: -60px;

    &,
    &:hover {
      color: white;
    }
  }

  .search-close-button {
    right: -16px;
    display:none;
    opacity: 0;
    transition: .2s cubic-bezier(.4, 0, .2, 1) !important;

    &:hover {
      color: white;
    }
  }

  &.text-entered {
    label {
      visibility: hidden;
    }
  }

  &.focused {
    input {
      outline: none;
    }

    input:not([type]),
    input[type=text],
    input[type=search] {
      // Focused label style
      &:focus:not([readonly])+label {
        color: white;
      }
    }

    label:after {
      left: -20px;
      width: 110%;
      visibility: visible;
      color: white !important;
    }
  }
}

.search-open .search-widget {
  width: 300px;

  .search-close-button {
    display: block;
    opacity: 1;
  }
}
