<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/materialdesignicons.min.css">
  <link href="css/reclabox-materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>

  <body>

    <div class="page-404">
      <div class="container">
        <div class="row">
          <div class="valign-wrapper">
            <div class="valign">
              <div class="card-panel no-bg">
                <div class="card-header">
                  <img src="img/img-site/404.png">
                  <h3 class="white-text">Seite nicht gefunden</h3>
                </div>
                <div class="card">
                  <div class="card-content">
                    <p>Liebe ReclaBoxler, die angeforderte Seite wurde leider nicht gefunden.</p>
                    <p>Kehren Sie entweder zu Ihrem Ausgangspunkt zurück </p>
                    <p>oder springen Sie von hier auf unsere <br> Startseite:</p>
                    <a href="#" class="waves-effect waves-light btn btn-theme-pink white-text">ZUR RECLABOX STARSEITE</a>
                    <p>Ihr ReclaBox Team</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/reclabox.js"></script>
    <script src="js/init.js"></script>

  </body>
</html>
