<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/materialdesignicons.min.css">
  <link href="css/reclabox-materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>
  <div class="wrapper grey lighten-5">
    <header class="site-header blue-grey">
      <div class="navbar">
        <nav class="" role="navigation">
          <div class="nav-wrapper">
            <ul>
              <li>
                <a href="#" data-activates="slide-out" class="button-collapse waves-effect">
                  <div class="arrow-hamburger">
                    <div class="line arrow_top"></div>
                    <div class="line arrow_line"></div>
                    <div class="line arrow_bottom"></div>
                  </div>
                </a>
              </li>
            </ul>
            <a id="logo-container" href="javascript:void(0)" class="brand-logo hide-on-med-and-up rb-brand-logo"><img src="img/icon-svg/logo.svg" alt="ReclaBox"></a>
            <div class="nav-header nav-theme hide-on-med-and-up hide-on-small-and-down">
              <ul id="navHeader" class="nav-menu hide-on-med-and-down flex-wrapper">
                <li><a class="active" href="javascript:void(0)">BESCHWERDE LESEN</a></li>
                <li><a href="javascript:void(0)">BESCHWERDE SCHREIBEN</a></li>
              </ul>
            </div>
            <ul class="right hide-on-small-and-down nav-right currently-logged">
              <li>
                <form id="search-form">
                  <div class="search-widget">
                    <button class="search-button"><i class="material-icons">search</i></button>
                    <button class="search-close-button"><i class="material-icons">close</i></button>
                    <input name="q" type="text" id="search-input" autocomplete="off">
                    <label for="search-input">Name, Firma oder Schlagwort</label>
                  </div>
                </form>
              </li>
              <li>
                <a class="btn waves-effect waves-light" href="#usersLogin">login</a>
              </li>
              <li><a class="btn waves-effect waves-light" href="#usersRegister">registrieren </a></li>
            </ul>
          </div>
        </nav>
      </div><!-- end navbar-fixed -->

      <div class="container hide-on-med-and-down"><!-- logo and nav-menu -->
        <div class="row">
          <div class="col s12">
            <div class="brand-logo-wrapper">
              <a id="logo-container" href="javascript:void(0)" class="brand-logo"><img src="img/icon-svg/logo.svg" alt="ReclaBox"></a>
            </div>
          </div>
          <div class="col s12">
            <div class="navbar navbar-bootom">
              <nav class="" role="navigation">
                <div class="nav-wrapper">
                  <div class="nav-header nav-theme">
                    <ul id="navHeader" class="nav-menu flex-wrapper">
                      <li><a class="active" href="javascript:void(0)">BESCHWERDE LESEN</a></li>
                      <li><a href="javascript:void(0)">BESCHWERDE SCHREIBEN</a></li>
                      <!-- <li><a href="javascript:void(0)">BESCHWERDE SCHREIBEN</a></li> -->
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div><!-- logo and nav-menu -->

      <!-- components dropdown -->
      <div class="slide-nav-wrapper"><!-- heade left nav -->
        <ul id="slide-out" class="side-nav slide-nav">
          <li><a href="beschwerde-lesen.html">beschwerde lesen</a></li>
          <li><a href="beschwerde.html">beschwerde</a></li>
          <li><a href="categories.html">categories</a></li>
          <li><a href="company-account.html">company account</a></li>
          <li><a href="company-account-profil.html">company account profil</a></li>
          <li><a href="company-account-reclaRank-seal.html">company account reclaRank seal</a></li>
          <li><a href="company-account-links.html">company account links</a></li>
          <li><a href="company-account-automatic.html">company account automatic</a></li>
          <li><a href="company-public.html">company public</a></li>
          <li><a href="company-rechnungen.html">company rechnungen</a></li>
          <li><a href="edit-email-sending.html">edit email sending</a></li>
          <li><a href="firmen.html">firmen</a></li>
          <li><a href="list-articles.html">list articles</a></li>
          <li><a href="request-firm-management.html">request firm management</a></li>
          <li><a href="schreiben.html">schreiben</a></li>
          <li><a href="search.html">search</a></li>
          <li><a href="404.html">404</a></li>
          <li><a href="email-confirm.html">email confirm</a></li>
        </ul>
      </div><!-- end heade left nav -->

      <div class="modal-container"><!-- header modal user forms -->
        <div id="usersLogin" class="modal user-form"><!-- users login -->
          <div class="modal-content">
            <div class="card-panel no-bg">
              <div class="card no-bg">
                <div class="card-image">
                  <a class="btn-floating icon-floating waves-effect u-f-btn-prev" href="javascript:void(0)">
                    <i class="mdi mdi-arrow-left"></i>
                  </a>
                  <img src="img/icon-svg/auth-graphics.svg" title="">
                </div>
                <div class="card-content form-login">
                  <form class="" action="#">
                    <div class="input-field">
                      <input id="emailLogin" type="email" class="validate">
                      <label for="emailLogin">Email Adresse</label>
                    </div>
                    <div class="input-field">
                      <input id="passwordLogin" type="password" class="validate">
                      <label for="passwordLogin">password</label>
                    </div>
                    <div class="input-field">
                      <input type="checkbox" class="filled-in" id="filled-in-box" />
                      <label for="filled-in-box">Angemeldet bleiben</label>
                    </div>
                    <button id="btn-waves" class="full-width btn waves-effect waves-light disabled" type="submit" name="action">einloggen</button>
                  </form>
                  <div class="questions">
                    <a class="center" href="#newPassword">password vergessen?</a>
                    <a class="center" href="#">Noch night Mitglied?</a> 
                  </div> 
                </div>
                <div id="newPassword" class="card-content form-newpassword">
                  <div class="card-title">
                    <h6>Haben Sie Ihr password vergessen?</h6>
                  </div>
                  <p>
                    Bitte geben Sie Ihre E-Mail-Adresse ein, mit der Sie sich bereits registriert haben. Vergeben Sie sich außerdem ein neues password. Sie erhalten dann eine E-Mail mit einem Freischaltlink. Nach- dem Sie diesen bestätigt haben, können Sie sich
                  </p>
                  <form class="" action="#">
                    <div class="input-field">
                      <input id="email" type="email" class="rb-blue-input validate">
                      <label for="email">E-Mail-Adresse *</label>
                    </div>
                    <div class="input-field">
                      <input id="password" type="password" class="rb-blue-input validate">
                      <label for="password">Neu password *</label>
                    </div>
                    <div class="input-field">
                      <input id="passwordRep" type="password" class="rb-blue-input validate">
                      <label for="passwordRep">Neu password (wiederholen)*</label>
                    </div>
                    <button class="full-width btn waves-effect waves-light" type="submit" name="action">ABSCHICKEN</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div><!-- end users login -->

        <div id="usersRegister" class="modal register-form user-form"><!-- user register -->
          <div class="modal-content">
            <div class="card-panel no-bg">
              <div class="card-header blue-grey tabs-wrapper">
                <ul class="tabs tabs-fixed-width">
                  <li class="tab"><a class="active white-text" href="#user-mitgliedschaft">USER-MITGLIEDSCHAFT</a></li>
                  <li class="tab"><a class="white-text" href="#firma-mitgliedschaft">FIRMA-MITGLIEDSCHAFT</a></li>
                </ul>
              </div>
              <div class="card no-bg">
                <div class="card-image">
                  <img src="img/icon-svg/auth-graphics.svg" title="">
                </div>
                <div id="user-mitgliedschaft" class="card-content">
                  <div class="card-title">
                    <h6 class="user">Möchten Sie kostenlos Mitglied werden?</h6>
                  </div>
                  <p>Bereits mit Ihrer E-Mail-Adresse und password können Sie sich als Privatperson kostenlos anmelden und selbst Beschwerden, Kommentare oder Nachrichten an andere User schreiben. Falls Sie Ihren Namen angeben möchten, werden Ihre erstellten Inhalte unter diesem Namen veröffentlicht. </p>
                  <form class="col s12" action="#">
                    <div class="row">
                      <div class="input-field">
                        <input id="email" type="email" class="validate">
                        <label for="email">E-Mail-Adresse *</label>
                      </div>
                      <div class="input-field">
                        <input id="password" type="password" class="validate">
                        <label for="password">password *</label>
                      </div>
                      <div class="input-field">
                        <input id="passwordRep" type="password" class="validate">
                        <label for="passwordRep">password wiederholen *</label>
                      </div>
                        <div class="input-field">
                          <input id="lastName" type="text" class="validate">
                          <label for="lastName">Vorname</label>
                        </div>
                        <div class="input-field">
                          <input id="firstName" type="text" class="validate">
                          <label for="firstName">Name</label>
                        </div>
                    </div>
                    <p class="warning">Hinweis: wir geben Ihre E-Mail -Adresse nicht an Dritte weiter, bei uns  erhalten Sie keinen unerwünschen Spam. <a href="#">Datenschutz.</a></p>
                    <div class="input-field">
                      <input type="checkbox" class="filled-in" id="filled-in-box-user" />
                      <label for="filled-in-box-user">Ja, ich habe die <a href="#">Nutzungsbedinungen</a> gelesen und akzeptiert</label>
                    </div>
                    <button class="btn center waves-effect waves-light full-width" type="submit" name="action">registrieren</button>
                  </form>
                </div>
                <div id="firma-mitgliedschaft" class="card-content">
                  <div class="card-title">
                    <h6 class="firm">Möchten Sie den Firmen-Account nutzen?</h6>
                  </div>
                  <p>Nach dem Senden der Formulardaten erhalten Sie von uns eine E-Mail mit einem Verifizierungslink, der Sie zur Eingabe Ihrer Firmendaten führen wird. Sie können den Firmen-Account dann nach Freischaltung 14 Tage lang unverbindlich kostenlos testen, wir unterbreiten Ihnen rechtzeitig vor Ablauf ein Angebot zur weiteren Nutzung.</p>
                  <p>Haben Sie vorab Fragen zum Firmen-Account? Fordern Sie weitere Informationen hier an: ReclaBox Support</p>
                  <form class="col s12 firmRegistrarion" action="#">
                      <div class="row">
                        <div class="input-field">
                            <input id="companyName" type="text" class="validate">
                            <label for="companyName">Company / Institution</label>
                          </div>
                        <div class="input-field">
                          <input id="companyEmail" type="email" class="validate">
                          <label for="companyEmail">E-Mail-Adresse</label>
                        </div>
                      </div>
                      <p class="warning">Hinweis: wir geben Ihre E-Mail -Adresse nicht an Dritte weiter, bei uns  erhalten Sie keinen unerwünschen Spam. <a href="#">Datenschutz.</a></p>
                      <div class="input-field">
                        <input type="checkbox" class="filled-in" id="filled-in-box-firm" />
                        <label for="filled-in-box-firm">Ja, ich habe die <a href="#">Nutzungsbedinungen</a> gelesen und akzeptiert</label>
                      </div>
                      <button class="btn waves-effect waves-light center full-width" type="submit" name="action">registrieren als firma</button>
                  </form>
                </div>
              </div>
            </div>
            

          </div>
        </div><!-- end user register -->
      </div><!-- end header modal user forms -->
    </header>

    <div class="container post">
      <div class="section"><!-- Hot story -->
        <div class="row">
          <div class="col s12 m8 l8">
            <div class="card-panel no-bg">
              <div class="card hot-story">
                <div class="card-content">
                  <span class="hot-story-text">hot beschwerden</span>
                  <div class="breadcrumb-wrapper">
                    <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                    <a href="#!" class="breadcrumb">Fluggesellschaften</a>
                    <a href="#!" class="breadcrumb breadcrumb-last-child">Turkish Airlines</a>
                  </div>
                  <div class="card-title">
                    <h2>
                      <span class="tooltipped left" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi rbi-endgiltig-nicht-2 large"></i></span>
                      <a class="" href="#">Lieferung angeblich zugestellt. Jedoch Liefe-rung nie erhalten.</a>
                    </h2>
                  </div>
                  <p>Sehr geehrte Damen und Herren, meine Lieferung wurde angeblich zugestellt. Jedoch habe ich die Ware niemals erhalten. Es lag auch kein Zettel im Briefkasten, dass das die Abgabe irgendwo anders erfolgt wäre...</p>
                </div>
                <div class="card-action">
                  <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                  <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                  <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                  <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                  <div class="date right">
                    <span>12.09.2016 | 14:53 Uhr </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="card-panel no-bg vertical-union">
              <div class="card-header">
                <h6 class="h-title"><a href="#">NEUESTEN FIRMENANTWORTEN</a></h6>
              </div>
              <div class="vertical-union-container">
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="card-title">
                      <i class="mdi mdi-calendar-check teal-text"></i>von Wolf GmbH:
                    </div>
                    <p><a href="#">Sehr geehrter Hr. Hülswitt die Gewährleistungszeit...</a></p>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="card-title">
                      NOBASOL AS:
                    </div>
                    <p><a href="#">Sehr geehrter Hr. Hülswitt die Gewährleistungszeit...</a></p>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="card-title">
                      <i class="mdi mdi-calendar-check teal-text"></i>Rakuten Deutschland:
                    </div>
                    <p><a href="#">Sehr geehrter Hr. Hülswitt die Gewährleistungszeit...</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- End Hot story -->

      <div class="section"><!-- Top beschwerden -->
        <div class="row">
          <div class="card-panel no-bg carousel-container">
            <div class="card-header">
              <h6><a href="#">TOP BESCHWERDEN</a></h6>
            </div>
            <div id="topBeschwerden">
              <div class="card card-carousel">
                <div class="card-content">
                  <div class="breadcrumb-wrapper">
                    <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                    <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                  </div>
                  <div class="card-title">
                    <h6>
                      <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste-2"></i></a>
                      <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung!</a>
                    </h6>
                  </div>
                  <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                  </p>
                </div>
                <div class="card-action">
                  <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                  <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                  <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                  <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                  <div class="date right">
                    <span>12.09.2016 | 14:53 Uhr </span>
                  </div>
                </div>
              </div>
              <div class="card card-carousel">
                <div class="card-content">
                  <div class="breadcrumb-wrapper">
                    <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                    <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                  </div>
                  <div class="card-title">
                    <h6>
                      <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste-2"></i></a>
                      <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung!</a>
                    </h6>
                  </div>
                  <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                  </p>
                </div>
                <div class="card-action">
                  <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                  <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                  <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                  <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                  <div class="date right">
                    <span>12.09.2016 | 14:53 Uhr </span>
                  </div>
                </div>
              </div>
              <div class="card card-carousel">
                <div class="card-content">
                  <div class="breadcrumb-wrapper">
                    <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                    <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                  </div>
                  <div class="card-title">
                    <h6>
                      <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste-2"></i></a>
                      <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung!</a>
                    </h6>
                  </div>
                  <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                  </p>
                </div>
                <div class="card-action">
                  <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                  <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                  <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                  <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                  <div class="date right">
                    <span>12.09.2016 | 14:53 Uhr </span>
                  </div>
                </div>
              </div>
              <div class="card card-carousel">
                <div class="card-content">
                  <div class="breadcrumb-wrapper">
                    <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                    <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                  </div>
                  <div class="card-title">
                    <h6>
                      <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste-2"></i></a>
                      <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung!</a>
                    </h6>
                  </div>
                  <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                  </p>
                </div>
                <div class="card-action">
                  <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                  <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                  <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                  <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                  <div class="date right">
                    <span>12.09.2016 | 14:53 Uhr </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div><!-- End Top beschwerden -->

      <div class="section"><!-- neueste beschwerden -->
        <div class="row">
          <div class="card-panel no-bg vertical-union carousel-container">
            <div class="card-header"><h6><a href="#">NEUESTE BESCHWERDEN</a></h6></div>
            <div id="neuesteBeschwerden">
              <div class="vertical-union-container card-carousel">
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste-2"></i></a>
                        <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung!</a>
                      </h6>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste-2"></i></a>
                        <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung!</a>
                      </h6>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste-2"></i></a>
                        <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung!</a>
                      </h6>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vertical-union-container card-carousel">
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste-2"></i></a>
                        <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung!</a>
                      </h6>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste-2"></i></a>
                        <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung!</a>
                      </h6>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste-2"></i></a>
                        <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung!</a>
                      </h6>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vertical-union-container card-carousel">
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste-2"></i></a>
                        <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung!</a>
                      </h6>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste-2"></i></a>
                        <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung!</a>
                      </h6>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste-2"></i></a>
                        <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung!</a>
                      </h6>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vertical-union-container card-carousel">
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste-2"></i></a>
                        <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung!</a>
                      </h6>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste-2"></i></a>
                        <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung!</a>
                      </h6>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste-2"></i></a>
                        <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung!</a>
                      </h6>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- end neueste beschwerden -->

      <div class="section"><!-- neu bei reclabox, die neuesten kommentare, schlagworte -->
        <div class="row">
          <div class="col s12 m5 l5">
            <div class="card-panel no-bg vertical-union widget">
              <div class="card-header">
                <h6><a href="#">NEU BEI RECLABOX</a></h6>
              </div>
              <div class="vertical-union-container">
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="card-title">
                      <a href="#">ReclaBox Firmen-Mitgliedschaft:</a>
                    </div>
                    <p>Seit geraumer Zeit gibt es für Firmen die Möglichkeit...
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="card-title">
                      <a href="#">Kommentieren bei ReclaBox:</a>
                    </div>
                    <p>Die Beschwerdeführer können sich ab heute allein...
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="card-title">
                      <a href="#">Beschwerde lösen</a>
                    </div>
                    <p>Eingeloggte Nutzer können selbst ihre Beschwerden...
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="card-title">
                      <a href="#">Beschwerde lösen</a>
                    </div>
                    <p>Eingeloggte Nutzer können selbst ihre Beschwerden...
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="card-title">
                      <a href="#">Beschwerde als pdf:</a>
                    </div>
                    <p>Jede Beschwerde kann als pdf gespeichert werden... </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col s12 m4 l4">
            <div class="card-panel no-bg vertical-union widget">
              <div class="card-header">
                <h6><a href="#">DIE NEUESTEN KOMMENTARE</a></h6>
              </div>
              <div class="vertical-union-container">
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="card-title">
                      Jenna Marbles:
                    </div>
                    <p><a href="#">Die Beschwerdeführer können sich ab heute allein...</a></p>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="card-title">
                      Jenna Marbles:
                    </div>
                    <p><a href="#">Die Beschwerdeführer können sich ab heute allein...</a></p>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="card-title">
                      Jenna Marbles:
                    </div>
                    <p><a href="#">Die Beschwerdeführer können sich ab heute allein...</a></p>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="card-title">
                      Jenna Marbles:
                    </div>
                    <p><a href="#">Die Beschwerdeführer können sich ab heute allein...</a></p>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="card-title">
                      Jenna Marbles:
                    </div>
                    <p><a href="#">Die Beschwerdeführer können sich ab heute allein...</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col s12 m3 l3">
            
            <div class="card-panel no-bg widget-tags">
              <div class="card-header">
                <h6><a href="#">SCHLAGWORTE</a></h6>
              </div>
              <div class="card no-bg">
                <div class="card-content chips-container">
                  <a class="chip waves-effect waves-light" href="javascript:void(0)">VERSICHERUNG</a>
                  <a class="chip pink lighten-4 white-text waves-effect waves-light" href="javascript:void(0)">DEUTSCHE BAHN</a>
                  <a class="chip waves-effect waves-light" href="javascript:void(0)">FREENET</a>
                  <a class="chip pink accent-2 white-text waves-effect waves-light" href="javascript:void(0)">FLEXSTROM</a>
                  <a class="chip pink lighten-5 waves-effect waves-light" href="javascript:void(0)">E WIE EINFACH STROM & GAS</a>
                  <a class="chip pink accent-2 white-text waves-effect waves-light" href="javascript:void(0)">DPD</a>
                  <a class="chip waves-effect waves-light" href="javascript:void(0)">VERSICHERUNG</a>
                  <a class="chip waves-effect waves-light" href="javascript:void(0)">DPD</a>
                  <a class="chip waves-effect waves-light" href="javascript:void(0)">1x1</a>
                  <a class="chip waves-effect waves-light" href="javascript:void(0)">DPD</a>
                  <a class="chip pink accent-2 white-text waves-effect waves-light" href="javascript:void(0)">VERSICHERUNG</a>
                  <a class="chip pink lighten-4 white-text waves-effect waves-light" href="javascript:void(0)">FREENET</a>
                  <a class="chip pink lighten-5 white-text waves-effect waves-light" href="javascript:void(0)">FLEXSTROM</a>
                  <a class="chip waves-effect waves-light" href="javascript:void(0)">DEUTSCHE BAHN</a>
                  <a class="chip waves-effect waves-light" href="javascript:void(0)">DPD</a>
                  <a class="chip pink lighten-5 waves-effect waves-light" href="javascript:void(0)">E WIE EINFACH STROM & GAS</a>
                  <a class="chip pink accent-2 white-text waves-effect waves-light" href="javascript:void(0)">DPD</a>
                  <a class="chip pink accent-2 white-text waves-effect waves-light" href="javascript:void(0)">VERSICHERUNG</a>
                  <a class="chip pink lighten-4 white-text waves-effect waves-light" href="javascript:void(0)">FREENET</a>
                  <a class="chip pink lighten-5 waves-effect waves-light" href="javascript:void(0)">E WIE EINFACH STROM</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- end neueste beschwerden, die neuesten kommentare, schlagworte -->
    </div>
  </div>
  <!-- end wrapper -->


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/reclabox.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
