<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/materialdesignicons.min.css">
  <link href="css/reclabox-materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>
  <div class="wrapper grey lighten-5">
    
    <header class="site-header blue-grey">
      <div class="navbar">
        <nav class="" role="navigation">
          <div class="nav-wrapper">
            <ul>
              <li>
                <a href="#" data-activates="slide-out" class="button-collapse waves-effect">
                  <div class="arrow-hamburger">
                    <div class="line arrow_top"></div>
                    <div class="line arrow_line"></div>
                    <div class="line arrow_bottom"></div>
                  </div>
                </a>
              </li>
            </ul>
            <a id="logo-container" href="javascript:void(0)" class="brand-logo hide"><img src="img/img-site/logo-reclabox.jpg" alt="ReclaBox"></a>
            <div class="nav-header nav-theme hide">
              <ul id="navHeader" class="nav-menu hide-on-med-and-down flex-wrapper">
                <li><a class="active" href="javascript:void(0)">BESCHWERDE LESEN</a></li>
                <li><a href="javascript:void(0)">BESCHWERDE SCHREIBEN</a></li>
              </ul>
            </div>
            <ul class="right hide-on-med-and-down nav-right currently-logged">
              <li>
                <form id="search-form">
                  <div class="search-widget">
                    <button class="search-button"><i class="material-icons">search</i></button>
                    <button class="search-close-button"><i class="material-icons">close</i></button>
                    <input name="q" type="text" id="search-input" autocomplete="off">
                    <label for="search-input">Name, Firma oder Schlagwort</label>
                  </div>
                </form>
              </li>
              <li><a class="btn waves-effect waves-light" href="javascript:void(0)">login</a></li>
              <li><a class="btn waves-effect waves-light" href="javascript:void(0)">registrieren </a></li>
            </ul>
          </div>
        </nav>
      </div><!-- end navbar-fixed -->
      <div class="slide-nav-wrapper">
        <ul id="slide-out" class="side-nav">
          <li>
            <div class="userView">
              <div class="background">
                <img src="http://materializecss.com/images/office.jpg">
              </div>
              <a href="#!user"><img class="circle" src="http://materializecss.com/images/yuna.jpg"></a>
              <a href="#!name"><span class="white-text name">John Doe</span></a>
              <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
            </div>
          </li>
          <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
          <li><a href="#!">Second Link</a></li>
          <li><div class="divider"></div></li>
          <li><a class="subheader">Subheader</a></li>
          <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
        </ul>
      </div>
      <div class="container">
        <div class="row">
          <div class="brand-logo">
            <a id="logo-container" href="javascript:void(0)" class="brand-logo"><img src="img/img-site/ugh.png" alt="ReclaBox"></a>
          </div>
          <div class="navbar">
            <nav class="" role="navigation">
              <div class="nav-wrapper">
                <div class="nav-header nav-theme">
                  <ul id="navHeader" class="nav-menu hide-on-med-and-down flex-wrapper">
                    <li><a class="active" href="javascript:void(0)">BESCHWERDE LESEN</a></li>
                    <li><a href="javascript:void(0)">BESCHWERDE SCHREIBEN</a></li>
                    <!-- <li><a href="javascript:void(0)">BESCHWERDE SCHREIBEN</a></li> -->
                  </ul>
                </div>
              </div>
            </nav>
          </div><!-- end navbar-fixed -->
        </div>
      </div>
    </header>

    <div class="container-medium post">

      <div class="section"><!-- header-content page -->
        <div class="row">
          <div class="col s12">
            <header class="post-header">
              <div class="breadcrumb-wrapper">
                <a href="#!" class="breadcrumb">Startseite</a>
                <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                <a href="#!" class="breadcrumb">Reiseportale</a>
                <a href="#!" class="breadcrumb">Beschwerde</a>
                <span class="breadcrumb-last-child">Telefonservice ist eine absolute Katastrophe!</span>
              </div>
              <h2 class="title">Telefonservice ist eine absolute Katastrophe!</h2>
              <div class="company-info">
                <div class="company-name">
                  <i class="material-icons">business</i>
                  <a href="/test">OPODO DEUTSCHLAND</a>
                </div>
                <div class="company-place">
                  <i class="material-icons">room</i>
                  <span>GROSSBEEREN</span>
                </div>
              </div>
              <h3 class="title-sub">Extrem lange Wartezeiten, MitarbeiterInnen frech, unfreundlich und wenig hilfreich!</h3>
            </header>
          </div>
        </div>
      </div><!-- end header-content page -->

      <div class="section"><!-- content, sidebar, other components -->
        <div class="row">
          <div class="col s12 m8 l8"><!-- content -->
            <div class="card-panel no-bg">
              <div class="card-header">
                <div class="article-info table-wrapper clearfix">
                  <div class="author">
                    Geshrieben von
                    <a href="javascript:void(0)">Tomas Gibbson</a>
                  </div>
                  <div class="article-data">15 Views | 12.09.2016 | 14:53 Uhr</div>
                </div>
              </div>
              <div class="card">
                <div class="card-content">
                  <p>
                    <span class="first-letter">C</span> urabitur dictum sodales placerat. Nam vitae malesuada nisl. Sed posuere neque quam, convallis iaculis augue fermentum Morbi vitae erat neque. Vivamus ut auctor nunc.
                  </p>
                  <p>
                    Sed et eros nibh. Integer eu fringilla ante. Aenean nulla ligula, ornare eu elit at, feugiat bibendum leo. Nam iaculis, dolor id accumsan ornare, odio lacus v  enenatis erat, ac dapibus tortor ipsum porttitor tellus. Praesent non ex commodo, porta dui nec, varius risus. ] est laoreet sit amet. Nunc porta, neque non sollicitudin iaculis, metus nibh sollicitudin ligula, ut tincidunt risus enim vel augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos him
                  </p>
                  <div class="testimonials">
                    <p>Peter: Tag, Meike, wie geht’s? </p>
                    <p>Meike: Gut, danke, und dir? </p>
                    <p>Peter: Prima! Heute gehe ich ins Kino. Kommst du mit? </p>
                    <p>Meike: Was für ein Film ist das? </p>
                  </div>
                  <p>
                    Fusce tincidunt, tortor venenatis pretium pharetra, sapien dolor fringilla metus, eu mollis libero ex vel dui. Quisque hendrerit velit a tellus mollis consequat. Donec blandit quam ut lobortis commodo. 
                  </p>
                  
                  <div class="slider slider-post" data-indicators="true">
                    <ul class="slides">
                      <li><a href="#one!"><img src="http://lorempixel.com/800/400/food/1"></a></li>
                      <li><a href="#two!"><img src="http://lorempixel.com/800/400/food/2"></a></li>
                      <li><a href="#three!"><img src="http://lorempixel.com/800/400/food/3"></a></li>
                      <li><a href="#four!"><img src="http://lorempixel.com/800/400/food/4"></a></li>
                      <li><a href="#five!"><img src="img/img-slider/pexels-photo-131238.jpeg.jpg"></a></li>
                      <li><a href="#six!"><img src="img/img-slider/pexels-photo-144312.jpeg.jpg"></a></li>
                    </ul>        
                  </div>
                </div>
              </div>
            </div>

            <div class="card-panel no-bg">
              <div class="card">
                <div class="card-content company-commercial-data">
                  <p>KUNDENNUMMER: <a href="">194583498594859</a></p>
                  <p>REFERENZ-NR.: <a href="">BI-00192425</a></p>
                  <p>SENDUNGZ-NR.: <a href="">BI-00192425</a></p>
                </div>
              </div>
            </div>

            <div class="card-panel">
              <div class="card-header pink accent-2 white-text">
                <h6>Meine Forderung an extraenergie</h6>
              </div>
              <div class="card no-bg">
                <div class="card-content">
                  <p>Fusce tincidunt, tortor venenatis pretium pharetra, sapien dolor fringilla metus, eu mollis libero ex vel dui. Fusce tincidunt, tortor venenatis pretium pharetra, sapien dolor fringilla metus, eu mollis libero ex 
                  </p>
                </div>
              </div>
            </div>

            <div class="card-panel corporate-response">
              <div class="card-header blue-grey lighten-5">
                <h6>ANTWORT VON extraenergie</h6>
              </div>
              <div class="company-answer">
                <div class="company-icon">
                  <i class="material-icons">business</i>
                </div>
                <div class="company-info">
                  <a class="company-user" href="javascript:void(0)">ExtraEnergie GMBH</a>
                  <a class="company-post" href="javascript:void(0)">Kundenservice</a>
                  <a class="company-date" href="javascript:void(0)">
                    <i class="material-icons teal-text">event_available</i>
                    <span>nach 2 Monaten</span>
                  </a>
                </div>
              </div>
              <div class="card">
                <div class="card-content">
                  <p>Sehr geehrter Kunde, vielen Dank für Ihren Eintrag.

                    Einige unserer Tarife umfassen eine Preissicherheitsvariante wie eine Preisgarantie, eine Preisfixierung oder aber eine Energiepreisgarantie. Je nach vereinbartem Tarif gewähren unsere Preissicherheitsvarianten gewisse Preisbestandteile, wie Steuern, Abgaben sowie Netznutzungsentgelte während der vereinbarten Vertragslaufzeit. Die für Ihren Tarif gültigen Regeln entnehmen Sie bitte Ihren Vertragsunterlagen sowie Ihren AGBs.

                    Mit freundlichen Grüßen
                  </p>
                </div>
              </div>
            </div>

            <div class="card-panel no-bg corporate-response answered">
              <div class="card">
                <div class="card-content table-wrapper">
                  <div class="text">
                    <p>
                      Firmen-Antwort ausstehend seit <br>
                      <span>1</span> Jahr, <span>118</span> Tagen, <span>1</span> Stunde, <span>19</span> Minuten und <span>13</span> Sekunden
                    </p>
                    <p>
                      Richtet sich diese Beschwerde gegen Ihr Unternehmen?
                    </p>
                  </div>
                  <div class="btn-block">
                    <button class="btn center waves-effect waves-light" type="submit" name="action">Jetzt antoworten
                      <i class="material-icons left">arrow_back</i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-panel">
              <div class="card-header blue-grey lighten-5">
                <h6>BEWERTEN SIE DIE ANTWORT VON extraenergie</h6>
              </div>
              <div class="card no-bg">
                <div class="card-content center-align">
                  <div class="rating clearfix">
                    <a href="#5" title="sehr kundenfreundlich"><i class="mdi-star mdi"></i></a>
                    <a href="#4" title="kundenfreundlich"><i class="mdi-star mdi"></i></a>
                    <a href="#3" title="sehr serviceorientiert"><i class="mdi-star mdi"></i></a>
                    <a href="#2" title="serviceorientiert"><i class="mdi-star mdi"></i></a>
                    <a href="#1" title="wenig serviceorientiert"><i class="mdi-star mdi"></i></a>
                  </div>
                  <span class="rating-text">Give stars</span>
                </div>
              </div>
            </div>

            <div class="card-panel">
              <div class="card-header blue-grey lighten-5">
                <h6>BEWERTEN SIE DIE ANTWORT VON extraenergie</h6>
              </div>
              <div class="card no-bg">
                <div class="card-content center-align">
                  <div class="rating-result">
                    <div class="rating-current">
                      <span class="rating-num">3.6</span>
                      <div class="rating-stars">
                        <span><i class="mdi-star mdi"></i></span>
                        <span><i class="mdi-star mdi"></i></span>
                        <span><i class="mdi-star mdi"></i></span>
                        <span><i class="mdi-star mdi"></i></span>
                        <span><i class="mdi-star mdi"></i></span>
                      </div>
                    </div>
                    <div class="histo">
                      <div class="five histo-rate">
                        <span class="histo-star">
                          sehr kundenfreundlich&ensp;
                          <i class="mdi-star mdi"></i>&nbsp;5 </span>
                        <span class="bar-block">
                          <span id="bar-five" class="bar white-text">
                            <span>566,784</span>&nbsp;
                          </span> 
                        </span>
                      </div>
                       
                      <div class="four histo-rate">
                        <span class="histo-star">
                          kundenfreundlich&ensp;
                          <i class="mdi-star mdi"></i>&nbsp;4 </span>
                        <span class="bar-block">
                          <span id="bar-four" class="bar white-text">
                            <span>171,298</span>&nbsp;
                          </span> 
                        </span>
                      </div> 
                           
                      <div class="three histo-rate">
                        <span class="histo-star">
                          sehr serviceorientiert&ensp;
                          <i class="mdi-star mdi"></i>&nbsp;3 </span>
                        <span class="bar-block">
                          <span id="bar-three" class="bar white-text">
                            <span>94,940</span>&nbsp;
                          </span> 
                        </span>
                      </div>
                           
                      <div class="two histo-rate">
                        <span class="histo-star">
                          serviceorientiert&ensp;
                          <i class="mdi-star mdi"></i>&nbsp;2 </span>
                        <span class="bar-block">
                          <span id="bar-two" class="bar">
                            <span>44,525</span>&nbsp;
                          </span> 
                        </span>
                      </div>
                           
                      <div class="one histo-rate">
                        <span class="histo-star">
                          wenig serviceorientiert&ensp;
                          <i class="mdi-star mdi"></i>&nbsp;1 </span>
                        <span class="bar-block">
                          <span id="bar-one" class="bar">
                            <span>136,457</span>&nbsp;
                          </span> 
                        </span>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="card-panel card-comment-form no-bg">
              <div class="card-header blue-grey lighten-5">
                <h6>KOMMENTARE UND TRACKBAKS <span class="badge grey lighten-4">53</span></h6>
              </div>
              <div class="card no-bg">
                <div class="card-content">
                  <form class="form">
                    <div class="input-field col s12">
                      <textarea id="textarea1" class="materialize-textarea" ></textarea>
                      <label for="textarea1">Kommentieren Sie hier, bitte</label>
                    </div>

                    <div class="upload-files table-wrapper">
                      <div class="uploaded">
                        <div class="uploaded-item">
                          <img src="img/img-slider/1.jpeg" alt="">
                          <i class="material-icons highlight_off">highlight_off</i>
                          <div class="progress-wrapper">
                            <span class="progress-number">72%</span>
                            <div class="progress">
                                <div class="determinate" style="width: 70%"></div>
                            </div>
                          </div>
                        </div>
                        <div class="uploaded-item">
                          <img src="img/img-slider/2.jpeg" alt="">
                          <i class="material-icons highlight_off">highlight_off</i>
                        </div>
                        <div class="uploaded-item">
                          <img src="img/img-slider/3.jpeg" alt="">
                          <i class="material-icons highlight_off">highlight_off</i>
                        </div>
                      </div>
                      <div class="upload-files-input">
                        <div class="input-wrapper table-wrapper">
                          <div class="icon">
                            <i class="material-icons">file_upload</i>
                          </div>
                          <div class="text">
                            <p>drag here to upload photo or video files</p>
                            <p>JPG, PNG, GIF, MOV, MP4</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <button class="btn waves-effect waves-light" type="submit" name="action">Senden
                      <i class="material-icons left">send</i>
                    </button>
                  </form>
                </div>
              </div>
            </div>

            <section class="comments-wrapp">
              <div class="card-panel no-bg card-comment">
                <div class="card-header">
                  <div class="article-info table-wrapper clearfix">
                    <div class="author">
                      <a href="javascript:void(0)" title="James Khan">
                        <img class="circle responsive-img" src="img/img-site/author.png" alt="">&emsp;
                        <span>James Khan</span>
                      </a>
                      <i class="material-icons">event_note</i>&nbsp;
                      <span class="date-publication">Vor 1 Woche</span>
                    </div>
                    <div class="report-alert">
                      <a class="hide btn-floating icon-floating waves-effect waves-ripple" href="javascript:void(0)"><i class="material-icons">warning</i></a>
                    </div>
                  </div>
                </div>
                <div class="card teal">
                  <div class="card-content white-text">
                    <p>
                      Curabitur congue nunc nisi, vitae lacinia magna tempor vel. Phasellus venenatis, risus sit amet finibus facilisis, sem est lacinia dui, non molestie sapien tellus eu risus. Maecenas consectetur sapien eget purus vehicula, in pharetra felis sagittis. Aliquam erat volutpat.
                    </p>
                  </div>
                  <div class="card-action white-text teal darken-1">
                    <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5">
                      <img src="img/icon-svg/geloste.svg" width="20px" height="20px" alt="">
                    </a>
                    <a href="javascript:void(0)" title="">Die Beschwerde ist gelöst</a>
                  </div>
                </div>
              </div>

              <div class="card-panel no-bg card-comment">
                <div class="card-header">
                  <div class="article-info table-wrapper clearfix">
                    <div class="author">
                      <a href="javascript:void(0)" title="James Khan">
                        <img class="circle responsive-img" src="img/img-site/author.png" alt="">&emsp;
                        <span>James Khan</span>
                      </a>
                      <i class="material-icons">event_note</i>&nbsp;
                      <span class="date-publication">Vor 1 Woche</span>
                    </div>
                    <div class="report-alert">
                      <a class="hide btn-floating icon-floating waves-effect waves-ripple" href="javascript:void(0)"><i class="material-icons">warning</i></a>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-content">
                    <p>
                      Curabitur congue nunc nisi, vitae lacinia magna tempor vel. 
                    </p>
                  </div>
                </div>
              </div>

              <div class="card-panel no-bg card-comment">
                <div class="card-header">
                  <div class="article-info  table-wrapper clearfix">
                    <div class="author">
                      <a href="javascript:void(0)" title="James Khan">
                        <img class="circle responsive-img" src="img/img-site/author.png" alt="">&emsp;
                        <span>James Khan</span>
                      </a>
                      <i class="material-icons">event_note</i>&nbsp;
                      <span class="date-publication">Vor 1 Woche</span>
                    </div>
                    <div class="report-alert">
                      <a class="hide btn-floating icon-floating waves-effect waves-ripple" href="javascript:void(0)"><i class="material-icons">warning</i></a>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-content">
                    <p>
                      Curabitur congue nunc nisi, vitae lacinia magna tempor vel. Phasellus venenatis, risus sit amet finibus facilisis, sem est lacinia dui, non molestie sapien tellus eu risus. Maecenas consectetur sapien eget purus vehicula, in pharetra felis sagittis. Aliquam erat volutpat.
                    </p>
                  </div>
                </div>
              </div>

              <div class="card-panel no-bg card-comment">
                <div class="card-header">
                  <div class="article-info table-wrapper  clearfix">
                    <div class="author">
                      <a href="javascript:void(0)" title="James Khan">
                        <img class="circle responsive-img" src="img/img-site/author.png" alt="">&emsp;
                        <span>James Khan</span>
                      </a>
                      <i class="material-icons">event_note</i>&nbsp;
                      <span class="date-publication">Vor 1 Woche</span>
                    </div>
                    <div class="report-alert">
                      <a class="hide btn-floating icon-floating waves-effect waves-ripple" href="javascript:void(0)"><i class="material-icons">warning</i></a>
                    </div>
                  </div>
                </div>
                <div class="card pink lighten-3">
                  <div class="card-content white-text">
                    <p>
                      Curabitur congue nunc nisi, vitae lacinia magna tempor vel. Phasellus venenatis, risus sit amet finibus facilisis, sem est lacinia dui, non molestie sapien tellus eu risus. Maecenas consectetur sapien eget purus vehicula, in pharetra felis sagittis. Aliquam erat volutpat.
                    </p>
                  </div>
                  <div class="card-action white-text pink lighten-2">
                    <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5">
                      <img src="img/icon-svg/noch nicht geloste.svg" width="20px" height="20px" alt="">
                    </a>
                    <a href="javascript:void(0)" title="">Die Beschwerde ist gelöst</a>
                  </div>
                </div>
              </div>

              <div class="card-panel no-bg card-comment">
                <div class="card-header">
                  <div class="article-info table-wrapper clearfix">
                    <div class="author">
                      <a href="javascript:void(0)" title="James Khan">
                        <img class="circle responsive-img" src="img/img-site/author.png" alt="">&emsp;
                        <span>James Khan</span>
                      </a>
                      <i class="material-icons">event_note</i>&nbsp;
                      <span class="date-publication">Vor 1 Woche</span>
                    </div>
                    <div class="report-alert">
                      <a class="hide btn-floating icon-floating waves-effect waves-ripple" href="javascript:void(0)"><i class="material-icons">warning</i></a>
                    </div>
                  </div>
                </div>
                <div class="card pink">
                  <div class="card-content white-text">
                    <p>
                      Curabitur congue nunc nisi, vitae lacinia magna tempor vel. Phasellus venenatis, risus sit amet finibus facilisis, sem est lacinia dui, non molestie sapien tellus eu risus. Maecenas consectetur sapien eget purus vehicula, in pharetra felis sagittis. Aliquam erat volutpat.
                    </p>
                    <div class="uploaded">
                      <div class="uploaded-item">
                        <img src="img/img-slider/1.jpeg" alt="">
                        <i class="material-icons highlight_off">highlight_off</i>
                      </div>
                      <div class="uploaded-item">
                        <img src="img/img-slider/2.jpeg" alt="">
                        <i class="material-icons highlight_off">highlight_off</i>
                      </div>
                      <div class="uploaded-item">
                        <img src="img/img-slider/3.jpeg" alt="">
                        <i class="material-icons highlight_off">highlight_off</i>
                      </div>
                    </div>
                    <p>Maecenas consectetur sapien eget purus vehicula, in pharetra felis sagittis. Aliquam erat volutpat.</p>
                  </div>
                  <div class="card-action white-text pink darken-1">
                    <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5">
                      <img src="img/icon-svg/endgiltig nicht.svg" width="20px" height="20px" alt="">
                    </a>
                    <a href="javascript:void(0)" title="">Die Beschwerde ist gelöst</a>
                  </div>
                </div>
              </div>

              <div class="card-panel no-bg card-comment">
                <div class="card-header">
                  <div class="article-info table-wrapper clearfix">
                    <div class="author">
                      <a href="javascript:void(0)" title="James Khan">
                        <img class="circle responsive-img" src="img/img-site/author.png" alt="">&emsp;
                        <span>James Khan</span>
                      </a>
                      <i class="material-icons">event_note</i>&nbsp;
                      <span class="date-publication">Vor 1 Woche</span>
                    </div>
                    <div class="report-alert">
                      <a class="hide btn-floating icon-floating waves-effect waves-ripple" href="javascript:void(0)"><i class="material-icons">warning</i></a>
                    </div>
                  </div>
                </div>
                <div class="card cyan lighten-1">
                  <div class="card-content white-text">
                    <p>
                      Curabitur congue nunc nisi, vitae lacinia magna tempor vel. Phasellus venenatis, risus sit amet finibus facilisis, sem est lacinia dui, non molestie sapien tellus eu risus. Maecenas consectetur sapien eget purus vehicula, in pharetra felis sagittis. Aliquam erat volutpat.
                    </p>
                  </div>
                  <div class="card-action white-text cyan accent-4">
                    <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5">
                      <img src="img/icon-svg/beantwortete.svg" width="20px" height="20px" alt="">
                    </a>
                    <a href="javascript:void(0)" title="">Die Beschwerde ist gelöst</a>
                  </div>
                </div>
              </div>
            </section>
            
          </div><!-- end content -->

          <div class="col s12 m4 l4"><!-- sidebar -->
            <div class="card-panel no-bg widget-sidebar">
              <div class="card-header">
                <div class="links">
                  <a class="btn-floating icon-floating waves-effect" href="javascript:void(0)"><i class="mdi mdi-file-pdf"></i></a>
                  <a class="btn-floating icon-floating waves-effect" href="javascript:void(0)"><i class="material-icons">print</i>
                  </a>
                  <a class="btn-floating icon-floating waves-effect" href="javascript:void(0)"><i class="material-icons">warning</i></a>
                  <a class="btn-floating icon-floating waves-effect" href="javascript:void(0)"><i class="material-icons">turned_in_not</i></a>
                </div>
              </div>
              <div class="card">
                <div class="card-image">
                  <img src="img/img-site/jetzt-anschliessen.jpg" title="">
                </div>
                <div class="card-content">
                  <p>
                    Möchten Sie sich dieser Beschwerde anschließen?
                  </p>
                  <p>
                    Es haben sich anbereits 4 ReclaBoxler angeschlossen.
                  </p>
                  <button class="btn center waves-effect waves-light" type="submit" name="action">Jetzt anschließen
                    <i class="mdi mdi-bullhorn left"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="card-panel no-bg widget-sidebar">
              <div class="card-header blue-grey lighten-5">
                <h6>KARTE ZUR BESCHWERDE</h6>
              </div>
              <div class="card no-bg">
                <div class="card-content">
                  <img src="img/img-site/frankfurt.jpg" alt="">
                </div>
              </div>
            </div>

            <div class="card-panel widget-sidebar widget-links">
              <div class="card-header blue-grey lighten-5">
                <h6>MEHR üBER...</h6>
              </div>
              <div class="card ">
                <div class="card-content">
                  <a href="javascript:void(0)">Widerrufstrecht</a>
                  <a href="javascript:void(0)">Finanzen und Recht</a>
                  <a href="javascript:void(0)">Freizeit und Sport</a>
                  <a href="javascript:void(0)">Handel</a>
                  <a href="javascript:void(0)">Reisebüros</a>
                </div>
              </div>
            </div>
          </div><!-- end sidebar -->
        </div>
      </div><!-- End ontent, sidebar, other components -->

    </div>
  </div>
  <!-- end wrapper -->


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/reclabox-materialize.js"></script>
  <script src="js/slick/slick.js" type="text/javascript" charset="utf-8"></script>

  <script src="js/init.js"></script>

  


  </body>
</html>
