<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/reclabox-materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>
  <div class="wrapper grey lighten-5">
    
    <div class="navbar-fixed">
      <nav class="white" role="navigation">
        <div class="nav-wrapper container">
          <ul class="left hide-on-med-and-down">
            <li><a class="waves-effect" href="#"><i class="material-icons">menu</i></a></li>
          </ul>
          <a id="logo-container" href="#" class="brand-logo">Logo</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#">Navbar Link</a></li>
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    </div><!-- end navbar-fixed -->

    <div class="container">
      
      <div class="section"><!-- nav-top -->
        <div class="row">
          <div class="col s12">
            <nav class="nav-top">
              <div class="nav-wrapper">
                <ul id="navTop">
                  <li><a class="active" href="#">neueste beschwerden</a></li>
                  <li><a href="#">kategorien</a></li>
                  <li><a href="#">neueste geloste beschwerden</a></li>
                  <li><a href="#">neueste firmenantworten</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div><!-- end nav-top -->

      <div class="section"><!-- Hot story -->
        <div class="row">
          <div class="col s12 m8 l8">
            <div class="card hot-story">
              <div class="card-content">
                <span class="hot-story-text">hot beschwerden</span>
                <h2 class="card-title"><a href="#">Lieferung angeblich zugestellt. Jedoch Liefe-rung nie erhalten.</a></h2>
                <div class="card-action">
                  <a href="#"><i class="material-icons">visibility</i>&ensp;536</a>
                  <a href="#"><i class="material-icons">chat</i>&ensp;12</a>
                  <a href="#"><i class="material-icons">share</i>&ensp;7</a>
                </div>
                <p>Sehr geehrte Damen und Herren, meine Lieferung wurde angeblich zugestellt. Jedoch habe ich die Ware niemals erhalten. Es lag auch kein Zettel im Briefkasten, dass das die Abgabe irgendwo anders erfolgt wäre. Beim Kundenservice wu`rde ich auch...</p>
              </div>
              
            </div>
          </div>
          <div class="col s12 m4 l4">
            <h6 class="header"><a href="#">NEUESTEN FIRMENANTWORTEN</a></h6>
            <div class="card-panel vertical-union">
              <div class="card">
                <div class="card-content">
                  <div class="card-title blue-grey-text">
                    <div class="card-title-company">
                      <a href="#">von Wolf GmbH</a> <i class="material-icons">event_available</i>
                    </div>
                    <div class="card-title-description">
                      <a href="#">Probleme mit Gasbrennwerttherme Wolf CGB20</a>
                    </div>
                  </div>
                  <p>Sehr geehrter Hr. Hülswitt die Gewährleistungszeit auf Ihre Gasbrennwerttherme beträgt 2Jahre. Eine </p>
                </div>
              </div>
              <div class="divider"></div>
              <div class="card">
                <div class="card-content">
                  <div class="card-title blue-grey-text">
                    <div class="card-title-company">
                      <a href="#">von Hermes GmbH</a>
                    </div>
                    <div class="card-title-description">
                      <a href="#">Probleme mit Gasbrennwerttherme Wolf CGB20</a>
                    </div>
                  </div>
                  <p>Sehr geehrter Hr. Hülswitt die Gewährleistungszeit auf Ihre Gasbrennwerttherme beträgt 2Jahre. Eine </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- End Hot story -->

      <div class="section"><!-- Top beschwerden -->
        <h6 class="header"><a href="#">TOP BESCHWERDEN</a></h6>
        <div class="row regular1">

          <div class="col s12 m4 l4">
            <div class="card card-carousel">
              <div class="card-content">
                <div class="card-title">
                  <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><img src="img/icon-svg/noch nicht geloste 2.svg" width="20px" height="20px" alt=""></a>
                  <a href="#">Warte seit 5 Monaten auf die Rückerstattung!</a>
                </div>
                <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                </p>
                <div class="card-action">
                  <a href="#"><i class="material-icons">visibility</i>&ensp;536</a>
                  <a href="#"><i class="material-icons">chat</i>&ensp;12</a>
                  <a href="#"><i class="material-icons">share</i>&ensp;7</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col s12 m4 l4">
            <div class="card card-carousel">
              <div class="card-content">
                <div class="card-title">
                  <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><img src="img/icon-svg/noch nicht geloste 2.svg" width="20px" height="20px" alt=""></a>
                  <a href="#">Warte seit 5 Monaten auf die Rückerstattung!</a>
                </div>
                <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                </p>
                <div class="card-action">
                  <a href="#"><i class="material-icons">visibility</i>&ensp;536</a>
                  <a href="#"><i class="material-icons">chat</i>&ensp;12</a>
                  <a href="#"><i class="material-icons">share</i>&ensp;7</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col s12 m4 l4">
            <div class="card card-carousel">
              <div class="card-content">
                <div class="card-title blue-grey-text">
                  <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><img src="img/icon-svg/noch nicht geloste 2.svg" width="20px" height="20px" alt=""></a>
                  <a href="#">Warte seit 5 Monaten auf die Rückerstattung!</a>
                </div>
                <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                </p>
                <div class="card-action">
                  <a href="#"><i class="material-icons">visibility</i>&ensp;536</a>
                  <a href="#"><i class="material-icons">chat</i>&ensp;12</a>
                  <a href="#"><i class="material-icons">share</i>&ensp;7</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col s12 m4 l4">
            <div class="card card-carousel">
              <div class="card-content">
                <div class="card-title blue-grey-text">
                  <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><img src="img/icon-svg/noch nicht geloste 2.svg" width="20px" height="20px" alt=""></a>
                  <a href="#">Warte seit 5 Monaten auf die Rückerstattung!</a>
                </div>
                <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                </p>
                <div class="card-action">
                  <a href="#"><i class="material-icons">visibility</i>&ensp;536</a>
                  <a href="#"><i class="material-icons">chat</i>&ensp;12</a>
                  <a href="#"><i class="material-icons">share</i>&ensp;7</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- End Top beschwerden -->

      <div class="section"><!-- neueste beschwerden -->
        <h6 class="header"><a href="#">NEUESTE BESCHWERDEN</a></h6>
        <div class="row regular2">

          <div class="col s12 m6 l6">
            <div class="card-panel vertical-union card-carousel">

              <div class="card">
                <div class="card-content">
                <div class="card-title">
                  <a class="tooltipped" href="javascript:void(0)" data-tooltip="Guthaben anfordern nicht möglich"><img src="img/icon-svg/geloste 2.svg" width="20px" height="20px" alt=""></a>
                  <a href="#">Guthaben anfordern nicht möglich</a>
                </div>
                  <p>Nachdem ich an einem Tag 7 (in Worten: sieben) Briefe von Care-Energy bekommen habe, steht nun fest, dass ich einiges an Guthaben zur Verfügung habe. Nach</p>
                </div>
                <div class="card-action">
                  <a href="#"><i class="material-icons">visibility</i>&ensp;536</a>
                  <a href="#"><i class="material-icons">chat</i>&ensp;12</a>
                  <a href="#"><i class="material-icons">share</i>&ensp;7</a>
                </div>
              </div>
              <div class="divider"></div>
              <div class="card">
                <div class="card-content">
                <div class="card-title">
                  <a class="tooltipped" href="javascript:void(0)" data-tooltip="Keine Rückerstattung"><img src="img/icon-svg/noch nicht geloste 2.svg" width="20px" height="20px" alt=""></a>
                  <a href="#">Keine Rückerstattung von OutdoorTrecking2010</a>
                </div>
                  <p>Bestellte Ware (circa 45 Euro) war zum gewünschten Zeitpunkt nicht lieferbar. Da ich keine Alternativbestellung wünschte, forderte ich umgehend eine Rückerstat-</p>
                </div>
                <div class="card-action">
                  <a href="#"><i class="material-icons">visibility</i>&ensp;536</a>
                  <a href="#"><i class="material-icons">chat</i>&ensp;12</a>
                  <a href="#"><i class="material-icons">share</i>&ensp;7</a>
                </div>
              </div>
              <div class="divider"></div>
              <div class="card">
                <div class="card-content">
                <div class="card-title">
                  <a class="tooltipped" href="javascript:void(0)" data-tooltip="Zusatzleistung"><img src="img/icon-svg/noch nicht geloste 2.svg" width="20px" height="20px" alt=""></a>
                  <a href="#">Zusatzleistung doppelt bezahlt und nicht ersetzt</a>
                </div>
                  <p>Nach gebuchtem Flug (Februar 2016) und bezahlter Zusatzleistung (Koffer zusätzlich) musste ich für das Gepäck zweimal zahlen, da bei der Fluggesellschaft kein</p>
                </div>
                <div class="card-action">
                  <a href="#"><i class="material-icons">visibility</i>&ensp;536</a>
                  <a href="#"><i class="material-icons">chat</i>&ensp;12</a>
                  <a href="#"><i class="material-icons">share</i>&ensp;7</a>
                </div>
              </div>

            </div>
          </div>

          <div class="col s12 m6 l6">
            <div class="card-panel vertical-union card-carousel">

              <div class="card">
                <div class="card-content">
                <div class="card-title">
                  <a class="tooltipped" href="javascript:void(0)" data-tooltip="Zusatzleistung"><img src="img/icon-svg/noch nicht geloste 2.svg" width="20px" height="20px" alt=""></a>
                  <a href="#">Guthaben anfordern nicht möglich</a>
                </div>
                  <p>Nachdem ich an einem Tag 7 (in Worten: sieben) Briefe von Care-Energy bekommen habe, steht nun fest, dass ich einiges an Guthaben zur Verfügung habe. Nach</p>
                </div>
                <div class="card-action">
                  <a href="#"><i class="material-icons">visibility</i>&ensp;536</a>
                  <a href="#"><i class="material-icons">chat</i>&ensp;12</a>
                  <a href="#"><i class="material-icons">share</i>&ensp;7</a>
                </div>
              </div>
              <div class="divider"></div>
              <div class="card">
                <div class="card-content">
                <div class="card-title">
                  <a class="tooltipped" href="javascript:void(0)" data-tooltip="Zusatzleistung"><img src="img/icon-svg/noch nicht geloste 2.svg" width="20px" height="20px" alt=""></a>
                  <a href="#">Keine Rückerstattung von OutdoorTrecking2010</a>
                </div>
                  <p>Bestellte Ware (circa 45 Euro) war zum gewünschten Zeitpunkt nicht lieferbar. Da ich keine Alternativbestellung wünschte, forderte ich umgehend eine Rückerstat-</p>
                </div>
                <div class="card-action">
                  <a href="#"><i class="material-icons">visibility</i>&ensp;536</a>
                  <a href="#"><i class="material-icons">chat</i>&ensp;12</a>
                  <a href="#"><i class="material-icons">share</i>&ensp;7</a>
                </div>
              </div>
              <div class="divider"></div>
              <div class="card">
                <div class="card-content">
                <div class="card-title">
                  <a class="tooltipped" href="javascript:void(0)" data-tooltip="Zusatzleistung"><img src="img/icon-svg/noch nicht geloste 2.svg" width="20px" height="20px" alt=""></a>
                  <a href="#">Zusatzleistung doppelt bezahlt und nicht ersetzt</a>
                </div>
                  <p>Nach gebuchtem Flug (Februar 2016) und bezahlter Zusatzleistung (Koffer zusätzlich) musste ich für das Gepäck zweimal zahlen, da bei der Fluggesellschaft kein</p>
                </div>
                <div class="card-action">
                  <a href="#"><i class="material-icons">visibility</i>&ensp;536</a>
                  <a href="#"><i class="material-icons">chat</i>&ensp;12</a>
                  <a href="#"><i class="material-icons">share</i>&ensp;7</a>
                </div>
              </div>

            </div>
          </div>

          <div class="col s12 m6 l6">
            <div class="card-panel vertical-union card-carousel">

              <div class="card">
                <div class="card-content">
                <div class="card-title">
                  <a class="tooltipped" href="javascript:void(0)" data-tooltip="Zusatzleistung"><img src="img/icon-svg/noch nicht geloste 2.svg" width="20px" height="20px" alt=""></a>
                  <a href="#">Guthaben anfordern nicht möglich</a>
                </div>
                  <p>Nachdem ich an einem Tag 7 (in Worten: sieben) Briefe von Care-Energy bekommen habe, steht nun fest, dass ich einiges an Guthaben zur Verfügung habe. Nach</p>
                </div>
                <div class="card-action">
                  <a href="#"><i class="material-icons">visibility</i>&ensp;536</a>
                  <a href="#"><i class="material-icons">chat</i>&ensp;12</a>
                  <a href="#"><i class="material-icons">share</i>&ensp;7</a>
                </div>
              </div>
              <div class="divider"></div>
              <div class="card">
                <div class="card-content">
                <div class="card-title">
                  <a class="tooltipped" href="javascript:void(0)" data-tooltip="Zusatzleistung"><img src="img/icon-svg/noch nicht geloste 2.svg" width="20px" height="20px" alt=""></a>
                  <a href="#">Keine Rückerstattung von OutdoorTrecking2010</a>
                </div>
                  <p>Bestellte Ware (circa 45 Euro) war zum gewünschten Zeitpunkt nicht lieferbar. Da ich keine Alternativbestellung wünschte, forderte ich umgehend eine Rückerstat-</p>
                </div>
                <div class="card-action">
                  <a href="#"><i class="material-icons">visibility</i>&ensp;536</a>
                  <a href="#"><i class="material-icons">chat</i>&ensp;12</a>
                  <a href="#"><i class="material-icons">share</i>&ensp;7</a>
                </div>
              </div>
              <div class="divider"></div>
              <div class="card">
                <div class="card-content">
                <div class="card-title">
                 <a class="tooltipped" href="javascript:void(0)" data-tooltip="Zusatzleistung"><img src="img/icon-svg/noch nicht geloste 2.svg" width="20px" height="20px" alt=""></a>
                  <a href="#">Zusatzleistung doppelt bezahlt und nicht ersetzt</a>
                </div>
                  <p>Nach gebuchtem Flug (Februar 2016) und bezahlter Zusatzleistung (Koffer zusätzlich) musste ich für das Gepäck zweimal zahlen, da bei der Fluggesellschaft kein</p>
                </div>
                <div class="card-action">
                  <a href="#"><i class="material-icons">visibility</i>&ensp;536</a>
                  <a href="#"><i class="material-icons">chat</i>&ensp;12</a>
                  <a href="#"><i class="material-icons">share</i>&ensp;7</a>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div><!-- end neueste beschwerden -->

      <div class="section"><!-- neueste beschwerden, die neuesten kommentare, schlagworte -->
        <div class="row">
          <div class="col s12 m5 l5">
            <div class="header-wrapper">
              <h6 class="header"><a href="#">NEU BEI RECLABOX</a></h6>
            </div>
            <div class="card-panel vertical-union widget">
              <div class="card">
                <div class="card-content">
                  <div class="card-title">
                    <a href="#">ReclaBox Firmen-Mitgliedschaft:</a>
                  </div>
                  <p>Seit geraumer Zeit gibt es für Firmen die Möglichkeit... <a href="#">mehr</a></p>
                </div>
              </div>
              <div class="divider"></div>
              <div class="card">
                <div class="card-content">
                  <div class="card-title">
                    <a href="#">Kommentieren bei ReclaBox:</a>
                  </div>
                  <p>Die Beschwerdeführer können sich ab heute allein... <a href="#">mehr</a></p>
                </div>
              </div>
              <div class="divider"></div>
              <div class="card">
                <div class="card-content">
                  <div class="card-title">
                    <a href="#">Beschwerde lösen</a>
                  </div>
                  <p>Eingeloggte Nutzer können selbst ihre Beschwerden... <a href="#">mehr</a></p>
                </div>
              </div>
              <div class="divider"></div>
              <div class="card">
                <div class="card-content">
                  <div class="card-title">
                    <a href="#">Beschwerde lösen</a>
                  </div>
                  <p>Eingeloggte Nutzer können selbst ihre Beschwerden... <a href="#">mehr</a></p>
                </div>
              </div>
              <div class="divider"></div>
              <div class="card">
                <div class="card-content">
                  <div class="card-title">
                    <a href="#">Beschwerde als pdf:</a>
                  </div>
                  <p>Jede Beschwerde kann als pdf gespeichert werden und... </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col s12 m4 l4">
            <h6 class="header"><a href="#">DIE NEUESTEN KOMMENTARE</a></h6>
            <div class="card-panel vertical-union widget">
              <div class="card">
                <div class="card-content">
                  <div class="card-title">
                    Jenna Marbles:
                  </div>
                  <p>Fehlerhaft ist die Bürste nic... <a href="#">mehr</a></p>
                </div>
              </div>
              <div class="divider"></div>
              <div class="card">
                <div class="card-content">
                  <div class="card-title">
                    Jenna Marbles:
                  </div>
                  <p>Fehlerhaft ist die Bürste nic... <a href="#">mehr</a></p>
                </div>
              </div>
              <div class="divider"></div>
              <div class="card">
                <div class="card-content">
                  <div class="card-title">
                    Jenna Marbles:
                  </div>
                  <p>Fehlerhaft ist die Bürste nic... <a href="#">mehr</a></p>
                </div>
              </div>
              <div class="divider"></div>
              <div class="card">
                <div class="card-content">
                  <div class="card-title">
                    Jenna Marbles:
                  </div>
                  <p>Fehlerhaft ist die Bürste nic... <a href="#">mehr</a></p>
                </div>
              </div>
              <div class="divider"></div>
              <div class="card">
                <div class="card-content">
                  <div class="card-title">
                    Jenna Marbles:
                  </div>
                  <p>Fehlerhaft ist die Bürste nic... <a href="#">mehr</a></p>
                </div>
              </div>
            </div>
          </div>

          <div class="col s12 m3 l3">
            <h6 class="header"><a href="#">SCHLAGWORTE</a></h6>
            <div class="card-panel widget-tags">
                <a class="chip waves-effect waves-light" href="javascript:void(0)">VERSICHERUNG</a>
                <a class="chip pink lighten-4 white-text waves-effect waves-light" href="javascript:void(0)">DEUTSCHE BAHN</a>
                <a class="chip waves-effect waves-light" href="javascript:void(0)">FREENET</a>
                <a class="chip pink accent-2 white-text waves-effect waves-light" href="javascript:void(0)">FLEXSTROM</a>
                <a class="chip pink lighten-5 waves-effect waves-light" href="javascript:void(0)">E WIE EINFACH STROM & GAS</a>
                <a class="chip pink accent-2 white-text waves-effect waves-light" href="javascript:void(0)">DPD</a>
                <a class="chip waves-effect waves-light" href="javascript:void(0)">VERSICHERUNG</a>
                <a class="chip waves-effect waves-light" href="javascript:void(0)">DPD</a>
                <a class="chip waves-effect waves-light" href="javascript:void(0)">1x1</a>
                <a class="chip waves-effect waves-light" href="javascript:void(0)">DPD</a>
                <a class="chip pink accent-2 white-text waves-effect waves-light" href="javascript:void(0)">VERSICHERUNG</a>
                <a class="chip pink lighten-4 white-text waves-effect waves-light" href="javascript:void(0)">FREENET</a>
                <a class="chip pink lighten-5 white-text waves-effect waves-light" href="javascript:void(0)">FLEXSTROM</a>
                <a class="chip waves-effect waves-light" href="javascript:void(0)">DEUTSCHE BAHN</a>
                <a class="chip waves-effect waves-light" href="javascript:void(0)">DPD</a>
                <a class="chip pink lighten-5 waves-effect waves-light" href="javascript:void(0)">E WIE EINFACH STROM & GAS</a>
                <a class="chip pink accent-2 white-text waves-effect waves-light" href="javascript:void(0)">DPD</a>
            </div>
          </div>
        </div>
      </div><!-- end neueste beschwerden, die neuesten kommentare, schlagworte -->
    </div>
  </div>
  <!-- end wrapper -->


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/reclabox-materialize.js"></script>
  <script src="js/slick/slick.js" type="text/javascript" charset="utf-8"></script>

  <script src="js/init.js"></script>

  


  </body>
</html>
