<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/materialdesignicons.min.css">
  <link href="css/reclabox-materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>
  <div class="wrapper grey lighten-5">
    <header class="site-header blue-grey">
      <div class="navbar">
        <nav class="" role="navigation">
          <div class="nav-wrapper">
            <ul>
              <li>
                <a href="#" data-activates="slide-out" class="button-collapse waves-effect">
                  <div class="arrow-hamburger">
                    <div class="line arrow_top"></div>
                    <div class="line arrow_line"></div>
                    <div class="line arrow_bottom"></div>
                  </div>
                </a>
              </li>
            </ul>
            <a id="logo-container" href="javascript:void(0)" class="brand-logo hide"><img src="img/img-site/logo-reclabox.jpg" alt="ReclaBox"></a>
            <div class="nav-header nav-theme hide">
              <ul id="navHeader" class="nav-menu hide-on-med-and-down flex-wrapper">
                <li><a class="active" href="javascript:void(0)">BESCHWERDE LESEN</a></li>
                <li><a href="javascript:void(0)">BESCHWERDE SCHREIBEN</a></li>
              </ul>
            </div>
            <ul class="right hide-on-med-and-down nav-right currently-logged">
              <li>
                <form id="search-form">
                  <div class="search-widget">
                    <button class="search-button"><i class="material-icons small">search</i></button>
                    <button class="search-close-button"><i class="material-icons small">close</i></button>
                    <input name="q" type="text" id="search-input" autocomplete="off"/>
                    <label for="search-input">Name, Firma oder Schlagwort</label>
                  </div>
                </form>
              </li>
              <li>
                <a class="btn waves-effect waves-light" href="#emailSubscribe">subscribe</a>
              </li>
              <li>
                <a class="btn waves-effect waves-light" href="#emailUnsubscribe">unsubscribe</a>
              </li>
              <li>
                <a class="btn waves-effect waves-light" href="#usersLogin">login/regisrieren</a>
              </li>
              <!-- <li><a class="btn waves-effect waves-light" href="#usersRegister">registrieren </a></li> -->
            </ul>
          </div>
        </nav>
      </div><!-- end navbar-fixed -->

      <div class="container"><!-- logo and nav-menu -->
        <div class="row">
          <div class="brand-logo-wrapper">
            <a id="logo-container" href="javascript:void(0)" class="brand-logo hide"><img src="img/icon-svg/logo.svg" alt="ReclaBox"></a>
          </div>
          <div class="navbar navbar-bootom">
            <nav class="" role="navigation">
              <div class="nav-wrapper">
                <div class="nav-header nav-theme">
                  <ul id="navHeader" class="nav-menu hide-on-med-and-down flex-wrapper">
                    <li><a class="active" href="javascript:void(0)">BESCHWERDE LESEN</a></li>
                    <li><a href="javascript:void(0)">BESCHWERDE SCHREIBEN</a></li>
                    <!-- <li><a href="javascript:void(0)">BESCHWERDE SCHREIBEN</a></li> -->
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div><!-- logo and nav-menu -->

      <!-- components dropdown -->
      <div class="slide-nav-wrapper"><!-- heade left nav -->
        <ul id="slide-out" class="side-nav slide-nav">
          <li><a href="beschwerde-lesen.html">beschwerde lesen</a></li>
          <li><a href="beschwerde.html">beschwerde</a></li>
          <li><a href="categories.html">categories</a></li>
          <li><a href="company-account.html">company account</a></li>
          <li><a href="company-account-profil.html">company account profil</a></li>
          <li><a href="company-account-reclaRank-seal.html">company account reclaRank seal</a></li>
          <li><a href="company-account-links.html">company account links</a></li>
          <li><a href="company-account-automatic.html">company account automatic</a></li>
          <li><a href="company-public.html">company public</a></li>
          <li><a href="company-rechnungen.html">company rechnungen</a></li>
          <li><a href="edit-email-sending.html">edit email sending</a></li>
          <li><a href="firmen.html">firmen</a></li>
          <li><a href="list-articles.html">list articles</a></li>
          <li><a href="list-emails.html">list emails</a></li>
          <li><a href="request-firm-management.html">request firm management</a></li>
          <li><a href="schreiben.html">schreiben</a></li>
          <li><a href="vorschau.html">vorschau</a></li>
          <li><a href="search.html">search</a></li>
          <li><a href="404.html">404</a></li>
          <li><a href="email-confirm.html">email confirm</a></li>
        </ul>
      </div><!-- end heade left nav -->

      <div class="modal-container"><!-- header modal user forms -->
        <div id="usersLogin" class="modal user-form"><!-- users login -->
          <div class="modal-content">
            <div class="card-panel no-bg">
              <div class="card-header white tabs-wrapper">
                <ul class="tabs tabs-fixed-width">
                  <li class="tab"><a class="active" href="#userLoginTabContent">Login</a></li>
                  <li class="tab"><a class="" href="#userRegisterTabContent">Register</a></li>
                </ul>
              </div>
              <div id="userLoginTabContent" class="card no-bg"><!-- forms login and passwrd recovery -->
                <div class="card-image grey lighten-5">
                  <a class="icon-floating btn u-f-btn-prev hide" href="javascript:void(0)">
                    <i class="mdi mdi-arrow-left"></i>Back
                  </a>
                  <img src="img/icon-svg/auth-graphics.svg" title="">
                </div>
                <div id="formLogin" class="card-content form-login">
                  <form class="" action="#">
                    <div class="input-field">
                      <input id="emailLogin" type="email" class="validate">
                      <label for="emailLogin">Email Adresse</label>
                    </div>
                    <div class="input-field">
                      <input id="passwordLogin" type="password" class="validate">
                      <label for="passwordLogin">password</label>
                    </div>
                    <div class="input-field">
                      <input type="checkbox" class="filled-in" id="filled-in-box" />
                      <label for="filled-in-box">Angemeldet bleiben</label>
                    </div>
                    <button id="btn-waves" class="full-width btn waves-effect waves-light" type="submit" name="action">einloggen</button>
                  </form>
                  <div class="questions">
                    <a class="center" href="#newPassword">password vergessen?</a>
                    <a class="center" href="#">Noch night Mitglied?</a> 
                  </div> 
                </div>
                <div id="newPassword" class="card-content hide form-newpassword">
                  <div class="card-title">
                    <h6>Haben Sie Ihr password vergessen?</h6>
                  </div>
                  <p>
                    Bitte geben Sie Ihre E-Mail-Adresse ein, mit der Sie sich bereits registriert haben. Vergeben Sie sich außerdem ein neues password. Sie erhalten dann eine E-Mail mit einem Freischaltlink. Nach- dem Sie diesen bestätigt haben, können Sie sich
                  </p>
                  <form class="" action="#">
                    <div class="input-field">
                      <input id="email" type="email" class="rb-blue-input validate">
                      <label for="email">E-Mail-Adresse *</label>
                    </div>
                    <div class="input-field">
                      <input id="password" type="password" class="rb-blue-input validate">
                      <label for="password">Neu password *</label>
                    </div>
                    <div class="input-field">
                      <input id="passwordRep" type="password" class="rb-blue-input validate">
                      <label for="passwordRep">Neu password (wiederholen)*</label>
                    </div>
                    <button class="full-width btn waves-effect waves-light" type="submit" name="action">ABSCHICKEN</button>
                  </form>
                </div>
              </div><!-- end forms login and recovery -->
              <div id="userRegisterTabContent" class="card no-bg"><!-- forms register and nav -->
                <div class="register-nav invisible">
                  <div class="card-content center">
                    <p>Chooose the type of account</p>
                  </div>
                  <ul class="table-wrapper">
                    <li class="item">
                      <a class="center btn-register-nav" href="#userMitgliedschaft"><i class="mdi mdi-emoticon-sad"></i></a>
                      <p class="center">I am <br> a consumer</p>
                    </li>
                    <li class="item">
                      <a class="center btn-register-nav" href="#firmaMitgliedschaft"><i class="mdi mdi-domain"></i></a>
                      <p class="center">I am organisation <br> or company</p>
                    </li>
                  </ul>
                </div>
                <div id="registerForms" class="register-forms">
                  <div class="card-image hide">
                    <a class="icon-floating btn u-f-btn-prev hide" href="javascript:void(0)">
                      <i class="mdi mdi-arrow-left"></i>Back
                    </a>
                    <img src="img/icon-svg/auth-graphics.svg" title="">
                  </div>
                  <div id="userMitgliedschaft" class="card-content hide">
                    <p>Bereits mit Ihrer E-Mail-Adresse und password können Sie sich als Privatperson kostenlos anmelden und selbst Beschwerden, Kommentare oder Nachrichten an andere User schreiben. Falls Sie Ihren Namen angeben möchten, werden Ihre erstellten Inhalte unter diesem Namen veröffentlicht. </p>
                    <form class="col s12" action="#">
                      <div class="row">
                        <div class="input-field">
                          <input id="email" type="email" class="validate">
                          <label for="email">E-Mail-Adresse *</label>
                        </div>
                        <div class="input-field">
                          <input id="password" type="password" class="validate">
                          <label for="password">password *</label>
                        </div>
                        <div class="input-field">
                          <input id="passwordRep" type="password" class="validate">
                          <label for="passwordRep">password wiederholen *</label>
                        </div>
                          <div class="input-field">
                            <input id="lastName" type="text" class="validate">
                            <label for="lastName">Vorname</label>
                          </div>
                          <div class="input-field">
                            <input id="firstName" type="text" class="validate">
                            <label for="firstName">Name</label>
                          </div>
                      </div>
                      <p class="warning">Hinweis: wir geben Ihre E-Mail -Adresse nicht an Dritte weiter, bei uns  erhalten Sie keinen unerwünschen Spam. <a href="#">Datenschutz.</a></p>
                      <div class="input-field">
                        <input type="checkbox" class="filled-in" id="filled-in-box-user" />
                        <label for="filled-in-box-user">Ja, ich habe die <a href="#">Nutzungsbedinungen</a> gelesen und akzeptiert</label>
                      </div>
                      <button class="btn center waves-effect waves-light" type="submit" name="action">registrieren</button>
                    </form>
                  </div>
                  <div id="firmaMitgliedschaft" class="card-content hide">
                    <p>Nach dem Senden der Formulardaten erhalten Sie von uns eine E-Mail mit einem Verifizierungslink, der Sie zur Eingabe Ihrer Firmendaten führen wird. Sie können den Firmen-Account dann nach Freischaltung 14 Tage lang unverbindlich kostenlos testen, wir unterbreiten Ihnen rechtzeitig vor Ablauf ein Angebot zur weiteren Nutzung.</p>
                    <p>Haben Sie vorab Fragen zum Firmen-Account? Fordern Sie weitere Informationen hier an: ReclaBox Support</p>
                    <form class="col s12 firmRegistrarion" action="#">
                      <div class="row">
                        <div class="input-field">
                            <input id="companyName" type="text" class="validate">
                            <label for="companyName">Company / Institution</label>
                          </div>
                        <div class="input-field">
                          <input id="companyEmail" type="email" class="validate">
                          <label for="companyEmail">E-Mail-Adresse</label>
                        </div>
                      </div>
                      <p class="warning">Hinweis: wir geben Ihre E-Mail -Adresse nicht an Dritte weiter, bei uns  erhalten Sie keinen unerwünschen Spam. <a href="#">Datenschutz.</a></p>
                      <div class="input-field">
                        <input type="checkbox" class="filled-in" id="filled-in-box-firm" />
                        <label for="filled-in-box-firm">Ja, ich habe die <a href="#">Nutzungsbedinungen</a> gelesen und akzeptiert</label>
                      </div>
                      <button class="btn waves-effect waves-light center" type="submit" name="action">registrieren als firma</button>
                    </form>
                  </div>
                </div>
              </div><!-- end forms register and nav -->
            </div>
          </div>
        </div><!-- end users login -->

        <div id="emailSubscribe" class="modal user-form"><!-- email subscribe -->
          <div class="modal-content">
            <div class="card-panel no-bg">
              <div class="card no-bg">
                <div class="card-image grey lighten-5">
                  <img src="img/icon-svg/email-subscribe.svg" alt="">
                </div>
                <div class="card-content">
                  <div class="card-title">
                    <h6>Newsletter abonnieren</h6>
                  </div>
                  <form class="" action="#">
                    <div class="row">
                      <div class="input-field">
                        <input id="email" type="email" class="rb-blue-input validate">
                        <label for="email">E-Mail-Adresse *</label>
                      </div>
                    </div>
                    <button class="waves-effect full-width waves-light btn btn-theme-pink white-text" type="submit" name="action">ABSCHICKEN</button>
                  </form>  
                </div>
              </div>
            </div>  
          </div>
        </div><!-- end email subscribe -->

        <div id="emailUnsubscribe" class="modal user-form"><!-- email subscribe -->
          <div class="modal-content">
            <div class="card-panel no-bg">
              <div class="card no-bg">
                <div class="card-image grey lighten-5">
                  <img src="img/icon-svg/email-unsubscribe.svg" alt="">
                </div>
                <div class="card-content">
                  <div class="card-title">
                    <h6>Newsletter abonnieren</h6>
                  </div>
                  <form class="" action="#">
                    <div class="row">
                      <div class="input-field">
                        <input id="email" type="email" class="rb-blue-input validate">
                        <label for="email">E-Mail-Adresse *</label>
                      </div>
                    </div>
                    <button class="waves-effect full-width waves-light btn btn-theme-pink white-text" type="submit" name="action">ABSCHICKEN</button>
                  </form>  
                </div>
              </div>
            </div>  
          </div>
        </div><!-- end email subscribe -->
      </div><!-- end header modal user forms -->
    </header>
    <div class="container post">
      <div class="section"><!-- header-content page -->
        <div class="row">
          <div class="col s12">
            <header class="post-header">
              <div class="breadcrumb-wrapper">
                <a href="#!" class="breadcrumb">Startseite</a>
                <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                <a href="#!" class="breadcrumb">Reiseportale</a>
                <a href="#!" class="breadcrumb">Beschwerde</a>
                <span class="breadcrumb-last-child">Telefonservice ist eine absolute Katastrophe!</span>
              </div>
              <h2 class="title">Telefonservice ist eine absolute Katastrophe!</h2>
              <div class="company-info">
                <div class="company-name left">
                  <i class="material-icons tiny">business</i>
                  <a href="/test">OPODO DEUTSCHLAND</a>
                </div>
                <div class="company-place right">
                  <i class="material-icons tiny">room</i>
                  <span>GROSSBEEREN</span>
                </div>
              </div>
              <h3 class="title-sub">Extrem lange Wartezeiten, MitarbeiterInnen frech, unfreundlich und wenig hilfreich!</h3>
            </header>
          </div>
        </div>
      </div><!-- end header-content page -->

      <div class="section"><!-- content, sidebar, other components -->
        <div class="row">
          <div class="col s12 m8 l8"><!-- content -->
            <div class="card-panel no-bg">
              <div class="card-header no-bg-header">
                <div class="article-info table-wrapper clearfix">
                  <div class="author left">Geshrieben von Tomas Gibbson</div>
                  <div class="article-data right">15 Views | 12.09.2016 | 14:53 Uhr</div>
                </div>
              </div>
              <div class="card">
                <div class="card-content">
                  <p>
                    <span class="first-letter">C</span> urabitur dictum sodales placerat. Nam vitae malesuada nisl. Sed posuere neque quam, convallis iaculis augue fermentum Morbi vitae erat neque. Vivamus ut auctor nunc.
                  </p>
                  <p>
                    Sed et eros nibh. Integer eu fringilla ante. Aenean nulla ligula, ornare eu elit at, feugiat bibendum leo. Nam iaculis, dolor id accumsan ornare, odio lacus v  enenatis erat, ac dapibus tortor ipsum porttitor tellus. Praesent non ex commodo, porta dui nec, varius risus. ] est laoreet sit amet. Nunc porta, neque non sollicitudin iaculis, metus nibh sollicitudin ligula, ut tincidunt risus enim vel augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos him
                  </p>
                  <div class="testimonials">
                    <p>Peter: Tag, Meike, wie geht’s? </p>
                    <p>Meike: Gut, danke, und dir? </p>
                    <p>Peter: Prima! Heute gehe ich ins Kino. Kommst du mit? </p>
                    <p>Meike: Was für ein Film ist das? </p>
                  </div>
                  <p>
                    Fusce tincidunt, tortor venenatis pretium pharetra, sapien dolor fringilla metus, eu mollis libero ex vel dui. Quisque hendrerit velit a tellus mollis consequat. Donec blandit quam ut lobortis commodo. 
                  </p>
                  
                  <div class="slider slider-post" data-indicators="true">
                    <ul class="slides">
                      <li><a href="#one!"><img src="http://lorempixel.com/800/400/food/1"></a></li>
                      <li><a href="#two!"><img src="http://lorempixel.com/800/400/food/2"></a></li>
                      <li><a href="#three!"><img src="http://lorempixel.com/800/400/food/3"></a></li>
                      <li><a href="#four!"><img src="http://lorempixel.com/800/400/food/4"></a></li>
                      <li><a href="#five!"><img src="img/img-slider/pexels-photo-131238.jpeg.jpg"></a></li>
                      <li><a href="#six!"><img src="img/img-slider/pexels-photo-144312.jpeg.jpg"></a></li>
                    </ul>        
                  </div>
                </div>
              </div>
            </div>

            <div class="card-panel no-bg">
              <div class="card">
                <div class="card-content company-commercial-data">
                  <p>KUNDENNUMMER: 194583498594859</p>
                  <p>REFERENZ-NR.: BI-00192425</p>
                  <p>SENDUNGZ-NR.: BI-00192425</p>
                </div>
              </div>
            </div>

            <div class="card-panel">
              <div class="card-header pink white-text text-uppercase">
                <h6>Meine Forderung an extraenergie</h6>
              </div>
              <div class="card no-bg">
                <div class="card-content">
                  <p>Fusce tincidunt, tortor venenatis pretium pharetra, sapien dolor fringilla metus, eu mollis libero ex vel dui. Fusce tincidunt, tortor venenatis pretium pharetra, sapien dolor fringilla metus, eu mollis libero ex 
                  </p>
                </div>
              </div>
            </div>

            <div class="card-panel">
              <div class="card-header blue-grey lighten-5 text-uppercase">
                <h6>WIE IST IHRE REAKTION ZU DIESER BESCHWERDE?</h6>
              </div>
              <div class="card no-bg">
                <div class="card-content">
                  <div class="center">
                    <i class="emoji emoji-amused emoji-animated tooltipped" data-tooltip="Warte seit"></i>
                    <i class="emoji emoji-shocked emoji-animated tooltipped" data-tooltip="Warte seit"></i>
                    <i class="emoji emoji-sad emoji-animated tooltipped" data-tooltip="Warte seit"></i>
                    <i class="emoji emoji-angry emoji-animated tooltipped" data-tooltip="Warte seit"></i>
                    <i class="emoji emoji-frightened emoji-animated tooltipped" data-tooltip="Warte seit"></i>
                    <i class="emoji emoji-informed emoji-animated tooltipped" data-tooltip="Warte seit"></i>
                    <i class="emoji emoji-boring emoji-animated tooltipped" data-tooltip="Warte seit"></i>
                    <i class="emoji emoji-no-matter emoji-animated tooltipped" data-tooltip="Warte seit"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-panel corporate-response">
              <div class="card-header blue-grey lighten-5 text-uppercase">
                <h6>ANTWORT VON extraenergie</h6>
              </div>
              <div class="card no-bg">
                <div class="company-answer">
                  <div class="company-icon">
                    <i class="mdi mdi-domain medium"></i>
                  </div>
                  <div class="company-info">
                    <a class="company-user" href="javascript:void(0)">ExtraEnergie GMBH</a>
                    <p class="company-post">Kundenservice</p>
                    <p class="company-date">
                      <i class="mdi mdi-calendar-check teal-text tiny"></i>
                      <span>Nach 2 Monaten</span>
                    </p>
                  </div>
                </div>
                <div class="card-content">
                  <p>Sehr geehrter Kunde, vielen Dank für Ihren Eintrag.

                    Einige unserer Tarife umfassen eine Preissicherheitsvariante wie eine Preisgarantie, eine Preisfixierung oder aber eine Energiepreisgarantie. Je nach vereinbartem Tarif gewähren unsere Preissicherheitsvarianten gewisse Preisbestandteile, wie Steuern, Abgaben sowie Netznutzungsentgelte während der vereinbarten Vertragslaufzeit. Die für Ihren Tarif gültigen Regeln entnehmen Sie bitte Ihren Vertragsunterlagen sowie Ihren AGBs.

                    Mit freundlichen Grüßen
                  </p>
                </div>
              </div>
            </div>

            <div class="card-panel no-bg corporate-response answered">
              <div class="card">
                <div class="card-content table-wrapper">
                  <div class="text">
                    <p>
                      Firmen-Antwort ausstehend seit 
                      <span>1</span> Jahr und <span>2</span> Monaten
                    </p>
                    <p>
                      Richtet sich diese Beschwerde gegen Ihr Unternehmen?
                    </p>
                  </div>
                  <div class="btn-block">
                    <button class="btn center waves-effect waves-light" type="submit" name="action">Jetzt antoworten
											<i class="mdi mdi-reply-all left"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-panel">
              <div class="card-header blue-grey lighten-5 text-uppercase">
                <h6>BEWERTEN SIE DIE ANTWORT VON extraenergie</h6>
              </div>
              <div class="card no-bg">
                <div class="card-content center-align">
                  <div class="rating clearfix">
                    <a href="#5" class="tooltipped" data-tooltip="sehr kundenfreundlich" title="sehr kundenfreundlich">
                      <i class="rbi-star-outline rbi large"></i>
                      <i class="rbi-star rbi large"></i>
                    </a>
                    <a href="#4" class="tooltipped" data-tooltip="kundenfreundlich" title="kundenfreundlich">
                      <i class="rbi-star-outline rbi large"></i>
                      <i class="rbi-star rbi large"></i>
                    </a>
                    <a href="#3" class="tooltipped" data-tooltip="sehr serviceorientiert" title="sehr serviceorientiert">
                      <i class="rbi-star-outline rbi large"></i>
                      <i class="rbi-star rbi large"></i>
                    </a>
                    <a href="#2" class="tooltipped" data-tooltip="serviceorientiert" title="serviceorientiert">
                      <i class="rbi-star-outline rbi large"></i>
                      <i class="rbi-star rbi large"></i>
                    </a>
                    <a href="#1" class="tooltipped" data-tooltip="wenig serviceorientiert" title="wenig serviceorientiert">
                      <i class="rbi-star-outline rbi large"></i>
                      <i class="rbi-star rbi large"></i>
                    </a>
                  </div>
                  <span class="rating-text hide">Give stars</span>
                </div>
              </div>
            </div>

<!--             <div class="card-panel">
              <div class="card-header blue-grey lighten-5 text-uppercase">
                <h6>BEWERTEN SIE DIE ANTWORT VON extraenergie</h6>
              </div>
              <div class="card no-bg">
                <div class="card-content center-align">
                  <div class="rating-result">
                    <div class="rating-current">
                      <span class="rating-num">3.6</span>
                      <div class="rating-stars">
                        <span><i class="mdi-star mdi"></i></span>
                        <span><i class="mdi-star mdi"></i></span>
                        <span><i class="mdi-star mdi"></i></span>
                        <span><i class="mdi-star-half mdi"></i></span>
                        <span><i class="mdi-star-outline mdi"></i></span>
                      </div>
                    </div>
                    <div class="histo">
                      <div class="five histo-rate">
                        <span class="histo-star">
                          sehr kundenfreundlich&ensp;
                          <i class="mdi-star mdi"></i>&nbsp;5 </span>
                        <span class="bar-block">
                          <span id="bar-five" class="bar white-text">
                            <span>566,784</span>&nbsp;
                          </span> 
                        </span>
                      </div>
                       
                      <div class="four histo-rate">
                        <span class="histo-star">
                          kundenfreundlich&ensp;
                          <i class="mdi-star mdi"></i>&nbsp;4 </span>
                        <span class="bar-block">
                          <span id="bar-four" class="bar white-text">
                            <span>171,298</span>&nbsp;
                          </span> 
                        </span>
                      </div> 
                           
                      <div class="three histo-rate">
                        <span class="histo-star">
                          sehr serviceorientiert&ensp;
                          <i class="mdi-star mdi"></i>&nbsp;3 </span>
                        <span class="bar-block">
                          <span id="bar-three" class="bar white-text">
                            <span>94,940</span>&nbsp;
                          </span> 
                        </span>
                      </div>
                           
                      <div class="two histo-rate">
                        <span class="histo-star">
                          serviceorientiert&ensp;
                          <i class="mdi-star mdi"></i>&nbsp;2 </span>
                        <span class="bar-block">
                          <span id="bar-two" class="bar">
                            <span>44,525</span>&nbsp;
                          </span> 
                        </span>
                      </div>
                           
                      <div class="one histo-rate">
                        <span class="histo-star">
                          wenig serviceorientiert&ensp;
                          <i class="mdi-star mdi"></i>&nbsp;1 </span>
                        <span class="bar-block">
                          <span id="bar-one" class="bar">
                            <span>136,457</span>&nbsp;
                          </span> 
                        </span>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div> -->

            <div class="card-panel card-comment-form no-bg">
              <div class="card-header blue-grey lighten-5 text-uppercase">
                <h6>KOMMENTARE UND TRACKBAKS <span class="badge grey lighten-4">53</span></h6>
              </div>
              <div class="card no-bg">
                <div class="card-content">
                  <form class="form">
                    <div class="input-field col s12">
                      <textarea id="textarea1" class="materialize-textarea" placeholder="Kommentieren Sie hier, bitte"></textarea>
                    </div>

                    <div class="upload-files table-wrapper">
                      <div class="uploaded">
                        <div class="uploaded-item">
                          <img src="img/img-slider/1.jpeg" alt="">
                          <i class="material-icons highlight_off">highlight_off</i>
                          <div class="progress-wrapper">
                            <span class="progress-number">72%</span>
                            <div class="progress">
                                <div class="determinate" style="width: 70%"></div>
                            </div>
                          </div>
                        </div>
                        <div class="uploaded-item">
                          <img src="img/img-slider/2.jpeg" alt="">
                          <i class="material-icons highlight_off">highlight_off</i>
                        </div>
                        <div class="uploaded-item">
                          <img src="img/img-slider/3.jpeg" alt="">
                          <i class="material-icons highlight_off">highlight_off</i>
                        </div>
                        <div class="uploaded-item">
                          <img src="img/img-slider/3.jpeg" alt="">
                          <i class="material-icons highlight_off">highlight_off</i>
                        </div>
                      </div>
                      <div class="upload-files-input">
                        <div class="input-wrapper table-wrapper">
                          <div class="icon">
                            <i class="material-icons">file_upload</i>
                          </div>
                          <div class="text">
                            <p>drag here to upload photo or video files</p>
                            <p>JPG, PNG, GIF, MOV, MP4</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Example without pictures -->
                    <div class="upload-files table-wrapper">
                      <div class="uploaded hide">
                        <div class="uploaded-item">
                          <img src="img/img-slider/1.jpeg" alt="">
                          <i class="material-icons highlight_off">highlight_off</i>
                          <div class="progress-wrapper">
                            <span class="progress-number">72%</span>
                            <div class="progress">
                              <div class="determinate" style="width: 70%"></div>
                            </div>
                          </div>
                        </div>
                        <div class="uploaded-item">
                          <img src="img/img-slider/2.jpeg" alt="">
                          <i class="material-icons highlight_off">highlight_off</i>
                        </div>
                        <div class="uploaded-item">
                          <img src="img/img-slider/3.jpeg" alt="">
                          <i class="material-icons highlight_off">highlight_off</i>
                        </div>
                      </div>
                      <div class="upload-files-input">
                        <div class="input-wrapper table-wrapper">
                          <div class="icon">
                            <i class="material-icons">file_upload</i>
                          </div>
                          <div class="text">
                            <p>drag here to upload photo or video files</p>
                            <p>JPG, PNG, GIF, MOV, MP4</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <button class="btn waves-effect waves-light" type="submit" name="action">Senden
                      <i class="material-icons left">send</i>
                    </button>
                  </form>
                </div>
              </div>
            </div>

            <section class="comments-wrapp">
              <div class="card-panel no-bg card-comment">
                <div class="card-header no-bg-header">
                  <div class="article-info clearfix">
                    <div class="author left">
                      <a href="javascript:void(0)" title="James Khan">
                        <span class="avatar-wrapper green darken-4 left">
                          <span>WD</span>
                        </span>
                        <span>&emsp;James Khan</span>
                      </a>
                    </div>
                    <div class="separator left"></div>
                    <div class="left date">
                      <i class="material-icons tiny">event_note</i>&nbsp;
                      <span class="date-publication">Vor 1 Woche</span>
                    </div>
                    <div class="separator left"></div>
                    <div class="left edit-comment">
                      <a href="javasctipt:void(0)" title="">
                        <i class="mdi mdi-border-color tiny"></i>
                        Bearbeiten
                      </a>
                    </div>
                    <div class="separator left"></div>
                    <div class="edit-message left">
                      Kommentar noch 242 Sekunden editierbar
                    </div>
                    <div class="report-alert right">
                      <a class="hide btn-floating icon-floating waves-effect waves-ripple" href="javascript:void(0)"><i class="material-icons">warning</i></a>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-content">
                    <p>
                      Curabitur congue nunc nisi, vitae lacinia magna tempor vel. Phasellus venenatis, risus sit amet finibus facilisis, sem est lacinia dui, non molestie sapien tellus eu risus. Maecenas consectetur sapien eget purus vehicula, in pharetra felis sagittis. Aliquam erat volutpat.
                    </p>
                  </div>
                  <div class="card-footer">
                    <div class="card-action white-text teal">
                      <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5" data-tooltip-id="245ea3dd-52ba-7010-cfcc-536ae8f0e729"><i class="rbi rbi-geloste small"></i></a>
                      <a href="javascript:void(0)" title="">Die Beschwerde ist gelöst</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-panel no-bg card-comment">
                <div class="card-header no-bg-header">
                  <div class="article-info clearfix">
                    <div class="author vertical-line left">
                      <a href="javascript:void(0)" title="James Khan">
                        <div class="avatar-wrapper orange darken-4 left">
                          <span>RD</span>
                        </div>
                        <span>&emsp;James Khan</span>
                      </a>
                      <i class="material-icons tiny">event_note</i>&nbsp;
                      <span class="date-publication">Vor 1 Woche</span>
                    </div>
                    <div class="report-alert right">
                      <a class="hide btn-floating icon-floating waves-effect waves-ripple" href="javascript:void(0)"><i class="material-icons">warning</i></a>
                    </div>
                  </div>
                </div>
                <div class="card blue-grey lighten-5">
                  <div class="card-content center-align">
                    <p>
                      Dieser Kommentar wurde won Beschwerdefuhrer geloscht
                    </p>
                  </div>
                </div>
              </div>

              <div class="card-panel no-bg card-comment">
                <div class="card-header no-bg-header">
                  <div class="article-info clearfix">
                    <div class="author vertical-line left">
                      <a href="javascript:void(0)" title="James Khan">
                        <div class="avatar-wrapper brown darken-4 left">
                          <span>SO</span>
                        </div>
                        <span>&emsp;James Khan</span>
                      </a>
                      <i class="material-icons tiny">event_note</i>&nbsp;
                      <span class="date-publication">Vor 1 Woche</span>
                    </div>
                    <div class="report-alert right">
                      <a class="hide btn-floating icon-floating waves-effect waves-ripple" href="javascript:void(0)"><i class="material-icons">warning</i></a>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-content">
                    <p>
                      Curabitur congue nunc nisi, vitae lacinia magna tempor vel. Phasellus venenatis, risus sit amet finibus facilisis, sem est lacinia dui, non molestie sapien tellus eu risus. Maecenas consectetur sapien eget purus vehicula, in pharetra felis sagittis. Aliquam erat volutpat.
                    </p>
                  </div>
                </div>
              </div>

              <div class="card-panel no-bg card-comment">
                <div class="card-header no-bg-header">
                  <div class="article-info clearfix">
                    <div class="author vertical-line left">
                      <a href="javascript:void(0)" title="James Khan">
                        <div class="avatar-wrapper blue-grey left">
                          <span>SO</span>
                        </div>
                        <span>&emsp;James Khan</span>
                      </a>
                      <i class="material-icons tiny">event_note</i>&nbsp;
                      <span class="date-publication">Vor 1 Woche</span>
                    </div>
                    <div class="report-alert right">
                      <a class="hide btn-floating icon-floating waves-effect waves-ripple" href="javascript:void(0)"><i class="material-icons">warning</i></a>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-content">
                    <p>
                      Curabitur congue nunc nisi, vitae lacinia magna tempor vel. Phasellus venenatis, risus sit amet finibus facilisis, sem est lacinia dui, non molestie sapien tellus eu risus. Maecenas consectetur sapien eget purus vehicula, in pharetra felis sagittis. Aliquam erat volutpat.
                    </p>
                  </div>
                  <div class="card-footer">
                    <div class="card-action white-text pink lighten-3">
                      <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5" data-tooltip-id="245ea3dd-52ba-7010-cfcc-536ae8f0e729"><i class="rbi rbi-noch-nicht-geloste small"></i></a>
                      <a href="javascript:void(0)" title="">Die Beschwerde ist gelöst</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-panel no-bg card-comment">
                <div class="card-header no-bg-header">
                  <div class="article-info clearfix">
                    <div class="author vertical-line left">
                      <a href="javascript:void(0)" title="James Khan">
                        <div class="avatar-wrapper blue-grey left">
                          <span>SO</span>
                        </div>
                        <span>&emsp;James Khan</span>
                      </a>
                      <i class="material-icons tiny">event_note</i>&nbsp;
                      <span class="date-publication">Vor 1 Woche</span>
                    </div>
                    <div class="report-alert right">
                      <a class="hide btn-floating icon-floating waves-effect waves-ripple" href="javascript:void(0)"><i class="material-icons">warning</i></a>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-content">
                    <p>
                      Curabitur congue nunc nisi, vitae lacinia magna tempor vel. Phasellus venenatis, risus sit amet finibus facilisis, sem est lacinia dui, non molestie sapien tellus eu risus. Maecenas consectetur sapien eget purus vehicula, in pharetra felis sagittis. Aliquam erat volutpat.
                    </p>
                    <div class="uploaded">
                      <div class="uploaded-item">
                        <img src="img/img-slider/1.jpeg" alt="">
                        <i class="material-icons highlight_off">highlight_off</i>
                      </div>
                      <div class="uploaded-item">
                        <img src="img/img-slider/2.jpeg" alt="">
                        <i class="material-icons highlight_off">highlight_off</i>
                      </div>
                      <div class="uploaded-item">
                        <img src="img/img-slider/3.jpeg" alt="">
                        <i class="material-icons highlight_off">highlight_off</i>
                      </div>
                    </div>
                    <p>Maecenas consectetur sapien eget purus vehicula, in pharetra felis sagittis. Aliquam erat volutpat.</p>
                  </div>
                  <div class="card-footer">
                    <div class="card-action white-text pink">
                      <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5" data-tooltip-id="245ea3dd-52ba-7010-cfcc-536ae8f0e729"><i class="rbi rbi-endgiltig-nicht small"></i></a>
                      <a href="javascript:void(0)" title="">Die Beschwerde ist gelöst</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-panel no-bg card-comment">
                <div class="card-header no-bg-header">
                  <div class="article-info clearfix">
                    <div class="author vertical-line left">
                      <a href="javascript:void(0)" title="James Khan">
                        <div class="avatar-wrapper blue-grey left">
                          <span>SO</span>
                        </div>
                        <span>&emsp;James Khan</span>
                      </a>
                      <i class="material-icons tiny">event_note</i>&nbsp;
                      <span class="date-publication">Vor 1 Woche</span>
                    </div>
                    <div class="report-alert right">
                      <a class="hide btn-floating icon-floating waves-effect waves-ripple" href="javascript:void(0)"><i class="material-icons">warning</i></a>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-content">
                    <p>
                      Curabitur congue nunc nisi, vitae lacinia magna tempor vel. Phasellus venenatis, risus sit amet finibus facilisis, sem est lacinia dui, non molestie sapien tellus eu risus. Maecenas consectetur sapien eget purus vehicula, in pharetra felis sagittis. Aliquam erat volutpat.
                    </p>
                  </div>
                  <div class="card-footer">
                    <div class="card-action white-text cyan">
                      <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5" data-tooltip-id="245ea3dd-52ba-7010-cfcc-536ae8f0e729"><i class="rbi rbi-hielfreicher-commentar small"></i></a>
                      <a href="javascript:void(0)" title="">Die Beschwerde ist gelöst</a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            
          </div><!-- end content -->

          <div class="col s12 m4 l4"><!-- sidebar -->
            <div class="card-panel no-bg widget-sidebar widget-btn-wrapper">
              <div class="card-header no-bg-header widget-header-btn">
                <div class="links">
                  <a class="btn-floating icon-floating waves-effect" href="javascript:void(0)"><i class="mdi mdi-file-pdf tiny"></i></a>
                  <a class="btn-floating icon-floating waves-effect" href="javascript:void(0)"><i class="mdi mdi-printer tiny"></i></a>
                  <div class="functional-tooltips center-align hide">
                    <p>Beschwerde drucken</p>
                    <button class="btn center waves-effect waves-light" type="submit" name="action">OHNE KOMMENTARE</button>
                    <button class="btn center waves-effect waves-light" type="submit" name="action">MIT KOMMENTAREN</button>
                  </div>
                  <a class="btn-floating icon-floating waves-effect" href="#startReport"><i class="mdi mdi-alert tiny"></i></a>
                  <a class="btn-floating icon-floating waves-effect" href="javascript:void(0)"><i class="mdi mdi-bookmark-outline tiny"></i></a>
                  <a class="btn-floating icon-floating waves-effect" href="javascript:void(0)"><i class="rbi rbi-bookmark-remove tiny"></i></a>
                </div>
              </div>
              <div class="card">
                <div class="card-image">
                  <object data="img/icon-svg/jetzt-anschliessen.svg" type="image/svg+xml" width="100%"
                          height="auto"><img width="100%" src="img/img-site/jetzt-anschliessen.jpg" title=""></object>

                  <!--<img src="img/icon-svg/jetzt-anschliessen.svg" title="">-->
                </div>
                <div class="card-content">
                  <p>
                    Möchten Sie sich dieser Beschwerde anschließen?
                  </p>
                  <p>
                    Es haben sich anbereits 4 ReclaBoxler angeschlossen.
                  </p>
                  <button class="btn center waves-effect waves-light" type="submit" name="action">Jetzt anschließen
                    <i class="mdi mdi-bullhorn left"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="card-panel no-bg widget-sidebar">
              <div class="card-header blue-grey lighten-5">
                <h6>KARTE ZUR BESCHWERDE</h6>
              </div>
              <div class="card no-bg">
                <div class="card-content">
                  <img src="img/img-site/frankfurt.jpg" alt="">
                </div>
              </div>
            </div>

            <div class="card-panel widget-sidebar widget-links">
              <div class="card-header blue-grey lighten-5">
                <h6>MEHR üBER...</h6>
              </div>
              <div class="card ">
                <div class="card-content">
                  <a href="javascript:void(0)">Widerrufstrecht</a>
                  <a href="javascript:void(0)">Finanzen und Recht</a>
                  <a href="javascript:void(0)">Freizeit und Sport</a>
                  <a href="javascript:void(0)">Handel</a>
                  <a href="javascript:void(0)">Reisebüros</a>
                </div>
              </div>
            </div>
          </div><!-- end sidebar -->
        </div>
      </div><!-- End ontent, sidebar, other components -->

    </div>
    <div class="modal-comtainer">
      <div id="startReport" class="modal modal-report user-form">
        <div class="modal-content">
          <div class="card-panel no-bg">
            <div class="card-header center-align blue-grey white-text">
              <h6>Melden Sie hier den Regelverstoß</h6>
            </div>
            <div class="card no-bg">
              <div class="card-content">
                <form class="" action="#">
                  <div class="row">
                    <div class="input-field">
                      <input id="report" type="text" class="rb-blue-input validate">
                      <label for="report">Start typing report here</label>
                    </div>
                  </div>
                  <button class="waves-effect full-width waves-light btn white-text" type="submit" name="action">Abschicken</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!--</div>-->
  </div><!-- modals conteiner-->
  <!-- end wrapper -->


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/reclabox.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
