    <header class="site-header blue-grey">
      <div class="navbar">
        <nav class="" role="navigation">
          <div class="nav-wrapper">
            <ul>
              <li>
                <a href="#" data-activates="slide-out" class="button-collapse waves-effect">
                  <div class="arrow-hamburger">
                    <div class="line arrow_top"></div>
                    <div class="line arrow_line"></div>
                    <div class="line arrow_bottom"></div>
                  </div>
                </a>
              </li>
            </ul>
            <a id="logo-container" href="javascript:void(0)" class="brand-logo hide"><img src="img/img-site/logo-reclabox.jpg" alt="ReclaBox"></a>
            <div class="nav-header nav-theme hide">
              <ul id="navHeader" class="nav-menu hide-on-med-and-down flex-wrapper">
                <li><a class="active" href="javascript:void(0)">BESCHWERDE LESEN</a></li>
                <li><a href="javascript:void(0)">BESCHWERDE SCHREIBEN</a></li>
              </ul>
            </div>
            <ul class="right hide-on-med-and-down nav-right currently-logged">
              <li>
                <form id="search-form">
                  <div class="search-widget">
                    <button class="search-button"><i class="material-icons">search</i></button>
                    <button class="search-close-button"><i class="material-icons">close</i></button>
                    <input name="q" type="text" id="search-input" autocomplete="off">
                    <label for="search-input">Name, Firma oder Schlagwort</label>
                  </div>
                </form>
              </li>
              <li>
                <a class="btn waves-effect waves-light" href="#usersLogin">login</a>
              </li>
              <li><a class="btn waves-effect waves-light" href="#usersRegister">registrieren </a></li>
            </ul>
          </div>
        </nav>
      </div><!-- end navbar-fixed -->

      <div class="container"><!-- logo and nav-menu -->
        <div class="row">
          <div class="brand-logo">
            <a id="logo-container" href="javascript:void(0)" class="brand-logo"><img src="img/img-site/ugh.png" alt="ReclaBox"></a>
          </div>
          <div class="navbar">
            <nav class="" role="navigation">
              <div class="nav-wrapper">
                <div class="nav-header nav-theme">
                  <ul id="navHeader" class="nav-menu hide-on-med-and-down flex-wrapper">
                    <li><a class="active" href="javascript:void(0)">BESCHWERDE LESEN</a></li>
                    <li><a href="javascript:void(0)">BESCHWERDE SCHREIBEN</a></li>
                    <!-- <li><a href="javascript:void(0)">BESCHWERDE SCHREIBEN</a></li> -->
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div><!-- logo and nav-menu -->

      <!-- components dropdown -->
      <div class="slide-nav-wrapper"><!-- heade left nav -->
        <ul id="slide-out" class="side-nav">
          <li>
            <div class="userView">
              <div class="background">
                <img src="http://materializecss.com/images/office.jpg">
              </div>
              <a href="#!user"><img class="circle" src="http://materializecss.com/images/yuna.jpg"></a>
              <a href="#!name"><span class="white-text name">John Doe</span></a>
              <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
            </div>
          </li>
          <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
          <li><a href="#!">Second Link</a></li>
          <li><div class="divider"></div></li>
          <li><a class="subheader">Subheader</a></li>
          <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
        </ul>
      </div><!-- end heade left nav -->

      <div class="modal-container"><!-- header modal user forms -->
        <div id="usersLogin" class="modal"><!-- users login -->
          <div class="modal-content">
              <form class="" action="#">
                <div class="input-field">
                  <input id="email" type="text" class="validate">
                  <label for="email">Email Adresse</label>
                </div>
                <div class="input-field">
                  <input id="password" type="password" class="validate">
                  <label for="password">Passwort</label>
                </div>
                <div class="input-field">
                  <input type="checkbox" class="filled-in" id="filled-in-box" />
                  <label for="filled-in-box">Angemeldet bleiben</label>
                </div>
                <button class="full-width btn waves-effect waves-light" type="submit" name="action">einloggen</button>
              </form>       
            <ul class="questions">
              <li><a href="#">Passwort vergessen?</a></li>
              <li><a href="#">Noch night Mitglied?</a></li>
            </ul>
          </div>
        </div><!-- users login -->

        <div id="usersRegister" class="modal register-form"><!-- user register -->
          <div class="modal-content">
            <div class="card-panel">
              <div class="card-header">
                <div class="row">
                  <div class="col s12">
                    <ul class="tabs tabs-fixed-width">
                      <li class="tab"><a class="active" href="#USER-MITGLIEDSCHAFT">USER-MITGLIEDSCHAFT</a></li>
                      <li class="tab"><a href="#FIRMA-MITGLIEDSCHAFT">FIRMA-MITGLIEDSCHAFT</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-image">
                  <img src="img/img-site/userLoginBg.png" title="">
                </div>
                <div class="card-content">
                  <div class="card-title center">
                    <h3 class="user">Möchten Sie kostenlos Mitglied werden?</h3>
                    <h3 class="firm hide">Möchten Sie den Firmen-Account nutzen?</h3>
                  </div>
                  <div class="row">
                    <div id="USER-MITGLIEDSCHAFT" class="col s12">
                      <p>Bereits mit Ihrer E-Mail-Adresse und Passwort können Sie sich als Privatperson kostenlos anmelden und selbst Beschwerden, Kommentare oder Nachrichten an andere User schreiben. Falls Sie Ihren Namen angeben möchten, werden Ihre erstellten Inhalte unter diesem Namen veröffentlicht. </p>
                      <form class="col s12" action="#">
                          <div class="row">
                            <div class="input-field col s12">
                              <input id="email" type="email" class="validate rb-blue-input">
                              <label for="email">E-Mail-Adresse *</label>
                            </div>
                            <div class="input-field col s12">
                              <input id="password" type="password" class="validate rb-blue-input">
                              <label for="password">Passwort *</label>
                            </div>
                            <div class="input-field col s12">
                              <input id="passwordRep" type="password" class="validate rb-blue-input">
                              <label for="passwordRep">Passwort wiederholen *</label>
                            </div>
                              <div class="input-field col s12">
                                <input id="lastName" type="text" class="validate rb-blue-input">
                                <label for="lastName">Vorname</label>
                              </div>
                              <div class="input-field col s12">
                                <input id="firstName" type="text" class="validate rb-blue-input">
                                <label for="firstName">Name</label>
                              </div>
                          </div>
                          <p class="warning">Hinweis: wir geben Ihre E-Mail -Adresse nicht an Dritte weiter, bei uns  erhalten Sie keinen unerwünschen Spam. <a href="#">Datenschutz.</a></p>
                              <div class="input-field col s12">
                              <input type="checkbox" class="filled-in rb-blue-input" id="filled-in-box-user" />
                              <label for="filled-in-box-user">Ja, ich habe die <a href="#">Nutzungsbedinungen</a> gelesen und akzeptiert</label>
                              </div>
                          <button class="registrieren rb-blue-btn btn waves-effect waves-light" type="submit" name="action">registrieren</button>
                      </form>
                    </div>
                    <div id="FIRMA-MITGLIEDSCHAFT" class="col s12">
                      <p>Nach dem Senden der Formulardaten erhalten Sie von uns eine E-Mail mit einem Verifizierungslink, der Sie zur Eingabe Ihrer Firmendaten führen wird. Sie können den Firmen-Account dann nach Freischaltung 14 Tage lang unverbindlich kostenlos testen, wir unterbreiten Ihnen rechtzeitig vor Ablauf ein Angebot zur weiteren Nutzung.</p>
                      <p>Haben Sie vorab Fragen zum Firmen-Account? Fordern Sie weitere Informationen hier an: ReclaBox Support</p>
                      <form class="col s12 firmRegistrarion" action="#">
                          <div class="row">
                            <div class="input-field col s12">
                                <input id="companyName" type="text" class="validate rb-blue-input">
                                <label for="companyName">Company / Institution</label>
                              </div>
                            <div class="input-field col s12">
                              <input id="companyEmail" type="email" class="validate rb-blue-input">
                              <label for="companyEmail">E-Mail-Adresse</label>
                            </div>
                          </div>
                          <p class="warning">Hinweis: wir geben Ihre E-Mail -Adresse nicht an Dritte weiter, bei uns  erhalten Sie keinen unerwünschen Spam. <a href="#">Datenschutz.</a></p>
                              <div class="input-field col s12">
                              <input type="checkbox" class="filled-in rb-blue-input" id="filled-in-box-firm" />
                              <label for="filled-in-box-firm">Ja, ich habe die <a href="#">Nutzungsbedinungen</a> gelesen und akzeptiert</label>
                              </div>
                          <button class="registrierenFirm rb-blue-btn btn waves-effect waves-light" type="submit" name="action">registrieren als firma</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            

          </div>
        </div><!-- end user register -->
      </div><!-- end header modal user forms -->
    </header>