<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/materialdesignicons.min.css">
  <link href="css/reclabox-materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>
  <div class="wrapper grey lighten-5">
    <header class="site-header blue-grey">
      <div class="navbar">
        <nav class="" role="navigation">
          <div class="nav-wrapper">
            <ul>
              <li>
                <a href="#" data-activates="slide-out" class="button-collapse waves-effect">
                  <div class="arrow-hamburger">
                    <div class="line arrow_top"></div>
                    <div class="line arrow_line"></div>
                    <div class="line arrow_bottom"></div>
                  </div>
                </a>
              </li>
            </ul>
            <a id="logo-container" href="javascript:void(0)" class="brand-logo hide"><img src="img/img-site/logo-reclabox.jpg" alt="ReclaBox"></a>
            <div class="nav-header nav-theme hide">
              <ul id="navHeader" class="nav-menu hide-on-med-and-down flex-wrapper">
                <li><a class="active" href="javascript:void(0)">BESCHWERDE LESEN</a></li>
                <li><a href="javascript:void(0)">BESCHWERDE SCHREIBEN</a></li>
              </ul>
            </div>
            <ul class="right hide-on-med-and-down nav-right currently-logged">
              <li>
                <form id="search-form">
                  <div class="search-widget">
                    <button class="search-button"><i class="material-icons small">search</i></button>
                    <button class="search-close-button"><i class="material-icons small">close</i></button>
                    <input name="q" type="text" id="search-input" autocomplete="off"/>
                    <label for="search-input">Name, Firma oder Schlagwort</label>
                  </div>
                </form>
              </li>
              <li>
                <a class="btn waves-effect waves-light" href="#emailSubscribe">subscribe</a>
              </li>
              <li>
                <a class="btn waves-effect waves-light" href="#emailUnsubscribe">unsubscribe</a>
              </li>
              <li>
                <a class="btn waves-effect waves-light" href="#usersLogin">login/regisrieren</a>
              </li>
              <!-- <li><a class="btn waves-effect waves-light" href="#usersRegister">registrieren </a></li> -->
            </ul>
          </div>
        </nav>
      </div><!-- end navbar-fixed -->

      <div class="container"><!-- logo and nav-menu -->
        <div class="row">
          <div class="brand-logo-wrapper">
            <a id="logo-container" href="javascript:void(0)" class="brand-logo"><img src="img/icon-svg/logo.svg" alt="ReclaBox"></a>
          </div>
          <div class="navbar navbar-bootom">
            <nav class="" role="navigation">
              <div class="nav-wrapper">
                <div class="nav-header nav-theme">
                  <ul id="navHeader" class="nav-menu hide-on-med-and-down flex-wrapper">
                    <li><a class="active" href="javascript:void(0)">BESCHWERDE LESEN</a></li>
                    <li><a href="javascript:void(0)">BESCHWERDE SCHREIBEN</a></li>
                    <!-- <li><a href="javascript:void(0)">BESCHWERDE SCHREIBEN</a></li> -->
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div><!-- logo and nav-menu -->

      <!-- components dropdown -->
      <div class="slide-nav-wrapper"><!-- heade left nav -->
        <ul id="slide-out" class="side-nav slide-nav">
          <li><a href="beschwerde-lesen.html">beschwerde lesen</a></li>
          <li><a href="beschwerde.html">beschwerde</a></li>
          <li><a href="categories.html">categories</a></li>
          <li><a href="company-account.html">company account</a></li>
          <li><a href="company-account-profil.html">company account profil</a></li>
          <li><a href="company-account-reclaRank-seal.html">company account reclaRank seal</a></li>
          <li><a href="company-account-links.html">company account links</a></li>
          <li><a href="company-account-automatic.html">company account automatic</a></li>
          <li><a href="company-public.html">company public</a></li>
          <li><a href="company-rechnungen.html">company rechnungen</a></li>
          <li><a href="edit-email-sending.html">edit email sending</a></li>
          <li><a href="firmen.html">firmen</a></li>
          <li><a href="list-articles.html">list articles</a></li>
          <li><a href="list-emails.html">list emails</a></li>
          <li><a href="request-firm-management.html">request firm management</a></li>
          <li><a href="schreiben.html">schreiben</a></li>
          <li><a href="vorschau.html">vorschau</a></li>
          <li><a href="search.html">search</a></li>
          <li><a href="404.html">404</a></li>
          <li><a href="email-confirm.html">email confirm</a></li>
        </ul>
      </div><!-- end heade left nav -->

      <div class="modal-container"><!-- header modal user forms -->
        <div id="usersLogin" class="modal user-form"><!-- users login -->
          <div class="modal-content">
            <div class="card-panel no-bg">
              <div class="card-header white tabs-wrapper">
                <ul class="tabs tabs-fixed-width">
                  <li class="tab"><a class="active" href="#userLoginTabContent">Login</a></li>
                  <li class="tab"><a class="" href="#userRegisterTabContent">Register</a></li>
                </ul>
              </div>
              <div id="userLoginTabContent" class="card no-bg"><!-- forms login and passwrd recovery -->
                <div class="card-image grey lighten-5">
                  <a class="icon-floating btn u-f-btn-prev hide" href="javascript:void(0)">
                    <i class="mdi mdi-arrow-left"></i>Back
                  </a>
                  <img src="img/icon-svg/auth-graphics.svg" title="">
                </div>
                <div id="formLogin" class="card-content form-login">
                  <form class="" action="#">
                    <div class="input-field">
                      <input id="emailLogin" type="email" class="validate">
                      <label for="emailLogin">Email Adresse</label>
                    </div>
                    <div class="input-field">
                      <input id="passwordLogin" type="password" class="validate">
                      <label for="passwordLogin">password</label>
                    </div>
                    <div class="input-field">
                      <input type="checkbox" class="filled-in" id="filled-in-box" />
                      <label for="filled-in-box">Angemeldet bleiben</label>
                    </div>
                    <button id="btn-waves" class="full-width btn waves-effect waves-light" type="submit" name="action">einloggen</button>
                  </form>
                  <div class="questions">
                    <a class="center" href="#newPassword">password vergessen?</a>
                    <a class="center" href="#">Noch night Mitglied?</a> 
                  </div> 
                </div>
                <div id="newPassword" class="card-content hide form-newpassword">
                  <div class="card-title">
                    <h6>Haben Sie Ihr password vergessen?</h6>
                  </div>
                  <p>
                    Bitte geben Sie Ihre E-Mail-Adresse ein, mit der Sie sich bereits registriert haben. Vergeben Sie sich außerdem ein neues password. Sie erhalten dann eine E-Mail mit einem Freischaltlink. Nach- dem Sie diesen bestätigt haben, können Sie sich
                  </p>
                  <form class="" action="#">
                    <div class="input-field">
                      <input id="email" type="email" class="rb-blue-input validate">
                      <label for="email">E-Mail-Adresse *</label>
                    </div>
                    <div class="input-field">
                      <input id="password" type="password" class="rb-blue-input validate">
                      <label for="password">Neu password *</label>
                    </div>
                    <div class="input-field">
                      <input id="passwordRep" type="password" class="rb-blue-input validate">
                      <label for="passwordRep">Neu password (wiederholen)*</label>
                    </div>
                    <button class="full-width btn waves-effect waves-light" type="submit" name="action">ABSCHICKEN</button>
                  </form>
                </div>
              </div><!-- end forms login and recovery -->
              <div id="userRegisterTabContent" class="card no-bg"><!-- forms register and nav -->
                <div class="register-nav invisible">
                  <div class="card-content center">
                    <p>Chooose the type of account</p>
                  </div>
                  <ul class="table-wrapper">
                    <li class="item">
                      <a class="center btn-register-nav" href="#userMitgliedschaft"><i class="mdi mdi-emoticon-sad"></i></a>
                      <p class="center">I am <br> a consumer</p>
                    </li>
                    <li class="item">
                      <a class="center btn-register-nav" href="#firmaMitgliedschaft"><i class="mdi mdi-domain"></i></a>
                      <p class="center">I am organisation <br> or company</p>
                    </li>
                  </ul>
                </div>
                <div id="registerForms" class="register-forms">
                  <div class="card-image hide">
                    <a class="icon-floating btn u-f-btn-prev hide" href="javascript:void(0)">
                      <i class="mdi mdi-arrow-left"></i>Back
                    </a>
                    <img src="img/icon-svg/auth-graphics.svg" title="">
                  </div>
                  <div id="userMitgliedschaft" class="card-content hide">
                    <p>Bereits mit Ihrer E-Mail-Adresse und password können Sie sich als Privatperson kostenlos anmelden und selbst Beschwerden, Kommentare oder Nachrichten an andere User schreiben. Falls Sie Ihren Namen angeben möchten, werden Ihre erstellten Inhalte unter diesem Namen veröffentlicht. </p>
                    <form class="col s12" action="#">
                      <div class="row">
                        <div class="input-field">
                          <input id="email" type="email" class="validate">
                          <label for="email">E-Mail-Adresse *</label>
                        </div>
                        <div class="input-field">
                          <input id="password" type="password" class="validate">
                          <label for="password">password *</label>
                        </div>
                        <div class="input-field">
                          <input id="passwordRep" type="password" class="validate">
                          <label for="passwordRep">password wiederholen *</label>
                        </div>
                          <div class="input-field">
                            <input id="lastName" type="text" class="validate">
                            <label for="lastName">Vorname</label>
                          </div>
                          <div class="input-field">
                            <input id="firstName" type="text" class="validate">
                            <label for="firstName">Name</label>
                          </div>
                      </div>
                      <p class="warning">Hinweis: wir geben Ihre E-Mail -Adresse nicht an Dritte weiter, bei uns  erhalten Sie keinen unerwünschen Spam. <a href="#">Datenschutz.</a></p>
                      <div class="input-field">
                        <input type="checkbox" class="filled-in" id="filled-in-box-user" />
                        <label for="filled-in-box-user">Ja, ich habe die <a href="#">Nutzungsbedinungen</a> gelesen und akzeptiert</label>
                      </div>
                      <button class="btn center waves-effect waves-light" type="submit" name="action">registrieren</button>
                    </form>
                  </div>
                  <div id="firmaMitgliedschaft" class="card-content hide">
                    <p>Nach dem Senden der Formulardaten erhalten Sie von uns eine E-Mail mit einem Verifizierungslink, der Sie zur Eingabe Ihrer Firmendaten führen wird. Sie können den Firmen-Account dann nach Freischaltung 14 Tage lang unverbindlich kostenlos testen, wir unterbreiten Ihnen rechtzeitig vor Ablauf ein Angebot zur weiteren Nutzung.</p>
                    <p>Haben Sie vorab Fragen zum Firmen-Account? Fordern Sie weitere Informationen hier an: ReclaBox Support</p>
                    <form class="col s12 firmRegistrarion" action="#">
                      <div class="row">
                        <div class="input-field">
                            <input id="companyName" type="text" class="validate">
                            <label for="companyName">Company / Institution</label>
                          </div>
                        <div class="input-field">
                          <input id="companyEmail" type="email" class="validate">
                          <label for="companyEmail">E-Mail-Adresse</label>
                        </div>
                      </div>
                      <p class="warning">Hinweis: wir geben Ihre E-Mail -Adresse nicht an Dritte weiter, bei uns  erhalten Sie keinen unerwünschen Spam. <a href="#">Datenschutz.</a></p>
                      <div class="input-field">
                        <input type="checkbox" class="filled-in" id="filled-in-box-firm" />
                        <label for="filled-in-box-firm">Ja, ich habe die <a href="#">Nutzungsbedinungen</a> gelesen und akzeptiert</label>
                      </div>
                      <button class="btn waves-effect waves-light center" type="submit" name="action">registrieren als firma</button>
                    </form>
                  </div>
                </div>
              </div><!-- end forms register and nav -->
            </div>
          </div>
        </div><!-- end users login -->

        <div id="emailSubscribe" class="modal user-form"><!-- email subscribe -->
          <div class="modal-content">
            <div class="card-panel no-bg">
              <div class="card no-bg">
                <div class="card-image grey lighten-5">
                  <img src="img/icon-svg/email-subscribe.svg" alt="">
                </div>
                <div class="card-content">
                  <div class="card-title">
                    <h6>Newsletter abonnieren</h6>
                  </div>
                  <form class="" action="#">
                    <div class="row">
                      <div class="input-field">
                        <input id="email" type="email" class="rb-blue-input validate">
                        <label for="email">E-Mail-Adresse *</label>
                      </div>
                    </div>
                    <button class="waves-effect full-width waves-light btn btn-theme-pink white-text" type="submit" name="action">ABSCHICKEN</button>
                  </form>  
                </div>
              </div>
            </div>  
          </div>
        </div><!-- end email subscribe -->

        <div id="emailUnsubscribe" class="modal user-form"><!-- email subscribe -->
          <div class="modal-content">
            <div class="card-panel no-bg">
              <div class="card no-bg">
                <div class="card-image grey lighten-5">
                  <img src="img/icon-svg/email-unsubscribe.svg" alt="">
                </div>
                <div class="card-content">
                  <div class="card-title">
                    <h6>Newsletter abonnieren</h6>
                  </div>
                  <form class="" action="#">
                    <div class="row">
                      <div class="input-field">
                        <input id="email" type="email" class="rb-blue-input validate">
                        <label for="email">E-Mail-Adresse *</label>
                      </div>
                    </div>
                    <button class="waves-effect full-width waves-light btn btn-theme-pink white-text" type="submit" name="action">ABSCHICKEN</button>
                  </form>  
                </div>
              </div>
            </div>  
          </div>
        </div><!-- end email subscribe -->
      </div><!-- end header modal user forms -->
    </header>

    <div class="container-write post page-write">
      <div class="section">
        <div class="card-panel no-bg">
          <div class="card">
            <div class="card-content center">
              <div class="card-title">
                <h5>Schritt 1 von 2. Schreiben Sie hier Ihrer Beschwerdetext</h5>
              </div>
              <p>mit einem (*)  gekennzeihnete Felder sind Pfhlitfelder</p>
              <div class="card-editor-input">
                <form action="#">
                  <div class="editor">

                    <div class="input-field-group table-wrapper">
                      <div class="help"><i class="mdi mdi-help-circle"></i></div>
                      <div class="input-field">
                        <input placeholder="Hermes Germany GmbH" id="firma-marke" type="text" >
                        <label class="active" for="firma-marke">Beschwerde gegen Firma/Marke *</label>
                      </div>
                      <div class="input-field">
                        <input placeholder="z.B. Berlin" id="ort" type="text" >
                        <label class="active" for="ort">Ort</label>
                      </div>
                    </div>

                    <div class="input-field-group table-wrapper">
                      <div class="help"><i class="mdi mdi-help-circle"></i></div>
                      <div class="input-field">
                        <input placeholder="z.B. Münster" id="passiert" type="text" >
                        <label class="active" for="passiert">Wo ist der Fall passiert?</label>
                      </div>
                      <div class="input-field">
                        <input placeholder="z.B. 4814" id="plz" type="text" >
                        <label class="active" for="plz">PLZ</label>
                      </div>
                      <div class="input-field"><a class="btn waves-effect white-text m-b-small full-width" href="#slide-input">WEITERE ANGABEN</a></div>
                    </div>

                    <div id="slide-input" class="section-slide hide">
                      <p class="center m-b-medium">Weitere Angaben zur Firma/Institution (werden nicht veröffentlicht):</p>
                      <div class="input-field-group table-wrapper">
                        <div class="help"><i class="mdi mdi-help-circle"></i></div>
                        <div class="input-field">
                          <input placeholder="z.B. Geschäftsleitung" id="bereich-abteilung" type="text" >
                          <label class="active" for="bereich-abteilung">Bereich/Abteilung</label>
                        </div>
                      </div>
                      <div class="input-field-group table-wrapper">
                        <div class="help"><i class="mdi mdi-help-circle"></i></div>
                        <div class="input-field">
                          <input placeholder="z.B. Flughafenstr. 1" id="straße-hausnummer" type="text" >
                          <label class="active" for="straße-hausnummer">Straße und Hausnummer</label>
                        </div>
                      </div>
                      <div class="input-field-group table-wrapper">
                        <div class="help"><i class="mdi mdi-help-circle"></i></div>
                        <div class="input-field">
                          <input placeholder="z.B. Hamburg" id="ort-firmensitz" type="text" >
                          <label class="active" for="ort-firmensitz">Ort (Firmensitz)</label>
                        </div>
                        <div class="input-field">
                          <input placeholder="z.B. 4814" id="plz" type="text" >
                          <label class="active" for="plz">PLZ</label>
                        </div>
                      </div>
                      <div class="input-field-group table-wrapper">
                        <div class="help"><i class="mdi mdi-help-circle"></i></div>
                        <div class="input-field">
                          <input placeholder="z.B. 040 5077" id="telefon" type="text" >
                          <label class="active" for="telefon">Telefon</label>
                        </div>
                        <div class="input-field">
                          <input placeholder="z.B. 4814" id="fax" type="text" >
                          <label class="active" for="fax">FAX</label>
                        </div>
                      </div>
                      <div class="input-field-group table-wrapper">
                        <div class="help"><i class="mdi mdi-help-circle"></i></div>
                        <div class="input-field">
                          <input placeholder="z.B. feedback@example.com" id="mail-adresse-firma" type="text" >
                          <label class="active" for="mail-adresse-firma">E-Mail-Adresse der Firma</label>
                        </div>
                      </div>
                      <div class="input-field-group table-wrapper">
                        <div class="help"><i class="mdi mdi-help-circle"></i></div>
                        <div class="input-field">
                          <input placeholder="z.B. Dr. Richard Wagner" id="ansprechpartner-firma" type="text" >
                          <label class="active" for="ansprechpartner-firma">Ansprechpartner bei Firma</label>
                        </div>
                      </div>
                    </div>

                    <div class="input-field-group table-wrapper">
                      <div class="help"><i class="mdi mdi-help-circle"></i></div>
                      <div class="input-field">
                        <input placeholder="z.B. 4814" id="uberschrift" type="text" >
                        <label class="active" for="uberschrift">Überschrift *</label>
                      </div>
                    </div>

                    <div class="input-field-group table-wrapper">
                      <div class="help"><i class="mdi mdi-help-circle"></i></div>
                      <div class="input-field">
                        <input placeholder="Teaser" id="teaser" type="text" >
                        <label class="active" for="teaser">z.B. International Airlines</label>
                      </div>
                    </div>
                    <div class="input-field-group table-wrapper">
                      <div class="help"><i class="mdi mdi-help-circle"></i></div>
                      <div class="input-field">
                        <input placeholder=" z. B. 100200999" value="" id="bestell" type="text" >
                        <label class="active" for="bestell">Bestell-/Kundennummer</label>
                      </div>
                    </div>

                    <div class="input-field-group table-wrapper">
                      <div class="help"><i class="mdi mdi-help-circle"></i></div>
                      <div class="text left-align">Beschwerdetext</div>
                    </div>
                    <div class="text-editor">
                      <div class="editor"> 
                        <nav class="editor-nav">
                          <div class="nav-wrapper">
                            <ul class="left">
                              <li><a href=""><i class="mdi mdi-format-italic tiny"></i></a></li>
                              <li><a href=""><i class="mdi mdi-format-list-bulleted tiny"></i></a></li>
                              <li><a href=""><i class="mdi mdi-format-list-numbers tiny"></i></a></li>
                              <li><a class="active" href=""><i class="mdi mdi-spellcheck tiny"></i></a></li>
                              <li>
                                 <a class="dropdown-button" href="#!" data-activates="dropdown2">Deutsch<i class="mdi-chevron-down mdi"></i></a><ul id="dropdown2" class="dropdown-content">
                                   <li><a class="active" href="#!">Deutsch</a></li>
                                   <li><a href="#!">English</a></li>
                                 </ul>
                              </li>
                            </ul>
                          </div>
                        </nav>
                        <div class="input-field">
                          <textarea id="textarea1" class="materialize-textarea" style="height: 28.2px;"></textarea>
                          <label for="textarea1" class=""></label>
                        </div>
                      </div>
                    </div>

                    <div class="input-field-group table-wrapper">
                      <div class="help"><i class="mdi mdi-help-circle"></i></div>
                      <div class="input-field">
                        <input placeholder=" z. B. Erstattung von 75% des Flugpreises" value="" id="forderung" type="text" >
                        <label class="active" for="forderung">Ihre Forderung *</label>
                      </div>
                    </div>
                    
                    <div class="input-field-group table-wrapper">
                      <div class="help"><i class="mdi mdi-help-circle"></i></div>
                      <div class="text left-align">Mediadatei hochladen</div>
                    </div>
                    <div class="upload-files">
                      <div class="upload-files-input">
                        <div class="input-wrapper">
                          <div class="icon">
                            <i class="material-icons">file_upload</i>
                          </div>
                          <div class="text">
                            <p>upload your logo</p>
                            <p>JPG, PNG, GIF</p>
                          </div>
                        </div>
                      </div>

                      <div class="uploaded">
                        <div class="uploaded-item">
                          <img src="data:image/gif;base64,R0lGODlhAQABAIABAP///wAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" style="background-image: url(&quot;img/img-slider/1.jpeg&quot;); background-size: cover;">
                          <i class="material-icons highlight_off">highlight_off</i>
                          <div class="progress-wrapper">
                            <span class="progress-number">72%</span>
                            <div class="progress">
                                <div class="determinate" style="width: 70%"></div>
                            </div>
                          </div>
                        </div>
                        <div class="uploaded-item">
                          <img src="data:image/gif;base64,R0lGODlhAQABAIABAP///wAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" style="background-image: url(&quot;img/img-slider/2.jpeg&quot;); background-size: cover;">
                          <i class="material-icons highlight_off">highlight_off</i>
                        </div>
                      </div>
                    </div>

                    <div class="input-field-group table-wrapper">
                      <div class="help"><i class="mdi mdi-help-circle"></i></div>
                      <div class="input-field">
                        <input placeholder="Wir geben Ihre E-Mail-Adresse nicht an Dritte weiter" value="" id="email" type="text" >
                        <label class="active" for="email">Ihre E-Mail Adresse *</label>
                      </div>
                    </div>

                    <div class="input-field-group table-wrapper">
                      <div class="help"><i class="mdi mdi-help-circle"></i></div>
                      <div class="input-field">
                        <input placeholder=" z. B. Erika" value="" id="vorname" type="text" >
                        <label class="active" for="vorname">Ihr Vorname</label>
                      </div>
                      <div class="input-field">
                        <input placeholder="Mustermann" id="name" type="text" >
                        <label class="active" for="name">Ihr Name</label>
                      </div>
                    </div>

                  </div>
                  <div class="editor-active">
                    <button class="btn waves-effect waves-light z-theme-depth-4 center" type="submit" name="action">WEITER</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/reclabox.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
