<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/materialdesignicons.min.css">
  <link href="css/reclabox-materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>
  <div class="wrapper grey lighten-5">
    <header class="site-header blue-grey">
      <div class="navbar">
        <nav class="" role="navigation">
          <div class="nav-wrapper">
            <ul>
              <li>
                <a href="#" data-activates="slide-out" class="button-collapse waves-effect">
                  <div class="arrow-hamburger">
                    <div class="line arrow_top"></div>
                    <div class="line arrow_line"></div>
                    <div class="line arrow_bottom"></div>
                  </div>
                </a>
              </li>
            </ul>
            <a id="logo-container" href="javascript:void(0)" class="brand-logo hide"><img src="img/img-site/logo-reclabox.jpg" alt="ReclaBox"></a>
            <div class="nav-header nav-theme hide">
              <ul id="navHeader" class="nav-menu hide-on-med-and-down flex-wrapper">
                <li><a class="active" href="javascript:void(0)">BESCHWERDE LESEN</a></li>
                <li><a href="javascript:void(0)">BESCHWERDE SCHREIBEN</a></li>
              </ul>
            </div>
            <ul class="right hide-on-med-and-down nav-right currently-logged">
              <li>
                <form id="search-form">
                  <div class="search-widget">
                    <button class="search-button"><i class="material-icons small">search</i></button>
                    <button class="search-close-button"><i class="material-icons small">close</i></button>
                    <input name="q" type="text" id="search-input" autocomplete="off"/>
                    <label for="search-input">Name, Firma oder Schlagwort</label>
                  </div>
                </form>
              </li>
              <li>
                <a class="btn waves-effect waves-light" href="#emailSubscribe">subscribe</a>
              </li>
              <li>
                <a class="btn waves-effect waves-light" href="#emailUnsubscribe">unsubscribe</a>
              </li>
              <li>
                <a class="btn waves-effect waves-light" href="#usersLogin">login/regisrieren</a>
              </li>
              <!-- <li><a class="btn waves-effect waves-light" href="#usersRegister">registrieren </a></li> -->
            </ul>
          </div>
        </nav>
      </div><!-- end navbar-fixed -->

      <div class="container"><!-- logo and nav-menu -->
        <div class="row">
          <div class="brand-logo-wrapper">
            <a id="logo-container" href="javascript:void(0)" class="brand-logo"><img src="img/icon-svg/logo.svg" alt="ReclaBox"></a>
          </div>
          <div class="navbar navbar-bootom">
            <nav class="" role="navigation">
              <div class="nav-wrapper">
                <div class="nav-header nav-theme">
                  <ul id="navHeader" class="nav-menu hide-on-med-and-down flex-wrapper">
                    <li><a class="active" href="javascript:void(0)">BESCHWERDE LESEN</a></li>
                    <li><a href="javascript:void(0)">BESCHWERDE SCHREIBEN</a></li>
                    <!-- <li><a href="javascript:void(0)">BESCHWERDE SCHREIBEN</a></li> -->
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div><!-- logo and nav-menu -->

      <!-- components dropdown -->
      <div class="slide-nav-wrapper"><!-- heade left nav -->
        <ul id="slide-out" class="side-nav slide-nav">
          <li><a href="beschwerde-lesen.html">beschwerde lesen</a></li>
          <li><a href="beschwerde.html">beschwerde</a></li>
          <li><a href="categories.html">categories</a></li>
          <li><a href="company-account.html">company account</a></li>
          <li><a href="company-account-profil.html">company account profil</a></li>
          <li><a href="company-account-reclaRank-seal.html">company account reclaRank seal</a></li>
          <li><a href="company-account-links.html">company account links</a></li>
          <li><a href="company-account-automatic.html">company account automatic</a></li>
          <li><a href="company-public.html">company public</a></li>
          <li><a href="company-rechnungen.html">company rechnungen</a></li>
          <li><a href="edit-email-sending.html">edit email sending</a></li>
          <li><a href="firmen.html">firmen</a></li>
          <li><a href="list-articles.html">list articles</a></li>
          <li><a href="list-emails.html">list emails</a></li>
          <li><a href="request-firm-management.html">request firm management</a></li>
          <li><a href="schreiben.html">schreiben</a></li>
          <li><a href="vorschau.html">vorschau</a></li>
          <li><a href="search.html">search</a></li>
          <li><a href="404.html">404</a></li>
          <li><a href="email-confirm.html">email confirm</a></li>
        </ul>
      </div><!-- end heade left nav -->

      <div class="modal-container"><!-- header modal user forms -->
        <div id="usersLogin" class="modal user-form"><!-- users login -->
          <div class="modal-content">
            <div class="card-panel no-bg">
              <div class="card-header white tabs-wrapper">
                <ul class="tabs tabs-fixed-width">
                  <li class="tab"><a class="active" href="#userLoginTabContent">Login</a></li>
                  <li class="tab"><a class="" href="#userRegisterTabContent">Register</a></li>
                </ul>
              </div>
              <div id="userLoginTabContent" class="card no-bg"><!-- forms login and passwrd recovery -->
                <div class="card-image grey lighten-5">
                  <a class="icon-floating btn u-f-btn-prev hide" href="javascript:void(0)">
                    <i class="mdi mdi-arrow-left"></i>Back
                  </a>
                  <img src="img/icon-svg/auth-graphics.svg" title="">
                </div>
                <div id="formLogin" class="card-content form-login">
                  <form class="" action="#">
                    <div class="input-field">
                      <input id="emailLogin" type="email" class="validate">
                      <label for="emailLogin">Email Adresse</label>
                    </div>
                    <div class="input-field">
                      <input id="passwordLogin" type="password" class="validate">
                      <label for="passwordLogin">password</label>
                    </div>
                    <div class="input-field">
                      <input type="checkbox" class="filled-in" id="filled-in-box" />
                      <label for="filled-in-box">Angemeldet bleiben</label>
                    </div>
                    <button id="btn-waves" class="full-width btn waves-effect waves-light" type="submit" name="action">einloggen</button>
                  </form>
                  <div class="questions">
                    <a class="center" href="#newPassword">password vergessen?</a>
                    <a class="center" href="#">Noch night Mitglied?</a> 
                  </div> 
                </div>
                <div id="newPassword" class="card-content hide form-newpassword">
                  <div class="card-title">
                    <h6>Haben Sie Ihr password vergessen?</h6>
                  </div>
                  <p>
                    Bitte geben Sie Ihre E-Mail-Adresse ein, mit der Sie sich bereits registriert haben. Vergeben Sie sich außerdem ein neues password. Sie erhalten dann eine E-Mail mit einem Freischaltlink. Nach- dem Sie diesen bestätigt haben, können Sie sich
                  </p>
                  <form class="" action="#">
                    <div class="input-field">
                      <input id="email" type="email" class="rb-blue-input validate">
                      <label for="email">E-Mail-Adresse *</label>
                    </div>
                    <div class="input-field">
                      <input id="password" type="password" class="rb-blue-input validate">
                      <label for="password">Neu password *</label>
                    </div>
                    <div class="input-field">
                      <input id="passwordRep" type="password" class="rb-blue-input validate">
                      <label for="passwordRep">Neu password (wiederholen)*</label>
                    </div>
                    <button class="full-width btn waves-effect waves-light" type="submit" name="action">ABSCHICKEN</button>
                  </form>
                </div>
              </div><!-- end forms login and recovery -->
              <div id="userRegisterTabContent" class="card no-bg"><!-- forms register and nav -->
                <div class="register-nav invisible">
                  <div class="card-content center">
                    <p>Chooose the type of account</p>
                  </div>
                  <ul class="table-wrapper">
                    <li class="item">
                      <a class="center btn-register-nav" href="#userMitgliedschaft"><i class="mdi mdi-emoticon-sad"></i></a>
                      <p class="center">I am <br> a consumer</p>
                    </li>
                    <li class="item">
                      <a class="center btn-register-nav" href="#firmaMitgliedschaft"><i class="mdi mdi-domain"></i></a>
                      <p class="center">I am organisation <br> or company</p>
                    </li>
                  </ul>
                </div>
                <div id="registerForms" class="register-forms">
                  <div class="card-image hide">
                    <a class="icon-floating btn u-f-btn-prev hide" href="javascript:void(0)">
                      <i class="mdi mdi-arrow-left"></i>Back
                    </a>
                    <img src="img/icon-svg/auth-graphics.svg" title="">
                  </div>
                  <div id="userMitgliedschaft" class="card-content hide">
                    <p>Bereits mit Ihrer E-Mail-Adresse und password können Sie sich als Privatperson kostenlos anmelden und selbst Beschwerden, Kommentare oder Nachrichten an andere User schreiben. Falls Sie Ihren Namen angeben möchten, werden Ihre erstellten Inhalte unter diesem Namen veröffentlicht. </p>
                    <form class="col s12" action="#">
                      <div class="row">
                        <div class="input-field">
                          <input id="email" type="email" class="validate">
                          <label for="email">E-Mail-Adresse *</label>
                        </div>
                        <div class="input-field">
                          <input id="password" type="password" class="validate">
                          <label for="password">password *</label>
                        </div>
                        <div class="input-field">
                          <input id="passwordRep" type="password" class="validate">
                          <label for="passwordRep">password wiederholen *</label>
                        </div>
                          <div class="input-field">
                            <input id="lastName" type="text" class="validate">
                            <label for="lastName">Vorname</label>
                          </div>
                          <div class="input-field">
                            <input id="firstName" type="text" class="validate">
                            <label for="firstName">Name</label>
                          </div>
                      </div>
                      <p class="warning">Hinweis: wir geben Ihre E-Mail -Adresse nicht an Dritte weiter, bei uns  erhalten Sie keinen unerwünschen Spam. <a href="#">Datenschutz.</a></p>
                      <div class="input-field">
                        <input type="checkbox" class="filled-in" id="filled-in-box-user" />
                        <label for="filled-in-box-user">Ja, ich habe die <a href="#">Nutzungsbedinungen</a> gelesen und akzeptiert</label>
                      </div>
                      <button class="btn center waves-effect waves-light" type="submit" name="action">registrieren</button>
                    </form>
                  </div>
                  <div id="firmaMitgliedschaft" class="card-content hide">
                    <p>Nach dem Senden der Formulardaten erhalten Sie von uns eine E-Mail mit einem Verifizierungslink, der Sie zur Eingabe Ihrer Firmendaten führen wird. Sie können den Firmen-Account dann nach Freischaltung 14 Tage lang unverbindlich kostenlos testen, wir unterbreiten Ihnen rechtzeitig vor Ablauf ein Angebot zur weiteren Nutzung.</p>
                    <p>Haben Sie vorab Fragen zum Firmen-Account? Fordern Sie weitere Informationen hier an: ReclaBox Support</p>
                    <form class="col s12 firmRegistrarion" action="#">
                      <div class="row">
                        <div class="input-field">
                            <input id="companyName" type="text" class="validate">
                            <label for="companyName">Company / Institution</label>
                          </div>
                        <div class="input-field">
                          <input id="companyEmail" type="email" class="validate">
                          <label for="companyEmail">E-Mail-Adresse</label>
                        </div>
                      </div>
                      <p class="warning">Hinweis: wir geben Ihre E-Mail -Adresse nicht an Dritte weiter, bei uns  erhalten Sie keinen unerwünschen Spam. <a href="#">Datenschutz.</a></p>
                      <div class="input-field">
                        <input type="checkbox" class="filled-in" id="filled-in-box-firm" />
                        <label for="filled-in-box-firm">Ja, ich habe die <a href="#">Nutzungsbedinungen</a> gelesen und akzeptiert</label>
                      </div>
                      <button class="btn waves-effect waves-light center" type="submit" name="action">registrieren als firma</button>
                    </form>
                  </div>
                </div>
              </div><!-- end forms register and nav -->
            </div>
          </div>
        </div><!-- end users login -->

        <div id="emailSubscribe" class="modal user-form"><!-- email subscribe -->
          <div class="modal-content">
            <div class="card-panel no-bg">
              <div class="card no-bg">
                <div class="card-image grey lighten-5">
                  <img src="img/icon-svg/email-subscribe.svg" alt="">
                </div>
                <div class="card-content">
                  <div class="card-title">
                    <h6>Newsletter abonnieren</h6>
                  </div>
                  <form class="" action="#">
                    <div class="row">
                      <div class="input-field">
                        <input id="email" type="email" class="rb-blue-input validate">
                        <label for="email">E-Mail-Adresse *</label>
                      </div>
                    </div>
                    <button class="waves-effect full-width waves-light btn btn-theme-pink white-text" type="submit" name="action">ABSCHICKEN</button>
                  </form>  
                </div>
              </div>
            </div>  
          </div>
        </div><!-- end email subscribe -->

        <div id="emailUnsubscribe" class="modal user-form"><!-- email subscribe -->
          <div class="modal-content">
            <div class="card-panel no-bg">
              <div class="card no-bg">
                <div class="card-image grey lighten-5">
                  <img src="img/icon-svg/email-unsubscribe.svg" alt="">
                </div>
                <div class="card-content">
                  <div class="card-title">
                    <h6>Newsletter abonnieren</h6>
                  </div>
                  <form class="" action="#">
                    <div class="row">
                      <div class="input-field">
                        <input id="email" type="email" class="rb-blue-input validate">
                        <label for="email">E-Mail-Adresse *</label>
                      </div>
                    </div>
                    <button class="waves-effect full-width waves-light btn btn-theme-pink white-text" type="submit" name="action">ABSCHICKEN</button>
                  </form>  
                </div>
              </div>
            </div>  
          </div>
        </div><!-- end email subscribe -->
      </div><!-- end header modal user forms -->
    </header>

    <div class="container post post-search"><!-- content, sidebar, other components -->
      <div class="section">
        <div class="row">
          <div class="col s12 m4 l4"><!-- sidebar -->
            <div class="card-panel widget-sidebar widget-navigation">
              <div class="card ">
                <div class="card-content">
                  <ul>
                    <li><a class="active" href="javascript:void(0)">Alle <i class="material-icons right">chevron_right</i></a></li>
                    <li><a href="javascript:void(0)">Beschwerden <i class="material-icons right">chevron_right</i></a></li>
                    <li><a href="javascript:void(0)">Firmenantworten<i class="material-icons right">chevron_right</i></a></li>
                    <li><a href="javascript:void(0)">Kommentare<i class="material-icons right">chevron_right</i></a></li>
                    <li><a href="javascript:void(0)">Firmen <i class="material-icons right">chevron_right</i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div><!-- end sidebar -->
      
          <div class="col s12 m8 l8"><!-- content -->
            <div class="card-panel no-bg">
              <div class="card-header no-bg-header">
                <form class="search-form">
                  <div class="input-field">
                    <i class="mdi mdi-magnify prefix"></i>
                    <input id="search" type="text" placeholder="Name, Firma oder Schlagwort" class="validate">
                  </div>
                </form>
              </div>
              <div class="card no-bg">
                <div class="card-content">
                  <p class="total">Insgesamt <span class="count">18668</span> Ergebnisse gefunden für: "<span class="inquiry">hermes</span>"</p>
                </div>
              </div>
            </div>

            <section id="res_complaints" class="section">
              <div class="section-header result-header center">
                <p>Firmenantworten 1 - 3 von insgesamt 6892 Treffern</p>
              </div>
              <div class="card-panel no-bg card-posts">
                <div class="card">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste-2"></i></a>
                        <a href="#">Handy-Versand wird nicht veranlasst, niemand kann sagen wann!</a>
                      </h6>
                    </div>
                    <p>Pellentesque ut condimentum lacus, at luctus nunc. <span class="key-word">Hermes</span> suscipit neque nibh, convallis euismod sapien malesuada vitae. Aliquam et scelerisque libero. In finibus, nulla cursus finibus mollis, mauris diam tempor nisi, eget dapibus arcu tortor ut tortor. Curabitur cursus nunc vel 
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste-2"></i></a>
                        <a href="#">Handy-Versand wird nicht veranlasst, niemand kann sagen wann!</a>
                      </h6>
                    </div>
                    <p>Pellentesque ut condimentum lacus, at luctus nunc. <span class="key-word">Hermes</span> suscipit neque nibh, convallis euismod sapien malesuada vitae. Aliquam et scelerisque libero. In finibus, nulla cursus finibus mollis, mauris diam tempor nisi, eget dapibus arcu tortor ut tortor. Curabitur cursus nunc vel 
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste-2"></i></a>
                        <a href="#">Handy-Versand wird nicht veranlasst, niemand kann sagen wann!</a>
                      </h6>
                    </div>
                    <p>Pellentesque ut condimentum lacus, at luctus nunc. <span class="key-word">Hermes</span> suscipit neque nibh, convallis euismod sapien malesuada vitae. Aliquam et scelerisque libero. In finibus, nulla cursus finibus mollis, mauris diam tempor nisi, eget dapibus arcu tortor ut tortor. Curabitur cursus nunc vel
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
              </div>
              <div id="res_compl" class="card-panel no-bg card-posts hide">
                <div class="card">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste-2"></i></a>
                        <a href="#">Handy-Versand wird nicht veranlasst, niemand kann sagen wann!</a>
                      </h6>
                    </div>
                    <p>Pellentesque ut condimentum lacus, at luctus nunc. <span class="key-word">Hermes</span> suscipit neque nibh, convallis euismod sapien malesuada vitae. Aliquam et scelerisque libero. In finibus, nulla cursus finibus mollis, mauris diam tempor nisi, eget dapibus arcu tortor ut tortor. Curabitur cursus nunc vel
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste-2"></i></a>
                        <a href="#">Handy-Versand wird nicht veranlasst, niemand kann sagen wann!</a>
                      </h6>
                    </div>
                    <p>Pellentesque ut condimentum lacus, at luctus nunc. <span class="key-word">Hermes</span> suscipit neque nibh, convallis euismod sapien malesuada vitae. Aliquam et scelerisque libero. In finibus, nulla cursus finibus mollis, mauris diam tempor nisi, eget dapibus arcu tortor ut tortor. Curabitur cursus nunc vel
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste-2"></i></a>
                        <a href="#">Handy-Versand wird nicht veranlasst, niemand kann sagen wann!</a>
                      </h6>
                    </div>
                    <p>Pellentesque ut condimentum lacus, at luctus nunc. <span class="key-word">Hermes</span> suscipit neque nibh, convallis euismod sapien malesuada vitae. Aliquam et scelerisque libero. In finibus, nulla cursus finibus mollis, mauris diam tempor nisi, eget dapibus arcu tortor ut tortor. Curabitur cursus nunc vel
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
              </div>
              <ul class="pagination center hide">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!">4</a></li>
                <li class="waves-effect"><a href="#!">5</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
              </ul>
              <button class="btn waves-effect waves-light z-theme-depth-4 center" data-res="compl" type="submit" name="action">WEITERE SUCHERGEBNISSE</button>
            </section>

            <section id="res_defences" class="section">
              <div class="section-header result-header center">
                <p>Firmenantworten 1 - 3 von insgesamt 6892 Treffern</p>
              </div>
              <div class="card-panel no-bg">
                <div class="card-header no-bg-header">
                  <div class="article-info">
                    <div class="company-response">
                      <span>Firmenantwort zur Beschwerde: <a href="#">Sendungsverfolgung 01082148831882</a></span>
                    </div>
                    <div></div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-content">
                    <div class="article-info">
                      <span>von Stil und Leben</span>
                      <div class="date right">
                        <i class="mdi mdi-calendar-check teal-text"></i>
                        <span>12.09.2016 | 14:53 Uhr </span>
                      </div>
                    </div>
                    <p>Nach gebuchtem Flug (Februar 2016) und bezahlter Zusatzleistung (Koffer zusätzlich) <span class="key-word">musste</span> ich für das Gepäck zweimal zahlen, da bei der Fluggesellschaft kein...
                      <a href="!#">mehr</a></p>
                  </div>
                </div>
              </div>
              <div class="card-panel no-bg">
                <div class="card-header no-bg-header">
                  <div class="article-info">
                    <div class="company-response">
                      <span>Firmenantwort zur Beschwerde: <a href="#">Sendungsverfolgung 01082148831882</a></span>
                    </div>
                    <div></div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-content">
                    <div class="article-info">
                      <span>von Stil und Leben</span>
                      <div class="date right">
                        <i class="mdi mdi-calendar-check teal-text"></i>
                        <span>12.09.2016 | 14:53 Uhr </span>
                      </div>
                    </div>
                    <p>Nach gebuchtem Flug (Februar 2016) und bezahlter Zusatzleistung (Koffer zusätzlich) <span class="key-word">musste</span> ich für das Gepäck zweimal zahlen, da bei der Fluggesellschaft kein...
                      <a href="!#">mehr</a></p>
                  </div>
                </div>
              </div>
              <div class="card-panel no-bg">
                <div class="card-header no-bg-header">
                  <div class="article-info">
                    <div class="company-response">
                      <span>Firmenantwort zur Beschwerde: <a href="#">Sendungsverfolgung 01082148831882</a></span>
                    </div>
                    <div></div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-content">
                    <div class="article-info">
                      <span>von Stil und Leben</span>
                      <div class="date right">
                        <i class="mdi mdi-calendar-check teal-text"></i>
                        <span>12.09.2016 | 14:53 Uhr </span>
                      </div>
                    </div>
                    <p>Nach gebuchtem Flug (Februar 2016) und bezahlter Zusatzleistung (Koffer zusätzlich) <span class="key-word">musste</span> ich für das Gepäck zweimal zahlen, da bei der Fluggesellschaft kein...
                      <a href="!#">mehr</a></p>
                  </div>
                </div>
              </div>
              <div id="res_defen" class="hide">
                <div class="card-panel no-bg">
                  <div class="card-header no-bg-header">
                    <div class="article-info">
                      <div class="company-response">
                        <span>Firmenantwort zur Beschwerde: <a href="#">Sendungsverfolgung 01082148831882</a></span>
                      </div>
                      <div></div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-content">
                      <div class="article-info">
                        <span>von Stil und Leben</span>
                        <div class="date right">
                          <i class="mdi mdi-calendar-check teal-text"></i>
                          <span>12.09.2016 | 14:53 Uhr </span>
                        </div>
                      </div>
                      <p>Nach gebuchtem Flug (Februar 2016) und bezahlter Zusatzleistung (Koffer zusätzlich) <span class="key-word">musste</span> ich für das Gepäck zweimal zahlen, da bei der Fluggesellschaft kein...
                        <a href="!#">mehr</a></p>
                    </div>
                  </div>
                </div>
                <div class="card-panel no-bg">
                  <div class="card-header no-bg-header">
                    <div class="article-info">
                      <div class="company-response">
                        <span>Firmenantwort zur Beschwerde: <a href="#">Sendungsverfolgung 01082148831882</a></span>
                      </div>
                      <div></div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-content">
                      <div class="article-info">
                        <span>von Stil und Leben</span>
                        <div class="date right">
                          <i class="mdi mdi-calendar-check teal-text"></i>
                          <span>12.09.2016 | 14:53 Uhr </span>
                        </div>
                      </div>
                      <p>Nach gebuchtem Flug (Februar 2016) und bezahlter Zusatzleistung (Koffer zusätzlich) <span class="key-word">musste</span> ich für das Gepäck zweimal zahlen, da bei der Fluggesellschaft kein...
                        <a href="!#">mehr</a></p>
                    </div>
                  </div>
                </div>
                <div class="card-panel no-bg">
                  <div class="card-header no-bg-header">
                    <div class="article-info">
                      <div class="company-response">
                        <span>Firmenantwort zur Beschwerde: <a href="#">Sendungsverfolgung 01082148831882</a></span>
                      </div>
                      <div></div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-content">
                      <div class="article-info">
                        <span>von Stil und Leben</span>
                        <div class="date right">
                          <i class="mdi mdi-calendar-check teal-text"></i>
                          <span>12.09.2016 | 14:53 Uhr </span>
                        </div>
                      </div>
                      <p>Nach gebuchtem Flug (Februar 2016) und bezahlter Zusatzleistung (Koffer zusätzlich) <span class="key-word">musste</span> ich für das Gepäck zweimal zahlen, da bei der Fluggesellschaft kein...
                        <a href="!#">mehr</a></p>
                    </div>
                  </div>
                </div>
              </div>
              <ul class="pagination center hide">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!">4</a></li>
                <li class="waves-effect"><a href="#!">5</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
              </ul>
              <button class="btn waves-effect waves-light z-theme-depth-4 center" data-res="defen" type="submit" name="action">WEITERE SUCHERGEBNISSE</button>
            </section>
            
            <section id="res_comments" class="section comments-wrapp">
              <div class="section-header result-header center">
                <p>Kommentare 1 - 3 von insgesamt 6892 Treffern</p>
              </div>

              <div class="card-panel no-bg card-comment">
                <div class="card-header no-bg-header">
                  <div class="article-info">
                    <div class="company-response">
                      <span>Firmenantwort zur Beschwerde: <a href="#">Sendungsverfolgung 01082148831882</a></span>
                    </div>
                    <div></div>
                  </div>
                </div>
                <div class="card teal">
                  <div class="card-content white-text">
                    <div class="article-info ">
                      <div class="author vertical-line white-text">
                        <a href="javascript:void(0)" title="James Khan">
                          <div class="avatar-wrapper lime darken-4">
                            <span>WS</span>
                          </div>
                          <span class="white-text">&emsp;James Khan</span>
                        </a>
                        <i class="mdi mdi-calendar-text tiny white-text"></i>&nbsp;
                        <span class="date-publication">Vor 1 Woche</span>
                      </div>
                      <div></div>
                    </div>
                    <p>
                      Curabitur congue nunc nisi, vitae lacinia magna tempor vel. <span class="key-word">Phasellus</span> venenatis, risus sit amet finibus facilisis, sem est lacinia dui, non molestie sapien tellus eu risus. Maecenas consectetur sapien eget purus vehicula, in pharetra felis sagittis. Aliquam erat volutpat.
                    </p>
                  </div>
                  <div class="card-footer">
                    <div class="card-action white-text teal darken-1">
                      <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5" data-tooltip-id="245ea3dd-52ba-7010-cfcc-536ae8f0e729"><i class="rbi rbi-geloste small"></i></a>
                      <a href="javascript:void(0)" title="">Die Beschwerde ist gelöst</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-panel no-bg card-comment">
                <div class="card-header no-bg-header">
                  <div class="article-info">
                    <div class="company-response">
                      <span>Firmenantwort zur Beschwerde: <a href="#">Sendungsverfolgung 01082148831882</a></span>
                    </div>
                    <div></div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-content">
                    <div class="article-info ">
                      <div class="author vertical-line">
                        <a href="javascript:void(0)" title="James Khan">
                          <div class="avatar-wrapper green darken-1">
                            <span>RW</span>
                          </div>
                          <span>&emsp;James Khan</span>
                        </a>
                        <i class="mdi mdi-calendar-text tiny"></i>&nbsp;
                        <span class="date-publication">Vor 1 Woche</span>
                      </div>
                      <div></div>
                    </div>
                    <p>
                      Curabitur congue nunc nisi, <span class="key-word">vitae</span> lacinia magna tempor vel. 
                    </p>
                  </div>
                </div>
              </div>
              <div class="card-panel no-bg card-comment">
                <div class="card-header no-bg-header">
                  <div class="article-info">
                    <div class="company-response">
                      <span>Firmenantwort zur Beschwerde: <a href="#">Sendungsverfolgung 01082148831882</a></span>
                    </div>
                    <div></div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-content">
                    <div class="article-info ">
                      <div class="author vertical-line">
                        <a href="javascript:void(0)" title="James Khan">
                          <div class="avatar-wrapper teal accent-2">
                            <span>AO</span>
                          </div>
                          <span>&emsp;James Khan</span>
                        </a>
                        <i class="mdi mdi-calendar-text tiny"></i>&nbsp;
                        <span class="date-publication">Vor 1 Woche</span>
                      </div>
                      <div></div>
                    </div>
                    <p>
                      Curabitur congue nunc nisi, vitae lacinia magna tempor vel. <span class="key-word">Phasellus</span> venenatis, risus sit amet finibus facilisis, sem est lacinia dui, non molestie sapien tellus eu risus. Maecenas consectetur sapien eget purus vehicula, in pharetra felis sagittis. Aliquam erat volutpat.
                    </p>
                  </div>
                </div>
              </div>
							<div id="res_comm" class="hide">
								<div class="card-panel no-bg card-comment">
									<div class="card-header no-bg-header">
										<div class="article-info">
											<div class="company-response">
												<span>Firmenantwort zur Beschwerde: <a href="#">Sendungsverfolgung 01082148831882</a></span>
											</div>
											<div></div>
										</div>
									</div>
									<div class="card pink lighten-3">
										<div class="card-content white-text">
											<div class="article-info ">
												<div class="author vertical-line">
													<a href="javascript:void(0)" title="James Khan">
														<div class="avatar-wrapper cyan darken-1">
															<span>TP</span>
														</div>
														<span class="white-text">&emsp;James Khan</span>
													</a>
													<i class="mdi mdi-calendar-text tiny white-text"></i>&nbsp;
													<span class="date-publication white-text">Vor 1 Woche</span>
												</div>
												<div></div>
											</div>
											<p>
												Curabitur congue nunc nisi, vitae lacinia magna tempor vel. <span class="key-word">Phasellus</span> venenatis, risus sit amet finibus facilisis, sem est lacinia dui, non molestie sapien tellus eu risus. Maecenas consectetur sapien eget purus vehicula, in pharetra felis sagittis. Aliquam erat volutpat.
											</p>
										</div>
										<div class="card-footer">
											<div class="card-action white-text pink lighten-2">
												<a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5" data-tooltip-id="245ea3dd-52ba-7010-cfcc-536ae8f0e729"><i class="rbi rbi-noch-nicht-geloste small"></i></a>
												<a href="javascript:void(0)" title="">Die Beschwerde ist gelöst</a>
											</div>
										</div>
									</div>
								</div>
								<div class="card-panel no-bg card-comment">
									<div class="card-header no-bg-header">
										<div class="article-info">
											<div class="company-response">
												<span>Firmenantwort zur Beschwerde: <a href="#">Sendungsverfolgung 01082148831882</a></span>
											</div>
											<div></div>
										</div>
									</div>
									<div class="card pink">
										<div class="card-content white-text">
											<div class="article-info ">
												<div class="author vertical-line">
													<a href="javascript:void(0)" title="James Khan">
														<div class="avatar-wrapper deep-purple accent-1">
															<span>JK</span>
														</div>
														<span class="white-text">&emsp;James Khan</span>
													</a>
													<i class="mdi mdi-calendar-text tiny white-text"></i>&nbsp;
													<span class="date-publication white-text">Vor 1 Woche</span>
												</div>
												<div></div>
											</div>
											<p>
												Curabitur congue nunc nisi, vitae lacinia magna tempor vel. <span class="key-word">Phasellus</span> venenatis, risus sit amet finibus facilisis, sem est lacinia dui, non molestie sapien tellus eu risus. Maecenas consectetur sapien eget purus vehicula, in pharetra felis sagittis. Aliquam erat volutpat.
											</p>
											<div class="uploaded">
												<div class="uploaded-item">
													<img src="img/img-slider/1.jpeg" alt="">
													<i class="material-icons highlight_off">highlight_off</i>
												</div>
												<div class="uploaded-item">
													<img src="img/img-slider/2.jpeg" alt="">
													<i class="material-icons highlight_off">highlight_off</i>
												</div>
												<div class="uploaded-item">
													<img src="img/img-slider/3.jpeg" alt="">
													<i class="material-icons highlight_off">highlight_off</i>
												</div>
											</div>
											<p>Maecenas consectetur sapien eget purus vehicula, in pharetra felis sagittis. Aliquam erat volutpat.</p>
										</div>
										<div class="card-footer">
											<div class="card-action white-text pink darken-1">
												<a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5" data-tooltip-id="245ea3dd-52ba-7010-cfcc-536ae8f0e729"><i class="rbi rbi-endgiltig-nicht small"></i></a>
												<a href="javascript:void(0)" title="">Die Beschwerde ist gelöst</a>
											</div>
										</div>
									</div>
								</div>
								<div class="card-panel no-bg card-comment">
									<div class="card-header no-bg-header">
										<div class="article-info">
											<div class="company-response">
												<span>Firmenantwort zur Beschwerde: <a href="#">Sendungsverfolgung 01082148831882</a></span>
											</div>
											<div></div>
										</div>
									</div>
									<div class="card cyan lighten-1">
										<div class="card-content white-text">
											<div class="article-info ">
												<div class="author vertical-line">
													<a href="javascript:void(0)" title="James Khan">
														<div class="avatar-wrapper red accent-1">
															<span>YL</span>
														</div>
														<span class="white-text">&emsp;James Khan</span>
													</a>
													<i class="mdi mdi-calendar-text tiny white-text "></i>&nbsp;
													<span class="date-publication white-text">Vor 1 Woche</span>
												</div>
												<div></div>
											</div>
											<p>
												Curabitur congue nunc nisi, vitae lacinia magna tempor vel. <span class="key-word">Phasellus</span> venenatis, risus sit amet finibus facilisis, sem est lacinia dui, non molestie sapien tellus eu risus. Maecenas consectetur sapien eget purus vehicula, in pharetra felis sagittis. Aliquam erat volutpat.
											</p>
										</div>
										<div class="card-footer">
											<div class="card-action white-text cyan accent-4">
												<a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5" data-tooltip-id="245ea3dd-52ba-7010-cfcc-536ae8f0e729"><i class="rbi rbi-hielfreicher-commentar small"></i></a>
												<a href="javascript:void(0)" title="">Die Beschwerde ist gelöst</a>
											</div>
										</div>
									</div>
								</div>
							</div>

              <ul class="pagination center hide">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!">4</a></li>
                <li class="waves-effect"><a href="#!">5</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
              </ul>
              <button class="btn waves-effect waves-light z-theme-depth-4 center" data-res="comm" type="submit" name="action">WEITERE SUCHERGEBNISSE</button>
            </section>
            
          </div><!-- end content -->
        </div>
      </div>
    </div><!-- End ontent, sidebar, other components -->
  </div>

  <!--  Scripts-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/reclabox.js"></script>
  <script type="text/javascript" src="js/init.js"></script>

  </body>
</html>
