@font-face {
  font-family: 'Roboto-Medium';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/roboto/Roboto-Medium.eot');
  src: url('../fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Medium.woff') format('woff'), url('../fonts/roboto/Roboto-Medium.ttf') format('truetype'), url('../fonts/roboto/Roboto-Medium.svg#icon') format('svg');
}
@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/roboto/Roboto-Regular.eot');
  src: url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Regular.woff') format('woff'), url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'), url('../fonts/roboto/Roboto-Regular.svg#icon') format('svg');
}
html,
body {
  height: 100%;
  padding: 10px;
}
body {
  background: url("../img/bgImg2.png") 146px 96px #f06292;
  text-align: center;
}
body::before {
  display: none;
  content: "";
  height: 100%;
  vertical-align: middle;
}
.centered {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  max-width: 400px;
}
.centered h1 {
  font: 18px/35px "Roboto-Medium";
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.5px;
}
.centered .card {
  -webkit-box-shadow: 0 13px 51px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 13px 51px 0px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.centered .card .card-content {
  padding: 30px;
  padding-bottom: 12px;
  font: 500 14px/24px "Roboto";
}
.centered .card .card-content p {
  margin: 0 0 24px 0;
}
.centered .card .card-content .btn {
  margin: -6px 0 17px 0;
  background-color: #ff4081;
}
.centered .card .card-content .btn:hover {
  background-color: #ff5a92;
}
@media screen and (min-width: 471px) {
  body::before {
    display: inline-block;
  }
}
