.search-widget {
  box-sizing: border-box;
  color: inherit;
  font-size: 14px;
  height: $navbar-height-mobile;
  margin: 0;
  padding: 0;
  position: relative;
  right: 24px;
  top: 0px;
  transition: .2s cubic-bezier(.4, 0, .2, 1) !important;
  width: 0px;
  z-index: 2;

  
  @media #{$large-and-up} {
    right: 16px;
    top: 0px;
  }


  input, input[type="text"] {
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 5px 0;
    width: 100%;
    text-align: left;
    background: 0;
    box-shadow: none;
    color: #9e9e9e;
    top: 12px;
    position: relative;
    height: 31px;

    &:focus,
    &:hover {
      box-shadow: none;
      border-bottom: 1px solid #607d8b;
    }
  }

  label {
    box-sizing: border-box;
    bottom: 0;
    font-size: 14px;
    font-weight: 300;
    color: #9e9e9e;
    left: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
    display: block;
    top: 4px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;

    &:after {
      box-sizing: border-box;
      background-color: #607d8b;
      bottom: 0px;
      content: '';
      height: 2px;
      width: 10px;
      left: 45%;
      position: absolute;
      top: 38px !important;
      transition: .2s cubic-bezier(.4, 0, .2, 1) !important;
      visibility: hidden;
      opacity: 1 !important;
    }

  }

  .search-button {
    box-sizing: border-box;
    position: absolute;
    left: -48px;
    top: 0px;
    color: inherit;
  }

  .search-close-button {
    box-sizing: border-box;
    position: absolute;
    right: -16px;
    top: 0px;
    display:none;
    opacity: 0;
    transition: .2s cubic-bezier(.4, 0, .2, 1) !important;
    color: inherit;
  }

  &.text-entered {
    label {
      visibility: hidden;
    }
  }

  &.focused {
    input {
      outline: none;
    }

    label:after {
      left: 0;
      width: 100%;
      visibility: visible;
      
    }
  }
}

.search-open {

  .search-widget {
    width: 302px;

    .search-close-button {
      display: block;
      opacity: 1;
    }
  }
}