.page-company {

	.section {
		padding-top: 42px;
		padding-bottom: 25px;
	}

	.card-panel {
		padding: 0;
		margin-bottom: 25px;

		.card {
			padding: 0;

			.card-content.content-table {
				padding: 15px 0;
			}
		}
	}
	
	td {
		font-size: 12px;
		font-weight: 400;

		&:nth-child(2) {
			text-transform: uppercase;
		}
		&:nth-child(4) {
			max-width: 60px;

			span {
				float: right;
				position: relative;
				top: 4px;
			}
			i {
				float: left;
				position: relative;
				top: -1px;
			}
		}
		i {
			font-size: 18px;
			position: relative;
			top: -1px;
			&.mdi-email-outline {
				top: 0;
			}
		}
		img {
			height: 19px;
			width: 18px;
			position: relative;
			top: 2px;
		}
	}

	.table-wrapper {
		width: 100%;
		height: auto;
	}

	.rank-company, .logo-company {
		width: 50%;
		height: 70px;
	}
	.logo-company {
		width: 100px;
		height: 70px;
		background-color: #fafafa;
		border-radius: 3px;
		text-align: center;

		i {
			font-size: 32px !important;
			line-height: 70px;
			color: #607d8b;
		}
	}

	span[class|="rank"] {
		width: 70px;
		height: 70px;
		display: block;
		background-size: 740%;
		float: right;
	}
	.rank-0 {
		background: url("../img/img-site/reclarank.png") -32px -29px no-repeat;
	}
	.rank-1 {
		background: url("../img/img-site/reclarank.png") -112px -29px no-repeat;
	}
	.rank-2 {
		background: url("../img/img-site/reclarank.png") -191px -29px no-repeat;
	}
	.rank-3 {
		background: url("../img/img-site/reclarank.png") -271px -29px no-repeat;
	}
	.rank-4 {
		background: url("../img/img-site/reclarank.png") -350px -29px no-repeat;
	}
	.rank-5 {
		background: url("../img/img-site/reclarank.png") -426px -29px no-repeat;
	}

// widget sidebar company
	.widget-company {
		.card-content {
			a {
				font-weight: 400;
				line-height: 15px;
				font-size: 12px;
			}
		}
	}

	.widget-similar, 
	.widget-navigation {
		.card-content {
			padding: 0 0 5px;
		}
		.card-title {
			padding: 9px 15px;
			text-transform: uppercase;
		}
	}

	.widget-similar {
		.card-content {
			ul {
				padding-left: 25px;

				li {
					line-height: 24px;
				}
			}
		}
		.card-title {
			background-color: #fafafa;
			span {
				display: inline-block;
				text-align: center;
				position: relative;
				color: white;
				font-family: Roboto;
				font-size: 14px;
				font-weight: 400;
				width: 20px;
				height: 20px;
				background-color: #607d8b;
				border-radius: 3px;
				vertical-align: middle;
				margin-right: 15px;
			}
			a {
				display: inline-block;
				vertical-align: middle;
			}
		}

		.card.active {
			.card-title, 
			.card-content {
				background-color: #eceff1;
			}
			.card-title, .card-title a, {
				color: rgba(0, 0, 0, .87);
				font-weight: 700;
			}
		}
	}

	.widget-navigation {
		.card-title {
			color: rgba(0, 0, 0, .5);
			padding: 12px 15px;
			font-size: 14px;
			font-weight: 400;
		}
		ul {
			margin: 0;
			li a {
				color: $link-color;
				font-weight: 400;
				padding: 7px 10px 7px 25px;
				display: block;
				transition: none;

				&:hover, 
				&.active {
					color: $link-color;
					background-color: #fafafa;
					border-left: 2px solid $secondary-color;
					font-weight: 400;
					padding-left: 23px;

					i {
						display: block;
					}
				}

				span {
					color: $primary-color !important;
				}

				i {
					display: none;
					font-size: 20px;
				}

			}
		}
	}

}
