//= header.html

    <div class="container post">
      <div class="section"><!-- Hot story -->
        <div class="row">
          <div class="col s12 m8 l8">
            <div class="card-panel no-bg">
              <div class="card hot-story">
                <div class="card-content">
                  <span class="hot-story-text">hot beschwerden</span>
                  <div class="breadcrumb-wrapper">
                    <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                    <a href="#!" class="breadcrumb">Fluggesellschaften</a>
                    <a href="#!" class="breadcrumb breadcrumb-last-child">Turkish Airlines</a>
                  </div>
                  <div class="card-title">
                    <h2>
                      <span class="tooltipped left" href="javascript:void(0)" data-tooltip="Warte seit 5">
                        <i class="rbi rbi-endgiltig-nicht medium pink-text"></i>
                      </span>
                      <a class="" href="#">Lieferung angeblich zugestellt.<!--  Jedoch Liefe-rung nie erhalten. --></a>
                    </h2>
                  </div>
                  <p>Sehr geehrte Damen und Herren, meine Lieferung wurde angeblich zugestellt. Jedoch habe ich die Ware niemals erhalten. Es lag auch kein Zettel im Briefkasten, dass das die Abgabe irgendwo anders erfolgt wäre Sehr geehrte Damen und Herren, meine Lieferung wurde angeblich zugestellt. Jedoch habe ich die Ware niemals erhalten. Es lag auch kein Zettel im Briefkasten, dass das die Abgabe irgendwo anders erfolgt wäre...</p>
                </div>
                <div class="card-action">
                  <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                  <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                  <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                  <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                  <div class="date right">
                    <span>12.09.2016 | 14:53 Uhr </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="card-panel no-bg vertical-union">
              <div class="card-header">
                <h6 class="h-title"><a href="#">NEUESTEN FIRMENANTWORTEN</a></h6>
              </div>
              <div class="vertical-union-container">
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="card-title">
                      <i class="mdi mdi-calendar-check teal-text tiny"></i>von Wolf GmbH:
                    </div>
                    <p><a href="#">Sehr geehrter Hr. Hülswitt die Gewährleistungszeit...</a></p>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="card-title">
                      NOBASOL AS:
                    </div>
                    <p><a href="#">Sehr geehrter Hr. Hülswitt die Gewährleistungszeit...</a></p>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="card-title">
                      <i class="mdi mdi-calendar-check teal-text tiny"></i>Rakuten Deutschland:
                    </div>
                    <p><a href="#">Sehr geehrter Hr. Hülswitt die Gewährleistungszeit...</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- End Hot story -->

      <div class="section"><!-- Top beschwerden -->
        <div class="row">
          <div class="card-panel no-bg carousel-container">
            <div class="card-header">
              <h6><a href="#">TOP BESCHWERDEN</a></h6>
            </div>
            <div id="topBeschwerden">
              <div class="card card-carousel">
                <div class="card-content">
                  <div class="breadcrumb-wrapper">
                    <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                    <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                  </div>
                  <div class="card-title">
                    <h6>
                      <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste tiny"></i></a>
                      <a href="#">Warte seit 5 Monaten auf die Rückerstattung!</a>
                    </h6>
                  </div>
                  <p>
                    Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt,
                    Ware war dann nicht lieferbar und warte seit Monaten nun auf die. Finger weg von der Firma! Habe vor 5 Monaten
                  </p>
                </div>
                <div class="card-action">
                  <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                  <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                  <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                  <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                  <div class="date right">
                    <span>12.09.2016 | 14:53 Uhr </span>
                  </div>
                </div>
              </div>
              <div class="card card-carousel">
                <div class="card-content">
                  <div class="breadcrumb-wrapper">
                    <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                    <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                  </div>
                  <div class="card-title">
                    <h6>
                      <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste tiny"></i></a>
                      <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung!</a>
                    </h6>
                  </div>
                  <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                  </p>
                </div>
                <div class="card-action">
                  <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                  <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                  <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                  <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                  <div class="date right">
                    <span>12.09.2016 | 14:53 Uhr </span>
                  </div>
                </div>
              </div>
              <div class="card card-carousel">
                <div class="card-content">
                  <div class="breadcrumb-wrapper">
                    <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                    <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                  </div>
                  <div class="card-title">
                    <h6>
                      <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste tiny"></i></a>
                      <a href="#">Warte seit 5 Monaten auf die Rückerstattung!</a>
                    </h6>
                  </div>
                  <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                  </p>
                </div>
                <div class="card-action">
                  <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                  <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                  <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                  <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                  <div class="date right">
                    <span>12.09.2016 | 14:53 Uhr </span>
                  </div>
                </div>
              </div>
              <div class="card card-carousel">
                <div class="card-content">
                  <div class="breadcrumb-wrapper">
                    <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                    <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                  </div>
                  <div class="card-title">
                    <h6>
                      <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste tiny"></i></a>
                      <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung!</a>
                    </h6>
                  </div>
                  <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                  </p>
                </div>
                <div class="card-action">
                  <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                  <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                  <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                  <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                  <div class="date right">
                    <span>12.09.2016 | 14:53 Uhr </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div><!-- End Top beschwerden -->

      <div class="section"><!-- neueste beschwerden -->
        <div class="row">
          <div class="card-panel no-bg vertical-union carousel-container">
            <div class="card-header"><h6><a href="#">NEUESTE BESCHWERDEN</a></h6></div>
            <div id="neuesteBeschwerden">
              <div class="vertical-union-container card-carousel">
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste tiny"></i></a>
                        <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung!</a>
                      </h6>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste tiny"></i></a>
                        <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung! Warte seit 5 Monaten auf die Rückerstattung</a>
                      </h6>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste tiny"></i></a>
                        <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung!</a>
                      </h6>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vertical-union-container card-carousel">
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <!--<a href="#!" class="breadcrumb">Mobilität und Reisen</a>-->
                      <!--<a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>-->
											<span class="breadcrumb-last-child">Fluggesellschaften</span>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste tiny"></i></a>
                        <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung!</a>
                      </h6>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste tiny"></i></a>
                        <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung! Warte seit 5 Monaten auf die Rückerstattung</a>
                      </h6>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste tiny"></i></a>
                        <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung!</a>
                      </h6>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vertical-union-container card-carousel">
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste tiny"></i></a>
                        <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung! Warte seit 5 Monaten auf die Rückerstattung</a>
                      </h6>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste tiny"></i></a>
                        <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung!</a>
                      </h6>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste tiny"></i></a>
                        <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung!</a>
                      </h6>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vertical-union-container card-carousel">
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste tiny"></i></a>
                        <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung!</a>
                      </h6>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste tiny"></i></a>
                        <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung!</a>
                      </h6>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                    <div class="card-title">
                      <h6>
                        <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste tiny"></i></a>
                        <a href="#">Warte seit 5 Monaten auf die Rückerstattung die Rückerstattung!</a>
                      </h6>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="card-action">
                    <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                    <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                    <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                    <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- end neueste beschwerden -->

      <div class="section"><!-- neu bei reclabox, die neuesten kommentare, schlagworte -->
        <div class="row">
          <div class="col s12 m4 l4">
            <div class="card-panel no-bg vertical-union widget">
              <div class="card-header">
                <h6><a href="#">NEU BEI RECLABOX</a></h6>
              </div>
              <div class="vertical-union-container">
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="card-title">
                      <a href="#">ReclaBox Firmen-Mitgliedschaft:</a>
                    </div>
                    <p>Seit geraumer Zeit gibt es für Firmen die Mögl...
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="card-title">
                      <a href="#">Kommentieren bei ReclaBox:</a>
                    </div>
                    <p>Die Beschwerdeführer können sich ab heute allein...
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="card-title">
                      <a href="#">Beschwerde lösen</a>
                    </div>
                    <p>Eingeloggte Nutzer können selbst ihre Besch...
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="card-title">
                      <a href="#">Beschwerde lösen</a>
                    </div>
                    <p>Eingeloggte Nutzer können selbst ihre Bes...
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="card-title">
                      <a href="#">Beschwerde als pdf:</a>
                    </div>
                    <p>Jede Beschwerde kann als pdf gespeichert... </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col s12 m5 l5">
            <div class="card-panel no-bg vertical-union widget">
              <div class="card-header">
                <h6><a href="#">DIE NEUESTEN KOMMENTARE</a></h6>
              </div>
              <div class="vertical-union-container">
                  <div class="card no-bg horizontal">
                  <div class="card-image">
                      <div class="avatar-wrapper pink darken-4">
                        <span>DD</span>
                      </div>
                  </div>
                  <div class="card-stacked">
                      <div class="card-content">
                          <div class="card-title">
                              Jenna Marbles:
                          </div>
                          <p><a href="#">Die Beschwerdeführer können sich ab heute allein...</a></p>
                      </div>
                  </div>
                </div>
                  <div class="divider"></div>
                  <div class="card no-bg horizontal">
                      <div class="card-image">
                        <div class="avatar-wrapper purple darken-4">
                          <span>JM</span>
                        </div>
                      </div>
                      <div class="card-stacked">
                          <div class="card-content">
                              <div class="card-title">
                                  Jenna Marbles:
                              </div>
                              <p><a href="#">Die Beschwerdeführer können sich ab heute allein...</a></p>
                          </div>
                      </div>
                  </div>
                  <div class="divider"></div>
                  <div class="card no-bg horizontal">
                      <div class="card-image">
                        <div class="avatar-wrapper red darken-4">
                          <span>WD</span>
                        </div>
                      </div>
                      <div class="card-stacked">
                          <div class="card-content">
                              <div class="card-title">
                                  Jenna Marbles:
                              </div>
                              <p><a href="#">Die Beschwerdeführer können sich ab heute allein...</a></p>
                          </div>
                      </div>
                  </div>
                  <div class="divider"></div>
                  <div class="card no-bg horizontal">
                      <div class="card-image">
                        <div class="avatar-wrapper blue darken-4">
                          <span>WD</span>
                        </div>
                      </div>
                      <div class="card-stacked">
                        <div class="card-content">
                          <div class="card-title">
                              Jenna Marbles:
                          </div>
                          <p><a href="#">Die Beschwerdeführer können sich ab heute allein...</a></p>
                        </div>
                      </div>
                  </div>
                  <div class="divider"></div>
                  <div class="card no-bg horizontal">
                      <div class="card-image">
                        <div class="avatar-wrapper green darken-4">
                          <span>WD</span>
                        </div>
                      </div>
                      <div class="card-stacked">
                          <div class="card-content">
                              <div class="card-title">
                                  Jenna Marbles:
                              </div>
                              <p><a href="#">Die Beschwerdeführer können sich ab heute allein...</a></p>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>

          <div class="col s12 m3 l3">
            
            <div class="card-panel no-bg widget-tags">
              <div class="card-header">
                <h6><a href="#">SCHLAGWORTE</a></h6>
              </div>
              <div class="card no-bg">
                <div class="card-content chips-container">
                  <a class="chip waves-effect waves-light" href="javascript:void(0)">VERSICHERUNG</a>
                  <a class="chip pink lighten-4 white-text waves-effect waves-light" href="javascript:void(0)">DEUTSCHE BAHN</a>
                  <a class="chip waves-effect waves-light" href="javascript:void(0)">FREENET</a>
                  <a class="chip pink accent-2 white-text waves-effect waves-light" href="javascript:void(0)">FLEXSTROM</a>
                  <a class="chip pink lighten-5 waves-effect waves-light" href="javascript:void(0)">E WIE EINFACH STROM & GAS</a>
                  <a class="chip pink accent-2 white-text waves-effect waves-light" href="javascript:void(0)">DPD</a>
                  <a class="chip waves-effect waves-light" href="javascript:void(0)">VERSICHERUNG</a>
                  <a class="chip waves-effect waves-light" href="javascript:void(0)">DPD</a>
                  <a class="chip waves-effect waves-light" href="javascript:void(0)">1x1</a>
                  <a class="chip waves-effect waves-light" href="javascript:void(0)">DPD</a>
                  <a class="chip pink accent-2 white-text waves-effect waves-light" href="javascript:void(0)">VERSICHERUNG</a>
                  <a class="chip pink lighten-4 white-text waves-effect waves-light" href="javascript:void(0)">FREENET</a>
                  <a class="chip pink lighten-5 white-text waves-effect waves-light" href="javascript:void(0)">FLEXSTROM</a>
                  <a class="chip waves-effect waves-light" href="javascript:void(0)">DEUTSCHE BAHN</a>
                  <a class="chip waves-effect waves-light" href="javascript:void(0)">DPD</a>
                  <a class="chip pink lighten-5 waves-effect waves-light" href="javascript:void(0)">E WIE EINFACH STROM & GAS</a>
                  <a class="chip pink accent-2 white-text waves-effect waves-light" href="javascript:void(0)">DPD</a>
                  <a class="chip pink accent-2 white-text waves-effect waves-light" href="javascript:void(0)">VERSICHERUNG</a>
                  <a class="chip pink lighten-4 white-text waves-effect waves-light" href="javascript:void(0)">FREENET</a>
                  <a class="chip pink lighten-5 waves-effect waves-light" href="javascript:void(0)">E WIE EINFACH STROM</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- end neueste beschwerden, die neuesten kommentare, schlagworte -->
    </div>

//= footer.html
