//= header.html

    <div class="container page-company post">
      <div class="section"><!-- content, sidebar, other components -->
        <div class="row">
          //= sidebar-company-left.html

          <div class="col s12 m6 l6"><!-- content -->
            <div class="card-panel">
              <div class="card no-bg">
                <div class="card-content content-table">
                  <table class="highlight responsive-table">
                    <tbody>
                    <tr>
                      <td class="icon"><i class="mdi-email-outline mdi blue-grey-text"></i></td>
                      <td>ANSCHIRFT</td>
                      <td>Zimmestr, 27 <br> 10117 Berlin</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="icon"><i class="mdi-google-maps mdi blue-grey-text"></i></td>
                      <td>KARTE</td>
                      <td><a href="javascript:void(0)">MAPS</a></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="icon"><i class="rbi rbi-reclarank pink-text"></i></td>
                      <td>RECLARANK</td>
                      <td>4 (max. 5)</td>
                      <td>
                        <i class="mdi-arrow-up mdi teal-accent-4-text"></i>&nbsp;
                        <span>9.2 %</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="icon"><i class="rbi rbi-beschwerde blue-grey-text"></i></td>
                      <td>BESCHWERDEN</td>
                      <td>129</td>
                      <td>
                        <i class="mdi-arrow-up mdi pink-accent-2-text"></i>&nbsp;
                        <span>4.2 %</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="icon"><i class="mdi-timer mdi blue-grey-text"></i></td>
                      <td>ANTWORTZEIT</td>
                      <td>23.1 Tage</td>
                      <td>
                        <i class="mdi-arrow-right mdi blue-grey-lighten-4-text"></i>&nbsp;
                        <span>0.0 %</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="icon"><i class="rbi rbi-beantwortete blue-grey-text"></i></td>
                      <td>FIRMEANTWORTEN</td>
                      <td>27% (36)</td>
                      <td>
                        <i class="mdi-arrow-up mdi teal-accent-4-text"></i>&nbsp;
                        <span>10.0 %</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="icon"><i class="rbi rbi-noch-nicht-geloste pink-text text-lighten-3"></i></td>
                      <td>NOCH NICHT GELÖSTE BESCHWERDEN</td>
                      <td>33% (42)</td>
                      <td>
                        <i class="mdi-arrow-up mdi teal-accent-4-text"></i>&nbsp;
                        <span>0.0 %</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="icon"><i class="rbi rbi-geloste teal-text"></i></td>
                      <td>GELÖSTE BESCHWERDEN</td>
                      <td>25% (33)</td>
                      <td>
                        <i class="mdi-arrow-down mdi pink-accent-2-text"></i>&nbsp;
                        <span>9.2 %</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="icon"><i class="rbi rbi-endgiltig-nicht pink-text"></i></td>
                      <td>ENDGÜLTIG NICHT GELÖSTE BESCHWERDE</td>
                      <td>25% (33)</td>
                      <td>
                        <i class="mdi-arrow-right mdi blue-grey-lighten-4-text"></i>&nbsp;
                        <span>0.0 %</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="icon"><i class="mdi-sort-variant mdi blue-grey-text"></i></td>
                      <td>RECLARANK</td>
                      <td>4 (von 10)</td>
                      <td>
                        <i class="mdi-arrow-right mdi blue-grey-lighten-4-text"></i>&nbsp;
                        <span>0.0 %</span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="card-panel no-bg">
              <div class="card no-bg">
                <div class="card-content">
                  <div class="card-title">
                    <h3>ReclaRank Siegel/Box erstellen und einbinden</h3>
                  </div>
                </div>
              </div>
              <div class="card no-bg">
                <div class="card-editor-input">
                  <div class="editor-input">
                    <form action="" class="form">
                      <div class="row">
                        <div class="col s12">
                          <div class="editor">
                            <div class="row">
                              <div class="col s7">
                                <div class="input-field">
                                  <input placeholder="z. B. flughafen-hamburg.de" id="company-name" type="text">
                                  <label for="company-name" class="active">1. Geben Sie Ihre URL an</label><!-- class="active" -->
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col s12">
                                <div class="input-field">
                                  <p class="input-field-header">2. Wählen Sie Siegel bzw. Box.</p>
                                </div>
                              </div>
                              <div class="col s3">
                                <div class="input-field center radio-rank">
                                  <input class="with-gap" name="group1" type="radio" id="test4">
                                  <label for="test4" class="img4"><span class="rank-5"></span></label>
                                </div>
                              </div>
                              <div class="col s3">
                                <div class="input-field center radio-rank">
                                  <input class="with-gap" name="group1" type="radio" id="test1">
                                  <label for="test1" class="img1">
                                    <span class="rank-place"></span>
                                  </label>
                                </div>                               
                              </div>
                              <div class="col s3">
                                <div class="input-field center radio-rank">
                                  <input class="with-gap" name="group1" type="radio" id="test2">
                                  <label for="test2" class="img2"><span class="rank-befriedigend"></span></label>
                                </div>
                              </div>
                              <div class="col s3">
                                <div class="input-field center radio-rank">
                                  <input class="with-gap" name="group1" type="radio" id="test3">
                                  <label for="test3" class="img3"><span class="rank-mangelhaft"></span></label>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col s12">
                                <div class="input-field">
                                  <p class="input-field-header">3. Kopieren Sie den Code</p>
                                  <p> Rechte Maustaste oder Tasten [Strg] + [C] zum Kopieren. Einfügen mit [Strg] + [V]. </p>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col s12">
                                <div class="input-field">
                                  <input placeholder="Bitte auf den Button Klicken um den code zu generieren" id="email-adresse" type="text">
                                  <label class="active" for="email-adresse"></label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="editor-active">
                        <button class="btn waves-effect waves-light left" type="submit" name="action">CODE GENERIEREN</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- end content -->

          //= sidebar-company-right.html
        </div>
      </div><!-- End ontent, sidebar, other components -->
    </div>

//= footer.html
