//= header.html

    <div class="container page-company post">
      <div class="section"><!-- content, sidebar, other components -->
        <div class="row">
          <div class="col s12 m3 l3"><!-- sidebar left -->
            <div class="dropdown-wrapper widget-sidebar widget-navigation-btn">
              <a  class="waves-effect waves-light btn full-width btn-theme-pink dropdown-button" 
                  data-activates="btn-company"
                  data-beloworigin="true"
                  data-stoppropagation="true">

                <i class="material-icons left">settings</i> 
                <span>firmen-mitgliedschaft </span>
                <i class="material-icons arrow_down right">keyboard_arrow_down</i>
                <i class="material-icons arrow_up right">keyboard_arrow_up</i>
              </a>
              <!-- Dropdown Structure -->
              <ul id="btn-company" class="dropdown-content">
                <li>
                  <form action="#">
                    <p>
                      <input class="with-gap right" name="group1" type="radio" id="company1" />
                      <label for="company1">Deutsche Post AG <span class="pink-text text-accent-2">(1)</span></label>
                    </p>
                  </form>
                </li>
                <li>
                  <form action="#">
                    <p>
                      <input class="with-gap right" name="group2" type="radio" id="company2" />
                      <label for="company2">ReclaBox Suppore <span class="pink-text text-accent-2">(15)</span></label>
                    </p>
                  </form>
                </li>
                <li>
                  <form action="#">
                    <p>
                      <input class="with-gap right" name="group3" type="radio" id="company3" />
                      <label for="company3">Alle Beschwerde</label>
                    </p>
                  </form>
                </li>
                <li><a href="#!">Settings</a></li>
              </ul>
            </div>
            
            <div class="card-panel no-bg widget-sidebar widget-company">
              <div class="card">
                <div class="card-action table-wrapper">
                  <div class="logo-company left">
                    <i class="mdi mdi-domain"></i>
                  </div>
                  <div class="rank-company right">
                    <span class="rank-5"></span>
                  </div>
                </div>    
                <div class="card-content">
                  <div class="card-title">
                    <h6>Deutsche Post AG</h6>
                  </div>
                  <a href="javascript:void(0)">Post und Telekommunikationen » </a>
                  <a href="javascript:void(0)">Bried-und Paketzusteller</a>
                </div>
              </div>
            </div>

            <div class="card-panel widget-sidebar widget-navigation vertical-union">
              <div class="vertical-union-container">
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="card-title">BESCHWERDEN</div>
                    <ul>
                      <li><a href="javascript:void(0)">Online <i class="material-icons right">chevron_right</i></a></li>
                      <li><a href="javascript:void(0)">On hold 48 h <span>(1)</span> <i class="material-icons right">chevron_right</i></a></li>
                      <li><a href="javascript:void(0)">Gelöschte <span>(7)</span> <i class="material-icons right">chevron_right</i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="card-title">Firmenatworten</div>
                    <ul>
                      <li><a href="javascript:void(0)">Veröffentlich <span>(21)</span><i class="material-icons right">chevron_right</i></a></li>
                      <li><a href="javascript:void(0)">Entwürfe <i class="material-icons right">chevron_right</i></a></li>
                      <li><a class="active" href="javascript:void(0)">Automatische <i class="material-icons right">chevron_right</i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- end sidebar left -->

          <div class="col s12 m6 l6"><!-- content -->
            <div class="card-panel">
              <div class="card no-bg">
                <div class="card-content content-table">
                  <table class="highlight responsive-table">
                    <tbody>
                    <tr>
                      <td class="icon"><i class="mdi-email-outline mdi blue-grey-text"></td>
                      <td>ANSCHIRFT</td>
                      <td>Zimmestr, 27 <br> 10117 Berlin</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="icon"><i class="mdi-google-maps mdi blue-grey-text"></td>
                      <td>KARTE</td>
                      <td><a href="javascript:void(0)">MAPS</a></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="icon"><i class="rbi rbi-reclarank pink-text"></i></td>
                      <td>RECLARANK</td>
                      <td>4 (max. 5)</td>
                      <td>
                        <i class="mdi-arrow-up mdi teal-accent-4-text"></i>&nbsp;
                        <span>9.2 %</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="icon"><i class="rbi rbi-beschwerde blue-grey-text"></i></td>
                      <td>BESCHWERDEN</td>
                      <td>129</td>
                      <td>
                        <i class="mdi-arrow-up mdi pink-accent-2-text"></i>&nbsp;
                        <span>4.2 %</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="icon"><i class="mdi-timer mdi blue-grey-text"></i></td>
                      <td>ANTWORTZEIT</td>
                      <td>23.1 Tage</td>
                      <td>
                        <i class="mdi-arrow-right mdi blue-grey-lighten-4-text"></i>&nbsp;
                        <span>0.0 %</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="icon"><i class="rbi rbi-beantwortete blue-grey-text"></i></td>
                      <td>FIRMEANTWORTEN</td>
                      <td>27% (36)</td>
                      <td>
                        <i class="mdi-arrow-up mdi teal-accent-4-text"></i>&nbsp;
                        <span>10.0 %</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="icon"><i class="rbi rbi-noch-nicht-geloste pink-text text-lighten-3"></i></td>
                      <td>NOCH NICHT GELÖSTE BESCHWERDEN</td>
                      <td>33% (42)</td>
                      <td>
                        <i class="mdi-arrow-up mdi teal-accent-4-text"></i>&nbsp;
                        <span>0.0 %</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="icon"><i class="rbi rbi-geloste teal-text"></i></td>
                      <td>GELÖSTE BESCHWERDEN</td>
                      <td>25% (33)</td>
                      <td>
                        <i class="mdi-arrow-down mdi pink-accent-2-text"></i>&nbsp;
                        <span>9.2 %</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="icon"><i class="rbi rbi-endgiltig-nicht pink-text"></i></td>
                      <td>ENDGÜLTIG NICHT GELÖSTE BESCHWERDE</td>
                      <td>25% (33)</td>
                      <td>
                        <i class="mdi-arrow-right mdi blue-grey-lighten-4-text"></i>&nbsp;
                        <span>0.0 %</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="icon"><i class="mdi-sort-variant mdi blue-grey-text"></td>
                      <td>RECLARANK</td>
                      <td>4 (von 10)</td>
                      <td>
                        <i class="mdi-arrow-right mdi blue-grey-lighten-4-text"></i>&nbsp;
                        <span>0.0 %</span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card-panel no-bg">

              <div class="card no-bg">
                <div class="card-content">
                  <div class="card-title">
                    <h3>Automatische Firmenantwort der Firma ReclaBox</h3>
                  </div>
                  <p>Schreiben Sie hier eine standardisierte Firmenantwort. Diese wird 15 Minuten nach Prüfung und Zurodnung der Beschwerde zu Ihrem Firmenaccount automatisch veröffentlicht. Die Latenz dient dazu, mögliche Zuordnungsfehler nochmals korrigieren zu können. Nach Veröffentlichung der automatischen Firmenantwort wird der Beschwerdeführer per Email über die Antwort informiert. </p>
                  <br>
                  <p>Sie haben danach jederzeit die Möglichkeit, weitere Firmenantworten zu den bereits automatisiert veröffentlichten hinzuzufügen. Klicken sie dazu innerhalb der Beschwerde in der Aktionsleiste auf "Antworten".</p>
                </div>
                <div class="card-text-editor">
                  <div class="text-editor">
                    <form action="" class="form">
                      <div class="editor"> 
                        <nav class="editor-nav">
                          <div class="nav-wrapper">
                            <ul class="left">
                              <li><a class="active" href=""><i class="mdi mdi-format-italic tiny"></i></a></li>
                              <li><a href=""><i class="mdi mdi-format-list-bulleted tiny"></i></a></li>
                              <li><a href=""><i class="mdi mdi-format-list-numbers tiny"></i></a></li>
                              <li><a class="active" href=""><i class="mdi mdi-spellcheck tiny"></i></a></li>
                              <li>
                                <ul id="dropdown2" class="dropdown-content">
                                   <li><a class="active" href="#!">Deutsch</a></li>
                                   <li><a href="#!">English</a></li>
                                 </ul>
                                 <a class="dropdown-button" href="#!" data-activates="dropdown2"><i class="mdi-alphabetical mdi tiny"></i></a>
                              </li>
                            </ul>
                          </div>
                        </nav>
                        <div class="input-field">
                          <textarea id="textarea1" class="materialize-textarea"></textarea>
                          <label for="textarea1" class=""></label>
                        </div>
                      </div>
                      <div class="editor-active">
                        <div class="input-field left">
                          <input type="checkbox" class="filled-in" id="editor-checkbox"  />
                          <label for="editor-checkbox">Aktiv</label>
                        </div>
                        <button class="btn waves-effect waves-light right z-theme-depth-4" type="submit" name="action">SPEICHERN</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

            </div>
          </div><!-- end content -->

          <div class="col s12 m3 l3"><!-- sidebar right -->
            <div class="card-panel widget-sidebar widget-links">
              <div class="card-header blue-grey lighten-5">
                <h6>NACHRICHTEN</h6>
              </div>
              <div class="card no-bg">
                <div class="card-content">
                  <a href="javascript:void(0)">Posteingang (0)</a>
                  <a href="javascript:void(0)">gelesen (0)</a>
                  <a href="javascript:void(0)">ungelesen (0)</a>
                  <a href="javascript:void(0)">gesendete Nachrichten (0)</a>
                  <a href="javascript:void(0)">vom Empfänger gelesen (0)</a>
                  <a href="javascript:void(0)">vom Empfänger ungelesen (0)</a>
                </div>
              </div>
            </div>

            <div class="card-panel widget-sidebar widget-links">
              <div class="card-header blue-grey lighten-5">
                <h6>MERKZETTEL</h6>
              </div>
              <div class="card no-bg">
                <div class="card-content">
                  <a href="javascript:void(0)">gemerkte Beschwerden (1) </a>
                  <a href="javascript:void(0)">verfolgte Beschwerden (0)</a>
                </div>
              </div>
            </div>

            <div class="card-panel widget-sidebar widget-links">
              <div class="card-header blue-grey lighten-5">
                <h6>LINKS</h6>
              </div>
              <div class="card no-bg">
                <div class="card-content">
                  <a href="javascript:void(0)">gemerkte Beschwerden (1) </a>
                  <a href="javascript:void(0)">verfolgte Beschwerden (0)</a>
                </div>
              </div>
            </div>
            
            <div class="card-panel widget-sidebar widget-links">
              <div class="card-header blue-grey lighten-5">
                <h6>firmenmitgliedschaft</h6>
              </div>
              <div class="card no-bg">
                <div class="card-content">
                  <a href="javascript:void(0)">Profil</a>
                  <a href="javascript:void(0)">Kontaktdaten</a>
                  <a href="javascript:void(0)">Firmen hinzufügen</a>
                  <a href="javascript:void(0)">ReclaRank Siegel</a>
                  <a href="javascript:void(0)">Rechnungen (0)</a>
                  <a href="javascript:void(0)">ReclaBox API</a>
                  <a href="javascript:void(0)">Newsletter abmelden</a>
                  <a href="javascript:void(0)">Hilfe</a>
                </div>
              </div>
            </div>
          </div><!-- end sidebar right -->
        </div>
      </div><!-- End ontent, sidebar, other components -->

    </div>

//= footer.html
