//= header.html

    <div class="container page-company post">
      <div class="section"><!-- content, sidebar, other components -->
        <div class="row">
          //= sidebar-company-left.html

          <div class="col s12 m6 l6"><!-- content -->
            <section class="section">
              <div class="card-panel">
                <div class="card no-bg">
                  <div class="card-content content-table">
                    <table class="highlight responsive-table">
                      <tbody>
                      <tr>
                        <td class="icon"><i class="mdi-email-outline mdi blue-grey-text"></i></td>
                        <td>ANSCHIRFT</td>
                        <td>Zimmestr, 27 <br> 10117 Berlin</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td class="icon"><i class="mdi-google-maps mdi blue-grey-text"></i></td>
                        <td>KARTE</td>
                        <td><a href="javascript:void(0)">MAPS</a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td class="icon"><i class="rbi rbi-reclarank pink-text"></i></td>
                        <td>RECLARANK</td>
                        <td>4 (max. 5)</td>
                        <td>
                          <i class="mdi-arrow-up mdi teal-accent-4-text"></i>&nbsp;
                          <span>9.2 %</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="icon"><i class="rbi rbi-beschwerde blue-grey-text"></i></td>
                        <td>BESCHWERDEN</td>
                        <td>129</td>
                        <td>
                          <i class="mdi-arrow-up mdi pink-accent-2-text"></i>&nbsp;
                          <span>4.2 %</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="icon"><i class="mdi-timer mdi blue-grey-text"></i></td>
                        <td>ANTWORTZEIT</td>
                        <td>23.1 Tage</td>
                        <td>
                          <i class="mdi-arrow-right mdi blue-grey-lighten-4-text"></i>&nbsp;
                          <span>0.0 %</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="icon"><i class="rbi rbi-beantwortete blue-grey-text"></i></td>
                        <td>FIRMEANTWORTEN</td>
                        <td>27% (36)</td>
                        <td>
                          <i class="mdi-arrow-up mdi teal-accent-4-text"></i>&nbsp;
                          <span>10.0 %</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="icon"><i class="rbi rbi-noch-nicht-geloste pink-text text-lighten-3"></i></td>
                        <td>NOCH NICHT GELÖSTE BESCHWERDEN</td>
                        <td>33% (42)</td>
                        <td>
                          <i class="mdi-arrow-up mdi teal-accent-4-text"></i>&nbsp;
                          <span>0.0 %</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="icon"><i class="rbi rbi-geloste teal-text"></i></td>
                        <td>GELÖSTE BESCHWERDEN</td>
                        <td>25% (33)</td>
                        <td>
                          <i class="mdi-arrow-down mdi pink-accent-2-text"></i>&nbsp;
                          <span>9.2 %</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="icon"><i class="rbi rbi-endgiltig-nicht pink-text"></i></td>
                        <td>ENDGÜLTIG NICHT GELÖSTE BESCHWERDE</td>
                        <td>25% (33)</td>
                        <td>
                          <i class="mdi-arrow-right mdi blue-grey-lighten-4-text"></i>&nbsp;
                          <span>0.0 %</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="icon"><i class="mdi-sort-variant mdi blue-grey-text"></i></td>
                        <td>RECLARANK</td>
                        <td>4 (von 10)</td>
                        <td>
                          <i class="mdi-arrow-right mdi blue-grey-lighten-4-text"></i>&nbsp;
                          <span>0.0 %</span>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </section>

            <section class="section">
              <div class="card-panel no-bg">

                <div class="card no-bg">
                  <div class="card-content">
                    <div class="card-title">
                      <h3>Links</h3>
                    </div>
                    <p>Auf allen der Firma bzw. Marke "ReclaBox" zugeordneten Unterseiten befindet sich am rechten Rand die Box "Nützliche Links". Hier können Sie diese Links ändern bzw. löschen.</p>
                  </div>
                  <div class="card-editor-input">
                    <div class="editor-input">
                      <form action="" class="form">
                        <div class="row">
                          <div class="col s12 m7">
                            <div class="editor">
                              <div class="input-field">
                                <input value="Trustpilot UK" id="titel1" type="text" >
                                <label class="active" for="titel1">Titel</label>
                              </div>
                              <div class="input-field">
                                <input value="User-Meinung zu ReclaBox" id="beschreibung1" type="text" >
                                <label class="active" for="beschreibung1">Beschreibung</label>
                              </div>
                              <div class="input-field">
                                <input value="http://www.trustpilot.com/review/reclabox.com" id="link1" type="text" >
                                <label class="active" for="link1">Link</label>
                              </div>
                            </div>
                            <div class="editor-active">
                              <div class="input-field input-checkbox left">
                                <input type="checkbox" class="filled-in" id="editor-checkbox1"  />
                                <label for="editor-checkbox1"><i class="mdi mdi-delete"></i></label>
                              </div>
                              <button class="btn waves-effect waves-light left z-theme-depth-4 left" type="submit" name="action">ÄNDERUNG SPEICHERN</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

                <div class="card no-bg">
                  <div class="card-editor-input">
                    <div class="editor-input">
                      <form action="" class="form">
                        <div class="row">
                          <div class="col s12 m7">
                            <div class="editor">
                              <div class="input-field">
                                <input value="Trustpilot UK" id="titel2" type="text" >
                                <label class="active" for="titel2">Titel</label>
                              </div>
                              <div class="input-field">
                                <input value="User-Meinung zu ReclaBox" id="beschreibung2" type="text" >
                                <label class="active" for="beschreibung2">Beschreibung</label>
                              </div>
                              <div class="input-field">
                                <input value="http://www.trustpilot.com/review/reclabox.com" id="link2" type="text" >
                                <label class="active" for="link2">Link</label>
                              </div>
                            </div>
                            <div class="editor-active">
                              <div class="input-field input-checkbox left">
                                <input type="checkbox" class="filled-in" id="editor-checkbox2"  />
                                <label for="editor-checkbox2"><i class="mdi mdi-delete"></i></label>
                              </div>
                              <button class="btn waves-effect waves-light left z-theme-depth-4 left" type="submit" name="action">ÄNDERUNG SPEICHERN</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

                <div class="card no-bg">
                  <div class="card-editor-input">
                    <div class="editor-input">
                      <form action="" class="form">
                        <div class="row">
                          <div class="col s12 m7">
                            <div class="editor">
                              <div class="input-field">
                                <input id="titel3" type="text" >
                                <label for="titel3">Titel</label>
                              </div>
                              <div class="input-field">
                                <input id="beschreibung3" type="text" >
                                <label for="beschreibung3">Beschreibung</label>
                              </div>
                              <div class="input-field">
                                <input id="link3" type="text" >
                                <label for="link3">Link</label>
                              </div>
                            </div>
                            <div class="editor-active">
                              <div class="input-field input-checkbox left">
                                <input type="checkbox" class="filled-in" id="editor-checkbox3"  />
                                <label for="editor-checkbox3"><i class="mdi mdi-delete"></i></label>
                              </div>
                              <button class="btn waves-effect waves-light left z-theme-depth-4" type="submit" name="action">ÄNDERUNG SPEICHERN</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

              </div>
            </section>
          </div><!-- end content -->

          //= sidebar-company-right.html
        </div>
      </div><!-- End ontent, sidebar, other components -->

    </div>

//= footer.html
