//= header.html

    <div class="container page-company post">
      <div class="section"><!-- content, sidebar, other components -->
        <div class="row">
          <div class="col s12 m3 l3"><!-- sidebar -->
            <div class="card-panel no-bg widget-sidebar widget-company">
              <div class="card">
                <div class="card-action table-wrapper">
                  <div class="logo-company left">
                    <i class="mdi mdi-domain"></i>
                  </div>
                  <div class="rank-company right">
                    <span class="rank-5"></span>
                  </div>
                </div>    
                <div class="card-content">
                  <div class="card-title">
                    <h6>Deutsche Post AG</h6>
                  </div>
                  <a href="javascript:void(0)">Post und Telekommunikationen » </a>
                  <a href="javascript:void(0)">Bried-und Paketzusteller</a>
                </div>
              </div>
            </div>

            <div class="card-panel widget-sidebar widget-similar">
              <div class="card-header blue-grey lighten-5">
                <h6>Bried- und Paketzusteller</h6>
              </div>
              <div class="card ">
                <div class="card-content">
                  <div class="card-title"><span>1</span><a href="javascript:void(0)">GLS</a></div>
                  <ul>
                    <li>ReclaRank: 5</li>
                    <li>Beschwerden: 185</li>
                    <li>Lösungsquote: 71%</li>
                  </ul>
                </div>
              </div>
              <div class="card active">
                <div class="card-content">
                  <div class="card-title"><span>2</span>Deutsche Post AG</div>
                  <ul>
                    <li>ReclaRank: 5</li>
                    <li>Beschwerden: 185</li>
                    <li>Lösungsquote: 71%</li>
                  </ul>
                </div>
              </div>
              <div class="card ">
                <div class="card-content">
                  <div class="card-title"><span>2</span><a href="javascript:void(0)">Terdera Co.</a></div>
                  <ul>
                    <li>ReclaRank: 5</li>
                    <li>Beschwerden: 185</li>
                    <li>Lösungsquote: 71%</li>
                  </ul>
                </div>
              </div>
            </div>
          </div><!-- end sidebar -->

          <div class="col s12 m6 l6"><!-- content -->
            <section class="section">
              <div class="card-panel">
                <div class="card no-bg">
                  <div class="card-content content-table">
                    <table class="highlight responsive-table">
                      <tbody>
                      <tr>
                        <td class="icon"><i class="mdi-email-outline mdi blue-grey-text"></i></td>
                        <td>ANSCHIRFT</td>
                        <td>Zimmestr, 27 <br> 10117 Berlin</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td class="icon"><i class="mdi-google-maps mdi blue-grey-text"></i></td>
                        <td>KARTE</td>
                        <td><a href="javascript:void(0)">MAPS</a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td class="icon"><i class="rbi rbi-reclarank pink-text"></i></td>
                        <td>RECLARANK</td>
                        <td>4 (max. 5)</td>
                        <td>
                          <i class="mdi-arrow-up mdi teal-accent-4-text"></i>&nbsp;
                          <span>9.2 %</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="icon"><i class="rbi rbi-beschwerde blue-grey-text"></i></td>
                        <td>BESCHWERDEN</td>
                        <td>129</td>
                        <td>
                          <i class="mdi-arrow-up mdi pink-accent-2-text"></i>&nbsp;
                          <span>4.2 %</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="icon"><i class="mdi-timer mdi blue-grey-text"></i></td>
                        <td>ANTWORTZEIT</td>
                        <td>23.1 Tage</td>
                        <td>
                          <i class="mdi-arrow-right mdi blue-grey-lighten-4-text"></i>&nbsp;
                          <span>0.0 %</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="icon"><i class="rbi rbi-beantwortete blue-grey-text"></i></td>
                        <td>FIRMEANTWORTEN</td>
                        <td>27% (36)</td>
                        <td>
                          <i class="mdi-arrow-up mdi teal-accent-4-text"></i>&nbsp;
                          <span>10.0 %</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="icon"><i class="rbi rbi-noch-nicht-geloste pink-text text-lighten-3"></i></td>
                        <td>NOCH NICHT GELÖSTE BESCHWERDEN</td>
                        <td>33% (42)</td>
                        <td>
                          <i class="mdi-arrow-up mdi teal-accent-4-text"></i>&nbsp;
                          <span>0.0 %</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="icon"><i class="rbi rbi-geloste teal-text"></i></td>
                        <td>GELÖSTE BESCHWERDEN</td>
                        <td>25% (33)</td>
                        <td>
                          <i class="mdi-arrow-down mdi pink-accent-2-text"></i>&nbsp;
                          <span>9.2 %</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="icon"><i class="rbi rbi-endgiltig-nicht pink-text"></i></td>
                        <td>ENDGÜLTIG NICHT GELÖSTE BESCHWERDE</td>
                        <td>25% (33)</td>
                        <td>
                          <i class="mdi-arrow-right mdi blue-grey-lighten-4-text"></i>&nbsp;
                          <span>0.0 %</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="icon"><i class="mdi-sort-variant mdi blue-grey-text"></i></td>
                        <td>RECLARANK</td>
                        <td>4 (von 10)</td>
                        <td>
                          <i class="mdi-arrow-right mdi blue-grey-lighten-4-text"></i>&nbsp;
                          <span>0.0 %</span>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </section>
            <section class="section">
              <div class="card-panel no-bg">
                <div class="card no-bg">
                  <div class="card-content">
                    <div class="card-title">
                      <h3>Ihre Kontaktdaten</h3>
                    </div>
                    <p>Beim Eingang einer Beschwerde erhalten Sie von uns eine E-Mail.
                    Ändern oder Löschen Sie hier diese E-Mail-Adressen.</p>
                  </div>
                </div>
                <div class="card no-bg">
                  <div class="card-editor-input">
                    <div class="editor-input">
                      <form action="" class="form">
                        <div class="row">
                          <div class="col s12 m7">
                            <div class="editor">
                              <div class="editor-input-group">
                                <div class="input-field left">
                                  <input value="support@deutschepost.de" id="email-adresse1" type="text" >
                                  <label class="active" for="email-adresse1">E-Mail Adress 1</label>
                                </div>
                                <div class="input-field right">
                                  <input type="checkbox" class="filled-in" id="editor-checkbox3"  />
                                  <label for="editor-checkbox3"><i class="mdi mdi-delete"></i></label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col s12 m7">
                            <div class="editor">
                              <div class="editor-input-group">
                                <div class="input-field left">
                                  <input value="beschwerde@deutschepost.de" id="email-adresse2" type="text" >
                                  <label class="active" for="email-adresse2">E-Mail Adress 2</label>
                                </div>
                                <div class="input-field right">
                                  <input type="checkbox" class="filled-in" id="editor-checkbox4"  />
                                  <label for="editor-checkbox4"><i class="mdi mdi-delete"></i></label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="editor-active">
                          <button class="btn waves-effect waves-light left z-theme-depth-4" type="submit" name="action">ÄNDERUNGEN SPEICHERN</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <br>
                <div class="card no-bg">
                  <div class="card-content">
                    <p>
                      Hier können Sie weitere Benachrichtigungs-E-Mail-Adressen anlegen
                    </p>
                  </div>
                  <div class="card-editor-input">
                    <div class="editor-input">
                      <form action="" class="form">
                        <div class="row">
                          <div class="col s12 m7">
                            <div class="editor">
                              <div class="input-field">
                                <input value="" id="email-adresse" type="text" >
                                <label class="active" for="email-adresse">Add E-mail adress</label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="editor-active">
                          <button class="btn waves-effect waves-light left z-theme-depth-4" type="submit" name="action">E-MAILADRESSE HINZUFÜNGEN</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <br>
                <div class="card no-bg">
                  <div class="card-content">
                    <p>ReclaBox informiert Sie über den Verlauf der Beschwerden per E-Mail. Sie haben die Möglichkeit, diese Benachrichtigungen für einzelne Beschwerden zu stoppen. Folgen Sie dazu dem Link.</p><br>
                    <a href="#">Konfiguration für einzelne Beschwerden</a>
                  </div>
                </div>
              </div>
            </section>
          </div><!-- end content -->

          <div class="col s12 m3 l3"><!-- sidebar right -->
            <div class="card-panel widget-sidebar widget-links">
              <div class="card-header blue-grey lighten-5">
                <h6>NACHRICHTEN</h6>
              </div>
              <div class="card no-bg">
                <div class="card-content">
                  <a href="javascript:void(0)">Posteingang (0)</a>
                  <a href="javascript:void(0)">gelesen (0)</a>
                  <a href="javascript:void(0)">ungelesen (0)</a>
                  <a href="javascript:void(0)">gesendete Nachrichten (0)</a>
                  <a href="javascript:void(0)">vom Empfänger gelesen (0)</a>
                  <a href="javascript:void(0)">vom Empfänger ungelesen (0)</a>
                </div>
              </div>
            </div>

            <div class="card-panel widget-sidebar widget-links">
              <div class="card-header blue-grey lighten-5">
                <h6>MERKZETTEL</h6>
              </div>
              <div class="card no-bg">
                <div class="card-content">
                  <a href="javascript:void(0)">gemerkte Beschwerden (1) </a>
                  <a href="javascript:void(0)">verfolgte Beschwerden (0)</a>
                </div>
              </div>
            </div>

            <div class="card-panel widget-sidebar widget-links">
              <div class="card-header blue-grey lighten-5">
                <h6>LINKS</h6>
              </div>
              <div class="card no-bg">
                <div class="card-content">
                  <a href="javascript:void(0)">gemerkte Beschwerden (1) </a>
                  <a href="javascript:void(0)">verfolgte Beschwerden (0)</a>
                </div>
              </div>
            </div>

            <div class="card-panel widget-sidebar widget-links">
              <div class="card-header blue-grey lighten-5">
                <h6>firmenmitgliedschaft</h6>
              </div>
              <div class="card no-bg">
                <div class="card-content">
                  <a href="javascript:void(0)">Profil</a>
                  <a href="javascript:void(0)">Kontaktdaten</a>
                  <a href="javascript:void(0)">Firmen hinzufügen</a>
                  <a href="javascript:void(0)">ReclaRank Siegel</a>
                  <a href="javascript:void(0)">Rechnungen (0)</a>
                  <a href="javascript:void(0)">ReclaBox API</a>
                  <a href="javascript:void(0)">Newsletter abmelden</a>
                  <a href="javascript:void(0)">Hilfe</a>
                </div>
              </div>
            </div>
          </div><!-- end sidebar right -->
        </div>
      </div><!-- End ontent, sidebar, other components -->

    </div>

//= footer.html
