<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <head>
    <title>Email Confirm Letter</title>
  </head>
  <body>
  	<table border="0" cellpadding="0" cellspacing="0" align="center" height="100%" width="600px" style="font-family:'Helvetica Neue', arial;">
  		<tbody>
	  		<tr>
	  			<td>
	  				<table  border="0" cellpadding="0" cellspacing="0" align="center" valign="middle" width="565px" style="-webkit-box-shadow: 0 13px 51px 0px #bcbcbc; box-shadow: 0 13px 51px 0px #bcbcbc; padding: 0 0 45px 0; border-radius: 3px;">
	  					<tbody>
		  					<tr>
		  						<th height="55px" colspan="2" align="left" bgcolor="#e91e63" style="padding-left: 42px; border-radius: 3px 3px 0 0;">
		  							<img src="img/img-site/logo.png" alt="" border="0" width="125" height="24" style="display: inline;">
		  						</th>
		  					</tr>
		  					<tr bgcolor="#fafafa">
		  						<td rowspan="2">
		  							<img src="img/img-site/face.png" alt="" border="0" width="169" height="145" style="padding: 45px 0 0 42px;">
		  						</td>
		  						<td style="padding: 25px 0 0 33px; color: rgba(0, 0, 0, 0.54); font-size: 14px; line-height: 20px;">Wir freuen uns, Sie als neues Mitglied beu ReclaBox begrüßen zu dürfen</td>
		  					</tr>
		  					<tr bgcolor="#fafafa">
		  						<td style="padding: 0 0 0 33px; font-size: 14px; line-height: 20px;">Bitte klicken Sie auf folgenden Link, um Ihre Mitgliedschaft zu bestatigen.</td>
		  					</tr>
		  					<tr height="30">
		  						<td colspan="2"></td>
		  					</tr>
		  					<tr>
		  						<td colspan="2">
			  						<table border="0" cellpadding="0" cellspacing="0" align="center" valign="middle" >
			  							<tbody>
			  								<tr>
			  									<td width="140"></td>
			  									<td bgcolor="#e91e63" height="36" style="border-radius: 3px; box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);">
			  										<a style="text-decoration: none; padding: 0 14px; color: #fff; font-size: 14px; font-weight: 500; text-transform: uppercase; font-family: 'Roboto', sans-serif;" href="#">BESTÄTIGEN SIE IHRE ANMELDUNG</a>
			  									</td>
			  									<td width="151"></td>
			  								</tr>
			  							</tbody>
			  						</table>
			  					</td>
		  					</tr>
		  					<tr>
		  						<td colspan="2" style="padding: 30px 0 30px 33px; font-size: 14px; line-height: 25px;">Im angemeldeten Zustand können Sie Beschwerden schreiben, diese auch zukünftig auf einen Blick verfolgen, sich andere Beschwerden merken oder Nachrichten mit anderen Mitgliedern austauschen. </td>
		  					</tr>
		  					<tr>
		  						<td colspan="2" style="padding: 10px 0 0 33px; font-size: 14px; line-height: 25px;">
		  							Falls Sie die Links nicht anklicken können, kopieren Sie diese:
		  						</td>
		  					</tr>
		  					<tr>
		  						<td colspan="2" style="padding: 10px 0 0 33px; font-size: 14px; line-height: 14px;">
		  							<a style="color: #607d8b" href="#">http://de.reclabox.com/reclaboxler/7484064578/ activate7b91b7e72263fef610b598d197dd549aca5b602 </a>
		  						</td>
		  					</tr>
		  					<tr>
		  						<td colspan="2" style="padding: 10px 0 0 33px; font-size: 14px; line-height: 25px;">in Ihren Internet-Browser.</td>
		  					</tr>
		  				</tbody>
		  			</table>
		  			<table border="0" cellpadding="0" cellspacing="0" align="center" valign="middle" width="565px">
		  				<tbody>
		  					<tr>
		  						<td>
			  						<table border="0" cellpadding="0" cellspacing="0" align="center" valign="middle" width="565px">
			  							<tbody>
			  								<tr height="30"></tr>
			  								<tr align="center" >
			  									<td></td>
			  									<td></td>
			  									<td width="98px"><a style="background-image: url('img/img-site/ico1.png'); background-repeat: no-repeat; background-position: 14px 7px; font-size: 14px; line-height: 12px; text-decoration: none; color: #607d8b; padding: 4px 18px 4px 30px; border: 1px solid #607d8b; border-radius: 3px;" href="#">Like us</a></td>
			  									<td width="120px"><a style="background-image: url('img/img-site/ico2.png');  background-position: 12px 8px; background-repeat: no-repeat; font-size: 14px; line-height: 12px; text-decoration: none; color: #607d8b; padding: 4px 18px 4px 30px; border: 1px solid #607d8b; border-radius: 3px;" href="#">Follow us</a></td>
			  									<td></td>
			  									<td></td>
			  								</tr>
			  								<tr height="20"></tr>
			  							</tbody>
			  						</table>
		  						</td>
		  					</tr>
		  					<tr>
		  						<td align="center" style="color: rgba(0, 0, 0, 0.54); font-size: 12px; line-height: 18px;">&copy 2016 ReclaBox</td>
		  					</tr>
		  					<tr>
		  						<td align="center" style="color: rgba(0, 0, 0, 0.54); font-size: 12px; line-height: 18px;">5900 Berlin PA 15206, Germany</td>
		  					</tr>
	  					</tbody>
	  				</table>
	  			</td>
	  		</tr>
	  	</tbody>
		</table>
  </body>
</html>