//= header.html

    <div class="container">
      <div class="section post-table post">
        <div class="card-panel no-bg">
          <div class="card-header no-bg-header">
            <div class="breadcrumb-wrapper">
              <a href="#" class="breadcrumb">Startseite</a>
              <a href="#" class="breadcrumb">Firmen</a>
              <span class="breadcrumb-last-child">Result</span>
            </div>
          </div>
          <div class="card no-bg">
            <div class="card-content">
              <div class="pagination-wrapper">
                <ul class="pagination center">
                  <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
                  <li class="active"><a href="#">A</a></li>
                  <li class="waves-effect"><a href="#">B</a></li>
                  <li class="waves-effect"><a href="#">C</a></li>
                  <li class="waves-effect"><a href="#">D</a></li>
                  <li class="waves-effect"><a href="#">E</a></li>
                  <li class="waves-effect"><a href="#">F</a></li>
                  <li class="waves-effect"><a href="#">G</a></li>
                  <li class="waves-effect"><a href="#">H</a></li>
                  <li class="waves-effect"><a href="#">I</a></li>
                  <li class="waves-effect"><a href="#">J</a></li>
                  <li class="waves-effect"><a href="#">K</a></li>
                  <li class="waves-effect"><a href="#">L</a></li>
                  <li class="waves-effect"><a href="#">M</a></li>
                  <li class="waves-effect"><a href="#">N</a></li>
                  <li class="waves-effect"><a href="#">O</a></li>
                  <li class="waves-effect"><a href="#">P</a></li>
                  <li class="waves-effect"><a href="#">Q</a></li>
                  <li class="waves-effect"><a href="#">R</a></li>
                  <li class="waves-effect"><a href="#">S</a></li>
                  <li class="waves-effect"><a href="#">T</a></li>
                  <li class="waves-effect"><a href="#">U</a></li>
                  <li class="waves-effect"><a href="#">V</a></li>
                  <li class="waves-effect"><a href="#">W</a></li>
                  <li class="waves-effect"><a href="#">X</a></li>
                  <li class="waves-effect"><a href="#">Y</a></li>
                  <li class="waves-effect"><a href="#">Z</a></li>
                  <li class="waves-effect"><a href="#"><i class="material-icons">chevron_right</i></a></li>
                </ul>
              </div>
              <table class="highlight responsive-table bordered">
                <thead>
                  <tr>
                    <th data-field="name">
                      Firma/Marke <br>
                      <a class="waves-effect" href="#"><i class="mdi mdi-chevron-down"></i></a>
                      <a class="waves-effect" href="#"><i class="mdi mdi-chevron-up"></i></a>
                    </th>
                    <th data-field="price1">
                      Anzahl der Beschwerden <br>
                      <a class="waves-effect" href="#"><i class="mdi mdi-chevron-down"></i></a>
                      <a class="waves-effect" href="#"><i class="mdi mdi-chevron-up"></i></a>
                    </th>
                    <th data-field="price2">
                      Beantwortete Beschwerden <br>
                      <a class="waves-effect" href="#"><i class="mdi mdi-chevron-down"></i></a>
                      <a class="waves-effect" href="#"><i class="mdi mdi-chevron-up"></i></a>
                    </th>
                    <th data-field="price3">
                      Gelöste Beschwerden <br>
                      <a class="waves-effect" href="#"><i class="mdi mdi-chevron-down"></i></a>
                      <a class="waves-effect" href="#"><i class="mdi mdi-chevron-up"></i></a>
                    </th>
                    <th data-field="price4">
                      ReclaRank (0-10 max.) <br>
                      <a class="waves-effect" href="#"><i class="mdi mdi-chevron-down"></i></a>
                      <a class="waves-effect" href="#"><i class="mdi mdi-chevron-up"></i></a>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td><a href="#">Hermes</a></td>
                    <td><a href="#" title=""><i class="rbi rbi-beschwerde tiny"></i> 6614</a></td>
                    <td><a href="#" title=""><i class="rbi rbi-beantwortete tiny"></i> 5487</a></td>
                    <td><a href="#"><i class="rbi rbi-geloste tiny teal-text"></i> 657</a></td>
                    <td><a href="#" title=""><i class="rbi rbi-reclarank tiny"></i> 7</a></td>
                  </tr>
                  <tr>
                    <td><a href="#">DHL</a></td>
                    <td><a href="#" title=""><i class="rbi rbi-beschwerde tiny"></i> 6614</a></td>
                    <td><a href="#" title=""><i class="rbi rbi-beantwortete tiny"></i> 5487</a></td>
                    <td><a href="#"><i class="rbi rbi-geloste tiny teal-text"></i> 657</a></td>
                    <td><a href="#" title=""><i class="rbi rbi-reclarank tiny"></i> 7</a></td>
                  </tr>
                  <tr>
                    <td><a href="#">ExtraEnergie</a></td>
                    <td><a href="#" title=""><i class="rbi rbi-beschwerde tiny"></i> 6614</a></td>
                    <td><a href="#" title=""><i class="rbi rbi-beantwortete tiny"></i> 5487</a></td>
                    <td><a href="#"><i class="rbi rbi-geloste tiny teal-text"></i> 657</a></td>
                    <td><a href="#" title=""><i class="rbi rbi-reclarank tiny"></i> 7</a></td>
                  </tr>
                  <tr>
                    <td><a href="#">DPD Dynamic Parcel Distribution</a></td>
                    <td><a href="#" title=""><i class="rbi rbi-beschwerde tiny"></i> 6614</a></td>
                    <td><a href="#" title=""><i class="rbi rbi-beantwortete tiny"></i> 5487</a></td>
                    <td><a href="#"><i class="rbi rbi-geloste tiny teal-text"></i> 657</a></td>
                    <td><a href="#" title=""><i class="rbi rbi-reclarank tiny"></i> 7</a></td>
                  </tr>
                  <tr>
                    <td><a href="#">ExtraEnergie</a></td>
                    <td><a href="#" title=""><i class="rbi rbi-beschwerde tiny"></i> 6614</a></td>
                    <td><a href="#" title=""><i class="rbi rbi-beantwortete tiny"></i> 5487</a></td>
                    <td><a href="#"><i class="rbi rbi-geloste tiny teal-text"></i> 657</a></td>
                    <td><a href="#" title=""><i class="rbi rbi-reclarank tiny"></i> 7</a></td>
                  </tr>
                  <tr>
                    <td><a href="#">DHL</a></td>
                    <td><a href="#" title=""><i class="rbi rbi-beschwerde tiny"></i> 6614</a></td>
                    <td><a href="#" title=""><i class="rbi rbi-beantwortete tiny"></i> 5487</a></td>
                    <td><a href="#"><i class="rbi rbi-geloste tiny teal-text"></i> 657</a></td>
                    <td><a href="#" title=""><i class="rbi rbi-reclarank tiny"></i> 7</a></td>
                  </tr>
                  <tr>
                    <td><a href="#">DPD Dynamic Parcel Distribution</a></td>
                    <td><a href="#" title=""><i class="rbi rbi-beschwerde tiny"></i> 6614</a></td>
                    <td><a href="#" title=""><i class="rbi rbi-beantwortete tiny"></i> 5487</a></td>
                    <td><a href="#"><i class="rbi rbi-geloste tiny teal-text"></i> 657</a></td>
                    <td><a href="#" title=""><i class="rbi rbi-reclarank tiny"></i> 7</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

//= footer.html