 //= header.html
    
    <div class="container">
      <div class="section"><!-- nav-top -->
        <div class="row">
          <div class="col s12">
            <nav class="nav-page nav-theme">
              <div class="nav-wrapper">
                <ul id="navTop" class="flex-wrapper">
                  <li><a class="active" href="#">neueste beschwerden</a></li>
                  <li><a href="#">kategorien</a></li>
                  <li><a href="#">neueste geloste beschwerden</a></li>
                  <li><a href="#">neueste firmenantworten</a></li>
                </ul>
              </div>
            </nav>

            <div class="card-panel">
              <div class="card no-bg">
                <div class="card-content">
                  <p><i class="mdi mdi-battery"></i> Какой-то текст.</p>
                  <p><i class="mdi mdi-cast"></i> Какой-то текст.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- end nav-top -->
    </div>

 //= footer.html
