//= header.html

    <div class="container post post-list-email">
      <div class="section"><!-- content, sidebar, other components -->
        <div class="row">
          <div class="col s12 m8 l9"><!-- content -->
            <div class="card-collection">
              <div class="collection">
                <div class="collection-item">
                  <div class="collection-header flex-wrapper"><!-- collection header -->
                    <div class="autor">
                      <div class="avatar-wrapper blue-grey">
                        <span>SO</span>
                      </div>
                      <span class="name">Peter Ballentin</span>
                    </div>
                    <div class="text-preview">
                      <span>Wir hatten schon im April 4 Fluge auf die Malediven gebucht! Im ...</span>
                    </div>
                    <div class="date right-align">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                    <div class="nav-menu right">
                      <a href="#" ><i class="mdi mdi-help-circle small"></i></a>
                      <a href="#" ><i class="mdi mdi-help-circle small"></i></a>
                      <a href="#" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Löschen" ><i class="mdi mdi-delete small"></i></a>
                      <a href="#" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Melden" ><i class="mdi mdi-alert small"></i></a>
                    </div>
                  </div>
                  <div class="collection-content"><!-- collection content -->
                    <div class="article-info">
                      <div class="autor left">
                        <div class="avatar-wrapper blue-grey">
                          <span>SO</span>
                        </div>
                        <span class="name">Peter Ballentin</span>
                      </div>
                      <div class="date right">
                        <span>12.09.2016 | 14:53 Uhr </span>
                      </div>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="text-editor"><!-- text editor -->
                    <form action="" class="form">
                      <div class="editor"> 
                        <div class="input-field">
                          <textarea id="textarea1" class="materialize-textarea" style="height: 28px;" placeholder="Ihre Nachricht"></textarea>
                          <label for="textarea1" class=""></label>
                        </div>
                      </div>
                      <div class="editor-active">
                        <button class="btn waves-effect waves-light right" type="submit" name="action">SPEICHERN</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="collection-item">
                  <div class="collection-header flex-wrapper"><!-- collection header -->
                    <div class="autor">
                      <div class="avatar-wrapper lime darken-4">
                        <span>SO</span>
                      </div>
                      <span class="name">Peter Ballentin</span>
                    </div>
                    <div class="text-preview">
                      <span>Wir hatten schon im April 4 Fluge auf die Malediven gebucht! Im ...</span>
                    </div>
                    <div class="date right-align">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                    <div class="nav-menu">
                      <a href="#" ><i class="mdi mdi-help-circle small"></i></a>
                      <a href="#" ><i class="mdi mdi-help-circle small"></i></a>
                      <a href="#" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Löschen" ><i class="mdi mdi-delete small"></i></a>
                      <a href="#" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Melden" ><i class="mdi mdi-alert small"></i></a>
                    </div>
                  </div>
                  <div class="collection-content"><!-- collection content -->
                    <div class="article-info">
                      <div class="autor left">
                        <div class="avatar-wrapper lime darken-4">
                          <span>SO</span>
                        </div>
                        <span class="name">Peter Ballentin</span>
                      </div>
                      <div class="date right">
                        <span>12.09.2016 | 14:53 Uhr </span>
                      </div>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="text-editor"><!-- text editor -->
                    <form action="" class="form">
                      <div class="editor"> 
                        <div class="input-field">
                          <textarea id="textarea2" class="materialize-textarea" style="height: 28px;" placeholder="Ihre Nachricht"></textarea>
                          <label for="textarea3" class=""></label>
                        </div>
                      </div>
                      <div class="editor-active">
                        <button class="btn waves-effect waves-light right" type="submit" name="action">SPEICHERN</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="collection-item">
                  <div class="collection-header flex-wrapper"><!-- collection header -->
                    <div class="autor">
                      <div class="avatar-wrapper green accent-2">
                        <span>SO</span>
                      </div>
                      <span class="name">Peter Ballentin</span>
                    </div>
                    <div class="text-preview">
                      <span>Wir hatten schon im April 4 Fluge auf die Malediven gebucht! Im ...</span>
                    </div>
                    <div class="date right-align">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                    <div class="nav-menu">
                      <a href="#" ><i class="mdi mdi-help-circle small"></i></a>
                      <a href="#" ><i class="mdi mdi-help-circle small"></i></a>
                      <a href="#" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Löschen" ><i class="mdi mdi-delete small"></i></a>
                      <a href="#" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Melden" ><i class="mdi mdi-alert small"></i></a>
                    </div>
                  </div>
                  <div class="collection-content"><!-- collection content -->
                    <div class="article-info">
                      <div class="autor left">
                        <div class="avatar-wrapper green accent-2">
                          <span>SO</span>
                        </div>
                        <span class="name">Peter Ballentin</span>
                      </div>
                      <div class="date right">
                        <span>12.09.2016 | 14:53 Uhr </span>
                      </div>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="text-editor"><!-- text editor -->
                    <form action="" class="form">
                      <div class="editor"> 
                        <div class="input-field">
                          <textarea id="textarea3" class="materialize-textarea" style="height: 28px;" placeholder="Ihre Nachricht"></textarea>
                          <label for="textarea3" class=""></label>
                        </div>
                      </div>
                      <div class="editor-active">
                        <button class="btn waves-effect waves-light right" type="submit" name="action">SPEICHERN</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="collection-item">
                  <div class="collection-header flex-wrapper"><!-- collection header -->
                    <div class="autor">
                      <div class="avatar-wrapper orange darken-3">
                        <span>SO</span>
                      </div>
                      <span class="name">Peter Ballentin</span>
                    </div>
                    <div class="text-preview">
                      <span>Wir hatten schon im April 4 Fluge auf die Malediven gebucht! Im ...</span>
                    </div>
                    <div class="date right-align">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                    <div class="nav-menu">
                      <a href="#" ><i class="mdi mdi-help-circle small"></i></a>
                      <a href="#" ><i class="mdi mdi-help-circle small"></i></a>
                      <a href="#" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Löschen" ><i class="mdi mdi-delete small"></i></a>
                      <a href="#" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Melden" ><i class="mdi mdi-alert small"></i></a>
                    </div>
                  </div>
                  <div class="collection-content"><!-- collection content -->
                    <div class="article-info">
                      <div class="autor left">
                        <div class="avatar-wrapper orange darken-3">
                          <span>SO</span>
                        </div>
                        <span class="name">Peter Ballentin</span>
                      </div>
                      <div class="date right">
                        <span>12.09.2016 | 14:53 Uhr </span>
                      </div>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="text-editor"><!-- text editor -->
                    <form action="" class="form">
                      <div class="editor"> 
                        <div class="input-field">
                          <textarea id="textarea4" class="materialize-textarea" style="height: 28px;" placeholder="Ihre Nachricht"></textarea>
                          <label for="textarea4" class=""></label>
                        </div>
                      </div>
                      <div class="editor-active">
                        <button class="btn waves-effect waves-light right" type="submit" name="action">SPEICHERN</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="collection-item">
                  <div class="collection-header flex-wrapper"><!-- collection header -->
                    <div class="autor">
                      <div class="avatar-wrapper brown lighten-2">
                        <span>SO</span>
                      </div>
                      <span class="name">Peter Ballentin</span>
                    </div>
                    <div class="text-preview">
                      <span>Wir hatten schon im April 4 Fluge auf die Malediven gebucht! Im ...</span>
                    </div>
                    <div class="date right-align">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                    <div class="nav-menu">
                      <a href="#" ><i class="mdi mdi-help-circle small"></i></a>
                      <a href="#" ><i class="mdi mdi-help-circle small"></i></a>
                      <a href="#" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Löschen" ><i class="mdi mdi-delete small"></i></a>
                      <a href="#" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Melden" ><i class="mdi mdi-alert small"></i></a>
                    </div>
                  </div>
                  <div class="collection-content"><!-- collection content -->
                    <div class="article-info">
                      <div class="autor left">
                        <div class="avatar-wrapper brown lighten-2">
                          <span>SO</span>
                        </div>
                        <span class="name">Peter Ballentin</span>
                      </div>
                      <div class="date right">
                        <span>12.09.2016 | 14:53 Uhr </span>
                      </div>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="text-editor"><!-- text editor -->
                    <form action="" class="form">
                      <div class="editor"> 
                        <div class="input-field">
                          <textarea id="textarea5" class="materialize-textarea" style="height: 28px;" placeholder="Ihre Nachricht"></textarea>
                          <label for="textarea5" class=""></label>
                        </div>
                      </div>
                      <div class="editor-active">
                        <button class="btn waves-effect waves-light right" type="submit" name="action">SPEICHERN</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="collection-item">
                  <div class="collection-header flex-wrapper"><!-- collection header -->
                    <div class="autor">
                      <div class="avatar-wrapper deep-orange accent-1">
                        <span>SO</span>
                      </div>
                      <span class="name">Peter Ballentin</span>
                    </div>
                    <div class="text-preview">
                      <span>Wir hatten schon im April 4 Fluge auf die Malediven gebucht! Im ...</span>
                    </div>
                    <div class="date right-align">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                    <div class="nav-menu">
                      <a href="#" ><i class="mdi mdi-help-circle small"></i></a>
                      <a href="#" ><i class="mdi mdi-help-circle small"></i></a>
                      <a href="#" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Löschen" ><i class="mdi mdi-delete small"></i></a>
                      <a href="#" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Melden" ><i class="mdi mdi-alert small"></i></a>
                    </div>
                  </div>
                  <div class="collection-content"><!-- collection content -->
                    <div class="article-info">
                      <div class="autor left">
                        <div class="avatar-wrapper deep-orange accent-1">
                          <span>SO</span>
                        </div>
                        <span class="name">Peter Ballentin</span>
                      </div>
                      <div class="date right">
                        <span>12.09.2016 | 14:53 Uhr </span>
                      </div>
                    </div>
                    <p>Finger weg von der Firma! Habe vor 5 Monaten Waren im Wert von 90 EUR vorausbezahlt, Ware war dann nicht lieferbar und warte seit Monaten nun auf die 
                    </p>
                  </div>
                  <div class="text-editor"><!-- text editor -->
                    <form action="" class="form">
                      <div class="editor"> 
                        <div class="input-field">
                          <textarea id="textarea6" class="materialize-textarea" style="height: 28px;" placeholder="Ihre Nachricht"></textarea>
                          <label for="textarea6" class=""></label>
                        </div>
                      </div>
                      <div class="editor-active">
                        <button class="btn waves-effect waves-light right" type="submit" name="action">SPEICHERN</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- end content -->
          <div class="col s12 m4 l3"><!-- sidebar -->
            <div class="card-panel widget-sidebar widget-links">
              <div class="card-header blue-grey lighten-5">
                <h6>NACHRICHTEN</h6>
              </div>
              <div class="card no-bg">
                <div class="card-content">
                  <a href="javascript:void(0)">Posteingang (0)</a>
                  <a href="javascript:void(0)">gelesen (0)</a>
                  <a href="javascript:void(0)">ungelesen (0)</a>
                  <a href="javascript:void(0)">gesendete Nachrichten (0)</a>
                  <a href="javascript:void(0)">vom Empfänger gelesen (0)</a>
                  <a href="javascript:void(0)">vom Empfänger ungelesen (0)</a>
                </div>
              </div>
            </div>

            <div class="card-panel widget-sidebar widget-links">
              <div class="card-header blue-grey lighten-5">
                <h6>MERKZETTEL</h6>
              </div>
              <div class="card no-bg">
                <div class="card-content">
                  <a href="javascript:void(0)">gemerkte Beschwerden (1) </a>
                  <a href="javascript:void(0)">verfolgte Beschwerden (0)</a>
                </div>
              </div>
            </div>

            <div class="card-panel widget-sidebar widget-links">
              <div class="card-header blue-grey lighten-5">
                <h6>LINKS</h6>
              </div>
              <div class="card no-bg">
                <div class="card-content">
                  <a href="javascript:void(0)">gemerkte Beschwerden (1) </a>
                  <a href="javascript:void(0)">verfolgte Beschwerden (0)</a>
                </div>
              </div>
            </div>
            
            <div class="card-panel widget-sidebar widget-links">
              <div class="card-header blue-grey lighten-5">
                <h6>firmenmitgliedschaft</h6>
              </div>
              <div class="card no-bg">
                <div class="card-content">
                  <a href="javascript:void(0)">Profil</a>
                  <a href="javascript:void(0)">Kontaktdaten</a>
                  <a href="javascript:void(0)">Firmen hinzufügen</a>
                  <a href="javascript:void(0)">ReclaRank Siegel</a>
                  <a href="javascript:void(0)">Rechnungen (0)</a>
                  <a href="javascript:void(0)">ReclaBox API</a>
                  <a href="javascript:void(0)">Newsletter abmelden</a>
                  <a href="javascript:void(0)">Hilfe</a>
                </div>
              </div>
            </div>
          </div><!-- end sidebar -->
        </div>
      </div><!-- End ontent, sidebar, other components -->

    </div>

//= footer.html
