//= header.html

    <div class="container page-company post">
      <div class="section"><!-- content, sidebar, other components -->
        <div class="row">
          //= sidebar-company-left.html

          <div class="col s12 m6 l6"><!-- content -->
            <section class="section">
              <div class="card-panel">
                <div class="card no-bg">
                  <div class="card-content content-table">
                    <table class="highlight responsive-table">
                      <tbody>
                      <tr>
                        <td class="icon"><i class="mdi-email-outline mdi blue-grey-text"></td>
                        <td>ANSCHIRFT</td>
                        <td>Zimmestr, 27 <br> 10117 Berlin</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td class="icon"><i class="mdi-google-maps mdi blue-grey-text"></td>
                        <td>KARTE</td>
                        <td><a href="javascript:void(0)">MAPS</a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td class="icon"><i class="rbi rbi-reclarank pink-text"></i></td>
                        <td>RECLARANK</td>
                        <td>4 (max. 5)</td>
                        <td>
                          <i class="mdi-arrow-up mdi teal-accent-4-text"></i>&nbsp;
                          <span>9.2 %</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="icon"><i class="rbi rbi-beschwerde blue-grey-text"></i></td>
                        <td>BESCHWERDEN</td>
                        <td>129</td>
                        <td>
                          <i class="mdi-arrow-up mdi pink-accent-2-text"></i>&nbsp;
                          <span>4.2 %</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="icon"><i class="mdi-timer mdi blue-grey-text"></i></td>
                        <td>ANTWORTZEIT</td>
                        <td>23.1 Tage</td>
                        <td>
                          <i class="mdi-arrow-right mdi blue-grey-lighten-4-text"></i>&nbsp;
                          <span>0.0 %</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="icon"><i class="rbi rbi-beantwortete blue-grey-text"></i></td>
                        <td>FIRMEANTWORTEN</td>
                        <td>27% (36)</td>
                        <td>
                          <i class="mdi-arrow-up mdi teal-accent-4-text"></i>&nbsp;
                          <span>10.0 %</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="icon"><i class="rbi rbi-noch-nicht-geloste pink-text text-lighten-3"></i></td>
                        <td>NOCH NICHT GELÖSTE BESCHWERDEN</td>
                        <td>33% (42)</td>
                        <td>
                          <i class="mdi-arrow-up mdi teal-accent-4-text"></i>&nbsp;
                          <span>0.0 %</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="icon"><i class="rbi rbi-geloste teal-text"></i></td>
                        <td>GELÖSTE BESCHWERDEN</td>
                        <td>25% (33)</td>
                        <td>
                          <i class="mdi-arrow-down mdi pink-accent-2-text"></i>&nbsp;
                          <span>9.2 %</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="icon"><i class="rbi rbi-endgiltig-nicht pink-text"></i></td>
                        <td>ENDGÜLTIG NICHT GELÖSTE BESCHWERDE</td>
                        <td>25% (33)</td>
                        <td>
                          <i class="mdi-arrow-right mdi blue-grey-lighten-4-text"></i>&nbsp;
                          <span>0.0 %</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="icon"><i class="mdi-sort-variant mdi blue-grey-text"></td>
                        <td>RECLARANK</td>
                        <td>4 (von 10)</td>
                        <td>
                          <i class="mdi-arrow-right mdi blue-grey-lighten-4-text"></i>&nbsp;
                          <span>0.0 %</span>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </section>
            <section class="section post-search">
              <div class="card-panel no-bg">
                <div class="card-header no-bg-header">
                  <div class="article-info">
                    <div class="company-response">
                      <span>Firmenantwort zur Beschwerde: <a href="#">Sendungsverfolgung 01082148831882</a></span>
                    </div>
                    <div></div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-content">
                    <div class="article-info clearfix">
                      <div class="left">
                        <span>von Stil und Leben</span>
                      </div>
                      <div class="date right">
                        <i class="mdi mdi-calendar-check teal-text"></i>
                        <span>12.09.2016 | 14:53 Uhr </span>
                      </div>
                    </div>
                    <p>Pellentesque semper dictum arcu ut accumsan. Maecenas vel varius massa, ac pretium nisl. Nunc quis placerat ligula, nec varius nulla. In hac habitasse platea dictumst. Phasellus et suscipit ligula. Nam nec hendrerit libero...
                      <a href="!#">mehr</a></p>
                  </div>
                  <div class="card-action">
                    <div class="rating left">
                      <span><i class="mdi-star-outline mdi"></i></span>
                      <span><i class="mdi-star mdi"></i></span>
                      <span><i class="mdi-star mdi"></i></span>
                      <span><i class="mdi-star mdi"></i></span>
                      <span><i class="mdi-star mdi"></i></span>
                      <span class="number">4.0</span>
                    </div>
                    <button class="btn waves-effect waves-light right z-theme-depth-4" type="submit" name="action">BEARBEITEN</button>
                  </div>
                </div>
              </div>
              <div class="card-panel no-bg">
                <div class="card-header no-bg-header">
                  <div class="article-info">
                    <div class="company-response">
                      <span>Firmenantwort zur Beschwerde: <a href="#">Sendungsverfolgung 01082148831882</a></span>
                    </div>
                    <div></div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-content">
                    <div class="article-info clearfix">
                      <div class="left">
                        <span>von Stil und Leben</span>
                      </div>
                      <div class="date right">
                        <i class="mdi mdi-calendar-check teal-text"></i>
                        <span>12.09.2016 | 14:53 Uhr </span>
                      </div>
                    </div>
                    <p>Pellentesque semper dictum arcu ut accumsan. Maecenas vel varius massa, ac pretium nisl. Nunc quis placerat ligula, nec varius nulla. In hac habitasse platea dictumst. Phasellus et suscipit ligula. Nam nec hendrerit libero...
                      <a href="!#">mehr</a></p>
                  </div>
                  <div class="card-action">
                    <div class="rating left">
                      <span><i class="mdi-star-outline mdi"></i></span>
                      <span><i class="mdi-star mdi"></i></span>
                      <span><i class="mdi-star mdi"></i></span>
                      <span><i class="mdi-star mdi"></i></span>
                      <span><i class="mdi-star mdi"></i></span>
                      <span class="number">4.0</span>
                    </div>
                    <button class="btn waves-effect waves-light right z-theme-depth-4" type="submit" name="action">BEARBEITEN</button>
                  </div>
                </div>
              </div>
              <div class="card-panel no-bg">
                <div class="card-header no-bg-header">
                  <div class="article-info">
                    <div class="company-response">
                      <span>Firmenantwort zur Beschwerde: <a href="#">Sendungsverfolgung 01082148831882</a></span>
                    </div>
                    <div></div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-content">
                    <div class="article-info clearfix">
                      <div class="left">
                        <span>von Stil und Leben</span>
                      </div>
                      <div class="date right">
                        <i class="mdi mdi-calendar-check teal-text"></i>
                        <span>12.09.2016 | 14:53 Uhr </span>
                      </div>
                    </div>
                    <p>Pellentesque semper dictum arcu ut accumsan. Maecenas vel varius massa, ac pretium nisl. Nunc quis placerat ligula, nec varius nulla. In hac habitasse platea dictumst. Phasellus et suscipit ligula. Nam nec hendrerit libero...
                      <a href="!#">mehr</a></p>
                  </div>
                  <div class="card-action">
                    <div class="rating left">
                      <span><i class="mdi-star-outline mdi"></i></span>
                      <span><i class="mdi-star mdi"></i></span>
                      <span><i class="mdi-star mdi"></i></span>
                      <span><i class="mdi-star mdi"></i></span>
                      <span><i class="mdi-star mdi"></i></span>
                      <span class="number">4.0</span>
                    </div>
                    <button class="btn waves-effect waves-light right z-theme-depth-4" type="submit" name="action">BEARBEITEN</button>
                  </div>
                </div>
              </div>
            </section> 
          </div><!-- end content -->

          //= sidebar-company-right.html
        </div>
      </div><!-- End ontent, sidebar, other components -->

    </div>

//= footer.html