//= header.html

    <div class="container-write post page-write">
      <div class="section">
        <div class="card-panel no-bg">
          <div class="card">
            <div class="card-content center">
              <div class="card-title">
                <h5>Schritt 1 von 2. Schreiben Sie hier Ihrer Beschwerdetext</h5>
              </div>
              <p>mit einem (*)  gekennzeihnete Felder sind Pfhlitfelder</p>
              <div class="card-editor-input">
                <form action="#">
                  <div class="editor">
                    <div class="input-field-group table-wrapper">
                      <div class="help">
                        <a class="btn-floating icon-floating waves-effect" href="javascript:void(0)"><i class="mdi mdi-help-circle"></i></a>
                        <div class="functional-tooltips hide">
                          <p>Bitte tragen Sie bei Firma/Institution oder Marke den juristisch
                            korrekten Namen des Unternehmens/der Institution oder die Marke ein,
                            gegen die sich Ihre Beschwerde richtet.
                          </p>
                          <p>Daneben tragen Sie bei Ort den Firmensitz des Unternehmens ein.</p>
                        </div>
                      </div>
                      <div class="input-field">
                        <input placeholder="Hermes Germany GmbH" id="firma-marke" type="text" class="validate" data-length="100">
                        <label class="active left-align" data-error="Der Beschwerde gegen Firma/Marke ist zu lang." for="firma-marke">Der Firmenname ist zu lang.</label>
                      </div>
                      <div class="input-field">
                        <input placeholder="z.B. Berlin" id="ort" type="text" data-length="50" class="validate">
                        <label class="active left-align" for="ort" data-error="Der Ort ist zu lang.">Ort</label>
                      </div>
                    </div>

                    <div class="input-field-group table-wrapper">
                      <div class="help">
                        <a class="btn-floating icon-floating waves-effect" href="javascript:void(0)"><i class="mdi mdi-help-circle"></i></a>
                        <div class="functional-tooltips hide">
                          <p>Bitte tragen Sie bei Firma/Institution oder Marke den juristisch
                            korrekten Namen des Unternehmens/der Institution oder die Marke ein,
                            gegen die sich Ihre Beschwerde richtet.
                          </p>
                          <p>Daneben tragen Sie bei Ort den Firmensitz des Unternehmens ein.</p>
                        </div>
                      </div>
                      <div class="input-field">
                        <input placeholder="z.B. Münster" id="passiert" type="text" >
                        <label class="active left-align" for="passiert">Wo ist der Fall passiert?</label>
                      </div>
                      <div class="input-field">
                        <input placeholder="z.B. 4814" id="plz" type="text" data-length="10" class="validate">
                        <label class="active left-align" for="plz" data-error="Die PLZ ist zu lang.">PLZ</label>
                      </div>
                      <div class="input-field"><a class="btn waves-effect m-b-small full-width" href="#slide-input">WEITERE ANGABEN</a></div>
                    </div>

                    <div id="slide-input" class="section-slide hide">
                      <p class="center m-b-medium">Weitere Angaben zur Firma/Institution (werden nicht veröffentlicht):</p>
                      <div class="input-field-group table-wrapper">
                        <div class="help"><a class="btn-floating icon-floating waves-effect" href="javascript:void(0)"><i class="mdi mdi-help-circle"></i></a></div>
                        <div class="input-field">
                          <input placeholder="z.B. Geschäftsleitung" id="bereich-abteilung" type="text" >
                          <label class="active left-align" for="bereich-abteilung">Bereich/Abteilung</label>
                        </div>
                      </div>
                      <div class="input-field-group table-wrapper">
                        <div class="help"><a class="btn-floating icon-floating waves-effect" href="javascript:void(0)"><i class="mdi mdi-help-circle"></i></a></div>
                        <div class="input-field">
                          <input placeholder="z.B. Flughafenstr. 1" id="straße-hausnummer" type="text" >
                          <label class="active left-align" for="straße-hausnummer">Straße und Hausnummer</label>
                        </div>
                      </div>
                      <div class="input-field-group table-wrapper">
                        <div class="help"><a class="btn-floating icon-floating waves-effect" href="javascript:void(0)"><i class="mdi mdi-help-circle"></i></a></div>
                        <div class="input-field">
                          <input placeholder="z.B. Hamburg" id="ort-firmensitz" type="text" data-length="50" class="validate">
                          <label class="active left-align" for="ort-firmensitz" data-error="Der Firmensitz ist zu lang.">Ort (Firmensitz)</label>
                        </div>
                        <div class="input-field">
                          <input placeholder="z.B. 4814" id="plz1" type="text" >
                          <label class="active left-align" for="plz1">PLZ</label>
                        </div>
                      </div>
                      <div class="input-field-group table-wrapper">
                        <div class="help"><a class="btn-floating icon-floating waves-effect" href="javascript:void(0)"><i class="mdi mdi-help-circle"></i></a></div>
                        <div class="input-field">
                          <input placeholder="z.B. 040 5077" id="telefon" type="text" >
                          <label class="active left-align" for="telefon">Telefon</label>
                        </div>
                        <div class="input-field">
                          <input placeholder="z.B. 4814" id="fax" type="text" >
                          <label class="active left-align" for="fax">FAX</label>
                        </div>
                      </div>
                      <div class="input-field-group table-wrapper">
                        <div class="help"><a class="btn-floating icon-floating waves-effect" href="javascript:void(0)"><i class="mdi mdi-help-circle"></i></a></div>
                        <div class="input-field">
                          <input placeholder="z.B. feedback@example.com" id="mail-adresse-firma" type="email" class="validate" >
                          <label class="active left-align" for="mail-adresse-firma" data-error="wrong">E-Mail-Adresse der Firma</label>
                        </div>
                      </div>
                      <div class="input-field-group table-wrapper">
                        <div class="help"><a class="btn-floating icon-floating waves-effect" href="javascript:void(0)"><i class="mdi mdi-help-circle"></i></a></div>
                        <div class="input-field">
                          <input placeholder="z.B. Dr. Richard Wagner" id="ansprechpartner-firma" type="text" >
                          <label class="active left-align" for="ansprechpartner-firma">Ansprechpartner bei Firma</label>
                        </div>
                      </div>
                    </div>

                    <div class="input-field-group table-wrapper">
                      <div class="help"><a class="btn-floating icon-floating waves-effect" href="javascript:void(0)"><i class="mdi mdi-help-circle"></i></a></div>
                      <div class="input-field">
                        <input id="uberschrift" class="validate" type="text" data-length="65" data-min-length="10" placeholder="z.B. 4814">
                        <label class="active left-align" for="uberschrift" data-error="Die Überschrift ist zu lang" data-error-min="Der Überschrift ist zu kurz, min. 10 zeichen">Überschrift *</label>
                      </div>
                    </div>

                    <div class="input-field-group table-wrapper">
                      <div class="help"><a class="btn-floating icon-floating waves-effect" href="javascript:void(0)"><i class="mdi mdi-help-circle"></i></a></div>
                      <div class="input-field">
                        <input placeholder="Teaser" id="teaser" type="text" data-length="250" class="validate">
                        <label class="active left-align" for="teaser" data-error="Der Teaser ist zu lang.">z.B. International Airlines</label>
                      </div>
                    </div>
                    <div class="input-field-group table-wrapper">
                      <div class="help"><a class="btn-floating icon-floating waves-effect" href="javascript:void(0)"><i class="mdi mdi-help-circle"></i></a></div>
                      <div class="input-field">
                        <input placeholder=" z. B. 100200999" value="" id="bestell" type="text" data-length="255" class="validate">
                        <label class="active left-align" for="bestell" data-error="Die Kundennummer ist zu lang.">Bestell-/Kundennummer</label>
                      </div>
                    </div>

                    <div class="input-field-group table-wrapper">
                      <div class="help"><a class="btn-floating icon-floating waves-effect" href="javascript:void(0)"><i class="mdi mdi-help-circle"></i></a></div>
                      <div class="text left-align">Beschwerdetext</div>
                    </div>
                    <div class="text-editor">
                      <div class="editor"> 
                        <nav class="editor-nav">
                          <div class="nav-wrapper">
                            <ul class="left">
                              <li><a href=""><i class="mdi mdi-format-italic tiny"></i></a></li>
                              <li><a href=""><i class="mdi mdi-format-list-bulleted tiny"></i></a></li>
                              <li><a href=""><i class="mdi mdi-format-list-numbers tiny"></i></a></li>
                              <li><a class="active" href=""><i class="mdi mdi-spellcheck tiny"></i></a></li>
                              <li>
                                 <a class="dropdown-button" href="#" data-activates="dropdown2">Deutsch<i class="mdi-chevron-down mdi"></i></a><ul id="dropdown2" class="dropdown-content">
                                   <li><a class="active" href="#">Deutsch</a></li>
                                   <li><a href="#">English</a></li>
                                 </ul>
                              </li>
                            </ul>
                          </div>
                        </nav>
                        <div class="input-field">
                          <textarea id="textarea1" class="materialize-textarea validate" style="height: 28px;" data-length="50000" data-min-length="150"></textarea>
                          <label for="textarea1" class="" data-error="Der Beschwerdetext ist zu lang." data-error-min="Der Beschwerdetext ist zu kurz, min. 150 zeichen"></label>
                        </div>
                      </div>
                    </div>

                    <div class="input-field-group table-wrapper">
                      <div class="help"><a class="btn-floating icon-floating waves-effect" href="javascript:void(0)"><i class="mdi mdi-help-circle"></i></a></div>
                      <div class="input-field">
                        <input placeholder=" z. B. Erstattung von 75% des Flugpreises" id="forderung" type="text" data-length="255" class="validate">
                        <label class="active left-align" for="forderung" data-error="Die Forderung ist zu lang.">Ihre Forderung *</label>
                      </div>
                    </div>
                    
                    <div class="input-field-group table-wrapper">
                      <div class="help"><a class="btn-floating icon-floating waves-effect" href="javascript:void(0)"><i class="mdi mdi-help-circle"></i></a></div>
                      <div class="text left-align">Mediadatei hochladen</div>
                    </div>
                    <div class="upload-files">
                      <div class="upload-files-input">
                        <div class="input-wrapper">
                          <div class="icon">
                            <i class="material-icons">file_upload</i>
                          </div>
                          <div class="text">
                            <p>upload your logo</p>
                            <p>JPG, PNG, GIF</p>
                          </div>
                        </div>
                      </div>

                      <div class="uploaded">
                        <div class="uploaded-item">
                          <img src="data:image/gif;base64,R0lGODlhAQABAIABAP///wAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" style="background-image: url('img/img-slider/1.jpeg'); background-size: cover;">
                          <i class="material-icons highlight_off">highlight_off</i>
                          <div class="progress-wrapper">
                            <span class="progress-number">72%</span>
                            <div class="progress">
                                <div class="determinate" style="width: 70%"></div>
                            </div>
                          </div>
                        </div>
                        <div class="uploaded-item">
                          <img src="data:image/gif;base64,R0lGODlhAQABAIABAP///wAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" style="background-image: url('img/img-slider/2.jpeg'); background-size: cover;">
                          <i class="material-icons highlight_off">highlight_off</i>
                        </div>
                      </div>
                    </div>

                    <div class="input-field-group table-wrapper">
                      <div class="help"><a class="btn-floating icon-floating waves-effect" href="javascript:void(0)"><i class="mdi mdi-help-circle"></i></a></div>
                      <div class="input-field">
                        <input placeholder="Wir geben Ihre E-Mail-Adresse nicht an Dritte weiter" id="email" type="email" class="validate" >
                        <label class="active left-align" for="email" data-error="Die E-Mail-Adresse ist ungültig.">Ihre E-Mail Adresse *</label>
                      </div>
                    </div>

                    <div class="input-field-group table-wrapper">
                      <div class="help"><a class="btn-floating icon-floating waves-effect" href="javascript:void(0)"><i class="mdi mdi-help-circle"></i></a></div>
                      <div class="input-field">
                        <input placeholder=" z. B. Erika" value="" id="vorname" type="text" data-length="50" class="validate">
                        <label class="active left-align" for="vorname" data-error="Der Vorname ist zu lang.">Ihr Vorname</label>
                      </div>
                      <div class="input-field">
                        <input placeholder="Mustermann" id="name" type="text" data-length="50" class="validate">
                        <label class="active left-align" for="name" data-error="Der Nachname ist zu lang.">Ihr Name</label>
                      </div>
                    </div>

                  </div>
                  <div class="editor-active">
                    <button class="btn waves-effect waves-light center" type="submit" name="action">WEITER</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

//= footer.html
