<div class="col s12 m3 l3"><!-- sidebar right -->
  <div class="card-panel widget-sidebar widget-links">
    <div class="card-header blue-grey lighten-5">
      <i class="mdi mdi-email-outline small"></i>
      <span>NACHRICHTEN</span>
    </div>
    <div class="card no-bg">
      <div class="card-content">
        <a href="javascript:void(0)">Posteingang (0)</a>
        <a href="javascript:void(0)">gelesen (0)</a>
        <a href="javascript:void(0)">ungelesen (0)</a>
        <a href="javascript:void(0)">gesendete Nachrichten (0)</a>
        <a href="javascript:void(0)">vom Empfänger gelesen (0)</a>
        <a href="javascript:void(0)">vom Empfänger ungelesen (0)</a>
      </div>
    </div>
  </div>

  <div class="card-panel widget-sidebar widget-navigation">
    <div class="card-header blue-grey lighten-5">
      <i class="mdi mdi-bookmark-outline small"></i>
      <span>MERKZETTEL</span>
    </div>
    <div class="card no-bg">
      <div class="card-content">
        <ul>
          <li><a href="javascript:void(0)">gemerkte Beschwerden (1) </a></li>
          <li><a href="javascript:void(0)">verfolgte Beschwerden (0) </a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card-panel widget-sidebar widget-navigation">
    <div class="card-header blue-grey lighten-5">
      <i class="mdi mdi-link small"></i>
      <span>LINKS</span>
    </div>
    <div class="card no-bg">
      <div class="card-content">
        <ul>
          <li><a href="javascript:void(0)">gemerkte Beschwerden (1) </a></li>
          <li><a href="javascript:void(0)">verfolgte Beschwerden (0) </a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card-panel widget-sidebar widget-navigation widget-links">
    <div class="card-header blue-grey lighten-5">
      <i class="mdi mdi-settings small"></i>
      <span>Firmenatworten</span>
    </div>
    <div class="card no-bg">
      <div class="card-content">
        <ul>
          <li><a href="javascript:void(0)">Profil</a></li>
          <li><a href="javascript:void(0)">Kontaktdaten</a></li>
          <li><a href="javascript:void(0)">Firmen hinzufügen</a></li>
          <li><a href="javascript:void(0)">ReclaRank Siegel</a></li>
          <li><a href="javascript:void(0)">Rechnungen (0)</a></li>
          <li><a href="javascript:void(0)">ReclaBox API</a></li>
          <li><a href="javascript:void(0)">Newsletter abmelden</a></li>
          <li><a href="javascript:void(0)">Hilfe</a></li>
        </ul>
      </div>
    </div>
  </div>
</div><!-- end sidebar right -->