//= header.html

<div class="container page-support post">
  <div class="section"><!-- content, sidebar, other components -->
    <div class="row">
      <div class="col s12 m3 l3"><!-- sidebar left -->
        <div class="card-panel widget-sidebar">
          <div class="card-header blue-grey lighten-5 center-align">
            <div class="row">
              <div class="col s12 m-b-small"><i class="mdi mdi-information small"></i></div>
              <div class="col s12"><span>Anschrift</span></div>
            </div>
          </div>
          <div class="card no-bg">
            <div class="card-content">
              <p class="m-t-small">Tel. +493034712969</p>
              <form action="" class="form">
                <div class="input-field">
                  <input id="email" type="email" class="validate">
                  <label for="email" data-error="wrong" data-success="right">Email</label>
                </div>
                <div class="input-field">
                  <textarea id="textarea1" class="materialize-textarea"></textarea>
                  <label for="textarea1">Textarea</label>
                </div>
                <button class="btn waves-effect waves-light full-width m-b-small" type="submit" name="action">Abschicken</button>
              </form>
            </div>
          </div>
        </div>

        <div class="card-panel widget-sidebar">
          <div class="card-header blue-grey lighten-5 center-align">
            <div class="row">
              <div class="col s12 m-b-small"><i class="mdi mdi-map-marker small"></i></div>
              <div class="col s12"><span>Anschrift</span></div>
            </div>
          </div>
          <div class="card no-bg">
            <div class="card-content">
              <p class="center-align m-t-small m-b-small">Tel. +1 845 5895145 </p>
              <p>RB Marketing LLC</p>
              <p>616 Corporate Way, Suite 2-4007</p>
              <p class="m-b-small">Valley Cottage, NY 10989</p>
            </div>
          </div>
        </div>
      </div><!-- end sidebar left -->

      <div class="col s12 m6 l6"><!-- content -->
        <section class="section post">
          <div class="card-panel no-bg">
            <div class="card no-bg">
              <div class="card-title center-align">
                <h3>Support</h3>
              </div>
              <div class="card-content">
                <div class="row">
                  <div class="col s6">
                    <button class="btn waves-effect waves-light right" type="submit" name="action">User-Support</button>
                  </div>
                  <div class="col s6">
                    <button class="btn waves-effect waves-light left" type="submit" name="action">Firmen-Support</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-panel no-bg">
            <div class="card no-bg">
              <div class="card-title">
                <h3>Rechtliche Hinweise</h3>
              </div>
              <div class="card-content m-b-p">
                <p><b>Anbieter:</b><br>ReclaBox ist ein Service von RB Marketing LLC.</p>
                <p><b>Kontaktaufnahme:</b><br>Vervielfältigungen jeder Art sind nur mit ausdrücklicher Genehmigung gestattet. Die Aufnahme in Online-Dienste und Internet sowie die Vervielfältigung auf Datenträger dürfen nur nach vorheriger schriftlicher Zustimmung erfolgen.</p>
                <p><b>Copyright:</b><br>Vervielfältigungen jeder Art sind nur mit ausdrücklicher Genehmigung gestattet. Die Aufnahme in Online-Dienste und Internet sowie die Vervielfältigung auf Datenträger dürfen nur nach vorheriger schriftlicher Zustimmung erfolgen.</p>
                <p><b>Haftung:</b><br>Die Beiträge und Inhalte auf ReclaBox.com werden regelmäßig überprüft. Dennoch wird eine Haftung ausgeschlossen. ReclaBox übernimmt weiterhin keine Haftung für unverlangt per Post eingesandte Texte und Fotos.</p>
                <p><b>Linkhinweis:</b><br>ReclaBox ist nicht für die Inhalte fremder Seiten verantwortlich, die über einen Link erreicht werden. Diese Erklärung gilt für alle auf dieser Homepage angebrachten Links, die nicht auf Webseiten von ReclaBox weisen.</p>
                <p><b>Beratung:</b><br>Die Informationen auf ReclaBox sind private Meinungsäußerungen und stellen keine Rechtsberatung im Sinne des Rechtsberatungsgesetzes dar. Für verbindliche Rechtsberatung empfehlen wir den in Berlin ansässigen Verbraucheranwalt Ulrich <a href="#">www.ra-ulrich.com</a>.</p>
              </div>
            </div>
          </div>
        </section>
      </div><!-- end content -->

      <div class="col s12 m3 l3">
        <div class="card-panel widget-sidebar">
          <div class="card-header blue-grey lighten-5 center-align">
            <div class="row">
              <div class="col s12 m-b-small"><i class="mdi mdi-domain small"></i></div>
              <div class="col s12"><span>Firmenatworten</span></div>
            </div>
          </div>
          <div class="card no-bg">
            <div class="card-content">
              <p class="center-align m-t-tiny m-b-tiny">Für Firmenzugänge wenden Sie sich bitte an den Firmen-Support. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End ontent, sidebar, other components -->

</div>

//= footer.html