//= header.html

<div class="container page-company post">
  <div class="section"><!-- content, sidebar, other components -->
    <div class="row">
      <div class="col s12 m3 l3"><!-- sidebar left -->
        <div class="card-panel no-bg widget-sidebar widget-links">
          <div class="card">
            <div class="card-content">
              <div class="user center-align">
                <img class="circle center-block" src="http://materializecss.com/images/yuna.jpg">
                <span class="name">John Doe </span>
                <p>ReclaBoxier since 2016</p>
              </div>
              <div class="divider"></div>
              <a href="javascript:void(0)">Main Profil</a>
              <a href="javascript:void(0)">Newsletter abmelden</a>
              <a href="javascript:void(0)">Hilfe</a>
            </div>
          </div>
        </div>

        <div class="card-panel widget-sidebar widget-navigation">
          <div class="card-header blue-grey lighten-5">
            <i class="rbi rbi-beschwerde small"></i>
            <span>Beshwerden</span>
          </div>
          <div class="card no-bg">
            <div class="card-content">
              <ul>
                <li><a href="javascript:void(0)">Online </a></li>
                <li><a href="javascript:void(0)">On hold 48 h <span>(1)</span> </a></li>
                <li><a href="javascript:void(0)">Gelöschte <span>(7)</span> </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div><!-- end sidebar left -->

      <div class="col s12 m6 l6"><!-- content -->
        <section class="section post-search">
          <div class="card-panel no-bg card-posts">
            <div class="card">
              <div class="card-content">
                <div class="breadcrumb-wrapper">
                  <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                  <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                </div>
                <div class="card-title">
                  <h6>
                    <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste-2"></i></a>
                    <a href="#">Handy-Versand wird nicht veranlasst, niemand kann sagen wann!</a>
                  </h6>
                </div>
                <p>Pellentesque ut condimentum lacus, at luctus nunc. Hermes suscipit neque nibh, convallis euismod sapien malesuada vitae. Aliquam et scelerisque libero. In finibus, nulla cursus finibus mollis, mauris diam tempor nisi, eget dapibus arcu tortor ut tortor. Curabitur cursus nunc vel
                </p>
              </div>
              <div class="card-action">
                <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                <div class="date right">
                  <span>12.09.2016 | 14:53 Uhr </span>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-content">
                <div class="breadcrumb-wrapper">
                  <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                  <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                </div>
                <div class="card-title">
                  <h6>
                    <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste-2"></i></a>
                    <a href="#">Handy-Versand wird nicht veranlasst, niemand kann sagen wann!</a>
                  </h6>
                </div>
                <p>Pellentesque ut condimentum lacus, at luctus nunc. Hermes suscipit neque nibh, convallis euismod sapien malesuada vitae. Aliquam et scelerisque libero. In finibus, nulla cursus finibus mollis, mauris diam tempor nisi, eget dapibus arcu tortor ut tortor. Curabitur cursus nunc vel
                </p>
              </div>
              <div class="card-action">
                <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                <div class="date right">
                  <span>12.09.2016 | 14:53 Uhr </span>
                </div>
              </div>
            </div>
          </div>
          <div class="card-panel no-bg card-posts">
            <div class="card">
              <div class="card-content">
                <div class="row">
                  <div class="col s6">
                    <div class="breadcrumb-wrapper">
                      <a href="#!" class="breadcrumb">Mobilität und Reisen</a>
                      <a href="#!" class="breadcrumb breadcrumb-last-child">Fluggesellschaften</a>
                    </div>
                  </div>
                  <div class="col s6">
                    <div class="date right">
                      <span>12.09.2016 | 14:53 Uhr </span>
                    </div>
                  </div>
                </div>
                <div class="card-title">
                  <h6>
                    <a class="tooltipped" href="javascript:void(0)" data-tooltip="Warte seit 5"><i class="rbi rbi-noch-nicht-geloste-2"></i></a>
                    <a href="#">Handy-Versand wird nicht veranlasst, niemand kann sagen wann!</a>
                  </h6>
                </div>
                <p>Pellentesque ut condimentum lacus, at luctus nunc. Hermes suscipit neque nibh, convallis euismod sapien malesuada vitae. Aliquam et scelerisque libero. In finibus, nulla cursus finibus mollis, mauris diam tempor nisi, eget dapibus arcu tortor ut tortor. Curabitur cursus nunc vel
                </p>
              </div>
              <div class="card-action card-action-button">
                <a href="#"><i class="mdi mdi-comment-text"></i>&nbsp;536</a>
                <a href="#"><i class="rbi rbi-image"></i>&nbsp;12</a>
                <a href="#"><i class="rbi rbi-video"></i>&nbsp;7</a>
                <a href="#"><i class="mdi mdi-eye"></i>&nbsp;7</a>
                <button class="btn waves-effect waves-light right" type="submit">BEARBEITEN</button>
              </div>
            </div>
          </div>
          <div class="card-panel no-bg">
            <div class="card-header no-bg-header">
              <div class="article-info">
                <div class="company-response">
                  <span>Firmenantwort zur Beschwerde: <a href="#">Sendungsverfolgung 01082148831882</a></span>
                </div>
                <div></div>
              </div>
            </div>
            <div class="card">
              <div class="card-content">
                <div class="article-info clearfix">
                  <div class="left">
                    <span>von Stil und Leben</span>
                  </div>
                  <div class="date right">
                    <i class="mdi mdi-calendar-check teal-text"></i>
                    <span>12.09.2016 | 14:53 Uhr </span>
                  </div>
                </div>
                <p>Pellentesque semper dictum arcu ut accumsan. Maecenas vel varius massa, ac pretium nisl. Nunc quis placerat ligula, nec varius nulla. In hac habitasse platea dictumst. Phasellus et suscipit ligula. Nam nec hendrerit libero...
                  <a href="!#">mehr</a></p>
              </div>
              <div class="card-action">
                <button class="btn waves-effect waves-light left" type="submit">Löschen</button>
                <button class="btn waves-effect waves-light right" type="submit">BEARBEITEN</button>
              </div>
            </div>
          </div>
          <ul class="pagination center">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">5</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
          </ul>
        </section>
      </div><!-- end content -->

      <div class="col s12 m3 l3"><!-- sidebar right -->
        <div class="card-panel widget-sidebar widget-links">
          <div class="card-header blue-grey lighten-5">
            <i class="mdi mdi-email-outline small"></i>
            <span>NACHRICHTEN</span>
          </div>
          <div class="card no-bg">
            <div class="card-content">
              <a href="javascript:void(0)">Posteingang (0)</a>
              <a href="javascript:void(0)">gelesen (0)</a>
              <a href="javascript:void(0)">ungelesen (0)</a>
              <a href="javascript:void(0)">gesendete Nachrichten (0)</a>
              <a href="javascript:void(0)">vom Empfänger gelesen (0)</a>
              <a href="javascript:void(0)">vom Empfänger ungelesen (0)</a>
            </div>
          </div>
        </div>

        <div class="card-panel widget-sidebar widget-navigation">
          <div class="card-header blue-grey lighten-5">
            <i class="mdi mdi-bookmark-outline small"></i>
            <span>MERKZETTEL</span>
          </div>
          <div class="card no-bg">
            <div class="card-content">
              <ul>
                <li><a href="javascript:void(0)">gemerkte Beschwerden (1) </a></li>
                <li><a href="javascript:void(0)">verfolgte Beschwerden (0) </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div><!-- end sidebar right -->
    </div>
  </div><!-- End ontent, sidebar, other components -->

</div>

//= footer.html