//= header.html
    
    <div class="container-medium post post-vorschau">
      <div class="section"><!-- content-top -->
        <div class="row">
          <div class="col s12">
            <div class="card-panel no-bg">
              <div class="card no-bg">
                <div class="card-content">
                  <div class="card-title center"><h3>Schritt 2 von 2. Schreiben Sie hier Ihrer Beschwerdetext</h3></div>
                  <p>Bitte prüfen Sie in der folgenden Vorschau Ihre Beschwerde. Sollte Ihr Bild/Video in dieser Vorschau nicht erscheinen, fügen Sie bitte Umbrüche in Ihren Text ein. Sie sehen in der Vorschau das erste Ihrer ausgewählten Bilder/Videos. In der veröffentlichten Beschwerde sind dann alle Bilder/Videos in einer Gallerieansicht verfügbar. Veröffentlichte Beschwerden können leider nicht mehr geändert werden.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- end content-top -->
      <div class="section section-border">
        <div class="row">
          <div class="col s12">
            <header class="post-header">
              <div class="breadcrumb-wrapper">
                <a href="#" class="breadcrumb">Startseite</a>
                <a href="#" class="breadcrumb">Mobilität und Reisen</a>
                <a href="#" class="breadcrumb">Reiseportale</a>
                <a href="#" class="breadcrumb">Beschwerde</a>
                <span class="breadcrumb-last-child">Telefonservice ist eine absolute Katastrophe!</span>
              </div>
              <h2 class="title">Telefonservice ist eine absolute Katastrophe!</h2>
              <div class="company-info">
                <div class="company-name">
                  <i class="material-icons tiny">business</i>
                  <a href="#">OPODO DEUTSCHLAND</a>
                </div>
                <div class="company-place">
                  <i class="material-icons tiny">room</i>
                  <span>GROSSBEEREN</span>
                </div>
              </div>
              <h3 class="title-sub">Extrem lange Wartezeiten, MitarbeiterInnen frech, unfreundlich und wenig hilfreich!</h3>
            </header>

            <div class="card-panel no-bg">
              <div class="card-header no-bg-header">
                <div class="article-info table-wrapper clearfix">
                  <div class="author">Geshrieben von Tomas Gibbson</div>
                  <div class="article-data">15 Views | 12.09.2016 | 14:53 Uhr</div>
                </div>
              </div>
              <div class="card">
                <div class="card-content">
                  <p>
                    <span class="first-letter">C</span> urabitur dictum sodales placerat. Nam vitae malesuada nisl. Sed posuere neque quam, convallis iaculis augue fermentum Morbi vitae erat neque. Vivamus ut auctor nunc.
                  </p>
                  <p>
                    Sed et eros nibh. Integer eu fringilla ante. Aenean nulla ligula, ornare eu elit at, feugiat bibendum leo. Nam iaculis, dolor id accumsan ornare, odio lacus v  enenatis erat, ac dapibus tortor ipsum porttitor tellus. Praesent non ex commodo, porta dui nec, varius risus. ] est laoreet sit amet. Nunc porta, neque non sollicitudin iaculis, metus nibh sollicitudin ligula, ut tincidunt risus enim vel augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos him
                  </p>
                  <div class="testimonials">
                    <p>Peter: Tag, Meike, wie geht’s? </p>
                    <p>Meike: Gut, danke, und dir? </p>
                    <p>Peter: Prima! Heute gehe ich ins Kino. Kommst du mit? </p>
                    <p>Meike: Was für ein Film ist das? </p>
                  </div>
                  <p>
                    Fusce tincidunt, tortor venenatis pretium pharetra, sapien dolor fringilla metus, eu mollis libero ex vel dui. Quisque hendrerit velit a tellus mollis consequat. Donec blandit quam ut lobortis commodo. 
                  </p>
                  
                  <div class="slider slider-post" data-indicators="true">
                    <ul class="slides">
                      <li><a href="#one"><img src="http://lorempixel.com/800/400/food/1"></a></li>
                      <li><a href="#two"><img src="http://lorempixel.com/800/400/food/2"></a></li>
                      <li><a href="#three"><img src="http://lorempixel.com/800/400/food/3"></a></li>
                      <li><a href="#four"><img src="http://lorempixel.com/800/400/food/4"></a></li>
                      <li><a href="#five"><img src="img/img-slider/pexels-photo-131238.jpeg.jpg"></a></li>
                      <li><a href="#six"><img src="img/img-slider/pexels-photo-144312.jpeg.jpg"></a></li>
                    </ul>        
                  </div>
                </div>
              </div>
            </div>

            <div class="card-panel no-bg">
              <div class="card">
                <div class="card-content company-commercial-data">
                  <p>KUNDENNUMMER: 194583498594859</p>
                  <p>REFERENZ-NR.: BI-00192425</p>
                  <p>SENDUNGZ-NR.: BI-00192425</p>
                </div>
              </div>
            </div>

            <div class="card-panel">
              <div class="card-header pink white-text text-uppercase">
                <h6>Meine Forderung an extraenergie</h6>
              </div>
              <div class="card no-bg">
                <div class="card-content">
                  <p>Fusce tincidunt, tortor venenatis pretium pharetra, sapien dolor fringilla metus, eu mollis libero ex vel dui. Fusce tincidunt, tortor venenatis pretium pharetra, sapien dolor fringilla metus, eu mollis libero ex 
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="section">
        <div class="row">
          <div class="col s12">
            <div class="card-panel no-bg">
              <div class="card no-bg">
                <div class="card-editor-input">
                  <div class="editor-input">
                    <form action="" class="form">
                      <div class="editor-active">
                        <button class="btn waves-effect waves-light z-theme-depth-4 center-block" type="submit" name="action">BESCHWERDE BEARBEITEN</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="card-editor-input">
                  <div class="editor-input">
                    <form action="" class="form">
                      <div class="row">
                        <div class="col s10 offset-s1">
                          <div class="editor">
                            <div class="input-field">
                              <input type="checkbox" class="filled-in" id="checkbox-1" />
                              <label for="checkbox-1">Ja, ich bin einverstanden, dass andere Nutzer meine</label>
                            </div>
                            <div class="input-field">
                              <input type="checkbox" class="filled-in" id="checkbox-2" />
                              <label for="checkbox-2">Ja, ich bin einverstanden, dass andere Nutzer meine</label>
                            </div>
                            <p>Bitte lesen Sie unsere <a href="#">Nutzungsbedingungen</a> , bevor Sie Ihre Beschwerde abschicken. Wir behalten uns das Recht vor, Inhalte zu prüfen und bei Verstoß gegen unsere <a href="#">Nutzungsbedingungen</a> zu </p>
                            <div class="input-field">
                              <input type="checkbox" class="filled-in" id="checkbox-3" />
                              <label for="checkbox-3">Ja, ich habe die <a href="#">Nutzungsbedingungen</a> gelesen und akzeptiert. Änderungen am Beschwerdetext sind nach dem Abschicken nicht mehr möglich.*</label>
                            </div>
                          </div>
                          <div class="editor-active">
                            <button class="btn waves-effect waves-light z-theme-depth-4 center-block" type="submit" name="action">ABSCHIEKEN</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

//= footer.html
