//= header.html

<div class="container page-company post">
  <div class="section"><!-- content, sidebar, other components -->
    <div class="row">
      //= sidebar-company-left.html

      <div class="col s12 m6 l6"><!-- content -->
        <section class="section">
          <div class="card-panel no-bg">
            <div class="card no-bg">
              <div class="card-content">
                <div class="card-title">
                  <h3>Wollen Sie auf Diese Beschwerde antworten?</h3>
                  <p>Antwort zu folgender Beschwerde</p>
                </div>
                <p>Ich habe ReclaBox am 04.11.2016 per Kontaktformular auf eine fremdenfeindliche Beschwerde auf der Seite aufmerksam gemacht (Beschwerde-Nr.: 126630), in der von jüdischem Zinswuchertum die Rede ist. Über eine Woche später ist diese immer noch nicht gelöscht oder abgeändert, sodass diese weiterhin öffentlich einsehbar ist und der Beschwerdeführer seine rassistische Einstellung wie nebenbei weiter propagieren kann. Ein Zustand, der nicht hinnehmbar ist und den Grundregeln der Seite wiederspricht (§6 der Nutzungsbedingungen). Von einer gründlichen Prüfung der veröffentlichen Beschwerden kann also keine Rede sein - selbst nicht, wenn ein User darauf aufmerksam macht.</p>
              </div>
              <div class="card-text-editor">
                <div class="text-editor">
                  <form action="" class="form">
                    <div class="editor-header">
                      <div class="text left-align">Ihre Antwort / Gegendarstellung</div>
                    </div>
                    <div class="editor">
                      <nav class="editor-nav">
                        <div class="nav-wrapper">
                          <ul class="left">
                            <li><a class="active" href=""><i class="mdi mdi-format-italic tiny"></i></a></li>
                            <li><a href=""><i class="mdi mdi-format-list-bulleted tiny"></i></a></li>
                            <li><a href=""><i class="mdi mdi-format-list-numbers tiny"></i></a></li>
                            <li><a class="active" href=""><i class="mdi mdi-spellcheck tiny"></i></a></li>
                            <li>
                              <ul id="dropdown2" class="dropdown-content">
                                <li><a class="active" href="#!">Deutsch</a></li>
                                <li><a href="#!">English</a></li>
                              </ul>
                              <a class="dropdown-button" href="#!" data-activates="dropdown2"><i class="mdi-alphabetical mdi tiny"></i></a>
                            </li>
                          </ul>
                        </div>
                      </nav>
                      <div class="input-field">
                        <textarea id="textarea1" class="materialize-textarea">Sehr geehrter User, vielen Dank für Ihre Beschwerde. Wir danken Ihnen insbesondere, weil der Fehler, der leider unserseits passiert ist, sonst nicht mehr aufgefallen wäre.
                        </textarea>
                        <label for="textarea1" class=""></label>
                      </div>
                    </div>
                    <div class="editor-active">
                      <button class="btn waves-effect waves-light right z-theme-depth-4" type="submit" name="action">ABSCHICKEN</button>
                      <button class="btn waves-effect waves-light right z-theme-depth-4" type="submit" name="action">ZURÜCK</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

          </div>
        </section>
      </div><!-- end content -->

      <div class="col s12 m3 l3"><!-- sidebar -->
        <div class="card-panel widget-sidebar widget-links">
          <div class="card-header blue-grey lighten-5">
            <i class="mdi mdi-email-outline small"></i>
            <span>NACHRICHTEN</span>
          </div>
          <div class="card no-bg">
            <div class="card-content">
              <a href="javascript:void(0)">Posteingang (0)</a>
              <a href="javascript:void(0)">gelesen (0)</a>
              <a href="javascript:void(0)">ungelesen (0)</a>
              <a href="javascript:void(0)">gesendete Nachrichten (0)</a>
              <a href="javascript:void(0)">vom Empfänger gelesen (0)</a>
              <a href="javascript:void(0)">vom Empfänger ungelesen (0)</a>
            </div>
          </div>
        </div>

        <div class="card-panel widget-sidebar widget-navigation">
          <div class="card-header blue-grey lighten-5">
            <i class="mdi mdi-bookmark-outline small"></i>
            <span>MERKZETTEL</span>
          </div>
          <div class="card no-bg">
            <div class="card-content">
              <ul>
                <li><a href="javascript:void(0)">gemerkte Beschwerden (1) </a></li>
                <li><a href="javascript:void(0)">verfolgte Beschwerden (0) </a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card-panel widget-sidebar widget-navigation">
          <div class="card-header blue-grey lighten-5">
            <i class="mdi mdi-link small"></i>
            <span>LINKS</span>
          </div>
          <div class="card no-bg">
            <div class="card-content">
              <ul>
                <li><a href="javascript:void(0)">gemerkte Beschwerden (1) </a></li>
                <li><a href="javascript:void(0)">verfolgte Beschwerden (0) </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div><!-- end sidebar left -->
    </div>
  </div><!-- End ontent, sidebar, other components -->

</div>

//= footer.html