input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
  // Invalid Input Style
  &.invalid-min,
  &:focus.invalid-min {
    border-bottom: $input-invalid-border;
    box-shadow: 0 1px 0 0 $input-error-color;
  }

  // Custom Error message
  &.invalid-min + label:after,
  &:focus.invalid-min + label:after {
    content: attr(data-error-min);
    color: $input-error-color;
    opacity: 1;
  }
}