/* Slider */
// variables
// Media Query Ranges
$large-screen-slick: 1350px !default;
$large-and-up-slick: "only screen and (max-width : #{$large-screen-slick})" !default;
.slick {
  &-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;

    .slick-track,
    .slick-list {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    &-track {
      position: relative;
      top: 0;
      left: 0;
      display: block;

      &:before,
      &:after {
        display: table;
        content: '';
      }

      &:after {
        clear: both;
      }
    }
  }

  /* List */
  &-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;

    &:focus {
      outline: none;
    }

    &.dragging {
      cursor: pointer;
      cursor: hand;
    }
  }
  
  /* Loading */
  &-loading {
    .slick-list {
        background: #fff url('../img/img-site/ajax-loader.gif') center center no-repeat;
    }
    .slick-track {
      visibility: hidden;
    }
    .slick-slide {
      visibility: hidden;
    }
  }

  /* Slide */
  &-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;

    img {
        display: block;
    }
    
    &.slick-loading img {
      display: none;
    }
    
    &.dragging img {
        pointer-events: none;
    }
  }

  &-initialized .slick-slide {
    display: block;
  }

  &-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }

  &-arrow.slick-hidden {
    display: none;
  }

  /* Arrows */
  &-prev, 
  &-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: #607d8b;
    outline: none;
    background: transparent;

    @media #{$large-and-up-slick} {
      background-color: #e91e63 !important;
      top: -17px;
      &.btn-floating.btn-large {
        height: 35px;
        border-radius: 3px;
        width: 35px;
        i {
            line-height: 35.5px;
        }
      }
    }

    i {
      color: #607d8b;
    }

    &.btn, 
    &.btn-floating {
      @extend .z-depth-0;

      &:hover {
        color: #fff;
        background-color: $primary-color !important;
        @extend .z-theme-depth-1-half;

        & > i {
          color: #fff;
        }
      }
    }  
  }
  &-prev {
    left: -70px;
    // @extend .z-theme-depth-2;
    @media #{$large-and-up-slick} {
      left: inherit;
      right: 62px;
    }
  }
  &-next {
    right: -70px;
    // @extend .z-theme-depth-2;
    @media #{$large-and-up-slick} {
      right: 12px;
    }
  }

  /* Dots */
  &-dotted {
    &.slick-slider {
        margin-bottom: 30px;
    }
  }
  &-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    li {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;

      &.slick-active button:before {
        opacity: .75;
        color: black;
      }

      button {
        font-size: 0;
        line-height: 0;

        display: block;

        width: 20px;
        height: 20px;
        padding: 5px;

        cursor: pointer;

        color: transparent;
        border: 0;
        outline: none;
        background: transparent;

        &:hover, 
        &:focus {
          outline: none;

          &:before {
              opacity: 1;
          }
        }

        &:before {
          font-family: 'slick';
          font-size: 6px;
          line-height: 20px;

          position: absolute;
          top: 0;
          left: 0;

          width: 20px;
          height: 20px;

          content: '•';
          text-align: center;

          opacity: .25;
          color: black;

          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
    }
  }

  /* disabled */
  &-disabled.btn {
    background-color: #eceff1 !important;
    box-shadow: none !important;
    cursor: default;
    &:hover {
      background-color: #eceff1 !important;
      box-shadow: none !important;
      color: rgba(96, 125, 139, 0.5) !important;
    }
  }
  &-disabled.btn > i {
    color: rgba(96, 125, 139, 0.5) !important;
    &:hover {
      color: rgba(96, 125, 139, 0.5) !important;
    }
  }
}