.card-panel {
  transition: box-shadow .25s;
  padding: 15px;
  margin: 15px 0 25px 0;
  border-radius: 3px;
  background-color: #fff; }
.card-panel.card-carousel .card-content {
  padding: 22px 27px 15px; }
.card-panel.card-carousel .card-title,
.card-panel.card-carousel .card-title a {
  font-size: 18px; }
.card-panel.card-carousel .card-title {
  top: -5px; }
.card-panel.card-carousel .card-title a:first-child {
  width: 25px; }
.card-panel.card-carousel .card-action {
  padding: 0 30px 15px; }
.card-panel.no-bg .card-header {
  padding: 15px 0 0; }
.card-panel.no-bg .card.no-bg > .card-content {
  padding: 0; }

.card-header {
  padding: 15px 25px;
  border-radius: 3px 3px 0 0;
  text-transform: inherit;
  position: relative; }
.card-header i.material-icons, .card-header i.mdi {
  color: rgba(96, 125, 139, 0.54);
  font-size: 16px;
  position: relative;
  top: 1px; }
.card-header i.material-icons:hover, .card-header i.mdi:hover {
  color: rgba(96, 125, 139, 0.54); }
.card-header > * {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400; }
.card-header h1, .card-header h2, .card-header h3, .card-header h4, .card-header h5, .card-header h6 {
  margin: 0; }
.card-header.white-text > * {
  color: white; }

.card {
  position: relative;
  margin: 15px 0 25px 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 3px; }
.card.small, .card.medium, .card.large {
  position: relative; }
.card.small .card-image, .card.medium .card-image, .card.large .card-image {
  max-height: 60%;
  overflow: hidden; }
.card.small .card-image + .card-content, .card.medium .card-image + .card-content, .card.large .card-image + .card-content {
  max-height: 40%; }
.card.small .card-content, .card.medium .card-content, .card.large .card-content {
  max-height: 100%;
  overflow: hidden; }
.card.small .card-action, .card.medium .card-action, .card.large .card-action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
.card.small {
  height: 300px; }
.card.medium {
  height: 400px; }
.card.large {
  height: 500px; }
.card.hot-story .hot-story-text {
  background-color: #f4911a;
  border-radius: 0 0px 3px 3px;
  font-weight: 300;
  font-size: 13px;
  display: block;
  color: #fff;
  position: absolute;
  padding: 2px 15px 1px;
  top: 0px;
  text-transform: uppercase;
  z-index: 2; }
.card.hot-story .breadcrumb-wrapper {
  margin: 17px 0 10px; }
.card.hot-story .card-title h2 a {
  font-size: 34px;
  font-weight: 500;
  line-height: 40px; }
.card.hot-story .card-title .tooltipped {
  margin: 0;
  padding: 0; }
.card.horizontal {
  display: table;
  width: 100%; }
.card.horizontal.small .card-image, .card.horizontal.medium .card-image, .card.horizontal.large .card-image {
  height: 100%;
  max-height: none;
  overflow: visible; }
.card.horizontal.small .card-image img, .card.horizontal.medium .card-image img, .card.horizontal.large .card-image img {
  height: 100%; }
.card.horizontal .card-image {
  max-width: 90%; }
.card.horizontal .card-image img {
  max-width: 100%;
  width: 100%; }
.card.horizontal .card-stacked {
  display: table-cell;
  vertical-align: middle;
  position: relative; }
.card.horizontal .card-stacked .card-content {
  padding: 0; }
.card.horizontal .card-stacked .card-content .card-title {
  vertical-align: middle; }
.card.horizontal .card-stacked .card-content .card-title > * {
  margin: 0; }
.card.sticky-action .card-action {
  z-index: 2; }
.card.sticky-action .card-reveal {
  z-index: 1;
  padding-bottom: 64px; }

.card-title {
  display: inline-block;
  font-family: Roboto;
  font-weight: 500;
  position: relative;
  width: 100%; }
.card-title.table-wrapper > * {
  vertical-align: top; }
.card-title.activator {
  cursor: pointer; }
.card-title img {
  display: inline;
  height: auto;
  margin-left: -4px;
  margin-right: 5px;
  position: relative;
  top: 0;
  width: 25px; }
.card-title .date {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54); }

.card-image {
  position: relative; }
.card-image img {
  display: block;
  border-radius: 3px 3px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%; }
.card-image .card-title {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px; }

.card-content {
  padding: 15px;
  border-radius: 0 0 2px 2px;
  width: 100%; }
.card-content p {
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto;
  font-weight: 400;
  margin: 0; }
.card-content.white-text p {
  color: rgba(255, 255, 255, 0.87); }
.card-content a {
  color: #607d8b; }
.card-content a:hover {
  color: #99aeb8; }
.card-content .card-title a {
  color: #607d8b;
  font-family: Roboto; }
.card-content .card-title a:hover {
  color: #99aeb8; }
.card-content > div.uploaded {
  margin: 15px 0 15px -5px; }

.card-action {
  display: inline-block;
  position: relative;
  background-color: inherit;
  padding: 0 25px 15px;
  width: 100%;
  vertical-align: middle; }
.card-action .rating {
  min-height: auto;
  font-size: 21px;
  padding-top: 5px; }
.card-action .rating span {
  margin-right: -4px;
  position: relative;
  vertical-align: middle; }
.card-action .rating .number {
  font-size: 14px;
  margin-right: 0px; }
.card-action .rating i.mdi {
  font-size: 21px; }
.card-action + .card-content {
  padding-top: 0; }
.card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #607d8b;
  display: inline-block;
  margin-right: 10px;
  text-transform: uppercase;
  transition: color 0.3s ease 0s;
  vertical-align: middle; }
.card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: #99aeb8; }
.card-action .material-icons {
  top: 2px;
  position: relative;
  font-size: 12px; }
.card-action .mdi {
  font-size: 12px;
  position: relative;
  display: inline-block; }
.card-action a {
  font-size: 12px; }
.card-action.white-text > * {
  color: rgba(255, 255, 255, 0.87) !important; }
.card-action .date {
  vertical-align: middle; }
.card-action .date i {
  top: 0px; }
.card-action .date span {
  margin-right: 0 !important;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54); }
.card-action .btn, .card-action .btn-large {
  margin: 0; }
.card-action .rbi {
  margin-right: -1px; }

.card-reveal {
  padding: 15px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  overflow-y: auto;
  top: 100%;
  height: 100%;
  z-index: 3;
  display: none; }
.card-reveal .card-title {
  cursor: pointer;
  display: block; }

.card-text-editor {
  margin: 20px 0 25px; }

.card-editor-input {
  display: inline-block;
  width: 100%;
  margin-top: 20px; }
.card-editor-input p {
  margin: 0; }

.card-footer {
  padding: 0;
  margin: 0; }
.card-footer .card-action {
  display: inline-block;
  padding: 10px 25px;
  width: 100%; }
