.material-tooltip {
  padding: 10px 8px;
  font-size: 1rem;
  z-index: 2000;
  background-color: transparent;
  border-radius: 2px;
  color: #fff;
  min-height: 36px;
  line-height: 120%;
  opacity: 0;
  position: absolute;
  text-align: center;
  max-width: calc(100% - 4px);
  overflow: hidden;
  left: 0;
  top: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: absolute;
  opacity: 0;
  height: 7px;
  width: 14px;
  border-radius: 0 0 50% 50%;
  background-color: #323232;
  z-index: -1;
  transform-origin: 50% 0%;
  visibility: hidden;
}

.tooltipped {
  cursor: pointer;
}
a:hover {
  position: relative;
}
a[aria-label]:hover:after {
  content: attr(aria-label);
  padding: 10px 8px;
  font-size: 1rem;
  z-index: 2000;
  border-radius: 2px;
  min-height: 36px;
  line-height: 120%;
  position: absolute;
  left: -50px;
  top: -50px;
  text-align: center;
  white-space: nowrap;
  font-weight: 400;
  background: #333;
  color: white;
}
a[aria-label1]:hover:after {
  content: attr(aria-label1);
  padding: 10px 8px;
  font-size: 1rem;
  z-index: 2000;
  border-radius: 2px;
  min-height: 36px;
  line-height: 120%;
  position: absolute;
  left: -300px;
  top: -50px;
  text-align: center;
  white-space: nowrap;
  font-weight: 400;
  background: #333;
  color: white;
}
