@font-face {
  font-family: 'Roboto-Medium';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/roboto/Roboto-Medium.eot');
  src: url('../fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Medium.woff') format('woff'), url('../fonts/roboto/Roboto-Medium.ttf') format('truetype'), url('../fonts/roboto/Roboto-Medium.svg#icon') format('svg');
}
.categories .categories-item .collection {
  border: none;
  display: inline-block;
  margin: 0 0 13px 0;
  width: 100%;
}
.categories .categories-item .collection .collection-header {
  display: table;
  background: #eceff1;
  border: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 0 5px;
  margin: 0 0 15px 0;
  height: 50px;
  width: 100%;
}
.categories .categories-item .collection .collection-header h2 {
  display: table-cell;
  vertical-align: middle;
  font: 15px/18px "Roboto-Medium";
  margin: 0;
  padding: 0;
}
.categories .categories-item .collection .collection-header h2 a {
  color: #607d8b;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.categories .categories-item .collection .collection-header h2 a:hover {
  color: #99aeb8;
}
.categories .categories-item .collection .collection-header .icon {
  padding: 0 30px 0 42px;
}
.categories .categories-item .collection .collection-header .icon-bicycle {
  background: url("../img/bicycle.svg") 9px center / 25px no-repeat;
}
.categories .categories-item .collection .collection-header .icon-box {
  background: url("../img/box.svg") 9px center / 25px no-repeat;
}
.categories .categories-item .collection .collection-header .icon-car {
  background: url("../img/car.svg") 9px center / 25px no-repeat;
}
.categories .categories-item .collection .collection-header .icon-column {
  background: url("../img/column.svg") 9px center / 25px no-repeat;
}
.categories .categories-item .collection .collection-header .icon-courthouse {
  background: url("../img/courthouse.svg") 9px center / 25px no-repeat;
}
.categories .categories-item .collection .collection-header .icon-deodorant {
  background: url("../img/deodorant.svg") 9px center / 25px no-repeat;
}
.categories .categories-item .collection .collection-header .icon-driller {
  background: url("../img/driller.svg") 9px center / 25px no-repeat;
}
.categories .categories-item .collection .collection-header .icon-faucet {
  background: url("../img/faucet.svg") 9px center / 25px no-repeat;
}
.categories .categories-item .collection .collection-header .icon-first-aid-kit {
  background: url("../img/first-aid-kit.svg") 9px center / 25px no-repeat;
}
.categories .categories-item .collection .collection-header .icon-groceries {
  background: url("../img/groceries.svg") 9px center / 25px no-repeat;
}
.categories .categories-item .collection .collection-header .icon-handshake {
  background: url("../img/handshake.svg") 9px center / 25px no-repeat;
}
.categories .categories-item .collection .collection-header .icon-house {
  background: url("../img/house.svg") 9px center / 25px no-repeat;
}
.categories .categories-item .collection .collection-header .icon-interview {
  background: url("../img/interview.svg") 9px center / 25px no-repeat;
}
.categories .categories-item .collection .collection-header .icon-money {
  background: url("../img/money.svg") 9px center / 25px no-repeat;
}
.categories .categories-item .collection .collection-header .icon-mortarboard {
  background: url("../img/mortarboard.svg") 9px center / 25px no-repeat;
}
.categories .categories-item .collection .collection-header .icon-newspaper {
  background: url("../img/newspaper.svg") 9px center / 25px no-repeat;
}
.categories .categories-item .collection .collection-header .icon-office-worker {
  background: url("../img/office-worker.svg") 9px center / 25px no-repeat;
}
.categories .categories-item .collection .collection-header .icon-presentation {
  background: url("../img/presentation.svg") 9px center / 25px no-repeat;
}
.categories .categories-item .collection .collection-header .icon-repair-tools {
  background: url("../img/repair-tools.svg") 9px center / 25px no-repeat;
}
.categories .categories-item .collection .collection-header .icon-shopping-cart {
  background: url("../img/shopping-cart.svg") 9px center / 25px no-repeat;
}
.categories .categories-item .collection .collection-header .icon-smartphone {
  background: url("../img/smartphone.svg") 9px center / 25px no-repeat;
}
.categories .categories-item .collection .collection-header .icon-wifi {
  background: url("../img/wifi.svg") 9px center / 25px no-repeat;
}
.categories .categories-item .collection .collection-header .icon-compass {
  background: url("../img/compass.svg") 9px center / 25px no-repeat;
}
.categories .categories-item .collection .collection-item {
  margin: 0;
  padding: 0;
  font: 12px/24px "Roboto-Medium";
  border: none;
}
.categories .categories-item .collection .collection-item a {
  color: #607d8b;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.categories .categories-item .collection .collection-item a h3 {
  display: inline-block;
  font: 12px/24px "Roboto-Medium";
  margin: 0;
  padding: 0;
  color: inherit;
}
.categories .categories-item .collection .collection-item a:hover {
  color: #99aeb8;
}
@media screen and (min-width: 640px) {
  .categories {
    margin: 0 auto;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
  .categories .categories-item .collection {
    width: auto;
  }
  .categories .categories-item .collection .collection-header {
    width: auto;
  }
}
@media screen and (min-width: 980px) {
  .categories {
    margin: 0 auto;
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    min-width: 1170px;
  }
  .categories {
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4;
  }
}
