body {
  padding: 30px 0 0 0;
}
body .minilink {
  margin: 30px;
}
@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/roboto/Roboto-Regular.eot');
  src: url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Regular.woff') format('woff'), url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'), url('../fonts/roboto/Roboto-Regular.svg#icon') format('svg');
}
#usersLogin {
  max-width: 370px;
  background: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
#usersLogin .modal-content {
  background: url("../img/userLoginBg.png") center 43px no-repeat #fafafa;
  padding: 175px 0 0 0;
}
#usersLogin .modal-content form {
  padding: 13px -webkit-calc( (100% - 230px) / 2 ) 0 -webkit-calc( (100% - 230px) / 2 );
  padding: 13px calc( (100% - 230px) / 2 ) 0 calc( (100% - 230px) / 2 );
  font: 14px/14px "Roboto";
  background: #fff;
}
#usersLogin .modal-content form #message {
  color: #ff4081;
  line-height: 24px;
  text-align: center;
}
#usersLogin .modal-content form .input-field {
  padding: 0;
}
#usersLogin .modal-content form .input-field input {
  padding: 0;
  margin: 0 0 5px 0;
  height: 2.2rem;
  color: #000000;
}
#usersLogin .modal-content form .input-field label {
  left: 0;
}
#usersLogin .modal-content form input[type="checkbox"] + label {
  padding-left: 26px;
  line-height: 14px;
  margin: 20px 0 11px 0;
}
#usersLogin .modal-content form input[type="checkbox"].filled-in:not(:checked) + label:after {
  width: 16px;
  height: 16px;
  top: -2px;
}
#usersLogin .modal-content form input[type="checkbox"].filled-in:checked + label:after {
  width: 16px;
  height: 16px;
  top: -2px;
  line-height: 16px;
}
#usersLogin .modal-content form input[type="checkbox"].filled-in:checked + label:before {
  left: 0;
  top: -4px;
}
#usersLogin .modal-content .questions {
  text-align: center;
  font: 12px/24px "Roboto";
  background: #fff;
  padding: 16px 0 0 0;
  margin: 0;
}
#usersLogin .modal-content .questions li a {
  color: #607d8b;
}
#usersLogin::-webkit-scrollbar {
  display: none;
}
#usersLogin {
  overflow: -moz-scrollbars-none;
}
@media screen and (min-height: 524px) {
  #usersLogin {
    min-height: 522px;
  }
}
