body {
  padding: 30px 0 0 0;
}
body .minilink {
  margin: 30px;
}
#usersRegister {
  max-width: 580px;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  max-height: 101%;
  padding: 10px 0 0 0;
}
#usersRegister .modal-content {
  padding-top: 10px;
}
#usersRegister .modal-content .modalHeader {
  font: 21px/24px 'Roboto-Medium';
  margin-bottom: 28px;
}
#usersRegister .modal-content .hidden {
  display: none;
}
#usersRegister .modal-content .wrapper {
  font: 14px/18px 'Roboto';
  background: #fff;
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 0;
  margin: 0;
}
#usersRegister .modal-content .wrapper p {
  color: #212121;
  padding: 0 10px;
  margin: 0 0 16px 0;
}
#usersRegister .modal-content .wrapper .tabs .tab {
  margin: 0 20px 0 10px;
  overflow: hidden;
  border-top: 2px solid transparent;
}
#usersRegister .modal-content .wrapper .tabs .tab a {
  padding: 0;
  color: #afbec5;
  display: inline;
}
#usersRegister .modal-content .wrapper .tabs .tab a.active {
  color: #607d8b;
}
#usersRegister .modal-content .wrapper .tabs .tab:hover {
  border-top: 2px solid #afbec5;
}
#usersRegister .modal-content .wrapper .tabs .indicator {
  background-color: #748d9a;
  top: 0;
  bottom: auto;
  display: block;
}
#usersRegister .modal-content .wrapper form {
  font: 14px/14px "Roboto";
  background: #fff;
  padding-bottom: 15px;
  text-align: center;
}
#usersRegister .modal-content .wrapper form .input-field {
  padding: 0;
  text-align: left;
  margin: 0 0 13px 0;
}
#usersRegister .modal-content .wrapper form .input-field input {
  padding: 0;
  margin: 0 0 5px 0;
  height: 2.2rem;
  color: #000000;
}
#usersRegister .modal-content .wrapper form .input-field label {
  left: 0;
}
#usersRegister .modal-content .wrapper form input[type="checkbox"] + label {
  padding-left: 26px;
  line-height: 14px;
  margin: 0 0 11px 0;
}
#usersRegister .modal-content .wrapper form input[type="checkbox"].filled-in:not(:checked) + label:after {
  width: 16px;
  height: 16px;
  top: -2px;
}
#usersRegister .modal-content .wrapper form input[type="checkbox"].filled-in:checked + label:after {
  width: 16px;
  height: 16px;
  top: -2px;
  line-height: 16px;
}
#usersRegister .modal-content .wrapper form input[type="checkbox"].filled-in:checked + label:before {
  left: 0;
  top: -4px;
}
#usersRegister .modal-content .wrapper form button.registrieren {
  max-width: 240px;
  padding: 0 20px;
}
#usersRegister .modal-content .wrapper form button.registrierenFirm {
  max-width: 240px;
  padding: 0 20px;
}
#usersRegister .modal-content .wrapper form .warning {
  font: 12px/18px 'Roboto';
  color: #757575;
  margin-bottom: 10px;
  padding: 0;
}
#usersRegister .modal-content .wrapper form .warning a,
#usersRegister .modal-content .wrapper form label a {
  color: #8aa0aa;
}
#usersRegister::-webkit-scrollbar {
  width: 0;
}
#usersRegister {
  overflow: -moz-scrollbars-none;
}
@media only screen and (max-width: 510px) {
  #usersRegister {
    width: 90%;
  }
  #usersRegister .modal-content {
    padding-top: 10px;
  }
  #usersRegister .modal-content .modalHeader {
    font: 21px/24px 'Roboto-Medium';
    margin-bottom: 28px;
  }
  #usersRegister .modal-content .hidden {
    display: none;
  }
  #usersRegister .modal-content .wrapper form {
    /*		button.registrieren, button.registrierenFirm {
						width: 80%;
					}
					button.registrieren {
						max-width: 300px;
					}
					button.registrierenFirm {
						max-width: 300px;
					}*/
  }
  #usersRegister .modal-content .wrapper .tabs .tab a {
    padding: 0;
    display: inline;
    font-size: 14px;
  }
  #usersRegister .modal-content .wrapper .tabs .indicator {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  #usersRegister {
    width: 90%;
  }
  #usersRegister .modal-content {
    padding-top: 10px;
  }
  #usersRegister .modal-content .modalHeader {
    font: 21px/24px 'Roboto-Medium';
    margin-bottom: 28px;
  }
  #usersRegister .modal-content .hidden {
    display: none;
  }
  #usersRegister .modal-content .wrapper .tabs .tab a {
    padding: 0;
    display: inline;
    font-size: 14px;
  }
}
