@font-face {
  font-family: 'Roboto-Medium';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/roboto/Roboto-Medium.eot');
  src: url('../fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Medium.woff') format('woff'), url('../fonts/roboto/Roboto-Medium.ttf') format('truetype'), url('../fonts/roboto/Roboto-Medium.svg#icon') format('svg');
}
@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/roboto/Roboto-Regular.eot');
  src: url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Regular.woff') format('woff'), url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'), url('../fonts/roboto/Roboto-Regular.svg#icon') format('svg');
}
@font-face {
  font-family: 'Roboto-Bold';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/roboto/Roboto-Bold.eot');
  src: url('../fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Bold.woff') format('woff'), url('../fonts/roboto/Roboto-Bold.ttf') format('truetype'), url('../fonts/roboto/Roboto-Bold.svg#icon') format('svg');
}
@font-face {
  font-family: 'icon-font';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/icon-font-3/icon-font-3.eot');
  src: url('../fonts/icon-font-3/icon-font-3.eot?#iefix') format('embedded-opentype'), url('../fonts/icon-font-3/icon-font-3.woff') format('woff'), url('../fonts/icon-font-3/icon-font-3.ttf') format('truetype'), url('../fonts/icon-font-3/icon-font-3.svg#icon') format('svg');
}
body {
  background: #fafafa;
}
.container {
  max-width: 965px;
  margin: auto;
}
.card {
  -webkit-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
}
.complaints .pre-header {
  display: none;
}
.companies-answer .pre-header {
  display: block;
}
.ico {
  font: 15px/14px "icon-font";
  color: inherit;
  vertical-align: middle;
}
.search-page {
  padding: 53px 0 0 0;
}
.search-page .left-col .filters {
  padding: 0 0 12px 0;
}
.search-page .left-col .filters .filter {
  padding: 7px 16px;
  height: 35px;
  margin: 0 0 6px 0;
}
.search-page .left-col .filters .filter a {
  font: 14px/24px "Roboto-Medium";
  color: #607d8b;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.search-page .left-col .filters .filter a:hover {
  color: #99aeb8;
}
.search-page .left-col .filters .active {
  background: #fafafa;
}
.search-page .right-col .search-form .row {
  margin-bottom: 16px;
}
.search-page .right-col .search-form .row .input-field {
  margin-top: 0;
}
.search-page .right-col .search-form .row .input-field input {
  background: url("../img/ico3.png") 9px center no-repeat;
  padding: 0 0 0 31px;
  font: 13px/34px "Roboto-Medium";
  height: auto;
  margin: 0;
  border-bottom-width: 2px;
  width: -webkit-calc(100% - 31px);
  width: calc(100% - 31px);
}
.search-page .right-col .search-form .row .input-field input:not([type]):focus:not([readonly]),
.search-page .right-col .search-form .row .input-field input[type=text]:focus:not([readonly]),
.search-page .right-col .search-form .row .input-field input[type=password]:focus:not([readonly]),
.search-page .right-col .search-form .row .input-field input[type=email]:focus:not([readonly]),
.search-page .right-col .search-form .row .input-field input[type=url]:focus:not([readonly]),
.search-page .right-col .search-form .row .input-field input[type=time]:focus:not([readonly]),
.search-page .right-col .search-form .row .input-field input[type=date]:focus:not([readonly]),
.search-page .right-col .search-form .row .input-field input[type=datetime]:focus:not([readonly]),
.search-page .right-col .search-form .row .input-field input[type=datetime-local]:focus:not([readonly]),
.search-page .right-col .search-form .row .input-field input[type=tel]:focus:not([readonly]),
.search-page .right-col .search-form .row .input-field input[type=number]:focus:not([readonly]),
.search-page .right-col .search-form .row .input-field input[type=search]:focus:not([readonly]),
.search-page .right-col .search-form .row .input-field textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 2px solid #607d8b;
  -webkit-box-shadow: 0 0 0 0 #607d8b;
          box-shadow: 0 0 0 0 #607d8b;
}
.search-page .right-col .total {
  font: 12px/24px "Roboto-Medium";
  color: #000;
  margin: 0;
  padding: 0 0 0 6px;
}
.search-page .right-col .result-block {
  text-align: center;
  margin-bottom: 35px;
}
.search-page .right-col .result-block .result-block-header {
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
}
.search-page .right-col .result-block .result-block-header p {
  font: 14px/24px "Roboto";
  border-bottom: 2px solid #e1e1e1;
  display: inline-block;
  padding: 0 0 7px 0;
}
.search-page .right-col .result-block .result-list {
  margin-top: 0;
  text-align: left;
  margin-bottom: 19px;
}
.search-page .right-col .result-block .result-list .result-item .pre-header {
  font: 14px/12px "Roboto";
  color: rgba(0, 0, 0, 0.54);
  padding-top: 35px;
}
.search-page .right-col .result-block .result-list .result-item .card {
  padding: 12px 0 0 0;
  /*padding: 12px 10px 12px 30px;*/
  margin-top: 0;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.search-page .right-col .result-block .result-list .result-item .card .result-item-header {
  font: 14px/14px "Roboto-Medium";
  color: #607d8b;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  padding: 0 10px 0 23px;
}
.search-page .right-col .result-block .result-list .result-item .card .result-item-header:hover {
  color: #99aeb8;
}
.search-page .right-col .result-block .result-list .result-item .card .result-item-content {
  font: 12px/18px "Roboto";
  margin: 0;
  padding: 5px 10px 14px 23px;
}
.search-page .right-col .result-block .result-list .result-item .card .result-item-content .keyWord {
  font: italic 14px/18px "Roboto";
  color: #fff;
  background-color: #ff4081;
  padding: 0 2px;
}
.search-page .right-col .result-block .result-list .result-item .card .result-item-footer {
  margin: 0;
  height: 44px;
}
.search-page .right-col .result-block .result-list .result-item .card .result-item-footer .info {
  padding: 0 0 0 18px;
}
.search-page .right-col .result-block .result-list .result-item .card .result-item-footer .info li {
  display: inline-block;
}
.search-page .right-col .result-block .result-list .result-item .card .result-item-footer .info li a {
  color: #607d8b;
  font: 10px/44px "Roboto-Medium";
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.search-page .right-col .result-block .result-list .result-item .card .result-item-footer .info li a .ico {
  padding: 0 6px 0 5px;
}
.search-page .right-col .result-block .result-list .result-item .card .result-item-footer .info li a:hover {
  color: #99aeb8;
}
.search-page .right-col .result-block .result-list .result-item .card .result-item-footer .last-info {
  font: 10px/40px "Roboto";
  text-align: right;
  margin: 0;
  color: rgba(0, 0, 0, 0.54);
}
.search-page .right-col .result-block .result-list .result-item .card .result-item-footer .last-info .ico {
  color: #0f9c8f;
}
.search-page .right-col .result-block .result-list .result-item .green-card {
  color: #fff;
  background: #009688;
}
.search-page .right-col .result-block .result-list .result-item .green-card .result-item-header {
  color: #fff;
}
.search-page .right-col .result-block .result-list .result-item .green-card .result-item-footer {
  background: #00897b;
}
.search-page .right-col .result-block .result-list .result-item .green-card .result-item-footer .info li a {
  color: #fff;
}
.search-page .right-col .result-block .result-list .result-item .green-card .result-item-footer .last-info {
  color: inherit;
}
.search-page .right-col .result-block .result-list .result-item .green-card .result-item-footer .last-info .ico {
  font: 24px/40px "icon-font";
  color: #fff;
}
.search-page .right-col .result-block .result-list .result-item:first-child .pre-header {
  padding-top: 0;
}
.search-page .right-col .result-block .result-list .result-item:nth-child(n+4) {
  display: none;
  -webkit-transition: all ease 5s;
  transition: all ease 5s;
}
.search-page .right-col .result-block .btn {
  background: #eceff1;
  color: #607d8b;
  text-transform: none;
  font: 14px/36px "Roboto-Medium";
  -webkit-box-shadow: none;
          box-shadow: none;
}
.search-page .right-col .result-block .btn:hover {
  -webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.19);
          box-shadow: 0 5px 7px rgba(0, 0, 0, 0.19);
}
.search-page .right-col .result-block .pagination {
  text-align: center;
  display: none;
}
.search-page .right-col .result-block .pagination li {
  color: #a7b7be;
}
.search-page .right-col .result-block .pagination li a {
  background: transparent;
  color: #a7b7be;
  line-height: 38px;
}
.search-page .right-col .result-block .pagination li .prev,
.search-page .right-col .result-block .pagination li .next {
  background: #eceff1;
  font: 14px/40px "Roboto-Medium";
  color: #607d8b;
}
.search-page .right-col .result-block .pagination .active {
  background: transparent;
}
.search-page .right-col .result-block .pagination .active a {
  color: #607d8b;
}
