@font-face {
  font-family: 'Roboto-Medium';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/roboto/Roboto-Medium.eot');
  src: url('../fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Medium.woff') format('woff'), url('../fonts/roboto/Roboto-Medium.ttf') format('truetype'), url('../fonts/roboto/Roboto-Medium.svg#icon') format('svg');
}
@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/roboto/Roboto-Regular.eot');
  src: url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Regular.woff') format('woff'), url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'), url('../fonts/roboto/Roboto-Regular.svg#icon') format('svg');
}
@font-face {
  font-family: 'Roboto-Bold';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/roboto/Roboto-Bold.eot');
  src: url('../fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Bold.woff') format('woff'), url('../fonts/roboto/Roboto-Bold.ttf') format('truetype'), url('../fonts/roboto/Roboto-Bold.svg#icon') format('svg');
}
html,
body {
  height: 100%;
  padding: 10px;
}
body {
  text-align: center;
  background: #f9f9f9;
}
body::before {
  display: none;
  content: "";
  height: 100%;
  vertical-align: middle;
}
.centered {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  max-width: 586px;
}
.centered .card {
  -webkit-box-shadow: 0 13px 51px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 13px 51px 0px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  margin-bottom: 25px;
}
.centered .card .card-content {
  padding: 0 0 22px 0;
}
.centered .card .card-content .cardHeader {
  background: #ff4081;
  height: 55px;
  text-align: left;
  padding: 17px 0 0 42px;
  -webkit-border-top-left-radius: 3px;
          border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
          border-top-right-radius: 3px;
}
.centered .card .card-content .cardHeader .logo {
  display: inline-block;
  background: url("../img/logo.png") center center no-repeat;
  width: 125px;
  height: 24px;
  text-indent: -9999px;
}
.centered .card .card-content .faceBox {
  font: 14px/20px "Roboto";
  background: url("../img/face.png") 41px bottom no-repeat #fafafa;
  padding: 50px 10px 0 243px;
  height: 190px;
  text-align: left;
  margin-bottom: 30px;
}
.centered .card .card-content .faceBox p:first-child {
  margin: 0 0 25px 0;
  color: rgba(0, 0, 0, 0.54);
}
.centered .card .card-content .btn {
  padding: 0 11px;
  background-color: #ff4081;
  font: 14px/36px "Roboto-Bold";
  margin-bottom: 30px;
}
.centered .card .card-content .btn:hover {
  background-color: #ff5a92;
}
.centered .card .card-content .confirm {
  display: inline;
}
.centered .card .card-content .textBox {
  padding: 0 40px;
  text-align: left;
  font: 14px/25px "Roboto";
}
.centered .card .card-content .textBox p {
  margin-bottom: 22px;
}
.centered .card .card-content .textBox .confirm {
  display: block;
  font: 14px/14px "Roboto";
  color: #607d8b;
  margin: -12px 0 12px 0;
}
.centered .social .ico {
  display: inline-block;
  border: 1px solid #607d8b;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 0 14px 0 29px;
}
.centered .social .ico a {
  color: #607d8b;
  font: 14px/14px "Roboto-Medium";
}
.centered .social .ico1 {
  background: url("../img/ico1.png") 14px center no-repeat;
}
.centered .social .ico2 {
  background: url("../img/ico2.png") 14px center no-repeat;
}
.centered .copy {
  display: inline-block;
  max-width: 200px;
  font: 12px/18px Helvetica;
  color: #c2c2c2;
}
@media screen and (min-width: 650px) {
  body::before {
    display: inline-block;
  }
}
