// Floats
.clearfix        { @include clearfix; }
.center-block    { @include center-block; }
.pull-right      { float: right !important; }
.pull-left       { float: left !important; }

// Text alignment
.text-left       { text-align: left; }
.text-right      { text-align: right; }
.text-center     { text-align: center; }
.text-justify    { text-align: justify; }
.text-nowrap     { white-space: nowrap; }

// Text transformation
.text-lowercase  { text-transform: lowercase; }
.text-uppercase  { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }

// Toggling content
.hide            { display: none !important; }
.show            { display: block !important; }
.invisible       { visibility: hidden; }

// Text weight
.thin            { font-weight: $thin; }
.light           { font-weight: $light; }
.regular         { font-weight: $regular; }
.bold            { font-weight: $bold; }

// Hide from screenreaders and browsers
.hidden {
  display: none !important;
  visibility: hidden !important;
}

// Link decoration
.underline {
  text-decoration: underline;
  &:hover { text-decoration: none; }
}

// Positions
.static,
.fixed {
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.fixed {
  overflow: hidden;
  position: fixed;
}
