// Colors
$black:          #000000 !default;
$pink:           #ff4081; //Buttons
$navy-dark:      #37474f; //Tooltip
$navy:           #607d8b; //Text
$green:          #009688; //Panel Body
$green-dark:     #00897b; //Panel Header/Footer
$gray:           #b0bec5; //Breadcrumbs
$gray-light:     #eceff1; //Panel Header
$gray-lighter:   #fbfbfb; //Background
$white-darker:   #f5f5f5; //Green panel;
$white:          #ffffff !default;

// Scaffolding
$body-bg:       $gray-lighter;
$text-color:    $navy !default;
$link-color:    $navy !default;
$retina-suffix: '@2x' !default;

// Typography
$font-family-base:    'Roboto', sans-serif;
$font-family-heading: 'Roboto', sans-serif;
$font-family-quote:   'GothamPro', sans-serif;
$font-family-fa:      'FontAwesome';

$thin:    100;
$light:   300;
$regular: 400;
$medium:  500;
$bold:    700;

$font-size-ex-small:  9px;
$font-size-small:    10px;
$font-size-base:     12px;
$font-size-medium:   15px;
$font-size-large:    18px;
$font-size-heading:  24px;

$line-height-small:  1;
$line-height-base:   1.2;
$line-height-normal: 1.4;
$line-height-large:  1.6;

// Form
$input-height:                45px !default;
$input-line-height:           42px !default;
$input-background:          $white !default;
$input-border-size:            2px !default;
$input-border-color:   transparent !default;
$input-border-radius:          0px !default;
$input-font-family:       $font-family-base;

// Components
$header-height: 50px;
$footer-height: 50px;
