.rbi {
    font-size: 14px;
    display: inline-block;
    position: relative;
    line-height: 1;
    height: 17px;
    width: 16px;

	&::before {
		bottom: 0;
		content: "";
		display: inherit;
		height: auto;
		left: 0;
		min-height: 100%;
		min-width: 100%;
		position: relative;
		right: 0;
		top: 0;
		vertical-align: middle;
		z-index: 9;
	}

	&.medium-rbi {
		font-size: inherit !important;
		height: 20px !important;
		width: 20px !important;
	}

	&.large-rbi {
		font-size: 33px !important;
		height: 34px !important;
		left: -5px !important;
		width: 34px !important;
	}

	&-beschwerde-2 {
		&::before {
			background: url("../img/icon-svg/beschwerde-2.svg") no-repeat 0 0;
		}
	}
	&-beschwerde {
		&::before {
			background: url("../img/icon-svg/beschwerde.svg") no-repeat 0 0;
		}
	}
	&-beantwortete-2 {
		&::before {
			background: url("../img/icon-svg/beantwortete-2.svg") no-repeat 0 0;
		}
	}
	&-beantwortete {
		&::before {
			background: url("../img/icon-svg/beantwortete.svg") no-repeat 0 0;
		}
	}
	&-beantwortete-22 {
		&::before {
			background: url("../img/icon-svg/beantwortete-2.svg") no-repeat 0 0;
		}
	}
	&-geloste {
		&::before {
			background: url("../img/icon-svg/geloste.svg") no-repeat 0 0;
		}
	}
	&-geloste-2 {
		&::before {
			background: url("../img/icon-svg/geloste-2.svg") no-repeat 0 0;
		}
	}
	&-reclarank {
		&::before {
			background: url("../img/img-site/r-circle.png") no-repeat 0 0;
		}
	}
	&-endgiltig-nicht {
		&::before {
			background: url("../img/icon-svg/endgiltig-nicht.svg") no-repeat 0 0;
		}
	}
	&-endgiltig-nicht-2 {
		&::before {
			background: url("../img/icon-svg/endgiltig-nicht-2.svg") no-repeat 0 0;
		}
	}
	&-noch-nicht-geloste {
		&::before {
			background: url("../img/icon-svg/noch-nicht-geloste.svg") no-repeat 0 0;
		}
	}
	&-noch-nicht-geloste-2 {
		&::before {
			background: url("../img/icon-svg/noch-nicht-geloste-2.svg") no-repeat 0 0;
		}
	}
	&-hielfreicher-commentar {
		&::before {
			background: url("../img/icon-svg/hielfreicher-commentar.svg") no-repeat 0 0;
		}
	}
	&-hielfreicher-commentar-filled {
		&::before {
			background: url("../img/icon-svg/hielfreicher-commentar-filled.svg") no-repeat 0 0;
		}
	}
	&-image {
		&::before {
			background: url("../img/icon-svg/image.svg") no-repeat 0 0;
		}
	}
	&-video {
		&::before {
			background: url("../img/icon-svg/video.svg") no-repeat 0 0;
		}
	}

	&-bicycle {
	  &::before {
	  	background: url("../img/icon-svg/bicycle.svg") no-repeat scroll center center / 24px auto;
	  }
	}
	&-box {
	  &::before {
	  	background: url("../img/icon-svg/box.svg") no-repeat scroll center center / 24px auto;
	  }
	}
	&-car {
	  &::before {
	  	background: url("../img/icon-svg/car.svg") no-repeat scroll center center / 24px auto;
	  }
	}
	&-column {
	  &::before {
	  	background: url("../img/icon-svg/column.svg") no-repeat scroll center center / 24px auto;
	  }
	}
	&-courthouse {
	  &::before {
	  	background: url("../img/icon-svg/courthouse.svg") no-repeat scroll center center / 24px auto;
	  }
	}
	&-deodorant {
	  &::before {
	  	background: url("../img/icon-svg/deodorant.svg") no-repeat scroll center center / 24px auto;
	  }
	}
	&-driller {
	  &::before {
	  	background: url("../img/icon-svg/driller.svg") no-repeat scroll center center / 24px auto;
	  }
	}
	&-faucet {
	  &::before {
	  	background: url("../img/icon-svg/faucet.svg") no-repeat scroll center center / 24px auto;
	  }
	}
	&-first-aid-kit {
	  &::before {
	  	background: url("../img/icon-svg/first-aid-kit.svg") no-repeat scroll center center / 24px auto;
	  }
	}
	&-groceries {
	  &::before {
	  	background: url("../img/icon-svg/groceries.svg") no-repeat scroll center center / 24px auto;
	  }
	}
	&-handshake {
	  &::before {
	  	background: url("../img/icon-svg/handshake.svg") no-repeat scroll center center / 24px auto;
	  }
	}
	&-house {
	  &::before {
	  	background: url("../img/icon-svg/house.svg") no-repeat scroll center center / 24px auto;
	  }
	}
	&-interview {
	  &::before {
	  	background: url("../img/icon-svg/interview.svg") no-repeat scroll center center / 24px auto;
	  }
	}
	&-money {
	  &::before {
	  	background: url("../img/icon-svg/money.svg") no-repeat scroll center center / 24px auto;
	  }
	}
	&-mortarboard {
	  &::before {
	  	background: url("../img/icon-svg/mortarboard.svg") no-repeat scroll center center / 24px auto;
	  }
	}
	&-newspaper {
	  &::before {
	  	background: url("../img/icon-svg/newspaper.svg") no-repeat scroll center center / 24px auto;
	  }
	}
	&-office-worker {
	  &::before {
	  	background: url("../img/icon-svg/office-worker.svg") no-repeat scroll center center / 24px auto;
	  }
	}
	&-repair-tools {
	  &::before {
	  	background: url("../img/icon-svg/repair-tools.svg") no-repeat scroll center center / 24px auto;
	  }
	}
	&-shopping-cart {
	  &::before {
	  	background: url("../img/icon-svg/shopping-cart.svg") no-repeat scroll center center / 24px auto;
	  }
	}
	&-shopping-smartphone {
	  &::before {
	  	background: url("../img/icon-svg/shopping-smartphone.svg") no-repeat scroll center center / 24px auto;
	  }
	}
	&-wifi {
	  &::before {
	  	background: url("../img/icon-svg/wifi.svg") no-repeat scroll center center / 24px auto;
	  }
	}
	&-compass {
	  &::before {
	  	background: url("../img/icon-svg/compass.svg") no-repeat scroll center center / 24px auto;
	  }
	}
	&-presentation {
	  &::before {
	  	background: url("../img/icon-svg/presentation.svg") no-repeat scroll center center / 24px auto;
	  }
	}
	&-smartphone {
	  &::before {
	  	background: url("../img/icon-svg/smartphone.svg") no-repeat scroll center center / 24px auto;
	  }
	}
	&-star-outline {
		&::before {
			background: url("../img/icon-svg/star.svg") no-repeat center center;
		}
	}
}










