header {
  height: 50px;
  margin-bottom: 60px;

  .menu-btn {
    cursor: pointer;
    float: left;
    width: 60px;
    height: inherit;
    text-align: center;

    i {
      line-height: 50px;
      color: $pink;
    }
  }

  .logo {
    float: left; 
    width: 150px;
    height: inherit; 
    margin-right: 10px;
  }

  .complaint {
    height: inherit;
    float: left;

    a {
      display: inline-block;
      height: inherit;
      margin: 0 20px;
      line-height: 50px;
      font-weight: $medium;
      border-bottom: 2px solid transparent;
      text-transform: uppercase;
      @include transition (.3s);

      &:hover { border-bottom: 2px solid $pink; }
    }
  }

  .devise-search {
    float: right;
    height: inherit;
    font-weight: $medium;
    line-height: 50px;

    .search {
      padding-top: 5px;
      float: left;
    }
    
    .log-in {
      float: left;

      .btn { margin-left: 18px; }

      .btn-floating {
        i {
          font-size: 14px;
          line-height: 27px;
        }

        &:hover {
          background-color: $pink;
        }
      }

      .avatar {
        display: inline-block;
        width: 35px;
        height: 35px;
        margin: 0 14px 0 17px;
        vertical-align: middle;
        border-radius: 50%;
        background-size: 100% 100%;
      }
    }

    .not-login-in {
      float: left;

      a { margin-right: 22px; }

      i.material-icons {
        font-size: $font-size-large;
        cursor: pointer;
        margin-right: 40px;
      }
    }
  }
}
