.menu {
  display: none;
  float: left;
  width: 300px;
  margin-top: -60px;
  padding: 20px 0 50px;

  &.show { display: block; }

  .main-menu {
    li { padding: 9px 40px; }

    a { display: block; }

    hr {
      border: none;
      border-top: 1px solid $gray-lighter;
      margin: 0;
    }

    .general-link {
      display: block;
      height: 40px;
      @include transition(.3s);

        i {
          font-size: 20px;
          margin-right: 17px;
          color: inherit;
        }

        a {
          display: block;
          font-weight: $medium;
          color: inherit;

          span {
            display: inline-block;
            transform: translateY(-25%);
          }
        }
      
      &:hover {
        color: $pink;
        background-color: #fafafa;
      }
    }

    .sub-link { 
      font-weight: $medium;
      

      &:hover { background-color: #fafafa; }
    }

    .sub-menu {
      display: none;

      &.show {
        display: block;
      }
    }
  }

  .social-links {
    margin-top: 110px;
    text-align: center;

    a {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 0 6px;
      border-radius: 50%;
      line-height: 30px;
      -webkit-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.1);
         -moz-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.1);
              box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.1);

      i {
        color: $white;
        font-size: $font-size-large;
      }
    }

    .vk { background-color: #6996c7; }
    .fb { background-color: #496194; }
    .yt { background-color: #c4302b; }
    .tw { background-color: #55acee; }
  }

  .menu-links-footer {
    text-align: center;
    margin-top: 15px;

    li {
      display: inline-block;
      color: $gray;
      line-height: $line-height-normal;
      border-right: 1px solid $gray;

      &:last-child { border-right: none; }

      a {
        font-size: $font-size-small;
        color: inherit;
        padding: 0 3px;
      }

    }
  }
}
